<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_wait_pay.css">
    <title>配件商-待付款</title>
</head>
<body>
    <div class="wrapper" id="app">
        <header class="header">
            <a href="javascript:;" class="spr icon-back"></a>
            <a href="javascript:;" class="parts-title active">商品订单</a>
            <a href="order_service_all" class="service-title">预约订单</a>
        </header>
        <div class="tabs">
            <button class="tab">全部</button>
            <button class="tab tab-on">待付款</button>
            <button class="tab">待收货</button>
            <button class="tab">待评价</button>
            <button class="tab">退货</button>
        </div>
        <div class="shops-goods-wrap">
            <!-- 待付款 -->
            <!-- <div class="single-shop-box">
                <div class="shop-name-box">
                    <div class="name-txt-div">
                        <i class="spr icon-shop"></i>
                        <span class="name-txt-span">北方轮胎旗舰店</span>
                    </div>
                    <p class="status-txt-p">等待付款</p>
                </div>
                <div class="all-goods-box">
                    <div class="single-goods-box single-goods-box-border">
                        <div class="shop-img-box">
                            <img src="__STATIC__/index/image/14.png">
                        </div>
                        <div class="order-info-box">
                            <p class="goods-name-p txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                            <p class="goods-selling-point txt-hid-two">这个是商品卖点这个是商品卖点</p>
                            <div class="unit-price-quantity">
                                <p class="unit-price-p">￥0.1</p>
                                <p class="quantity-p">×1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-button-box">
                    <p class="total-p">共计1件商品 合计：￥0.1</p>
                    <div class="button-box">
                        <button class="cancel-order-btn">取消订单</button>
                        <button class="to-payment-btn">去付款</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="mask" style="display:none;"></div>
    <!-- 取消订单弹窗 -->
    <div class="cancel-order-pop">
        <header class="cancel-order-header">
            取消订单
            <a href="javascript:;" class="spr close-cancel-order"></a>
        </header>
        <p class="reason-title">请选择取消订单原因：</p>
        <ul class="reason-list">
            <li class="reason-li reason-selected"><i class="spr icon-reason"></i> 操作有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 暂时不需要</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 选错商品</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 预约时间有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 其他原因</li>
        </ul>
        <button class="select-reason-btn">确定</button>
    </div>

    <!-- 支付弹窗 -->
    <!-- <form name=alipayment action="{:url('index/Apppay/index_parts_aliPay')}" method="post">
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="" readonly>
                    </li>
                    <li>
                        付款方式: <input id="WIDway" name="WIDway" class="widway" value="微信支付" readonly><i class="spr icon-more"></i>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form> -->
    <!-- 选择支付方式 -->
    <!-- <div class="chose-payment">
        <header>
            <a href="javascript:;" class="spr chose-payment-back"></a>
            <h3 class="chose-title">选择支付方式</h3>
        </header>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/money.png">
            </div>
            <p>余额支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/wechat.png">
            </div>
            <p>微信支付</p>
            <a href="javascript:;" class="spr check-a icon-check"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/alipay.png">
            </div>
            <p>支付宝支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
    </div> -->


    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_parts/order_parts_wait_pay.js"></script>
    <script>
        
        $.ajax({
            url: 'ios_api_order_parts_wait_pay',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                var str = '';
                $.each(res.data, function(idx, val){
                    str += `<div class="single-shop-box" data-id="`+val.store_id+`" data-status="`+val.status+`" name="`+val.parts_order_number+`">
                                <div class="shop-name-box">
                                    <div class="name-txt-div">
                                        <i class="spr icon-shop"></i>
                                        <span class="name-txt-span">`+val.store_name+`</span>
                                    </div>
                                    <p class="status-txt-p">待付款</p>
                                </div>`
                    $.each(val.info, function(idx, val){
                        str += `<div class="all-goods-box">
                                    <div class="single-goods-box single-goods-box-border">
                                        <div class="shop-img-box">
                                            <img src="uploads/`+val.goods_image+`">
                                        </div>
                                        <div class="order-info-box">
                                            <p class="goods-name-p txt-hid-two">`+val.parts_goods_name+`</p>
                                            <p class="goods-selling-point txt-hid-two">`+val.parts_goods_name+`</p>
                                            <div class="unit-price-quantity">
                                                <p class="unit-price-p">￥`+val.goods_money+`</p>
                                                <p class="quantity-p">×`+val.order_quantity+`</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                    })
                    str += `<div class="total-button-box">
                                <p class="total-p">共计`+val.all_numbers+`件商品 合计：￥<span class="total-money-span">`+val.all_order_real_pay+`<span></p>
                                <div class="button-box">
                                    <button class="cancel-order-btn">取消订单</button>
                                    <button class="to-payment-btn">去付款</button>
                                </div>
                            </div>
                        </div>`
                })
                $('.shops-goods-wrap').append(str);
                // 取消订单
                $('.cancel-order-btn').click(function(){
                    var store_id = $(this).parents('.single-shop-box').attr('data-id');
                    var parts_order_number = $(this).parents('.single-shop-box').attr('name');
                    $('.cancel-order-pop').animate({'bottom': '0'});
                    $('.mask').show();
                    $('.select-reason-btn').click(function(){
                        var cancel_order_description = $('.reason-selected')[0].innerText;
                        $.ajax({
                            url: 'ios_api_order_parts_no_pay_cancel',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'parts_order_number': parts_order_number,
                                'store_id': store_id,
                                'cancel_order_description': cancel_order_description
                            },
                            success: function(res){
                                console.log(res);
                                location.reload();
                            },
                            error: function(){
                                console.log('error');
                            }
                        })
                    })
                })
                // 选择取消订单原因 
                $('.reason-li').click(function(){
                    $(this).addClass('reason-selected').siblings().removeClass('reason-selected');
                })
                $('.close-cancel-order').click(function(){
                    $('.cancel-order-pop').animate({'bottom': '-100%'});
                    $('.mask').hide();
                })
                // 去付款 √
                $('.to-payment-btn').click(function(){
                    // $('.mask').show();
                    // $('.alipay-pop').animate({ 'bottom': '0' });
                    // $('html').css('overflow', 'hidden');
                    // 付款金额
                    // var totalAmount = $(this).parents('.total-button-box').find('.total-money-span').text();
                    var outTradeNo = $(this).parents('.single-shop-box').attr('name');
                    $.ajax({
                        url: 'ios_api_alipay',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'order_num': outTradeNo,
                        },
                        success: function(res){
                            console.log(res);
                            Android.alipay(res.data);
                            function alipayCallback(res){
                                if(res.resultStatus == '6001'){
                                    location.href = 'order_parts_wait_pay';
                                }else if(res.resultStatus == '9000'){
                                    var res = res.result.alipay_trade_app_pay_response;
                                    $.ajax({
                                        url: 'notifyurl',
                                        type: 'POST',
                                        dataType: 'JSON',
                                        data: {
                                            out_trade_no: res.out_trade_no,
                                            trade_no: res.trade_no,
                                            trade_status: res.msg
                                        },
                                        success: function(res){
                                            location.href = 'order_parts_all';
                                        }
                                    })
                                }
                            }
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                    // var subjuect = $(this).parents('.single-shop-box').find('.goods-name-p').text();
                    // var body = $(this).parents('.single-shop-box').find('.goods-selling-point').text();
                    // $('#WIDtotal_amount').val(totalAmount);
                    // $('#WIDout_trade_no').val(outTradeNo);
                    // $('#WIDsubject').val(subjuect);
                    // $('#WIDbody').val(body);

                    // $('.close-alipay').click(function () {
                    //     $('.mask').hide();
                    //     $('.alipay-pop').animate({ 'bottom': '-100%' });
                    //     $('html').css('overflow', 'auto');
                    // })
                })
                // 查看订单详情
                $('.all-goods-box').click(function(){
                    var store_id = $(this).parents('.single-shop-box').attr('data-id');
                    var parts_order_number = $(this).parents('.single-shop-box').attr('name');
                    var dataStatus = $(this).parents('.single-shop-box').attr('data-status');
                    $.ajax({
                        url: 'order_parts_save_record',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'parts_order_number': parts_order_number,
                            'store_id': store_id,
                            'status': dataStatus
                        },
                        success: function(res){
                            console.log(res);
                            location.href = 'order_parts_detail'; 
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
            },
            error: function(){
                console.log('error');
            }
        })
    </script>
</html>