<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_wait_pay.css">
    <title>配件商-待付款</title>
</head>
<body>
    <div class="wrapper" id="app">
        <header class="header">
            <a href="javascript:;" class="spr icon-back"></a>
            <a href="javascript:;" class="parts-title active">商品订单</a>
            <a href="order_service_all" class="service-title">预约订单</a>
        </header>
        <div class="tabs">
            <button class="tab">全部</button>
            <button class="tab tab-on">待付款</button>
            <button class="tab">待收货</button>
            <button class="tab">待评价</button>
            <button class="tab">退货</button>
        </div>
        <div class="shops-goods-wrap">
            <!-- 待付款 -->
            <!-- <div class="single-shop-box">
                <div class="shop-name-box">
                    <div class="name-txt-div">
                        <i class="spr icon-shop"></i>
                        <span class="name-txt-span">北方轮胎旗舰店</span>
                    </div>
                    <p class="status-txt-p">等待付款</p>
                </div>
                <div class="all-goods-box">
                    <div class="single-goods-box single-goods-box-border">
                        <div class="shop-img-box">
                            <img src="__STATIC__/index/image/14.png">
                        </div>
                        <div class="order-info-box">
                            <p class="goods-name-p txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                            <p class="goods-selling-point txt-hid-two">这个是商品卖点这个是商品卖点</p>
                            <div class="unit-price-quantity">
                                <p class="unit-price-p">￥0.1</p>
                                <p class="quantity-p">×1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-button-box">
                    <p class="total-p">共计1件商品 合计：￥0.1</p>
                    <div class="button-box">
                        <button class="cancel-order-btn">取消订单</button>
                        <button class="to-payment-btn">去付款</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="mask" style="display:none;"></div>
    <!-- 取消订单弹窗 -->
    <div class="cancel-order-pop">
        <header class="cancel-order-header">
            取消订单
            <a href="javascript:;" class="spr close-cancel-order"></a>
        </header>
        <p class="reason-title">请选择取消订单原因：</p>
        <ul class="reason-list">
            <li class="reason-li reason-selected"><i class="spr icon-reason"></i> 操作有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 暂时不需要</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 选错商品</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 预约时间有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 其他原因</li>
        </ul>
        <button class="select-reason-btn">确定</button>
    </div>

     <!-- 选择支付方式 -->
     <div class="chose-payment">
        <header>
            <a href="javascript:;" class="spr chose-payment-back"></a>
            <h3 class="chose-title">选择支付方式</h3>
        </header>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/wechat.png">
            </div>
            <p>微信支付</p>
            <!-- icon-check -->
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/alipay.png">
            </div>
            <p>支付宝支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/money2.png">
            </div>
            <p>余额支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
    </div>
    <!-- 输入余额密码弹窗 -->
    <div class="balance-psd-pop" style="display: none;">
        <span class="close-balance-pwd spr"></span>
        <p class="balance-psd-title">支付密码</p>
        <div class="input-container">
            <div id="payPassword_container" class="alieditContainer clearfix" data-busy="0">
                <div class="i-block" data-error="i_error">
                    <div class="i-block six-password">
                        <input class="i-text sixDigitPassword" id="payPassword_rsainput" type="password" autocomplete="off" required="required"
                            name="payPassword_rsainput" data-role="sixDigitPassword" tabindex="" maxlength="6" minlength="6"
                            aria-required="true">
                        <div tabindex="0" class="sixDigitPassword-box">
                            <i style="width: .58rem; border-color: transparent;" class=""><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <span style="width: .58rem; left: 0px; visibility: hidden;" id="cardwrap" data-role="cardwrap"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="confirm-psd">确定</button>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/payment.js"></script>
    <script src="__STATIC__/index/js/order_parts/order_parts_wait_pay.js"></script>
    <script>
        var outTradeNo = 0;
        $.ajax({
            url: 'ios_api_order_parts_wait_pay',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                var str = '';
                $.each(res.data, function(idx, val){
                    str += '<div class="single-shop-box" data-id="'+val.store_id+'" data-status="'+val.status+'" name="'+val.parts_order_number+'">\
                                <div class="shop-name-box">\
                                    <div class="name-txt-div">\
                                        <i class="spr icon-shop"></i>\
                                        <span class="name-txt-span">'+val.store_name+'</span>\
                                    </div>\
                                    <p class="status-txt-p">待付款</p>\
                                </div>'
                    $.each(val.info, function(idx, val){
                        str += '<div class="all-goods-box">\
                                    <div class="single-goods-box single-goods-box-border">\
                                        <div class="shop-img-box">\
                                            <img src="uploads/'+val.goods_image+'">\
                                        </div>\
                                        <div class="order-info-box">\
                                            <p class="goods-name-p txt-hid-two">'+val.parts_goods_name+'</p>\
                                            <p class="goods-selling-point txt-hid-two">'+val.parts_goods_name+'</p>\
                                            <div class="unit-price-quantity">\
                                                <p class="unit-price-p">￥'+val.goods_money+'</p>\
                                                <p class="quantity-p">×'+val.order_quantity+'</p>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>'
                    })
                    str += '<div class="total-button-box">\
                                <p class="total-p">共计'+val.all_numbers+'件商品 合计：￥<span class="total-money-span">'+val.all_order_real_pay+'<span></p>\
                                <div class="button-box">\
                                    <button class="cancel-order-btn">取消订单</button>\
                                    <button class="to-payment-btn">去付款</button>\
                                </div>\
                            </div>\
                        </div>'
                })
                $('.shops-goods-wrap').append(str);
                // 取消订单
                $('.cancel-order-btn').click(function(){
                    var store_id = $(this).parents('.single-shop-box').attr('data-id');
                    var parts_order_number = $(this).parents('.single-shop-box').attr('name');
                    $('.cancel-order-pop').animate({'bottom': '0'});
                    $('.mask').show();
                    $('.select-reason-btn').click(function(){
                        var cancel_order_description = $('.reason-selected')[0].innerText;
                        $.ajax({
                            url: 'ios_api_order_parts_no_pay_cancel',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'parts_order_number': parts_order_number,
                                'store_id': store_id,
                                'cancel_order_description': cancel_order_description
                            },
                            success: function(res){
                                console.log(res);
                                location.reload();
                            },
                            error: function(){
                                console.log('error');
                            }
                        })
                    })
                })
                // 选择取消订单原因 
                $('.reason-li').click(function(){
                    $(this).addClass('reason-selected').siblings().removeClass('reason-selected');
                })
                $('.close-cancel-order').click(function(){
                    $('.cancel-order-pop').animate({'bottom': '-100%'});
                    $('.mask').hide();
                })
                // 去付款 √
                $('.to-payment-btn').click(function(){
                    outTradeNo = $(this).parents('.single-shop-box').attr('name');
                    showSelectMethod();
                })
                // 查看订单详情
                $('.all-goods-box').click(function(){
                    var store_id = $(this).parents('.single-shop-box').attr('data-id');
                    var parts_order_number = $(this).parents('.single-shop-box').attr('name');
                    var dataStatus = $(this).parents('.single-shop-box').attr('data-status');
                    $.ajax({
                        url: 'order_parts_save_record',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'parts_order_number': parts_order_number,
                            'store_id': store_id,
                            'status': dataStatus
                        },
                        success: function(res){
                            console.log(res);
                            location.href = 'order_parts_detail?page=2'; 
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
            },
            error: function(){
                console.log('error');
            }
        })

        // 选择支付方式
        $('.method-div').click(function(){
            var u = navigator.userAgent;
            $(this).siblings().find('.check-a').removeClass('icon-check');
            $(this).find('.check-a').addClass('icon-check');
            backMethod();
            var $index = $(this).index();
            switch ($index){
                case 1:
                    //用户选择微信支付，发送订单号给后台
                    (function(){
                        return $.ajax({
                            url: 'app_parts_wxpay',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'order_num': outTradeNo
                            }
                        })
                    })().then(function(res){
                        console.log(res.responseData);
                        if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                            //接受微信签名 发送给android
                            Android.wxpay(JSON.stringify(res.responseData.app_response));
                        }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                            //接受微信签名 发送给ios
                            alipay(JSON.stringify(res.responseData));
                        }
                    })
                    break;
                case 2:
                    //用户选择支付宝支付，发送订单号给后台
                    (function(){
                        return $.ajax({
                            url: 'ios_api_alipay',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'order_num': outTradeNo
                            }
                        })
                    })().then(function(res){
                        console.log(res);
                        if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                            //接受支付宝签名 发送给android
                            Android.alipay(res.data);
                        }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                            //接受支付宝签名 发送给ios
                            alipay(res.data);
                        }
                    })
                    break;
                case 3:
                    //用户选择余额支付，发送订单号给后台
                    showBalance();
                    break;
            }
        })

        // 取消支付
        $('.chose-payment-back').click(function(){
            backMethod();
        })
        $('.confirm-psd').click(function(){
            var psd = $('#payPassword_rsainput').val();
            if(psd !== ''){
                (function(){
                    return $.ajax({
                        url: 'parts_balance_payment',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'order_num': outTradeNo,
                            'passwords': psd
                        }
                    })
                })().then(function(res){
                    console.log(res);
                    if(res.status == 1){
                        layer.open({
                            skin: 'msg',
                            content: '支付成功',
                            time: .8
                        })
                        setTimeout(function(){
                            location.href = 'order_wait_deliver';
                        }, 1000);
                    }else if(res.status == 3){
                        layer.open({
                            skin: 'msg',
                            content: res.info,
                            time: .8
                        })
                        setTimeout(function(){
                            $('.balance-psd-pop').hide();
                            $('.chose-payment').css({'bottom': '0'});
                        }, 1000)
                    }else{
                        layer.open({
                            skin: 'msg',
                            content: res.info,
                            time: .8
                        })
                    }
                })
            }else{
                layer.open({
                    skin: 'msg',
                    content: '请输入密码',
                    time: 1
                })
            }
        })
        $('.close-balance-pwd').click(function(){
            $('.balance-psd-pop').hide();
            $('.chose-payment').css({'bottom': '0'});
        })

        function alipayCallback(res){
            if(res.resultStatus == '6001'){
                location.href = 'order_parts_wait_pay';
            }else if(res.resultStatus == '9000'){
                location.href = 'order_wait_deliver';
            }
        }
        function wxpayCallback(res){
            if(res !== undefined && res == '0'){
                location.href = 'order_wait_deliver';
            }else if(res == '-2'){
                location.href = 'order_parts_wait_pay';
            }
        }
    </script>
</html>