<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <title>确认订单</title>
    <style>
        /* 提交订单 start */
        .place-order-pop{position: fixed;top: 0;left: 0;right: 0;width: 100%;height: 100vh;background-color: #f4f4f4; z-index: 2;}
        .place-order-header{position: absolute;left: 0;top: 0;right: 0;width: 100%;height: .88rem;background-color: #fff;border-bottom: 1px solid #eee;z-index: 2;}
        .place-order-header .place-order-back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;margin-top: -.22rem;background-position: -.5rem -.5rem;}
        .place-order-header .place-order-title{width: 100%;height: .88rem;line-height: .88rem;text-align: center;font-size: .36rem;font-weight: normal;}
        .order-detail-box{height: 100%;padding: .89rem 0 1.2rem;box-sizing: border-box;overflow: auto;}
        .order-detail-box .order-detail-bg{width: 100%;height: 2.2rem;background: url(__STATIC__/index/image/my_bg4.png) no-repeat;background-size: 100% 100%;}
        .order-detail-box .user-info-box{width: 96%;height: 2.3rem;background-color: #fff;border-radius: .2rem;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);padding: .45rem .42rem;box-sizing: border-box;margin: -1.4rem auto 0;}
        .user-info-box .user-name-phone,
        .user-info-box .user-address{position: relative;display: flex;justify-content: space-between;font-size: .26rem;color: #333333;}
        .user-info-box .user-name-phone{margin-bottom: .15rem;}
        .user-info-box .user-address .address-txt{flex: 1;line-height: normal;}
        .icon-addr-more{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: .16rem;height: .28rem;background-position: -7.3rem -1.8rem;}
        .order-goods-info{width: 96%;padding: .45rem .42rem;box-sizing: border-box;background-color: #fff;border-radius: .2rem;margin: .3rem auto 0;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);}
        .order-goods-info .order-shop-box{margin-bottom: .1rem;}
        .order-goods-info .icon-shop{display: inline-block;width: .3rem;height: .29rem;background-position: -5.6rem -1rem;vertical-align: text-bottom;}
        .order-goods-info .order-goods-detail{display: flex; margin-bottom: .1rem;}
        .order-goods-detail .order-goods-img{width: 2.2rem;height: 2.4rem;margin-right: .2rem;}
        .order-goods-detail .order-goods-img img{width: 100%;height: 100%;}
        .order-goods-detail .order-info-box{flex: 1;display: flex;flex-direction: column;justify-content: space-around;line-height: normal;font-size: .28rem;}
        .order-goods-detail .order-info-box .order-selling-point{font-size: .24rem;}
        .order-goods-detail .order-info-box .unit-price-quantity{display: flex;justify-content: space-between;align-items: center;}
        .order-info-box .unit-price-quantity .unit-price-p{font-size: .32rem;color: #f00;}
        .sundry{width: 96%; margin: .3rem auto 0;background-color: #fff;border-radius: .2rem;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);box-sizing: border-box;}
        .sundry .sundry-ul{width: 100%;height: 100%;display: flex;flex-direction: column;}
        .sundry .sundry-li{position: relative;margin: 0 .42rem;border-bottom: 1px solid #eee;flex: 1;display: flex;align-items: center;justify-content: space-between; height: 1rem;}
        .sundry .sundry-li .sundry-title{width: 1.5rem;}
        .sundry .sundry-li .icon-more{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: .16rem;height: .28rem;background-position: -7.3rem -1.8rem;}
        .sundry-cal{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 1.45rem;height: .4rem;border: 1px solid #dcdcdc;display: flex;justify-content: space-around;border-radius: .1rem;}
        .sundry-cal .sundry-minus,
        .sundry-cal .sundry-increase{flex: 1;font-size: .22rem;color: #ccc;text-align: center;line-height: .4rem;}
        .sundry-cal .sundry-cal-val{font-size: .24rem;color: #666;width: .65rem;text-align: center;border-left: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;outline: none;}
        .sundry-li-last{text-align: right;width: 100%;font-size: .28rem;}
        .sundry-li-last span, .icon-money{color: #f00;}
        .sundry .sundry-li .discount,
        .sundry .sundry-li .invoice{padding-right: .3rem;}
        .sundry .sundry-li .leave-msg{flex: 1;height: 100%;padding-left: .3rem;font-size: .3rem;outline: none;}
        .order-payment-box{position: absolute;bottom: 0;left: 0;right: 0;width: 100%;height: 1rem;line-height: 1rem;background-color: #fff;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);padding-right: .3rem;box-sizing: border-box;text-align: right;}
        .order-payment-box .order-payment-btn{width: 2.4rem;height: .7rem;border: 0;background-color: #504cfb;color: #fff;font-size: .3rem;outline: none;border-radius: .35rem;}
        /* 提交订单 end */

        .standard{font-size: .24rem; color: #999;}
        .discount_pop{position: absolute; top: 0; left: 0; right: 0;z-index: 2; background-color: #fff; width: 100%;height: 100vh;}
        .head{position: relative;width: 100%;height: .88rem;background-color: #fff;border-bottom: 1px solid #ccc;margin-bottom: .3rem;}
        .head h3{width: 100%;height: .88rem;line-height: .88rem;font-size: .36rem;font-weight: normal;text-align: center;}
        .head .icon_back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;transform: translateY(-50%);background-position: -.5rem -.5rem;}
        .discount_wrap{width: 94%;margin: 0 auto;}        
        .discount_wrap .default{display: flex;align-items: center;justify-content: space-between;border: 1px solid #e7e8e9;border-radius: .1rem;padding: .2rem;margin-bottom: .2rem;text-align: center;background-color: #fff;}
        .discount_wrap .default .dont{flex: 1;text-align: left;}
        .discount_wrap .dis{display: flex;align-items: center;justify-content: space-between;border: 1px solid #e7e8e9;border-radius: .1rem;padding: .2rem;margin-bottom: .2rem;text-align: center;font-size: 0;color: #f00;background-color: #fff; line-height: normal;}
        .discount_wrap .dis .dis-introduce{font-size: .42rem; color: #333;}
        .discount_wrap .dis .need-integ{font-size: .24rem; color: #333;}
        .discount_wrap .dis .deduction-money{font-size: .42rem;}

        /* 发票 */
        .invoice-container{height: 100vh; background-color: #f2f2f2;}
        .invoice-type-container{background-color: #fff; padding: .35rem .3rem; border-bottom: 1px solid #eee;}
        .invoice-type-container .invoice-type-title{font-size: .32rem; color: #333; margin-bottom: .2rem;}
        .invoice-type-container .invoice-type-box span{padding: .15rem .4rem; margin: 0 .4rem .2rem 0; display: inline-block; border: 1px solid #999; font-size: .26rem; color: #456; line-height: normal; border-radius: 3px;}
        .invoice-type-container .invoice-type-box span.choose{border-color: #504cfb; background: url(__STATIC__/index/image/choose.png) no-repeat right bottom;}
        .invoice-btn{display: block; margin: .7rem auto 0; height: .88rem; font-size: .3rem; background-color: #504cfb; color: #fff; border: 0; outline: none; border-radius: .1rem; width: 80%;}
        .invoice-info-container{background-color: #fff; padding: .35rem .3rem; border-bottom: 1px solid #eee;}
        .invoice-info-container .invoice-info-title{font-size: .32rem; color: #333; margin-bottom: .2rem;}
        .invoice-info-container .invoice-object{display: flex;}
        .invoice-object .personal-container{margin-right: 1rem;}
        .invoice-object input{vertical-align: middle;}
        .invoice-object label{font-size: .3rem; color: #333;}
        .invoice-detail-container{background-color: #fff; padding: .35rem 0;}
        .personal-invoice-detail div, .company-invoice-detail div{padding: 0 .3rem; font-size: .3rem;}
        .invoice-detail-container .invoice-header,
        .company-invoice-detail .company-invoice-header,
        .company-invoice-detail .company-invoice-phone{padding-bottom: .35rem; border-bottom: 1px solid #eee; margin-bottom: .35rem;}
        .personal-invoice-detail .invoice-header{color: #666;}
        .company-invoice-detail input{font-size: .3rem; flex: 1; outline: none;}
        .company-invoice-detail span{display: inline-block; width: 1.5rem; line-height: normal;}
        .company-invoice-identify{display: flex;}
        .company-invoice-identify textarea{flex: 1; font-size: .3rem; resize: none; border: 0; outline: none;}
    </style>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="javascript:;" class="spr place-order-back"></a>
            <h3 class="place-order-title">确认订单</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg"></div>
            <div class="user-info-box">
                <div class="user-name-phone">
                    <span class="user-name"></span>
                    <span class="user-phone"></span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two">深圳市福田区深南大道新闻路1号中电信息大厦西座1楼</span>
                    <i class="spr icon-addr-more"></i>
                </div>
            </div>
            <div class="order-goods-info comeIndex">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp"></span>
                </div>
                <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two"></p>
                        <p class="order-selling-point txt-hid-two"></p>
                        <p class="standard txt-hid-two"></p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p">￥<span></span></p>
                            <p class="quantity-p">×<span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sundry">
                <ul class="sundry-ul">
                    <li class="sundry-li">
                        <p class="sundry-title">购买数量</p>
                        <div class="sundry-cal">
                            <a href="javascript:;" class="sundry-minus">-</a>
                            <input type="text" value="1" class="sundry-cal-val" readonly>
                            <a href="javascript:;" class="sundry-increase">+</a>
                        </div>
                    </li>
                    <li class="sundry-li deduction">
                        <p class="sundry-title">积分抵扣</p>
                        <span class="discount">不使用积分</span>
                        <a href="javascript:;" class="spr icon-more"></a>
                    </li>
                    <li class="sundry-li invoice-li">
                        <p class="sundry-title">发票信息</p>
                        <span class="invoice">不开发票</span>
                        <a href="javascript:;" class="spr icon-more"></a>
                    </li>
                    <li class="sundry-li">
                        <p class="sundry-title">买家留言</p>
                        <input type="text" placeholder="请填写内容(选填)" class="leave-msg">
                    </li>
                    <li class="sundry-li">
                        <p class="sundry-li-last">共计<span class="total-num"></span>件商品 合计：<span class="icon-money">￥</span><span class="total-money"></span></p>
                    </li>
                </ul>
            </div>
            <div class="order-payment-box">
                <button class="order-payment-btn" id="order-buy">立即付款</button>
            </div>
        </div>
    </div>
    <div class="mask"></div>
    <!-- 支付弹窗 -->
    <!-- <form name=alipayment action="{:url('index/Apppay/index_parts_aliPay')}" method="post">
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="" readonly>
                    </li>
                    <li>
                        付款方式: <input class="widway" value="微信支付" readonly><i class="spr icon-more"></i>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form> -->
    <!-- 选择支付方式 -->
    <div class="chose-payment">
        <header>
            <a href="javascript:;" class="spr chose-payment-back"></a>
            <h3 class="chose-title">选择支付方式</h3>
        </header>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/money.png">
            </div>
            <p>余额支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/wechat.png">
            </div>
            <p>微信支付</p>
            <a href="javascript:;" class="spr check-a icon-check"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/alipay.png">
            </div>
            <p>支付宝支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
    </div>

    <!-- 积分抵扣 -->
    <div class="discount_pop" style="display: none;">
        <div class="head">
            <a href="javascript:;" class="spr icon_back"></a>
            <h3>使用积分</h3>
        </div>
        <div class="discount_wrap">
            <div class="default">
                <label class="dont" for="dont">不使用积分</label>
                <input type="radio" id="dont" name="disc" checked>
            </div> 
        </div>
    </div>
    <!-- 发票 -->
    <div class="invoice-container" style="display: none;">
        <div class="head">
            <a href="javascript:;" class="spr icon_back"></a>
            <h3>开具发票</h3>
        </div>
        <div class="invoice-type-container">
            <div class="invoice-type-title">发票类型</div>
            <div class="invoice-type-box">
                <span class="choose neednt">不开发票</span>
                <span class="need">电子发票</span>
            </div>
        </div>
        <div class="need-invoice" style="display:none;">
            <div class="invoice-info-container">
                <div class="invoice-info-title">发票信息</div>
                <div class="invoice-object">
                    <div class="personal-container">
                        <input type="radio" id="personal" name='obj' checked>
                        <label for="personal">个人</label>
                    </div>
                    <div class="company-container">
                        <input type="radio" id="company" name='obj'>
                        <label for="company">公司</label>
                    </div>
                </div>
            </div>
            <div class="invoice-detail-container">
                <div class="personal-invoice-detail" style="display: block;">
                    <div class="invoice-header">发票抬头 <span>个人</span>（不可修改）</div>
                    <div class="invoice-phone">手机号 <span>18998906797</span></div>
                </div>
                <div class="company-invoice-detail" style="display: none;">
                    <div class="company-invoice-header">
                        <span>发票抬头</span>
                        <input type="text" placeholder="请输入发票抬头" id="company-header-input">
                    </div>
                    <div class="company-invoice-phone">
                        <span>手机号</span>
                        <input type="text" placeholder="请输入手机号" id="company-phone-input">
                    </div>
                    <div class="company-invoice-identify">
                        <span>识别号</span>
                        <textarea placeholder="请输入纳税人识别号或统一社会信用代码（非必填）" id="company-identify"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="invoice-btn">确定</button>
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_parts/order_parts_firm_order.js"></script>
    <script>
        // 商品详情 传过来的数据
        $.ajax({
            url: 'return_order_buy_information',
            type: 'POST',
            dataType: 'JSON',
            success: function (res) {
                console.log(res);
                if(res.status === 1){
                    // 数量
                    $('.quantity-p span').text(res.data.goods_number)
                    $('.sundry-cal-val').val(res.data.goods_number)
                    // 用户选择的规格
                    $('.standard').text(res.data.goods_standard).attr('id', res.data.goods_standard_id);;
                    $.each(res.data.goods, function (idx, val) {
                        // 店铺名
                        $('.order-shop-namp').text(val.store_name);
                        // 商品名
                        $('.order-goods-p').text(val.goods_name);
                        // 商品描述
                        $('.order-selling-point').text(val.goods_describe);
                        // 价格
                        $('.unit-price-p span').text(val.goods_standard_id.goods_adjusted_price);
                        // 总价
                        $('.total-money').text(toFixed(res.data.goods_number * val.goods_standard_id.goods_adjusted_price, 2));
                        // 图片
                        $('.order-goods-img img').attr('src', 'uploads/' + val.goods_standard_id.images);
                    })
                    // 总数量
                    $('.total-num').text(res.data.goods_number);

                    finalMoney = parseFloat($('.total-money').text());

                    // 购买数量按钮
                    $(function () {
                        // 减
                        var calculator_val = document.getElementsByClassName('sundry-cal-val')[0];
                        $('.sundry-minus').click(function () {
                            if (calculator_val.value > 1) {
                                calculator_val.value -= 1;
                                $('.quantity-p span').text(calculator_val.value);
                                $('.total-num').text(calculator_val.value);
                                // 数量*单价
                                var minusP = toFixed(calculator_val.value * res.data.goods[0].goods_standard_id.goods_adjusted_price, 2)
                                console.log(minusP)
                                $('.discount').text('不使用积分');
                                $('.default').click();
                                // 用户选择抵扣金额后  增加购买数量
                                if ($('.discount').text() != '不使用积分') {
                                    // 保存用户选择的抵扣金额
                                    var choseD = $('.discount').text().split('￥')[1];
                                    $('.total-money').text(toFixed(minusP - choseD, 2));
                                } else {
                                    $('.total-money').text(minusP);
                                }
                                // 保存没有抵扣的金额
                                finalMoney = parseFloat(minusP);
                            } else {
                                calculator_val.value = 1;
                            }
                        })
                        // 加
                        $('.sundry-increase').click(function () {
                            var add = calculator_val.value - 0;
                            add += 1;
                            calculator_val.value = add;
                            $('.quantity-p span').text(calculator_val.value);
                            $('.total-num').text(calculator_val.value);
                            // 数量*单价
                            var increaseP = toFixed(calculator_val.value * res.data.goods[0].goods_standard_id.goods_adjusted_price, 2)
                            // 用户选择抵扣金额后  增加购买数量
                            if ($('.discount').text() != '不使用积分') {
                                // 保存用户选择的抵扣金额
                                var choseD = $('.discount').text().split('￥')[1];
                                console.log(choseD)
                                $('.total-money').text(toFixed(increaseP - choseD, 2));
                            } else {
                                $('.total-money').text(increaseP);
                            }
                            // 保存没有抵扣的金额
                            finalMoney = parseFloat(increaseP);
                        })
                    })

                    // 返回商品详情
                    $('.place-order-back').click(function () {
                        location.href = 'goods_detail?id=' + id + '&preid=' + preId;
                    })

                    // 支付弹窗
                    var goodsId = res.data.goods[0].id;
                    var storeId = res.data.goods[0].store_id;
                    $('#order-buy').click(function () {
                        // $('.mask').show();
                        // $('.alipay-pop').animate({ 'bottom': '0' });
                        // $('html').css('overflow', 'hidden');

                        var orderAmount = $('.total-money').text();
                        var quantity = $('.total-num').text();
                        var goods_standard = $('.standard').text();
                        var goods_standard_id = $('.standard').attr('id');
                        var buy_message = $('.leave-msg').val();
                        $.ajax({
                            url: 'ios_api_order_parts_button',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'goods_id': goodsId,
                                'store_id': storeId,
                                'order_amount': orderAmount,
                                'order_quantity': quantity,
                                'goods_standard': goods_standard,
                                'buy_message': buy_message,
                                'setting_id': deductionId,
                                'goods_standard_id': goods_standard_id
                            },
                            success: function (res) {
                                console.log(res);
                                $.ajax({
                                    url: 'ios_api_alipay',
                                    type: 'POST',
                                    dataType: 'JSON',
                                    data: {
                                        'order_num': res.data.parts_order_number,
                                    },
                                    success: function(res){
                                        console.log(res);
                                        alert(res.data);
                                        Android.alipay(res.data);
                                    },
                                    error: function(){
                                        console.log('error');
                                    }
                                })
                                // $('#WIDout_trade_no').val(res.data.parts_order_number);
                                // $('#WIDtotal_amount').val($('.total-money').text());
                                // $('#WIDsubject').val(res.data.parts_goods_name);
                                // $('#WIDbody').val(res.data.parts_goods_name);

                                // $('.close-alipay').click(function () {
                                //     $('.mask').hide();
                                //     $('.alipay-pop').animate({ 'bottom': '-100%' });
                                //     $('html').css('overflow', 'auto');
                                //     $.ajax({
                                //         url: 'order_parts_save_record',
                                //         type: 'POST',
                                //         dataType: 'JSON',
                                //         data: {
                                //             'store_id': storeId,
                                //             'parts_order_number': res.data.parts_order_number
                                //         },
                                //         success: function(res){
                                //             console.log(res);
                                //             location.href = 'order_parts_detail';
                                //         },
                                //         error: function(){
                                //             console.log('error');
                                //         }
                                //     })
                                // })
                            },
                            error: function () {
                                console.log('error');
                            }
                        })
                    })
                }else if(res.status === 3){
                    $('.sundry-ul li').first().hide();
                    $('.comeIndex').hide();
                    var str = '';
                    $.each(res.data, function(idx, val){
                        str += `<div class="order-goods-info" id="`+val.store_id+`">
                                    <div class="order-shop-box">
                                        <i class="spr icon-shop"></i>
                                        <span class="order-shop-namp">`+val.store_name+`</span>
                                    </div>`
                        $.each(val.info, function(idx, val){
                            str += `<div class="order-goods-detail" id="`+val.id+`">
                                        <div class="order-goods-img">
                                            <img src="uploads/`+val.goods_images+`">
                                        </div>
                                        <div class="order-info-box">
                                            <p class="order-goods-p txt-hid-two">`+val.goods_name+`</p>
                                            <p class="standard txt-hid-two" id="`+val.goods_standard_id+`">`+val.special_name+val.goods_delivery+`</p>
                                            <div class="unit-price-quantity">
                                                <p class="unit-price-p">￥<span>`+val.money+`</span></p>
                                                <p class="quantity-p">×<span>`+val.goods_unit+`</span></p>
                                            </div>
                                        </div>
                                    </div>`
                        })
                        str += `</div>`;
                    })
                    $('.user-info-box').after(str);
                    // 折扣
                    $('.total-money').text(res.data[0].total_price);
                    finalMoney = parseFloat($('.total-money').text());
                    // 共计商品数量
                    var numberEle = $('.quantity-p span');
                    var totalNum = 0;
                    $.each(numberEle, function(idx, val){
                        if(val.innerText !== ''){
                            totalNum += parseInt(val.innerText);
                        }
                    })
                    $('.total-num').text(totalNum);
                    // 返回商品详情
                    $('.place-order-back').click(function () {
                        location.href = 'cart_index';
                    })
                    var goodDetailEle = $('.order-goods-detail');
                    var shoppingId = [];
                    $.each(goodDetailEle, function(idx, val){
                        if(val.id !== ''){
                            shoppingId.push(val.id);
                        }
                    })
                    $('#order-buy').click(function () {
                        $('.mask').show();
                        $('.alipay-pop').animate({ 'bottom': '0' });
                        $('html').css('overflow', 'hidden');

                        var buy_message = $('.leave-msg').val();
                        var order_amount = $('.total-money').text();
                        
                        if($('.order-goods-info').length > 2){
                            $.ajax({
                                url: 'ios_api_order_button_by_shop',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'buy_message': buy_message,
                                    'order_amount': order_amount,
                                    'shoppingId': shoppingId,
                                    'setting_id': deductionId
                                },
                                success: function (res) {
                                    console.log(res);
                                    $('#WIDout_trade_no').val(res.data.parts_order_number);
                                    $('#WIDtotal_amount').val($('.total-money').text());
                                    $('#WIDsubject').val(res.data.parts_goods_name);
                                    $('#WIDbody').val(res.data.parts_goods_name);
                                    $('.close-alipay').click(function () {
                                        $('.mask').hide();
                                        $('.alipay-pop').animate({ 'bottom': '-100%' });
                                        $('html').css('overflow', 'auto');
                                        var storeId = [];
                                        $.each($('.order-goods-info'), function(idx, val){
                                            if(val.id !== ''){
                                                storeId.push(val.id);
                                            }
                                        })
                                        console.log(storeId);
                                        $.ajax({
                                            url: 'cart_store_more_cancel',
                                            type: 'POST',
                                            dataType: 'JSON',
                                            data: {
                                                'store_id': storeId,
                                                'parts_order_number': res.data.parts_order_number
                                            },
                                            success: function(res){
                                                console.log(res);
                                                location.href = 'order_parts_wait_pay';
                                            },
                                            error: function(){
                                                console.log('error');
                                            }
                                        })
                                    })
                                },
                                error: function () {
                                    console.log('error');
                                }
                            })
                        }else{
                            $.ajax({
                                url: 'ios_api_order_button_by_shop',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'buy_message': buy_message,
                                    'order_amount': order_amount,
                                    'shoppingId': shoppingId,
                                    'setting_id': deductionId
                                },
                                success: function (res) {
                                    console.log(res);
                                    $('#WIDout_trade_no').val(res.data.parts_order_number);
                                    $('#WIDtotal_amount').val($('.total-money').text());
                                    $('#WIDsubject').val(res.data.parts_goods_name);
                                    $('#WIDbody').val(res.data.parts_goods_name);
                                    $('.close-alipay').click(function () {
                                        $('.mask').hide();
                                        $('.alipay-pop').animate({ 'bottom': '-100%' });
                                        $('html').css('overflow', 'auto');
                                        var storeId = 0;
                                        $.each($('.order-goods-info'), function(idx, val){
                                            if(val.id !== ''){
                                                storeId = val.id;
                                            }
                                        })
                                        console.log(storeId);
                                        $.ajax({
                                            url: 'order_parts_save_record',
                                            type: 'POST',
                                            dataType: 'JSON',
                                            data: {
                                                'store_id': storeId,
                                                'parts_order_number': res.data.parts_order_number
                                            },
                                            success: function(res){
                                                console.log(res);
                                                location.href = 'order_parts_detail';
                                            },
                                            error: function(){
                                                console.log('error');
                                            }
                                        })
                                    })
                                },
                                error: function () {
                                    console.log('error');
                                }
                            })
                        }
                        
                    })
                }
            },
            error: function () {
                console.log('error');
            }
        })    
    </script>
</body>
</html>