<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <title>确认订单</title>
    <style>
        /* 提交订单 start */
        .place-order-pop{position: fixed;top: 0;left: 0;right: 0;width: 100%;height: 100vh;background-color: #f4f4f4; z-index: 2;}
        .place-order-header{position: absolute;left: 0;top: 0;right: 0;width: 100%;height: .88rem;background-color: #fff;border-bottom: 1px solid #eee;z-index: 2;}
        .place-order-header .place-order-back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;margin-top: -.22rem;background-position: -.5rem -.5rem;}
        .place-order-header .place-order-title{width: 100%;height: .88rem;line-height: .88rem;text-align: center;font-size: .36rem;font-weight: normal;}
        .order-detail-box{height: 100%;padding: .89rem 0 1.2rem;box-sizing: border-box;overflow: auto;}
        .order-detail-box .order-detail-bg{width: 100%;height: 2.2rem;background: url(__STATIC__/index/image/my_bg4.png) no-repeat;background-size: 100% 100%;}
        .order-detail-box .user-info-box{width: 96%;height: 2.3rem;background-color: #fff;border-radius: .2rem;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);padding: .45rem .42rem;box-sizing: border-box;margin: -1.4rem auto 0;}
        .user-info-box .user-name-phone,
        .user-info-box .user-address{position: relative;display: flex;justify-content: space-between;font-size: .26rem;color: #333333;}
        .user-info-box .user-name-phone{margin-bottom: .15rem;}
        .user-info-box .user-address .address-txt{flex: 1;line-height: normal;}
        .icon-addr-more{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: .16rem;height: .28rem;background-position: -7.3rem -1.8rem;}
        .order-goods-info{width: 96%;height: 4.05rem;padding: .45rem .42rem;box-sizing: border-box;background-color: #fff;border-radius: .2rem;margin: .3rem auto 0;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);}
        .order-goods-info .order-shop-box{margin-bottom: .1rem;}
        .order-goods-info .icon-shop{display: inline-block;width: .3rem;height: .29rem;background-position: -5.6rem -1rem;vertical-align: text-bottom;}
        .order-goods-info .order-goods-detail{display: flex;}
        .order-goods-detail .order-goods-img{width: 2.2rem;height: 2.4rem;margin-right: .2rem;}
        .order-goods-detail .order-goods-img img{width: 100%;height: 100%;}
        .order-goods-detail .order-info-box{flex: 1;display: flex;flex-direction: column;justify-content: space-evenly;line-height: normal;font-size: .28rem;}
        .order-goods-detail .order-info-box .order-selling-point{font-size: .24rem;}
        .order-goods-detail .order-info-box .unit-price-quantity{display: flex;justify-content: space-between;align-items: center;}
        .order-info-box .unit-price-quantity .unit-price-p{font-size: .32rem;color: #f00;}
        .sundry{width: 96%;height: 5.5rem;margin: .3rem auto 0;background-color: #fff;border-radius: .2rem;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);box-sizing: border-box;}
        .sundry .sundry-ul{width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: space-around;}
        .sundry .sundry-li{position: relative;margin: 0 .42rem;border-bottom: 1px solid #eee;flex: 1;display: flex;align-items: center;justify-content: space-between;}
        .sundry .sundry-li .sundry-title{width: 1.5rem;}
        .sundry .sundry-li .icon-more{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: .16rem;height: .28rem;background-position: -7.3rem -1.8rem;}
        .sundry-cal{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 1.45rem;height: .4rem;border: 1px solid #dcdcdc;display: flex;justify-content: space-around;border-radius: .1rem;}
        .sundry-cal .sundry-minus,
        .sundry-cal .sundry-increase{flex: 1;font-size: .22rem;color: #ccc;text-align: center;line-height: .4rem;}
        .sundry-cal .sundry-cal-val{font-size: .24rem;color: #666;width: .65rem;text-align: center;border-left: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;outline: none;}
        .sundry-li-last{text-align: right;width: 100%;font-size: .28rem;}
        .sundry-li-last span{color: #f00;}
        .sundry .sundry-li .discount,
        .sundry .sundry-li .invoice{padding-right: .3rem;}
        .sundry .sundry-li .leave-msg{flex: 1;height: 100%;padding-left: .3rem;font-size: .3rem;outline: none;}
        .order-payment-box{position: absolute;bottom: 0;left: 0;right: 0;width: 100%;height: .88rem;line-height: .88rem;background-color: #fff;box-shadow: 0 2px 10px rgba(200, 200, 200, 1);padding-right: .3rem;box-sizing: border-box;text-align: right;}
        .order-payment-box .order-payment-btn{width: 1.8rem;height: .6rem;border: 0;background-color: #504cfb;color: #fff;font-size: .2rem;outline: none;border-radius: .3rem;}
        /* 提交订单 end */

        /* 支付弹窗 start */
        .alipay-pop{position: fixed;left: 0;right: 0;bottom: -100%;background-color: #fff;width: 100%;height: 60vh;z-index: 9;}
        .alipay-pop header{position: relative;width: 100%;height: .88rem;border-bottom: 1px solid #eee;box-sizing: border-box;background-color: #fff;margin-bottom: .5rem;}
        .alipay-pop header .close-alipay{position: absolute;top: 50%;left: .2rem;font-size: .6rem;color: #333;transform: translateY(-50%);}
        .alipay-pop header .alipay-title{width: 100%;height: .88rem;line-height: .88rem;text-align: center;}
        .alipay-pop .price-box{display: flex;align-items: center;justify-content: center;height: .88rem;}
        .alipay-pop .price-box span{font-size: .6rem;flex-basis: 45%;text-align: right;}
        .alipay-pop .price-box input{width: 50%;font-size: .6rem;}
        .alipay-pop .middle_box .content{width: 100%;}
        .alipay-pop .content li{width: 100%;border-bottom: 1px solid #e6e6e6;padding: 0 .2rem;height: 44px;line-height: 44px;font-size: 14px;color: #666;display: flex;justify-content: space-between;box-sizing: border-box;}
        .alipay-pop .content li input{float: right;color: #333;height: 100%;border: 0;text-align: right;width: 4.5rem;}
        .alipay-pop .alipay-submit{position: absolute;bottom: 20px;left: 50%;transform: translateX(-50%);width: 90%;height: 40px;font-size: 14px;color: #fff;background-color: #2e8ffd;border-radius: 5px;border: 1px solid #2e8ffd;}
        /* 支付弹窗 end */
        .mask{display: none;position: fixed;top: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, .6);width: 100%;height: 100vh;z-index: 8;}
        .standard{font-size: .24rem; color: #999;}
        .discount_pop{position: absolute; top: 0; left: 0; right: 0;z-index: 2; background-color: #fff; width: 100%;height: 100vh;}
        .head{position: relative;width: 100%;height: .88rem;background-color: #fff;border-bottom: 1px solid #ccc;margin-bottom: .3rem;}
        .head h3{width: 100%;height: .88rem;line-height: .88rem;font-size: .36rem;font-weight: normal;text-align: center;}
        .head .icon_back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;transform: translateY(-50%);background-position: -.5rem -.5rem;}
        .discount_wrap{width: 94%;margin: 0 auto;}        
        .discount_wrap .default{display: flex;align-items: center;justify-content: space-between;border: 1px solid #e7e8e9;border-radius: .1rem;padding: .2rem;margin-bottom: .2rem;text-align: center;background-color: #fff;}
        .discount_wrap .default .dont{flex: 1;text-align: left;}
        .discount_wrap .dis{display: flex;align-items: center;justify-content: space-between;border: 1px solid #e7e8e9;border-radius: .1rem;padding: .2rem;margin-bottom: .2rem;text-align: center;font-size: 0;color: #f00;background-color: #fff;}
        .discount_wrap .dis p{font-size: .42rem;}
        .discount_wrap .dis span{font-size: .24rem;}
    </style>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="javascript:;" class="spr place-order-back"></a>
            <h3 class="place-order-title">确认订单</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg"></div>
            <div class="user-info-box">
                <div class="user-name-phone">
                    <span class="user-name"></span>
                    <span class="user-phone"></span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two">深圳市福田区深南大道新闻路1号中电信息大厦西座1楼</span>
                    <i class="spr icon-addr-more"></i>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp"></span>
                </div>
                <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two"></p>
                        <p class="order-selling-point txt-hid-two"></p>
                        <p class="standard txt-hid-two"></p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p"></p>
                            <p class="quantity-p"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sundry">
                <ul class="sundry-ul">
                    <li class="sundry-li">
                        <p class="sundry-title">购买数量</p>
                        <div class="sundry-cal">
                            <a href="javascript:;" class="sundry-minus">-</a>
                            <input type="text" value="1" class="sundry-cal-val" readonly>
                            <a href="javascript:;" class="sundry-increase">+</a>
                        </div>
                    </li>
                    <li class="sundry-li deduction">
                        <p class="sundry-title">积分抵扣</p>
                        <span class="discount">-￥2</span>
                        <a href="javascript:;" class="spr icon-more"></a>
                    </li>
                    <li class="sundry-li">
                        <p class="sundry-title">发票信息</p>
                        <span class="invoice">不开发票</span>
                        <a href="javascript:;" class="spr icon-more"></a>
                    </li>
                    <li class="sundry-li">
                        <p class="sundry-title">买家留言</p>
                        <input type="text" placeholder="请填写内容(选填)" class="leave-msg">
                    </li>
                    <li class="sundry-li">
                        <p class="sundry-li-last">共计<span class="total-num"></span>件商品 合计：<span class="total-money"></span></p>
                    </li>
                </ul>
            </div>
            <div class="order-payment-box">
                <button class="order-payment-btn" id="order-buy">立即付款</button>
            </div>
        </div>
    </div>
    <div class="mask"></div>
    <!-- 支付弹窗 -->
    <form name=alipayment action="{:url('index/Apppay/index_parts_aliPay')}" method="post">
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="" readonly>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form>

    <!-- 积分抵扣 -->
    <div class="discount_pop" style="display: none;">
        <div class="head">
            <a href="javascript:;" class="spr icon_back"></a>
            <h3>使用积分</h3>
        </div>
        <div class="discount_wrap">
            <div class="default">
                <label class="dont" for="dont">不使用积分</label>
                <input type="radio" id="dont" name="disc" checked>
            </div>
            <div class="dis">
                <div class="denomination">
                    <p>￥2</p>
                    <span>需20积分</span>
                </div>
                <label class="twent" for="twent">
                    <p>消费满30元可用</p>
                    <!-- <span>仅限预约服务可用</span> -->
                </label>
                <input type="radio" id="twent" name="disc">
            </div>
        </div>
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        
        // 获取url地址id
        var url = location.search;
        var id, preId;
        if(url.indexOf('?') != -1){
            id = url.substr(1).split('&&')[0].split('=')[1];
            preId = url.substr(1).split('&&')[1].split('=')[1];
        }
        // 返回商品详情
        $('.place-order-back').click(function(){
            location.href = 'goods_detail?id=' + id + '&&preid=' + preId;
        })

        // 地址返回
        $.ajax({
            url: 'member_default_address_return',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                $('.user-name').text('收货人：' + res.data.harvester);
                $('.user-phone').text(res.data.harvester_phone_num);
                var addr = res.data.address_name.split(',').join('');
                $('.address-txt').text(addr + res.data.harvester_real_address);
            },
            error: function(){
                console.log('error');
            }
        })
        
        // 商品详情 传过来的数据
        $.ajax({
            url: 'return_order_buy_information',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                // 数量
                $('.quantity-p').text('×' + res.data.goods_number)
                $('.sundry-cal-val').val(res.data.goods_number)
                // 用户选择的规格
                $('.standard').text(res.data.goods_standard);
                $.each(res.data.goods, function(idx, val){
                    // 店铺名
                    $('.order-shop-namp').text(val.goods_brand.name);
                    // 商品名
                    $('.order-goods-p').text(val.goods_name);
                    // 商品描述
                    $('.order-selling-point').text(val.goods_describe);
                    // 价格
                    $('.unit-price-p').text('￥' + val.goods_adjusted_money);
                    // 总价
                    $('.total-money').text('￥' + (res.data.goods_number*val.goods_adjusted_money));
                })
                // 总数量
                $('.total-num').text(res.data.goods_number);

                // 购买数量按钮
                $(function(){
                    // 减
                    var calculator_val = document.getElementsByClassName('sundry-cal-val')[0];
                    $('.sundry-minus').click(function(){
                        if(calculator_val.value > 1){
                            calculator_val.value -= 1;
                            $('.quantity-p').text(calculator_val.value);
                            $('.total-num').text(calculator_val.value);
                            $('.total-money').text('￥' + (calculator_val.value*res.data.goods[0].goods_adjusted_money))
                        }else{
                            calculator_val.value = 1;
                        }
                    })
                    // 加
                    $('.sundry-increase').click(function(){
                        var add =  calculator_val.value - 0;
                        add += 1;
                        calculator_val.value = add;
                        $('.quantity-p').text(calculator_val.value);
                        $('.total-num').text(calculator_val.value);
                        $('.total-money').text('￥' + (calculator_val.value*res.data.goods[0].goods_adjusted_money))
                    })
                })

                // 支付弹窗
                var goodsId = res.data.goods[0].id;
                var storeId = res.data.goods[0].store_id;
                $('#order-buy').click(function(){
                    $('.mask').show();
                    $('.alipay-pop').animate({'bottom': '0'});
                    $('html').css('overflow', 'hidden');
                    
                    var orderAmount = $('.total-money').text().split('￥')[1];
                    var quantity = $('.total-num').text();
                    var goods_standard = $('.standard').text();
                    var buy_message = $('.leave-msg').val();
                    $.ajax({
                        url: 'ios_api_order_parts_button',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'goods_id': goodsId,
                            'store_id': storeId,
                            'order_amount': orderAmount,
                            'order_quantity': quantity,
                            'goods_standard': goods_standard,
                            'buy_message': buy_message
                        },
                        success: function(res){
                            console.log(res);
                            $('#WIDout_trade_no').val(res.data.parts_order_number);
                            $('#WIDtotal_amount').val($('.total-money').text().split('￥')[1]);
                            $('#WIDsubject').val(res.data.parts_goods_name);
                            $('#WIDbody').val(res.data.parts_goods_name);
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
                $('.close-alipay').click(function(){
                    $('.mask').hide();
                    $('.alipay-pop').animate({'bottom': '-100%'});
                    $('html').css('overflow', 'auto');
                })
            },
            error: function(){
                console.log('error');
            }
        })

        
    </script>
    <!-- 积分抵扣 -->
    <script>
        $.ajax({
            url: 'return_integral_information',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
            },
            error: function(){
                console.log('error');
            }
        })
        $('.icon_back').click(function(){
            $('.discount_pop').hide();
            $('.place-order-pop').show();
        })
        $('.deduction').click(function(){
            $('.discount_pop').show();
            $('.place-order-pop').hide();
        })
    </script>
</body>
</html>