<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_wait_evaluate.css">
    <title>配件商-待评价</title>
</head>
<body>
    <div class="wrapper" id="app">
        <header class="header">
            <a href="javascript:;" class="spr icon-back"></a>
            <a href="javascript:;" class="parts-title active">商品订单</a>
            <a href="order_service_all" class="service-title">预约订单</a>
        </header>
        <div class="tabs">
            <button class="tab">全部</button>
            <button class="tab">待付款</button>
            <button class="tab">待收货</button>
            <button class="tab tab-on">待评价</button>
            <button class="tab">退货</button>
        </div>
        <div class="shops-goods-wrap">
            <!-- 待付款 -->
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_parts/order_wait_evaluate.js"></script>
</html>