<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_detail.css">
    <title>配件商-商品详情</title>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="javascript:;" class="spr place-order-back"></a>
            <h3 class="place-order-title">订单详情</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg">
                <div class="status">待付款</div>
                <div class="time-count-down" id="time-count-down" style="display:none;"></div>
            </div>
            <div class="user-info-box">
                <div class="order-num">订单编号：<span>20181130412</span></div>
                <div class="user-name-phone">
                    <span class="user-name">收货人：<span></span></span>
                    <span class="user-phone">13691853045</span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two">深圳市福田区深南大道新闻路1号中电信息大厦西座1楼</span>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp">米其林轮胎旗舰店</span>
                </div>
                <!-- <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two">宝马轮胎宝马轮胎胎宝马胎宝马胎宝马轮胎</p>
                        <p class="order-selling-point txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p">￥0.01</p>
                            <p class="quantity-p">×1</p>
                        </div>
                    </div>
                </div> -->
                <div class="cal-price-box">
                    <div class="cal-total">
                        <span>商品总额</span>
                        <div class="total-box">￥<span></span></div>
                    </div>
                    <div class="discount-money">
                        <span>抵扣金额</span>
                        <div class="discount-box">￥<span></span></div>
                    </div>
                    <div class="leave-msg-container">
                        <span>买家留言</span>
                        <span class="leave-message"></span>
                    </div>
                </div>
                <div class="pay-amount">
                    <span>需付款</span>
                    <div class="pay-amount-span">￥<span></span></div>
                </div>
            </div>
            <div class="sundry">
                <p>订单信息</p>
                <p class="create-time">创建时间：<span>2018-11-30 17:55</span></p>
                <!-- <p class="pay-time">支付时间：<span>2018-12-05 17:55</span></p> -->
                <!-- <div class="contact-seller">
                    <a href="javascript:;" class="spr icon-phone"></a>
                    联系卖家
                </div> -->
            </div>
            <div class="order-payment-box">
                <button class="cancel-order-btn" style="display:none;">取消订单</button>
                <button class="to-payment-btn" style="display:none;">立即付款</button>
                <button class="del-order-btn" style="display:none;">删除订单</button>
                <button class="check-logistics-btn" style="display:none;">查看物流</button>
                <button class="conf-receipt-btn" style="display:none;">确认收货</button>
                <button class="evaluation-btn" style="display:none;">去评价</button>
            </div>
        </div>
    </div>
    
    <div class="mask" style="display:none;"></div>
    <!-- 取消订单弹窗 -->
    <div class="cancel-order-pop">
        <header class="cancel-order-header">
            取消订单
            <a href="javascript:;" class="spr close-cancel-order"></a>
        </header>
        <p class="reason-title">请选择取消订单原因：</p>
        <ul class="reason-list">
            <li class="reason-li reason-selected"><i class="spr icon-reason"></i> 操作有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 暂时不需要</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 选错商品</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 预约时间有误</li>
            <li class="reason-li"><i class="spr icon-reason"></i> 其他原因</li>
        </ul>
        <button class="select-reason-btn">确定</button>
    </div>

    <!-- 选择支付方式 -->
    <div class="chose-payment">
        <header>
            <a href="javascript:;" class="spr chose-payment-back"></a>
            <h3 class="chose-title">选择支付方式</h3>
        </header>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/wechat.png">
            </div>
            <p>微信支付</p>
            <!-- icon-check -->
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/alipay.png">
            </div>
            <p>支付宝支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/money2.png">
            </div>
            <p>余额支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
    </div>
    <!-- 输入余额密码弹窗 -->
    <div class="balance-psd-pop" style="display: none;">
        <span class="close-balance-pwd spr"></span>
        <p class="balance-psd-title">支付密码</p>
        <div class="input-container">
            <div id="payPassword_container" class="alieditContainer clearfix" data-busy="0">
                <div class="i-block" data-error="i_error">
                    <div class="i-block six-password">
                        <input class="i-text sixDigitPassword" id="payPassword_rsainput" type="password" autocomplete="off" required="required"
                            name="payPassword_rsainput" data-role="sixDigitPassword" tabindex="" maxlength="6" minlength="6"
                            aria-required="true">
                        <div tabindex="0" class="sixDigitPassword-box">
                            <i style="width: .58rem; border-color: transparent;" class=""><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <i style="width: .58rem;"><b style="visibility: hidden;"></b></i>
                            <span style="width: .58rem; left: 0px; visibility: hidden;" id="cardwrap" data-role="cardwrap"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="confirm-psd">确定</button>
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/payment.js"></script>
    <script src="__STATIC__/index/js/order_parts/order_parts_detail.js"></script>
    <script>
        // 转换时间戳
        function timetrans(date){
            var date = new Date(date*1000);//如果date为13位不需要乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes());
            // var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
            return Y+M+D+h+m;
        }
        // 倒计时
        function countDown(id, endTime, storeId, orderNum, reason){
            var nowDate = new Date();
            var endDate = new Date(endTime * 1000);
            // 相差总秒数
            var totalSecond = parseInt((endDate - nowDate) / 1000);
            if(totalSecond >= 0){
                // console.log(totalSecond)
                // 小时
                var hours = Math.floor(totalSecond / 3600);
                // console.log(hours);
                // 分钟
                var minutes = Math.floor((totalSecond % 3600) / 60);
                // console.log(minutes);
                // 秒
                var seconds = Math.floor((totalSecond % 3600) % 60);
                // console.log(seconds);
                document.getElementById(id).innerText = '剩'+hours+'小时'+minutes+'分'+seconds+'秒自动关闭';
                setTimeout(function(){
                    countDown(id, endTime, storeId, orderNum, reason);
                }, 1000)
            }else{
                return $.ajax({
                    url: 'order_parts_detail_cancel',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'store_id': storeId,
                        'parts_order_number': orderNum,
                        'cancel_order_description': reason
                    },
                    success: function(res){
                        console.log(res)
                        if(res.status == 1){
                            layer.open({
                                skin: 'msg',
                                content: '订单已过期，自动关闭',
                                time: .8
                            })
                            setTimeout(function () {
                                location.href = 'order_parts_wait_pay';
                            }, 1000)
                        }
                    }
                })
            }
        }
        var outTradeNo = 0;
        $.ajax({
            url: 'order_parts_detail',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                var val = res.data;
                var statusTxt = '';
                if(val.status === 1){
                    statusTxt = `待付款`;
                    $('.cancel-order-btn')
                        .add('.to-payment-btn')
                        .show();
                    $('.time-count-down').show();
                    countDown('time-count-down', val.normal_future_time, val.store_id, val.parts_order_number, '超过规定时间未付款，系统自动关闭订单');
                }else if(val.status === 2 || val.status === 3 || val.status === 4 || val.status === 5){
                    statusTxt = `待收货`;
                    $('.conf-receipt-btn').show();
                }else if(val.status === 6 || val.status === 7){
                    statusTxt = `待评价`;
                    $('.evaluation-btn')
                        .add('.del-order-btn')
                        .add('.return-goods')
                            .show();
                }else if(val.status === 8){
                    statusTxt = `已完成`;
                }else if(val.status === 9 || val.status === 10){
                    statusTxt = `已取消`;
                    $('.del-order-btn').show();
                }else if(val.status === 11 || val.status === 13 || val.status === 15){
                    statusTxt = `退货中`;
                    // $('.del-order-btn').show();
                }else if(val.status === 12){
                    statusTxt = `已退货`;
                    $('.del-order-btn').show();
                }else if(val.status === 14){
                    statusTxt = `拒绝退货`;
                }
                // 状态值
                $('.status').text(statusTxt);
                // 订单编号
                $('.order-num span').text(val.parts_order_number);
                // 收货人
                $('.user-name span').text(val.harvester);
                // 电话
                $('.user-phone').text(val.harvest_phone_num);
                // 配送地址
                $('.address-txt').text(val.harvester_address);
                // 店铺名
                $('.order-shop-namp').text(val.store_name);
                $('.order-shop-namp').attr('id', val.store_id);
                $('.order-shop-namp').data({'data-status': val.status});
                // 订单商品
                var str = '';
                $.each(val.info, function(idx, val){
                    str += `<div class="order-goods-detail" id="`+val.id+`">
                                <div class="order-goods-img">
                                    <img src="uploads/`+val.goods_image+`">
                                </div>
                                <div class="order-info-box">
                                    <p class="order-goods-p txt-hid-two">`+val.parts_goods_name+`</p>
                                    <p class="order-selling-point txt-hid-two">`+val.goods_describe+`</p>
                                    <div class="unit-price-quantity">
                                        <p class="unit-price-p">￥`+val.goods_money+`</p>
                                        <p class="quantity-p">×`+val.order_quantity+`</p>
                                        <p style="display:`+(val.status==11?'block': 
                                                            (val.status==13?'block':
                                                            (val.status==15?'block':'none')))+`;">退货中</p>
                                        <p style="display:`+(val.status==12?'block':'none')+`;">已退货</p>
                                        <button class="return-goods" style="display:`+(val.status==7?'block':'none')+`;">退货</button>
                                        <button class="check-logis" style="display:`+(val.status==3?'block':'none')+`;">查看物流</button>
                                    </div>
                                </div>
                            </div>`
                })
                $('.order-shop-box').after(str);
                // 商品总额
                $('.total-box span').text(val.all_goods_pays);
                // 抵扣金额
                $('.discount-box span').text(val.integral_deductible);
                // 买家留言
                $('.leave-message').text(val.buy_message);
                // 需付款
                $('.pay-amount-span span').text(val.all_order_real_pay);
                // 创建时间
                $('.create-time span').text(timetrans(val.create_time));
                // 支付时间
                if(val.pay_time !== null){
                    $('.create-time').after('<p class="pay-time">支付时间：<span>'+timetrans(val.pay_time)+'</span></p>')
                }
                // 删除订单 √
                $('.del-order-btn').click(function(){
                    var store_id = $('.order-shop-namp').attr('id');
                    var parts_order_number = $('.order-num span').text();
                    layer.open({
                        content: '您确定删除订单？',
                        btn: ['确定', '取消'],
                        yes: function (index) {
                            layer.close(index);
                            $.ajax({
                                url: 'ios_api_order_parts_del',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'parts_order_number': parts_order_number,
                                    'store_id': store_id
                                },
                                success: function(res){
                                    console.log(res);
                                    if(res.status == 1){
                                        location.href = 'order_parts_all';
                                    }
                                },
                                error: function(){
                                    console.log('error');
                                }
                            })
                        }
                    });
                })
                // 确认收货 √
                $('.conf-receipt-btn').click(function(){
                    var store_id = $('.order-shop-namp').attr('id');
                    var parts_order_number = $('.order-num span').text();
                    layer.open({
                        content: '您确认收货？',
                        btn: ['确认', '取消'],
                        yes: function (index) {
                            layer.close(index);
                            $.ajax({
                                url: 'ios_api_order_parts_collect_goods',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'parts_order_number': parts_order_number,
                                    'store_id': store_id
                                },
                                success: function(res){
                                    console.log(res);
                                    location.reload();
                                },
                                error: function(){
                                    console.log('error');
                                }
                            })
                        }
                    });
                })
                // 取消订单 √
                $('.cancel-order-btn').click(function(){
                    var store_id = $('.order-shop-namp').attr('id');
                    var parts_order_number = $('.order-num span').text();
                    $('.cancel-order-pop').animate({'bottom': '0'});
                    $('.mask').show();
                    $('.select-reason-btn').click(function(){
                        var cancel_order_description = $('.reason-selected')[0].innerText;
                        $.ajax({
                            url: 'ios_api_order_parts_no_pay_cancel',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'parts_order_number': parts_order_number,
                                'store_id': store_id,
                                'cancel_order_description': cancel_order_description
                            },
                            success: function(res){
                                console.log(res);
                                if(res.status == 1){
                                    location.href = 'order_parts_all';
                                }
                            },
                            error: function(){
                                console.log('error');
                            }
                        })
                    })
                })
                // 选择取消订单原因 
                $('.reason-li').click(function(){
                    $(this).addClass('reason-selected').siblings().removeClass('reason-selected');
                })
                $('.close-cancel-order').click(function(){
                    $('.cancel-order-pop').animate({'bottom': '-100%'});
                    $('.mask').hide();
                })
                // 去付款 √
                $('.to-payment-btn').click(function(){
                    outTradeNo = $('.order-num span').text();
                    showSelectMethod();
                })
                // 去评价
                $('.evaluation-btn').click(function(){
                    var store_id = $('.order-shop-namp').attr('id');
                    var parts_order_number = $('.order-num span').text();
                    var dataStatus = $('.order-shop-namp').data('data-status');
                    $.ajax({
                        url: 'order_parts_save_record',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'parts_order_number': parts_order_number,
                            'store_id': store_id,
                            'status': dataStatus
                        },
                        success: function(res){
                            console.log(res);
                            if(res.data.status === 1){
                                location.href = 'evaluate_index';
                            }
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
                // 查看物流
                $('.check-logis').click(function(){
                    var id = $(this).parents('.order-goods-detail').attr('id');
                    $.ajax({
                        url: 'logistics_index',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'id': id
                        },
                        success: function(res){
                            console.log(res);
                            location.href = 'logistics_index?id='+id;
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
                // 退款退货
                $('.return-goods').click(function(){
                    var id = $(this).parents('.order-goods-detail').attr('id');
                    $.ajax({
                        url: 'service_type_index',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'order_id': id
                        },
                        success: function(res){
                            console.log(res);
                            if(res.status == 1){
                                location.href = 'service_type_index';
                            }
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                })
            },
            error: function(){
                console.log('error');
            }
        })

        // 选择支付方式
        $('.method-div').click(function(){
            var u = navigator.userAgent;
            $(this).siblings().find('.check-a').removeClass('icon-check');
            $(this).find('.check-a').addClass('icon-check');
            backMethod();
            var $index = $(this).index();
            switch ($index){
                case 1:
                    //用户选择微信支付，发送订单号给后台
                    (function(){
                        return $.ajax({
                            url: 'app_parts_wxpay',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'order_num': outTradeNo
                            }
                        })
                    })().then(function(res){
                        console.log(res.responseData);
                        if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                            //接受微信签名 发送给android
                            Android.wxpay(JSON.stringify(res.responseData.app_response));
                        }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                            //接受微信签名 发送给ios
                            alipay(JSON.stringify(res.responseData));
                        }
                    })
                    break;
                case 2:
                    //用户选择支付宝支付，发送订单号给后台
                    (function(){
                        return $.ajax({
                            url: 'ios_api_alipay',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                'order_num': outTradeNo
                            }
                        })
                    })().then(function(res){
                        console.log(res);
                        if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                            //接受支付宝签名 发送给android
                            Android.alipay(res.data);
                        }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                            //接受支付宝签名 发送给ios
                            alipay(res.data);
                        }
                    })
                    break;
                case 3:
                    //用户选择余额支付，发送订单号给后台
                    showBalance();
                    break;
            }
        })

        // 取消支付
        $('.chose-payment-back').click(function(){
            backMethod();
        })
        $('.confirm-psd').click(function(){
            var psd = $('#payPassword_rsainput').val();
            if(psd !== ''){
                (function(){
                    return $.ajax({
                        url: 'parts_balance_payment',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'order_num': outTradeNo,
                            'passwords': psd
                        }
                    })
                })().then(function(res){
                    console.log(res);
                    if(res.status == 1){
                        layer.open({
                            skin: 'msg',
                            content: '支付成功',
                            time: .8
                        })
                        setTimeout(function(){
                            location.href = 'order_wait_deliver';
                        }, 1000);
                    }else if(res.status == 3){
                        layer.open({
                            skin: 'msg',
                            content: res.info,
                            time: .8
                        })
                        setTimeout(function(){
                            $('.balance-psd-pop').hide();
                            $('.chose-payment').css({'bottom': '0'});
                        }, 1000)
                    }else{
                        layer.open({
                            skin: 'msg',
                            content: res.info,
                            time: .8
                        })
                    }
                })
            }else{
                layer.open({
                    skin: 'msg',
                    content: '请输入密码',
                    time: 1
                })
            }
        })
        $('.close-balance-pwd').click(function(){
            $('.balance-psd-pop').hide();
            $('.chose-payment').css({'bottom': '0'});
        })

        function alipayCallback(res){
            if(res.resultStatus == '6001'){
                location.href = 'order_parts_wait_pay';
            }else if(res.resultStatus == '9000'){
                location.href = 'order_wait_deliver';
            }
        }
        function wxpayCallback(res){
            if(res !== undefined && res == '0'){
                location.href = 'order_wait_deliver';
            }else if(res == '-2'){
                location.href = 'order_parts_wait_pay';
            }
        }


        var lsearch = location.search;
        if(lsearch.indexOf('?') !== -1){
            var pageNumber = lsearch.substr(1).split('=')[1];
        }
        $('.place-order-back').click(function(){
            if(pageNumber == 1){
                location.href = 'order_parts_all';
            }else if(pageNumber == 2){
                location.href = 'order_parts_wait_pay';
            }else if(pageNumber == 3){
                location.href = 'order_wait_deliver';
            }else if(pageNumber == 4){
                location.href = 'order_wait_evaluate';
            }else if(pageNumber == 5){
                location.href = 'order_parts_return_goods';
            }
        })
    </script>
</body>
</html>