<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_detail.css">
    <title>配件商-商品详情</title>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="order_parts_all" class="spr place-order-back"></a>
            <h3 class="place-order-title">订单详情</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg">
                <div class="status">待付款</div>
                <div class="time-count-down">剩0小时56分自动关闭</div>
            </div>
            <div class="user-info-box">
                <div class="order-num">订单编号：20181130412</div>
                <div class="user-name-phone">
                    <span class="user-name">收货人：叶问</span>
                    <span class="user-phone">13691853045</span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two">深圳市福田区深南大道新闻路1号中电信息大厦西座1楼</span>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp">米其林轮胎旗舰店</span>
                </div>
                <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two">宝马轮胎宝马轮胎胎宝马胎宝马胎宝马轮胎</p>
                        <p class="order-selling-point txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p">￥0.01</p>
                            <p class="quantity-p">×1</p>
                        </div>
                    </div>
                </div>
                <div class="cal-price-box">
                    <div class="cal-total">
                        <span>商品总额</span>
                        <span>￥0.01</span>
                    </div>
                    <div class="discount-money">
                        <span>抵扣金额</span>
                        <span>￥0</span>
                    </div>
                </div>
                <div class="pay-amount">
                    <span>需付款</span>
                    <span class="pay-amount-span">￥0.01</span>
                </div>
            </div>
            <div class="sundry">
                <p>订单信息</p>
                <p class="create-time">创建时间：2018-11-30 17:55</p>
                <p class="pay-time">支付时间：2018-12-05 17:55</p>
                <!-- <div class="contact-seller">
                    <a href="javascript:;" class="spr icon-phone"></a>
                    联系卖家
                </div> -->
            </div>
            <div class="order-payment-box">
                <button class="order-cancel-btn">取消订单</button>
                <button class="order-payment-btn" id="order-buy">立即付款</button>
            </div>
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        $.ajax({
            url: 'order_parts_detail',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
            },
            error: function(){
                console.log('error');
            }
        })
    </script>
</body>
</html>