<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_detail.css">
    <title>配送员-订单详情</title>
    <style>
        .order-detail-box{padding-bottom: .5rem;}
    </style>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="javascript:;" class="spr place-order-back"></a>
            <h3 class="place-order-title">订单详情</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg">
                <div class="status"></div>
                <div class="time-count-down" id="time-count-down" style="display:none;"></div>
            </div>
            <div class="user-info-box">
                <div class="order-num">订单编号：<span></span></div>
                <div class="user-name-phone">
                    <span class="user-name">收货人：<span></span></span>
                    <span class="user-phone"></span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two"></span>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp"></span>
                </div>
                <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two"></p>
                        <p class="order-selling-point txt-hid-two"></p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p"></p>
                            <p class="quantity-p"></p>
                        </div>
                    </div>
                </div>
                <div class="cal-price-box">
                    <div class="cal-total">
                        <span>商品总额</span>
                        <div class="total-box">￥<span></span></div>
                    </div>
                    <div class="discount-money">
                        <span>抵扣金额</span>
                        <div class="discount-box">￥<span></span></div>
                    </div>
                </div>
                <div class="pay-amount">
                    <span>需付款</span>
                    <div class="pay-amount-span">￥<span></span></div>
                </div>
            </div>
            <div class="sundry">
                <p>订单信息</p>
                <p class="create-time">创建时间：<span></span></p>
                <p class="pay-time">支付时间：<span></span></p>
                <!-- <div class="contact-seller">
                    <a href="javascript:;" class="spr icon-phone"></a>
                    联系卖家
                </div> -->
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        var url = location.search;
        var orderId, status;
        if (url.indexOf('?') != -1) {
            orderId = url.substr(1).split('&')[0].split('=')[1];
            status = url.substr(1).split('&')[1].split('=')[1];
        }
        (function(orderId){
            return $.ajax({
                url: 'express_detail',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    order_id: orderId
                }
            })
        })(orderId).then(function(res){
            console.log(res);
            var res = res.data[0];
            var statusText = '';
            if(status == 1){
                statusText = '待取货';
            }else if(status == 2){
                statusText = '配送中';
            }else if(status == 3){
                statusText = '已完成';
            }
            $('.status').text(statusText);
            // 订单编号
            $('.order-num span').text(res.parts_order_number);
            // 收货人 电话号码
            $('.user-name span').text(res.harvester);
            $('.user-phone').text(res.harvest_phone_num);
            // 配送地址
            $('.address-txt').text(res.harvester_address);
            // 店铺
            $('.order-shop-namp').text(res.store_name);
            $('.order-goods-img img').attr('src', 'uploads/'+res.goods_image);
            $('.order-goods-p').text(res.parts_goods_name);
            $('.order-selling-point').text(res.goods_describe);
            // 单价 数量
            $('.unit-price-p').text('￥'+res.goods_money);
            $('.quantity-p').text('×'+res.order_quantity);
            $('.total-box span').text(toFixed(res.goods_money*res.order_quantity, 2));
            $('.discount-box span').text(res.integral_deductible);
            $('.pay-amount-span span').text(toFixed(res.goods_money*res.order_quantity-res.integral_deductible, 2));
            // 创建时间 支付时间
            $('.create-time span').text(timetrans(res.order_create_time));
            $('.pay-time span').text(timetrans(res.pay_time));
        })

        function timetrans(date){
            var date = new Date(date*1000);//如果date为13位不需要乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
            return Y+M+D+h+m+s;
        }
        // 解决计算精度问题
        function toFixed(num, s) {
            var times = Math.pow(10, s)
            var des = num * times + 0.5
            des = parseInt(des, 10) / times
            return des + ''
        }
        $('.place-order-back').click(function(e){
            e.preventDefault();
            if(status == 1){
                location.href = 'express_wait_for_take';
            }else if(status == 2){
                location.href = 'express_distribution';
            }else if(status == 3){
                location.href = 'express_completed';
            }
        })
    </script>
</body>
</html>