<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_detail.css">
    <title>配送员-订单详情</title>
    <style>
        .order-detail-box{padding-bottom: .5rem;}
    </style>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="express_wait_for_order" class="spr place-order-back"></a>
            <h3 class="place-order-title">订单详情</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg">
                <div class="status">待付款</div>
                <div class="time-count-down" id="time-count-down" style="display:none;"></div>
            </div>
            <div class="user-info-box">
                <div class="order-num">订单编号：<span>20181130412</span></div>
                <div class="user-name-phone">
                    <span class="user-name">收货人：<span></span></span>
                    <span class="user-phone">13691853045</span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two">深圳市福田区深南大道新闻路1号中电信息大厦西座1楼</span>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-namp">米其林轮胎旗舰店</span>
                </div>
                <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two">宝马轮胎宝马轮胎胎宝马胎宝马胎宝马轮胎</p>
                        <p class="order-selling-point txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p">￥0.01</p>
                            <p class="quantity-p">×1</p>
                        </div>
                    </div>
                </div>
                <div class="cal-price-box">
                    <div class="cal-total">
                        <span>商品总额</span>
                        <div class="total-box">￥<span></span></div>
                    </div>
                    <div class="discount-money">
                        <span>抵扣金额</span>
                        <div class="discount-box">￥<span></span></div>
                    </div>
                </div>
                <div class="pay-amount">
                    <span>需付款</span>
                    <div class="pay-amount-span">￥<span></span></div>
                </div>
            </div>
            <div class="sundry">
                <p>订单信息</p>
                <p class="create-time">创建时间：<span>2018-11-30 17:55</span></p>
                <!-- <p class="pay-time">支付时间：<span>2018-12-05 17:55</span></p> -->
                <div class="contact-seller">
                    <a href="javascript:;" class="spr icon-phone"></a>
                    联系卖家
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
</body>
</html>