html{
    background-color: #f4f5f6;
}
.wrapper{
    width: 100%;
}
.head{
    position: fixed;
    width: 100%;
    height: .88rem;
    background-color: transparent;
    z-index: 3;
}
.head .back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.swiper-container{
    width: 100%;
    height: 4.1rem;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}
.shop_info_box{
    position: relative;
    width: 96%;
    background-color: #fff;
    padding: .42rem .32rem;
    box-sizing: border-box;
    margin: -.3rem auto .25rem;
    line-height: normal;
    z-index: 2;
    border-radius: .1rem;
    box-shadow: 1px 1px 10px 0 rgba(220, 220, 220, .3);
}
.shop_info_box .order_confirm{
    position: absolute;
    top: 0;
    right: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -.7rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.shop_info_box .icon_order{
    display: inline-block;
    width: .53rem;
    height: .53rem;
    background-position: -2.65rem -2.45rem;
    margin-bottom: .2rem;
}
.shop_info_box .order_confirm span{
    color: #333;
    font-size: .18rem;
}
.shop_info_box .shop_name{
    font-size: .3rem;
    color: #333;
    margin-bottom: .2rem;
}
.shop_info_box .star-time{
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
}
.shop_info_box .star-time .open-time{
    font-size: .24rem;
    color: #333;
}
.star{
    display: block;
    width: 1.14rem;
    height: .3rem;
    background-position: .05rem -2.75rem;
    margin-right: .2rem;
}
.four-star{
    background-position: .05rem -3rem !important;
}
.three-star{
    background-position: .05rem -3.25rem !important;
}
.two-star{
    background-position: .05rem -3.5rem !important;
}
.one-star{
    background-position: .05rem -3.75rem !important;
}
.shop_info_box .addr_p{
    font-size: .24rem;
    color: #999;
    margin-bottom: .15rem;
}
.shop_info_box .icon_addr{
    display: inline-block;
    width: .24rem;
    height: .32rem;
    background-position: -3.3rem -2.5rem;
    margin-right: .15rem;
    vertical-align: sub;
}
.shop_info_box .shop-describe{
    font-size: .26rem; 
    color: #666;
}
/* 服务项目 start */
.service-section{
    width: 96%;
    margin: 0 auto .3rem;
    border-radius: .1rem;
    padding: .42rem .32rem;
    background-color: #fff;
    box-sizing: border-box;
}
.service-tab-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .3rem;
}
.service-tab-title li{
    margin: 0 .2rem;
    padding: 0 .2rem;
    font-size: .32rem;
    color: #333;
}
.service-tab-title .service-this{
    position: relative;
    color: #504cfb;
}
.service-tab-title .service-this::after{
    width: 100%;
    content: '';
    border-bottom: 2px solid #504cfb;
    position: absolute;
    bottom: 0;
    left: 0;
}
.service-colla-item{
    border-bottom: 1px solid #eee;
}
.service-colla-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0;
}
.service-colla-item .icon-uncheck{
    display: block;
    width: .38rem;
    height: .38rem;
    background-position: -2.05rem -.85rem;
}
.service-colla-item .icon-check{
    background-position: -2.05rem -1.25rem !important;
}
.service-colla-content li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
    padding: .2rem 0;
    border-top: 1px solid #eee;
}
.service-colla-content .service-car-type{
    flex: 1;
}
.service-colla-content .content-money-div{
    font-size: .26rem;
    color: #f00;
    flex: 1;
}
.service-colla-content .content-money-div .thro{
    color: #999;
    text-decoration: line-through;
}
.goods-colla-item{
    display: flex;
    padding: .3rem 0;
    line-height: normal;
    border-bottom: 1px solid #eee;
}
.more-goods{
    display: block;
    margin: .2rem auto;
    width: 2.5rem;
    height: .7rem;
    border-radius: .35rem;
    border: 1px solid #504cfb;
    color: #504cfb;
    text-align: center;
    line-height: .7rem;
}
.goods-img-box{
    width: 2.2rem;
    height: 2.42rem;
    border-radius: .1rem;
    overflow: hidden;
    margin-right: .2rem;
}
.goods-img-box img{
    width: 100%;
    height: 100%;
}
.goods-info-box{
    flex: 1;
}
.goods-info-box .goods-name{
    font-size: .3rem;
    color: #333;
    margin-bottom: .1rem;
}
.goods-info-box .goods-selling,
.goods-info-box .goods-spec{
    font-size: .26rem;
    color: #999;
}
.goods-info-box .goods-price{
    font-size: .32rem;
    color: #f00;
    margin-top: .1rem;
}
/* 服务项目 end */

/* 用户评论 start */
.wrapper .comment_box{
    width: 96%;
    background-color: #fff;
    margin: 0 auto 1.2rem;
    border-radius: .1rem;
    box-shadow: 1px 1px 10px 0 rgba(220, 220, 220, .3);
    padding-bottom: .2rem;
}
.wrapper .comment_box .comment_title{
    font-size: .3rem;
    color: #666;
    padding-left: .3rem;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    box-sizing: border-box;
}
.wrapper .comment-filter .filter-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .3rem 0;
    border-bottom: 1px solid #eee;
}
.wrapper .filter-ul li{
    line-height: normal;
    text-align: center;
    flex: 1;
    border-right: 1px solid #eee;
}
.wrapper .filter-ul li:last-of-type{
    border: 0;
}
.filter-ul li p{
    font-size: .3rem;
    color: #666;
}
.filter-ul .filter-this p{
    color: #504cfb;
}
.wrapper .comment_box .comment_ul{
    width: 100%;
}
.wrapper .comment_box .comment_li{
    width: 100%;
    padding: 0 .3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f5f6;
    margin-bottom: .2rem;
}
.wrapper .comment_box .comment_user_info{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
}
.wrapper .comment_box .comment_user_info .comment_user_headimg{
    width: .66rem;
    height: .66rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .24rem;
}
.wrapper .comment_box .comment_user_headimg img{
    width: 100%;
    height: 100%;
}
.wrapper .comment_box .comment_phone_time{
    flex: 1;
    font-size: 0;
}
.wrapper .comment_box .comment_phone_time .phone_box{
    float: left;
    font-size: .24rem;
    color: #666666;
}
.wrapper .comment_box .comment_phone_time .time_box{
    float: right;
    font-size: .2rem;
    color: #ccc;
}
/* .wrapper .comment_box .comment_phone_time .star{
    display: block;
    width: 1.14rem;
    height: .3rem;
    background-position: .05rem -3.75rem;
    margin-right: .2rem;
} */
.wrapper .comment_box .comment_text_box{
    width: 100%;
    padding-left: .9rem;
    box-sizing: border-box;
}
.wrapper .comment_box .comment_text_box .comment_text_a{
    display: inline-block;
}
.wrapper .comment_box .comment_text_box .comment_text_p{
    font-size: .28rem;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.wrapper .comment_box .comment_img_ul{
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper .comment_box .comment_img_ul .comment_img_li{
    width: 1.36rem;
    height: 1.36rem;
    overflow: hidden;
    margin-right: .1rem;
}
.wrapper .comment_box .comment_img_li img{
    width: 100%;
    height: 100%;
}
.wrapper .comment_box .bottom_time_box{
    /* width: 100%; */
    padding-left: .9rem;
    height: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .comment_box .bottom_time_box .buy_time{
    font-size: .2rem;
    color: #ccc;
}
.wrapper .comment_box .bottom_time_box a{
    font-size: .24rem;
    color: #ccc;
}
.wrapper .comment_box .bottom_time_box .like{
    margin-right: .3rem;
}
.wrapper .comment_box .bottom_time_box .icon_like{
    display: inline-block;
    width: .35rem;
    height: .35rem;
    background-position: -1.3rem -4.45rem;
    vertical-align: sub;
    margin-right: .1rem
}
.wrapper .comment_box .icon_like.icon_like_on{
    background-position: -1.7rem -4.5rem;
}
.wrapper .comment_box .bottom_time_box .icon_comment{
    display: inline-block;
    width: .23rem;
    height: .22rem;
    background-position: -2.05rem -4.55rem;
    vertical-align: middle;
    margin-right: .1rem;
}
.wrapper .comment_box .reply_box{
    position: relative;
    width: 5.5rem;
    background-color: #f4f5f6;
    padding: .15rem .25rem;
    box-sizing: border-box;
    border-radius: .1rem;
    margin-top: .36rem;
}
.wrapper .comment_box .reply_box .triangle{
    position: absolute;
    left: .36rem;
    top: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #f4f5f6;
    transform: translateY(-100%);
}
.wrapper .comment_box .reply_box .reply_text{
    font-size: .18rem;
    color: #666666;
}

.wrapper .comment_box .more_comment_a{
    display: block;
    width: 2.2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .24rem;
    color: #3558fa;
    border: 1px solid #3558fa;
    border-radius: .3rem;
    text-align: center;
    margin: 0 auto;
}
/* 用户评论 end */
.balance-box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    background-color: #fff;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between
}
.balance-box .bespeak-money-box{
    flex-basis: 60%;
    box-sizing: border-box;
    padding-left: .5rem;
    line-height: 1rem;
    font-size: .3rem;
    color: #333;
}
.balance-box .bespeak-money-box .bespeak-money{
    color: #f00;
}
.balance-box .bespeak-btn[disabled]{
    background-color: #d8d8d8;
}
.balance-box .bespeak-btn{
    border: 0;
    outline: none;
    background-color: #3558fa;
    color: #fff;
    font-size: .3rem;
    flex-basis: 40%;
}

/* 全部评论弹窗 start */
.pop{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #f4f5f6;
    z-index: 998;
    transition: all .3s;
    padding-top: .88rem;
}
.pop .back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.pop .pop_head{
    position: fixed;
    top: 0;
    width: 100%;
    height: .88rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}
.pop .pop_head h3{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
}
.filter-service{
    border-bottom: 1px solid #eee;
    background-color: #fff;
    margin-bottom: .12rem;
}
.filter-service-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: normal;
    text-align: center;
    padding: .3rem 0;
}
.filter-service-ul li{
    position: relative;
    flex: 1;
}
.com-number,
.com-name{
    font-size: .28rem;
    color: #333;
}
.filter-service-li p{
    color: #504cfb !important;
}
.filter-service-li::after{
    content: '';
    border: 1px solid #504cfb;
    position: absolute;
    bottom: -.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}
.filter-com{
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: .2rem .3rem;
}
.filter-com-ul li{
    float: left;
    background-color: #e4f3fb;
    font-size: .24rem;
    color: #333;
    border-radius: .1rem;
    padding: .1rem .25rem;
    margin: 0 .3rem .25rem 0;
}
.filter-com-ul li.negative{
    background-color: #eeeeee;
    color: #999;
}
.filter-com-ul .filter-li-this{
    background-color: #504cfb !important;
    color: #fff !important;
}
.pop .comment_box{
    width: 100%;
    background-color: #fff;
}
.pop .comment_box .comment_ul{
    width: 100%;
    height: 77vh;
    overflow-y: auto;
}
.pop .comment_box .comment_ul::-webkit-scrollbar{
    width: 0;
}
.pop .comment_box .comment_li{
    width: 100%;
    padding: 0 .3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f5f6;
}
.pop .comment_box .comment_user_info{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
}
.pop .comment_box .comment_user_info .comment_user_headimg{
    width: .66rem;
    height: .66rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .24rem;
}
.pop .comment_box .comment_user_headimg img{
    width: 100%;
    height: 100%;
}
.pop .comment_box .comment_phone_time{
    flex: 1;
    font-size: 0;
}
.pop .comment_box .comment_phone_time .phone_box{
    float: left;
    font-size: .24rem;
    color: #666666;
}
.pop .comment_box .comment_phone_time .time_box{
    float: right;
    font-size: .2rem;
    color: #ccc;
}
/* .pop .comment_box .comment_phone_time .star{
    display: inline-block;
    width: 1.04rem;
    height: .2rem;
    background-position: 0 -2.8rem;
} */
.pop .comment_box .comment_text_box{
    width: 100%;
    padding-left: .9rem;
    box-sizing: border-box;
}
.pop .comment_box .comment_text_box .comment_text_a{
    display: inline-block;
}
.pop .comment_box .comment_text_box .comment_text_p{
    font-size: .2rem;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.pop .comment_box .comment_img_ul{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.pop .comment_box .comment_img_ul .comment_img_li{
    width: 1.36rem;
    height: 1.36rem;
    overflow: hidden;
    margin-right: .1rem;
}
.pop .comment_box .comment_img_li img{
    width: 100%;
    height: 100%;
}
.pop .comment_box .bottom_time_box{
    /* width: 100%; */
    padding-left: .9rem;
    height: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop .comment_box .bottom_time_box .buy_time{
    font-size: .2rem;
    color: #ccc;
}
.pop .comment_box .bottom_time_box a{
    font-size: .24rem;
    color: #ccc;
}
.pop .comment_box .bottom_time_box .like{
    margin-right: .3rem;
}
.pop .comment_box .bottom_time_box .icon_like{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    background-position: -1.35rem -4.5rem;
    vertical-align: text-top;
    margin-right: .1rem
}
.pop .comment_box .icon_like.icon_like_on{
    background-position: -1.7rem -4.5rem;
}
.pop .comment_box .bottom_time_box .icon_comment{
    display: inline-block;
    width: .23rem;
    height: .22rem;
    background-position: -2.05rem -4.55rem;
    vertical-align: middle;
    margin-right: .1rem;
}
.pop .comment_box .reply_box{
    position: relative;
    width: 6rem;
    background-color: #f4f5f6;
    padding: .15rem .25rem;
    box-sizing: border-box;
    border-radius: .1rem;
    margin-top: .36rem;
}
.pop .comment_box .reply_box .triangle{
    position: absolute;
    left: .36rem;
    top: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #f4f5f6;
    transform: translateY(-100%);
}
.pop .comment_box .reply_box .reply_text{
    font-size: .18rem;
    color: #666666;
}
/* 全部评论弹窗 end */

/* 图片展示 */
.show_img{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    display:none;
    background:#000;
    z-index: 9999;
}
.show_img .img_box{
    width: 100%;
    height: 100%;
}
.show_img .img_num{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: .32rem;
    color: #aaa;
}
.img_box img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

/* 评价详情 start */
.comment-detail-pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 0 .3rem;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 9;
}
.comment-detail-pop .detail-pop-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .88rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.comment-detail-pop .detail-back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.comment-detail-pop h3{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
}
.comment-detail-pop .detail_user_info{
    margin-top: .9rem;
    box-sizing: border-box;
}
.comment-detail-pop .reply_box{
    width: 6.7rem;
    margin-bottom: .4rem;
}
.comment-detail-pop .detail_text_box .detail_text_p{
    font-size: .2rem;
    color: #666666;
}
.comment-detail-pop .detail-com-img img{
    width: 100%;
}
/* 评价详情 end */
.activity-contact{
    margin-top: .2rem;
    padding-top: .2rem;
    display: flex;
    justify-content: space-between;
}
.activity-contact a{
    flex-basis: 50%;
    text-align: center;
    box-sizing: border-box;
    color: #504cfb;
}
.activity-contact a.phone{
    border-right: 1px solid #e5e5e5;
}
.activity-contact .phone-icon{
    display: inline-block;
    width: .38rem;
    height: .38rem;
    background-position: -1.45rem -1.15rem;
    vertical-align: middle;
    margin-right: .1rem;
}
.activity-contact .navigation-icon{
    display: inline-block;
    width: .38rem;
    height: .38rem;
    background-position: -1.45rem -.75rem;
    vertical-align: middle;
    margin-right: .1rem;
}
.activity-section{
    width: 96%;
    margin: 0 auto .3rem;
    border-radius: .1rem;
    padding: .42rem .32rem;
    background-color: #fff;
    box-sizing: border-box;
}
.activity-section .activity-time{
    display: flex;
    justify-content: space-between;
    font-size: .28rem;
    color: #515151;
    line-height: normal;
    margin-bottom: .2rem;
}
.activity-section .activity-time div{
    flex-basis: 50%;
}
.activity-section .rich-text img{
    width: 100%;
}

