<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/my_car.css">
    <title>我的爱车</title>
</head>
<body>
    <div class="wrapper" style="display:block;">
        <header class="car-list-header">
            <a href="my_index" class="spr icon-back"></a>
            <h3 class="title-txt">车辆列表</h3>
            <button class="add-car-btn">添加</button>
        </header>
        <div class="box-wrap">
            <!-- <div class="car-box">
                <div class="car-info-top">
                    <div class="logo"><img src="__STATIC__/index/image/aodi.png"></div>
                    <div class="car-info">
                        <p>奥迪A6L</p>
                        <p>SUV 2018款</p>
                    </div>
                </div>
                <div class="car-btn-bot"> -->
                    <!-- 默认选中  on-default -->
                    <!-- <button class="set-default">设为默认</button>
                    <button class="delete-btn">删除</button>
                </div>
            </div> -->
        </div>
    </div>
    <!-- 车辆信息 -->
    <div class="car-detail-pop" style="display:none;">
        <div class="head-bg">
            <header class="header">
                <a href="javascript:;" class="spr detail-back"></a>
                <h3 class="title-txt">车辆信息</h3>
            </header>
            <div class="info-bg">
                <img src="__STATIC__/index/image/aodi2.png">
                <p class="info-p"></p>
                <p class="plate-num">粤A66666</p>
                <span>已设为默认</span>
            </div>
            <div class="fill-detail-info">
                <ul>
                    <li class="seat-color-li">
                        <span>座位</span>
                        <input type="text" class="seat-input" placeholder="请输入座位数">
                        <span>颜色</span>
                        <input type="text" class="color-input" placeholder="请输入颜色">
                    </li>
                    <li class="plant-num-li">
                        <span>车牌</span>
                        <div class="select-wrap">
                            <input type="text" class="show-input" id="show-input" value="京">
                            <div class="triangle"></div>
                            <select id="word-select" size="5" style="display:none;">
                                <option value="京" selected>京</option>
                                <option value="沪">沪</option>
                                <option value="粤">粤</option>
                                <option value="湘">湘</option>
                                <option value="黑">黑</option>
                                <option value="京">京</option>
                                <option value="沪">沪</option>
                                <option value="粤">粤</option>
                                <option value="湘">湘</option>
                                <option value="黑">黑</option>
                                <option value="京">京</option>
                                <option value="沪">沪</option>
                                <option value="粤">粤</option>
                                <option value="湘">湘</option>
                                <option value="黑">黑</option>
                            </select>
                        </div>
                        <input type="text" class="plant-input" placeholder="请输入车牌号">
                    </li>
                    <li class="mileage-li">
                        <span>行驶里程</span>
                        <input type="text" class="mileage-input" placeholder="请输入行驶里程">
                        <span>公里</span>
                    </li>
                    <li class="vin-num-li">
                        <span>车架号</span>
                        <input type="text" class="vin-num-input" placeholder="请输入车架号">
                    </li>
                    <li class="engine-no">
                        <span>发动机号</span>
                        <input type="text" class="engine-no-input" placeholder="请输入发动机号">
                    </li>
                    <li class="insurer-li">
                        <span>商业车险公司</span>
                        <input type="text" class="insurer-input" placeholder="请输入保险公司名称">
                    </li>
                    <li class="expiration-date-li">
                        <span>保险到期日期</span>
                        <input type="text" class="expiration-date-input" placeholder="请输入保险到期日期">
                    </li>
                </ul>
            </div>
            <button class="save-btn">保存</button>
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/love_list.js"></script>
</body>
</html>