<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/my_car.css">
    <title>我的爱车</title>
</head>
<body>
    <div class="wrapper" style="display:block;">
        <header class="car-list-header">
            <a href="my_index" class="spr icon-back"></a>
            <h3 class="title-txt">车辆列表</h3>
            <button class="add-car-btn">添加</button>
        </header>
        <div class="box-wrap">
            <!-- <div class="car-box">
                <div class="car-info-top">
                    <div class="logo"><img src="__STATIC__/index/image/aodi.png"></div>
                    <div class="car-info">
                        <p>奥迪A6L</p>
                        <p>SUV 2018款</p>
                    </div>
                </div>
                <div class="car-btn-bot"> -->
                    <!-- 默认选中  on-default -->
                    <!-- <button class="set-default">设为默认</button>
                    <button class="delete-btn">删除</button>
                </div>
            </div> -->
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/love_list.js"></script>
</body>
</html>