<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_service/order_service_detail.css">
    <title>配件商-商品详情</title>
</head>
<body>
    <div id="app">
        <div class="place-order-pop">
            <header class="place-order-header">
                <a href="order_service_all" class="spr place-order-back"></a>
                <h3 class="place-order-title">订单详情</h3>
            </header>
            <div class="order-detail-box">
                <div class="order-detail-bg">
                    <div class="status"></div>
                    <!-- <div class="time-count-down" style="display:none;">剩0小时56分自动关闭</div> -->
                </div>
                <div class="user-info-box">
                    <div class="order-num">订单编号：<span></span></div>
                    <div class="user-name-phone">
                        <span class="user-name">车主：<span></span></span>
                        <span class="user-phone">13691853045</span>
                    </div>
                    <div class="service-car">
                        <span class="address-title">到店车辆：<span></span></span>
                    </div>
                    <div class="car-info"></div>
                </div>
    
                <div class="order-shop">
                    <p>服务门店</p>
                    <p class="shop-address"></p>
                    <p class="service-time">到店时间：<span></span></p>
                    <div class="contact-seller">
                        <div class="call-phone">
                            <a href="javascript:;" class="spr icon-phone"></a>
                            拨打电话
                        </div>
                        <div>
                            <a href="javascript:;" class="spr icon-map"></a>
                            导航路线
                        </div>
                    </div>
                </div>
                <div class="service-item-box">
                    <p class="service-item-title">服务项目</p>
                    <div class="service-item">
                        <span class="service-item-name">预约洗车</span>
                        <span class="service-item-price">￥<span></span></span>
                    </div>
                    <div class="service-item-amount">
                        <div class="service-total-sum">
                            <span>服务总价值</span>
                            <p>￥<span></span></p>
                        </div>
                        <div class="discount-amount">
                            <span>积分抵扣</span>
                            <span class="discount-amount-span">-￥<span></span></span>
                            <!-- <i class="spr icon-select"></i> -->
                        </div>
                        <div class="pay-amount">
                            <span>实付款</span>
                            <p>￥<span></span></p>
                        </div>
                    </div>
                </div>
                <div class="sundry">
                    <p>订单信息</p>
                    <p class="create-time">创建时间：<span>2018-11-30 17:55</span></p>
                    <!-- <p class="pay-time">支付时间：<span>2018-12-05 17:55</span></p> -->
                </div>
                <div class="order-payment-box">
                    <button class="cancel-order-btn" style="display: none;">取消订单</button>
                    <button class="to-payment-btn" style="display: none;">去付款</button>
                    <button class="del-order-btn" style="display:none;">删除订单</button>
                    <button class="conf-receipt-btn" style="display:none;">已服务</button>
                    <button class="evaluation-btn" style="display:none;">去评价</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 支付弹窗 -->
    <form name=alipayment action="{:url('index/Apppay/index_aliPay')}" method=post >
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="预约洗车" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="预约洗车" readonly>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form>
    <div class="mask" style="display:none;"></div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_service/order_service_detail.js"></script>
</body>
</html>