<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_service/order_service_detail.css">
    <title>配件商-商品详情</title>
</head>
<body>
    <div id="app">
        <div class="place-order-pop">
            <header class="place-order-header">
                <a href="order_service_all" class="spr place-order-back"></a>
                <h3 class="place-order-title">订单详情</h3>
            </header>
            <div class="order-detail-box">
                <div class="order-detail-bg">
                    <div class="status"></div>
                    <!-- <div class="time-count-down" style="display:none;">剩0小时56分自动关闭</div> -->
                </div>
                <div class="user-info-box">
                    <div class="order-num">订单编号：<span></span></div>
                    <div class="user-name-phone">
                        <span class="user-name">车主：<span></span></span>
                        <span class="user-phone">13691853045</span>
                    </div>
                    <div class="service-car">
                        <span class="address-title">到店车辆：<span></span></span>
                    </div>
                    <div class="car-info"></div>
                </div>
    
                <div class="order-shop">
                    <p>服务门店</p>
                    <p class="shop-address"></p>
                    <p class="service-time">到店时间：<span></span></p>
                    <div class="contact-seller">
                        <div class="call-phone">
                            <a href="javascript:;" class="spr icon-phone"></a>
                            拨打电话
                        </div>
                        <div class="to-map">
                            <a href="javascript:;" class="spr icon-map"></a>
                            导航路线
                        </div>
                    </div>
                </div>
                <div class="service-item-box">
                    <p class="service-item-title">服务项目</p>
                    <div class="service-item">
                        <span class="service-item-name">预约洗车</span>
                        <span class="service-item-price">￥<span></span></span>
                    </div>
                    <div class="service-item-amount">
                        <div class="service-total-sum">
                            <span>服务总价值</span>
                            <p>￥<span></span></p>
                        </div>
                        <div class="discount-amount">
                            <span>积分抵扣</span>
                            <span class="discount-amount-span">-￥<span></span></span>
                            <!-- <i class="spr icon-select"></i> -->
                        </div>
                        <div class="pay-amount">
                            <span>实付款</span>
                            <p>￥<span></span></p>
                        </div>
                    </div>
                </div>
                <div class="sundry">
                    <p>订单信息</p>
                    <p class="create-time">创建时间：<span>2018-11-30 17:55</span></p>
                    <!-- <p class="pay-time">服务时间：<span>2018-12-05 17:55</span></p> -->
                </div>
                <div class="order-payment-box">
                    <button class="cancel-order-btn" style="display: none;">取消订单</button>
                    <button class="to-payment-btn" style="display: none;">去付款</button>
                    <button class="del-order-btn" style="display:none;">删除订单</button>
                    <button class="conf-receipt-btn" style="display:none;">已服务</button>
                    <button class="evaluation-btn" style="display:none;">去评价</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 支付弹窗 -->
    <!-- <form name=alipayment action="{:url('index/Apppay/index_aliPay')}" method=post >
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="预约洗车" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="预约洗车" readonly>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form> -->
    <div class="mask" style="display:none;"></div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_service/order_service_detail.js"></script>
    <script>
        $.ajax({
            url: 'order_service_detail',
            dataType: 'JSON',
            type: 'POST',
            success: function(res){
                console.log(res);
                var statusTxt = '';
                if(res.status == 1){
                    var val = res.data;
                    if(val.status === 0 || val.status === 9 || val.status === 10){
                        statusTxt = '已关闭';
                        $('.del-order-btn').show();
                    }else if(val.status === 1){
                        statusTxt = '待付款';
                        $('.cancel-order-btn').add('.to-payment-btn').show();
                    }else if(val.status === 2 || val.status === 3){
                        statusTxt = '待服务';
                        $('.conf-receipt-btn').show();
                    }else if(val.status === 4 || val.status === 5){
                        statusTxt = '待评价';
                        $('.del-order-btn').add('.evaluation-btn').show();
                    }else if(val.status === 6){
                        statusTxt = '已完成';
                    }
                    // 状态值
                    $('.status').text(statusTxt);
                    // 订单编号
                    $('.order-num span').text(val.service_order_number);
                    $('.order-num span').prop('id', val.id);
                    // 车主
                    $('.user-name span').text(val.car_owner_name);
                    // 电话号码
                    $('.user-phone').text(val.car_owner_phone_number);
                    // 车牌号
                    $('.address-title span').text(val.car_number);
                    // 车辆信息
                    $('.car-info').text(val.car_information);
                    // 店铺信息
                    $('.shop-address').text(val.store_name);
                    // 到店时间
                    $('.service-time span').text(val.got_to_time);
                    // 打电话
                    // $('.call-phone a').prop('href', 'javascript:;');
                    $('.call-phone').click(function(){
                        Android.call(val.car_owner_phone_number);
                    })
                    $('.to-map').click(function(){
                        console.log(val.latitude, val.longitude, val.store_name)
                        Android.openGdMap(val.latitude, val.longitude, val.store_name)
                    })
                    // 服务项目名称
                    $('.service-item-name').text(val.service_goods_name);
                    // 服务项目价格 服务总价值服务总价值  积分抵扣 实付款
                    if(val.service_real_pay !== 0){
                        $('.service-item-price span').text(val.service_order_amount);
                        $('.service-total-sum p span').text(val.service_order_amount);
                        $('.discount-amount-span span').text(val.integral_deductible);
                        $('.pay-amount p span').text(val.service_real_pay);
                    }else{
                        $('.service-item-price').text('面议');
                        $('service-total-sum p').text('面议');
                        $('.discount-amount-span').text('');
                        $('.pay-amount p').text('面议');
                    }
                    // 下单时间
                    $('.create-time span').text(timetrans(val.create_time));
                    // 服务完成时间
                    if(val.reserve_time !== null){
                        $('.create-time').after('<p class="pay-time">服务时间：<span>'+timetrans(val.reserve_time)+'</span></p>')
                    }

                    // 取消订单
                    $('.cancel-order-btn').click(function(){
                        var id = $('.order-num span').attr('id');
                        btnEvent('确认取消订单？', 'ios_api_order_service_no_pay_cancel', id);
                    })
                    // 已服务 
                    $('.conf-receipt-btn').click(function(){
                        var id = $('.order-num span').attr('id');
                        btnEvent('服务已完成？', 'ios_api_order_service_already_served', id);
                    })
                    // 删除订单
                    $('.del-order-btn').click(function(){
                        var id = $('.order-num span').attr('id');
                        btnEvent('确认删除？', 'service_del', id);
                    })
                    // 去评价
                    $('.evaluation-btn').click(function(){
                        var orderNum = $(".order-num span").text();
                        detailAndEva('order_service_save_record', orderNum, 'service_evaluate_index');
                    })
                    // 去付款
                    $('.to-payment-btn').click(function(){
                        var totalAmount = val.service_real_pay;
                        var outTradeNo = val.service_order_number;
                        var subjuect = val.service_goods_name;
                        var body = val.service_goods_name;
                        // $('#WIDtotal_amount').val(totalAmount);
                        // $('#WIDout_trade_no').val(outTradeNo);
                        // $('#WIDsubject').val(subjuect);
                        // $('#WIDbody').val(body);
                        if(totalAmount !== 0){
                            $.ajax({
                                url: 'ios_api_service_alipay',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'order_num': outTradeNo
                                },
                                success: function(res){
                                    console.log(res);
                                    Android.alipay(res.data);
                                    // function alipayCallback(res){
                                    //     if(res.resultStatus == '6001'){
                                    //         location.href = 'order_service_wait_pay';
                                    //     }else if(res.resultStatus == '9000'){
                                    //         var res = res.result.alipay_trade_app_pay_response;
                                    //         $.ajax({
                                    //             url: 'service_notifyurl',
                                    //             type: 'GET',
                                    //             dataType: 'JSON',
                                    //             data: {
                                    //                 out_trade_no: res.out_trade_no,
                                    //                 trade_no: res.trade_no,
                                    //                 trade_status: res.msg
                                    //             },
                                    //             success: function(res){
                                    //                 location.href = 'order_service_all';
                                    //             }
                                    //         })
                                    //     }
                                    // }
                                },
                                error: function(){
                                    console.log('error');
                                }
                            })
                            // $('.mask').show();
                            // $('.alipay-pop').animate({'bottom': '0'});
                            // $('html').css('overflow', 'hidden');
                        }else{
                            layer.open({
                                skin: 'msg',
                                content: '等待商家确认，确认之后方可付款！',
                                time: 1.2
                            })
                        }

                        $('.close-alipay').click(function () {
                            $('.mask').hide();
                            $('.alipay-pop').animate({ 'bottom': '-100%' });
                            $('html').css('overflow', 'auto');
                        })
                    })
                }
            },
            error: function(){
                console.log('error');
            }
        })
        // 删除、取消、已服务
        function btnEvent(info, url, id){
            layer.open({
                content: info,
                btn: ['确定', '取消'],
                yes: function(index){
                    layer.close(index);
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        type: 'POST',
                        data: {
                            'order_id': id
                        },
                        success: function(res){
                            console.log(res);
                            if(res.status == 1){
                                location.href = 'order_service_all';
                            }
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                }
            })
        }
        // 评价、查看详情
        function detailAndEva(url, orderNum, link){
            $.ajax({
                url: url,
                dataType: 'JSON',
                type: 'POST',
                data: {
                    'service_order_number': orderNum
                },
                success: function(res){
                    console.log(res);
                    if(res.status == 1){
                        location.href = link;
                    }
                },
                error: function(){
                    console.log('error');
                }
            })
        }
        // 转换时间戳
        function timetrans(date){
            var date = new Date(date*1000);//如果date为13位不需要乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes());
            // var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
            return Y+M+D+h+m;
        }

    </script>
</body>
</html>