<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/payment.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_service/order_service_wait_pay.css">
    <title>服务商-全部</title>
</head>
<body>
    <div class="wrapper" id="app">
        <header class="header">
            <a href="my_index" class="spr icon-back"></a>
            <a href="order_parts_all" class="parts-title">商品订单</a>
            <a href="javascript:;" class="service-title active">预约订单</a>
        </header>
        <div class="tabs">
            <button class="tab">全部</button>
            <button class="tab tab-on">待付款</button>
            <button class="tab">待服务</button>
            <button class="tab">待评价</button>
            <button class="tab">已完成</button>
        </div>
        <div class="reservation-tab-container">
            <!-- <div class="reservation-tab">
                <div class="order-num-status">
                    <div class="order-num">
                        <i class="spr icon-order-num"></i>订单编号：20181129145
                    </div>
                    <span class="status">等待付款</span>
                </div>
                <p class="order-time">
                    <i class="spr icon-time"></i>11月29日 星期四 19:30
                </p>
                <p class="order-shop-name">
                    <i class="spr icon-shop"></i>深圳福田德鹏汽车保养店
                </p>
                <div class="order-item">
                    <span></span>预约洗车
                </div>
                <div class="button-box">
                    <button class="cancel-order-btn">取消订单</button>
                    <button class="to-payment-btn">去付款</button>
                </div>
            </div> -->
        </div>
    </div>
    <!-- 支付弹窗 -->
    <!-- <form name=alipayment action="{:url('index/Apppay/index_aliPay')}" method="post">
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="预约洗车" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="预约洗车" readonly>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form> -->
    <div class="mask" style="display:none;"></div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/order_service/order_service_wait_pay.js"></script>
    <script>
        $.ajax({
            url: 'ios_api_order_service_wait_pay',
            dataType: 'JSON',
            type: 'POST',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var str = '';
                    $.each(res.data, function(idx, val){
                        str += `<div class="reservation-tab" id="`+val.id+`">
                                    <div class="reservation-info-container">
                                        <div class="order-num-status">
                                        <div class="order-num">
                                            <i class="spr icon-order-num"></i>订单编号：<span>`+val.service_order_number+`</span>
                                        </div>
                                        <span class="status">待付款</span>
                                        </div>
                                        <p class="order-time">
                                            <i class="spr icon-time"></i>`+val.got_to_time+`
                                        </p>
                                        <p class="order-shop-name">
                                            <i class="spr icon-shop"></i>`+val.store_name+`
                                        </p>
                                        <div class="order-item">
                                            <span></span>`+val.service_goods_name+`
                                        </div>
                                    </div>
                                    <div class="button-box">
                                        <button class="cancel-order-btn">取消订单</button>
                                        <button class="to-payment-btn">去付款</button>
                                    </div>
                                </div>`
                    })
                    $('.reservation-tab-container').append(str);
                    // 取消订单
                    $('.cancel-order-btn').click(function(){
                        var id = $(this).parents('.reservation-tab').attr('id');
                        btnEvent('确认取消订单？', 'ios_api_order_service_no_pay_cancel', id);
                    })
                    // 查看详情
                    $('.reservation-info-container').click(function(){
                        var orderNum = $(this).parents('.reservation-tab').find('.order-num span').text();
                        detailAndEva('order_service_save_record', orderNum, 'order_service_detail');
                    })
                    // 去付款
                    $('.to-payment-btn').click(function(){
                        var id = $(this).parents('.reservation-tab').attr('id');
                        var index = res.data.findIndex(function(item){
                            return item.id == id;
                        });
                        var totalAmount = res.data[index].service_real_pay;
                        var outTradeNo = res.data[index].service_order_number;
                        // var subjuect = res.data[index].service_goods_name;
                        // var body = res.data[index].service_goods_name;
                        // $('#WIDtotal_amount').val(totalAmount);
                        // $('#WIDout_trade_no').val(outTradeNo);
                        // $('#WIDsubject').val(subjuect);
                        // $('#WIDbody').val(body);
                        if(totalAmount !== 0){
                            $.ajax({
                                url: 'ios_api_service_alipay',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    'order_num': outTradeNo
                                },
                                success: function(res){
                                    console.log(res);
                                    Android.alipay(res.data);
                                    // function alipayCallback(res){
                                    //     if(res.resultStatus == '6001'){
                                    //         location.href = 'order_service_wait_pay';
                                    //     }else if(res.resultStatus == '9000'){
                                    //         var res = res.result.alipay_trade_app_pay_response;
                                    //         $.ajax({
                                    //             url: 'service_notifyurl',
                                    //             type: 'GET',
                                    //             dataType: 'JSON',
                                    //             data: {
                                    //                 out_trade_no: res.out_trade_no,
                                    //                 trade_no: res.trade_no,
                                    //                 trade_status: res.msg
                                    //             },
                                    //             success: function(res){
                                    //                 location.href = 'order_service_all';
                                    //             }
                                    //         })
                                    //     }
                                    // }
                                },
                                error: function(){
                                    console.log('error');
                                }
                            })
                            // $('.mask').show();
                            // $('.alipay-pop').animate({'bottom': '0'});
                            // $('html').css('overflow', 'hidden');
                        }else{
                            layer.open({
                                skin: 'msg',
                                content: '等待商家确认，确认之后方可付款！',
                                time: 1.2
                            })
                        }
                        // $('.close-alipay').click(function () {
                        //     $('.mask').hide();
                        //     $('.alipay-pop').animate({ 'bottom': '-100%' });
                        //     $('html').css('overflow', 'auto');
                        // })
                    })
                }

            },
            error: function(){
                console.log();
            }
        })
        // 删除、取消、已服务
        function btnEvent(info, url, id){
            layer.open({
                content: info,
                btn: ['确定', '取消'],
                yes: function(index){
                    layer.close(index);
                    $.ajax({
                        url: url,
                        dataType: 'JSON',
                        type: 'POST',
                        data: {
                            'order_id': id
                        },
                        success: function(res){
                            console.log(res);
                            if(res.status == 1){
                                location.reload();
                            }
                        },
                        error: function(){
                            console.log('error');
                        }
                    })
                }
            })
        }
        // 查看详情
        function detailAndEva(url, orderNum, link){
            $.ajax({
                url: url,
                dataType: 'JSON',
                type: 'POST',
                data: {
                    'service_order_number': orderNum
                },
                success: function(res){
                    console.log(res);
                    if(res.status == 1){
                        location.href = link;
                    }
                },
                error: function(){
                    console.log('error');
                }
            })
        }
        function alipayCallback(res){
            if(res.resultStatus == '6001'){
                location.href = 'order_service_wait_pay';
            }else if(res.resultStatus == '9000'){
                var res = res.result.alipay_trade_app_pay_response;
                $.ajax({
                    url: 'service_notifyurl',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        out_trade_no: res.out_trade_no,
                        trade_no: res.trade_no,
                        trade_status: res.msg
                    },
                    success: function(res){
                        location.href = 'order_service_all';
                    }
                })
            }
        }
    </script>
</html>