<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index/shop_order.css">
    <title>提交订单</title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <a href="javascript:history.back(-1);" class="spr icon_back"></a>
            <h3>提交订单</h3>
        </div>
        <div class="order_info_wrap">
            <!-- <div class="order_num">订单号:20181108</div> -->
            <div class="user_wrap">联系人：<span class="name">杨教授</span> <span class="phone">13691853045</span></div>
            <div class="plate_num">到店车辆：<span></span></div>
            <div class="car_ver"></div>
        </div>
        <div class="shop_info_wrap">
            <div class="shop">服务门店: <span></span></div>
            <div class="arrive_time">到达时间：<span></span></div>
        </div>
        <div class="service_price">
            <div class="service_name clearfix">
                <p>服务项目</p>
                <div class="clearfix">
                    <img src="__STATIC__/index/image/11.jpg">
                    <span class="service-type"></span>
                    <span class="price"></span>
                </div>
            </div>
            <div class="discount">
                积分抵扣
                <a href="javasscript:;" class="spr icon_more"></a>
                <span class="acount_num">不使用积分</span>
            </div>
            <div class="pay-amount">
                <span>实付款</span>
                <div class="pay-amount-span">￥<span></span></div>
            </div>
        </div>
        <div class="footbar">
            <div class="totalprice">
                <p class="txt">合计：￥<span></span></p>
            </div>
            <div class="btn_buy">
                <a href="javascript:;" class="txt" id="goAlipay">去支付</a>
            </div>
        </div>
    </div>
    <div class="discount_pop" style="display:none;">
        <div class="head">
            <a href="javascript:;" class="spr icon_back"></a>
            <h3>使用积分</h3>
        </div>
        <div class="discount_wrap">
            <div class="default">
                <label class="dont" for="dont">不使用积分</label>
                <input type="radio" id="dont" name="disc" checked>
            </div>
            <!-- <div class="dis">
                <div class="denomination">
                    <p>￥2</p>
                    <span>需20积分</span>
                </div>
                <label class="twent" for="twent">
                    <p>消费满30元可用</p>
                </label>
                <input type="radio" id="twent" name="disc">
            </div> -->
        </div>
    </div>
    <!-- 支付弹窗 -->
    <form name=alipayment action="{:url('index/Apppay/index_aliPay')}" method=post >
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="15428821121021" readonly>
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject" value="预约洗车" readonly>
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody" value="预约洗车" readonly>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form>
    <div class="mask" style="display:none;"></div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    
    <script>
        $('#goAlipay').click(function(){
            $('.mask').show();
            $('.alipay-pop').animate({'bottom': '0'});
            var got_to_time = $('.arrive_time span').text();
            var service_money = $('.pay-amount-span span').text();
            $.ajax({
                url: 'ios_api_order_service_button',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'goods_id': goodsId,
                    'service_order_quantitative': 1,
                    'service_money': service_money,
                    'setting_id': deductionId,
                    'got_to_time': got_to_time
                },
                success: function(res){
                    console.log(res);
                    $('#WIDout_trade_no').val(res.data.service_order_number);
                    $('#WIDtotal_amount').val(res.data.service_real_pay);
                    $('#WIDsubject').val(res.data.service_goods_name);
                    $('#WIDbody').val(res.data.service_goods_name);
                },
                error: function(){
                    console.log('error');
                }
            })
        })
        $('.close-alipay').click(function(){
            $('.mask').hide();
            $('.alipay-pop').animate({'bottom': '-100%'});
            location.href = 'order_service_all';
        })
        // 折扣
        $('.discount').click(function(){
            $('.wrapper').hide();
            $('.discount_pop').show();
        })
        $('.discount_pop .icon_back').click(function(){
            $('.wrapper').show();
            $('.discount_pop').hide();
        })
        // 解决计算精度问题
        function toFixed(num, s) {
            var times = Math.pow(10, s)
            var des = num * times + 0.5
            des = parseInt(des, 10) / times
            return des + ''
        }
        var finalMoney;
        var deductionId = '';
        var goodsId;
        // 订单号
        $.ajax({
            url: 'ios_api_order_service_get_information',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var data = res.data;
                    goodsId = data.goods[0].id;
                    if(data.user_info.real_name !== null){
                        $('.name').text(data.user_info.real_name);
                    }else{
                        $('.name').text(data.user_info.user_name);
                    }
                    $('.phone').text(data.user_info.phone_num);
                    $('.plate_num span').text(data.user_love_info.plate_number);
                    $('.car_ver').text(data.car_series.brand+' '+data.car_series.series+' '+data.car_series.displacement+' '+data.car_series.year);
                    $('.shop span').text(data.store[0].store_name);
                    $('.arrive_time span').text(data.time);
                    $('.service-type').text(data.serve_data[0].serve_name.service_setting_name);
                    $('.service_name').find('img').attr('src', 'uploads/' + data.serve_data[0].serve_name.service_setting_calss_img);
                    $('.price').text('￥'+ data.goods[0].service_money);
                    $('.pay-amount-span span').text(data.goods[0].service_money)
                    $('.totalprice span').text(data.goods[0].service_money);
                    finalMoney = data.goods[0].service_money;
                    var str = '';
                    $.each(data.integral_info, function(idx, val){
                        str += `<div class="dis">
                                    <div class="denomination">
                                        <p>￥`+val.integral_full+`</p>
                                        <span class="need-inte">需`+val.integral_can_be_used+`积分</span>
                                    </div>
                                    <label class="twent" for="twent-`+val.setting_id+`">
                                        <p class="dis-introduce">消费满<span>`+val.consumption_full+`</span>元可用</p>
                                    </label>
                                    <input type="radio" id="twent-`+val.setting_id+`" name="disc">
                                </div>`
                    })
                    $('.default').after(str);
                    $('.dis').click(function (e) {
                        e.preventDefault();
                        var consumptionFul = $(this).find('.dis-introduce span').text();
                        if (finalMoney >= consumptionFul) {
                            var cut = $(this).find('.denomination p').text().split('￥')[1];
                            $(this).find('input').prop('checked', 'checked');
                            $('.acount_num').text('-￥' + cut);
                            $('.discount_pop').hide();
                            $('.wrapper').show();
                            // 抵扣后的总价格
                            $('.pay-amount-span span').text(toFixed(finalMoney - cut, 2));
                            $('.totalprice span').text(toFixed(finalMoney - cut, 2));
                            // 存储积分券id
                            deductionId = $(this).find('input')[0].id.split('-')[1];
                            console.log(deductionId)
                        } else {
                            layer.open({
                                skin: 'msg',
                                content: '未达到使用条件',
                                time: 1
                            })
                        }
                    })
                    $('.default').click(function (e) {
                        e.preventDefault();
                        // 隐藏弹窗
                        $('.discount_pop').hide();
                        $('.wrapper').show();
                        // 显示 不适用积分
                        var dont = $(this).find('label').text();
                        $(this).find('input').prop('checked', 'checked');
                        $('.acount_num').text(dont);
                        // 不适用积分 重新计算价格
                        $('.pay-amount-span span').text(toFixed(finalMoney, 2));
                        $('.totalprice span').text(toFixed(finalMoney, 2));
                    })
                }
            },
            error: function(){
                console.log('error');
            }
        })
    </script>
</body>
</html>