html, body, .wrapper{
    background-color: #f2f2f2;
}
.header{
    position: relative;
    width: 100%;
    height: .88rem;
    background-color: #fff;
    margin-bottom: .2rem;
}
.header h3{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: .88rem;
    font-size: .36rem;
    color: #333;
    font-weight: normal;
}
.header .icon-back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.recharge-box{
    width: 94%;
    margin: 0 auto .8rem;
    background-color: #fff;
    padding: 0 .3rem;
    border-radius: .15rem;
    box-sizing: border-box;
}
.recharge-box .recharge-title{
    font-size: .28rem;
    color: 3333;
    padding: .2rem 0;
}
.recharge-box input{
    width: 90%;
    height: .8rem;
    font-size: .56rem;
    outline: none;
    border-bottom: 1px solid #eee;
    margin-bottom: .8rem;
    padding-left: .2rem;
    box-sizing: border-box;
}
.icon-money{
    font-size: .3rem;
    color: #333;
    font-style: normal;
}
.recharge-next{
    display: block;
    width: 94%;
    margin: 0 auto;
    height: 1rem;
    font-size: .3rem;
    color: #fff;
    background-color: #3169f6;
    border-radius: .15rem;
    border: 0;
    outline: none;
}
/* 支付弹窗 start */
.alipay-pop{
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: #fff;
    width: 100%;
    height: 60vh;
    z-index: 9;
}
.alipay-pop header{
    position: relative;
    width: 100%;
    height: .88rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: .5rem;
}
.alipay-pop header .close-alipay{
    position: absolute;
    top: 50%;
    left: .2rem;
    font-size: .6rem;
    color: #333;
    transform: translateY(-50%);
}
.alipay-pop header .alipay-title{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
}
.alipay-pop .price-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: .88rem;
}
.alipay-pop .price-box span{
    font-size: .6rem;
    flex-basis: 45%;
    text-align: right;
}
.alipay-pop .price-box input{
    width: 50%;
    font-size: .6rem;
}
.alipay-pop .middle_box .content{
    width: 100%;
}
.alipay-pop .content li{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 .2rem;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.alipay-pop .content li input{
    float: right;
    color: #333;
    height: 100%;
    border: 0;
    text-align: right;
}
.alipay-pop .alipay-submit{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #2e8ffd;
    border-radius: 5px;
    border: 1px solid #2e8ffd;
}
/* 支付弹窗 end */
.mask{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}
.icon-more{
    position: absolute;
    top: 50%;
    right: .2rem;
    width: .26rem;
    height: .38rem;
    background-position: -7.25rem -1.75rem;
    transform: translateY(-42%);
}
input[name=WIDsubject]{
    margin-right: .4rem;
}

/* 选择支付方式 start */
.chose-payment{
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: #fff;
    width: 100%;
    height: 60vh;
    z-index: 9;
}
.chose-payment header{
    position: relative;
    width: 100%;
    height: .88rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    background-color: #fff;
}
.chose-payment .chose-payment-back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.chose-payment header .chose-title{
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-weight: normal;
}
.method-div{
    position: relative;
    width: 100%;
    height: 1.25rem;
    display: flex;
    align-items: center;
}
.icon-div{
    width: .64rem;
    height: .64rem;
    margin: 0 .35rem;
}
.icon-div img{
    width: 100%;
    height: 100%;
}
.method-div p{
    font-size: .36rem;
    color: #333;
    border-bottom: 1px solid #eee;
    flex: 1;
    height: 100%;
    line-height: 1.35rem;
}
.add-bank-card{
    position: relative;
    width: 100%;
    height: 1.25rem;
    display: flex;
    align-items: center;
}
.add-txt-box{
    border-bottom: 1px solid #eee;
    flex: 1;
    height: 100%;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-txt-box .add-txt1{
    font-size: .32rem;
}
.add-txt-box .add-txt2{
    font-size: .24rem;
    color: #999;
}
.chose-payment .icon-check{
    position: absolute;
    top: 50%;
    right: .2rem;
    width: .38rem;
    height: .38rem;
    background-position: -2.05rem -1.25rem;
    transform: translateY(-50%);
}



/* 选择支付方式 end */