<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <title>系统消息</title>
    <style>
        html, body, .wrapper{background-color: #f2f2f2;}
        .header{position: relative;width: 100%;height: .88rem;background-color: #fff; border-bottom: 1px solid #eee;}
        .header h3{width: 100%;height: 100%;text-align: center;line-height: .88rem;font-size: .36rem;color: #333;font-weight: normal;}
        .header .icon-back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;margin-top: -.22rem;background-position: -.5rem -.5rem;}
        
    </style>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="information_index" class="spr icon-back"></a>
            <h3>系统消息</h3>
        </header>
        
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
</body>
</html>