<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <title>系统消息-详情</title>
</head>
<body>
{volist name="system_data" id="value"}
<div style="margin-top:auto">{$value.headline}</div>
<div style="margin-top: 30px">
    {$value.content}
</div>
{/volist}
</body>
</html>