<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/parts/parts_index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <title>配件商城</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="index" class="spr icon-header-back"></a>
            <h3 class="header-title">配件商城</h3>
        </header>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/my_bg5.png">
                    </a>
                </div> -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="server-list">
            <ul class="server-ul clearfix Html">
                <!--<li>
                    <a href="javascript:;">
                        <i class="spr-parts icon1"></i>
                        <span class="server-txt">常用配件</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon2"></i>
                        <span class="server-txt">空调养护</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon3"></i>
                        <span class="server-txt">刹车养护</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon4"></i>
                        <span class="server-txt">水箱养护</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon5"></i>
                        <span class="server-txt">除碳提动力</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon6"></i>
                        <span class="server-txt">高里程必看</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon7"></i>
                        <span class="server-txt">车载电器</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon8"></i>
                        <span class="server-txt">内饰精品</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon9"></i>
                        <span class="server-txt">安全自驾</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon10"></i>
                        <span class="server-txt">清洗养护</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon11"></i>
                        <span class="server-txt">减震动力</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon12"></i>
                        <span class="server-txt">电动改装</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr-parts icon13"></i>
                        <span class="server-txt">内外饰改装</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="preferential">
            <h3>优惠推荐</h3>
            <div class="swiper-container2">
                <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                        <img src="__STATIC__/index/image/my_bg6.png">
                    </div> -->
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        
        <div class="like-cont">
            <div class="like_title">
                <p><i class="spr icon_like"></i>你可能还喜欢</p>
            </div>
            <ul class="like_cont_ul clearfix">
                <li>
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
                <li class="mgr0">
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/swiper-4.3.5.min.js"></script>
    <script>
        $.ajax({
            url: 'machine_index',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status ==1){
                    var topSwiper = '';
                    $.each(res.data.machine, function(idx, val){
                        topSwiper += `<div class="swiper-slide">
                                        <a href="`+val.url+`">
                                            <img src="uploads/`+val.advert_picture+`">
                                        </a>
                                    </div>`
                    })
                    $('.swiper-container .swiper-wrapper').append(topSwiper);
                    swiper1();
                    $.each(res.data.discounts, function(idx, val){
                        topSwiper += `<div class="swiper-slide">
                                        <a href="`+val.url+`">
                                            <img src="uploads/`+val.advert_picture+`">
                                        </a>
                                    </div>`
                    })
                    $('.swiper-container2 .swiper-wrapper').append(topSwiper);
                    swiper2();
                }
            },
            error: function(){
                console.log('error');
            }
        })
        function swiper1(){
            var mySwiper = new Swiper ('.swiper-container', {
                direction: 'horizontal', // 垂直切换选项
                autoplay: true, //自动播放
                delay: 3000,
                // 禁止滑动添加类名swiper-no-swiping
                // 如果需要分页器
                pagination: {
                    el: '.swiper-pagination',
                },
                // 滑动后 切换也不停止
                autoplay: {
                    disableOnInteraction: false
                }
            })
        }
        function swiper2(){
            var mySwiper2 = new Swiper ('.swiper-container2', {
                direction: 'horizontal', // 垂直切换选项
                autoplay: true, //自动播放
                delay: 1000,
                // 禁止滑动添加类名swiper-no-swiping
                // 如果需要分页器
                pagination: {
                    el: '.swiper-pagination',
                },
                // 滑动后 切换也不停止
                autoplay: {
                    disableOnInteraction: false
                }
            })
        }
        $.ajax({
            url: '{:url("index/Parts/parts_index")}',
            type: 'POST',
            dataType: 'JSON',
            success:function (res) {
                console.log(res);
                if(res.status == 1){
                    var _html = '';
                    $.each(res.data, function(key,value){
                        _html += `<li>
                                    <a href="classify_index?parets_id=`+value.id+`">
                                        <i><img src="uploads/`+value.type_images+`"></i>
                                        <span class="server-txt">`+value.name+`</span>
                                    </a>
                                  </li>`
                    })
                    $('.Html').append(_html);
                }
            },
            error:function (data) {
                console.log("错误")
            }
        })
    </script>
</body>
</html>