{extend name="layout"}

{block name="css"}
<style>
    .wrapper{
        width: 600px;
        margin: 30px auto 0;
    }
    .submit{
        width: 200px;
        height: 32px;
        background-color: rgb(26, 188, 156);
        color: #fff;
        border: 0;
        margin-top: 30px;
    }
    .wrapper span.title{
        display: inline-block;
        width: 100px;
        text-align: right;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
    }
    .wrapper p{
        margin-left: 125px;
        font-size: 12px;
        color: #f00;
    }
    .wrapper input.input_box{
        border: 1px solid #ccc;
        padding: 2px 0 2px 4px;
    }
</style>
{/block}
{block name="content"}
<div class="wrapper">
    <form action="{:url('admin/Electron/save')}" method="post">
        <div>
            <span class="title">订单排序号</span>
            <input class="input_box" name="order_id" type="text" placeholder="请输入">
        </div>
        <div>
            <span class="title">保修年限</span>
            <input class="input_box" name="year" type="text" placeholder="请输入">
            <p>输入0到367天内</p>
        </div>
        <div>
            <span class="title">IMEI号</span>
            <input class="input_box" name="goods_imei" type="text" placeholder="请输入">
            <p>注意：如商品添加处已添加，此处自动显示，同理如此处添加，将显示到商品添加处</p>
        </div>
        <div>
            <span class="title">拒保文字添加</span>
            <input class="input_box" type="text" name="details" placeholder="请输入">
        </div>
        <input type="submit" value="提交" class="submit">
    </form>
</div>

{/block}

{block name="bottom"}

{/block}