.wrapper{
    width: 100%;
}
.header,
.reset-pwd-header,
.reset-payment-header,
.change-role-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: .88rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.header h3,
.reset-pwd-header h3,
.reset-payment-header h3,
.change-role-header h3{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: .88rem;
    font-size: .36rem;
    color: #333;
    font-weight: normal;
}
.header .icon-back,
.reset-pwd-header .reset-pwd-back,
.reset-payment-header .reset-payment-back,
.change-role-header .change-role-back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.list-box{
    width: 100%;
    background-color: #fff;
    margin-top: .98rem;
}
.list-box .list-li{
    height: .8rem;
    border-bottom: 1px solid #eee;
    padding: 0 .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch_checkbox {
    display: none;
}
.switch_label {
    margin-top: 5px;
    background-color: rgb(242, 242, 242);
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 15px;
}
/* ~选择器 选择前面的input checkbox被选中状态下的 span标签*/
.switch_checkbox:checked~.switch_label .switch_circle {
    left: 20px;
}
.switch_circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #fff;
    left: 0;
    top: -1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* ~选择器 选择前面的input checkbox被选中状态下的 label标签*/
.switch_checkbox:checked~.switch_label {
    background: rgb(0, 153, 255);
}
.list-box .list-li span{
    font-size: .28rem;
    color: #333;
}
.list-box .list-li .icon-more{
    display: block;
    width: .16rem;
    height: .28rem;
    background-position: -7.3rem -1.8rem;
}
.exit{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    width: 80%;
    height: .9rem;
    border-radius: .2rem;
    background-color: #0099ff;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: .3rem;
}
.reset-pwd-box,
.reset-payment-box{
    margin: 1rem 0 1.5rem 0;
}
.reset-pwd-box input,
.reset-payment-box input{
    width: 100%;
    height: .98rem;
    font-size: .3rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: .2rem;
    padding-left: .3rem;
    box-sizing: border-box;
    outline: none;
}
.reset-pwd-btn,
.reset-payment-btn,
.change-role-btn{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: .9rem;
    border-radius: .2rem;
    background-color: #0099ff;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: .3rem;
}
.change-role-pop div{
    width: 20%;
    margin: 0 auto .2rem;
}
.customer-box{
    margin-top: 1.5rem !important;
}
.facilitator-box{
    margin-bottom: 1rem !important;
}
