<footer class="aui-bar aui-bar-tab aui-bar-tab-cl aui-border-t" id="footer">
    <a href="{:url('index/index/index')}" class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </a>
    <a class="aui-bar-tab-item" tapmode href="{:url('index/Classify/index')}">
        <i class="aui-iconfont aui-icon-menu"></i>
        <div class="aui-bar-tab-label">分类</div>
    </a>
    <a class="aui-bar-tab-item" tapmode href="{:url('index/Share/share_index')}">
        <i class="aui-iconfont aui-icon-camera"></i>
        <div class="aui-bar-tab-label">晒单</div>
    </a>
    <a class="aui-bar-tab-item" tapmode href="{:url('index/Shopping/index')}">
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">购物车</div>
    </a>
    <a href="{:url('index/Member/index')}" class="aui-bar-tab-item" id="my" tapmode>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </a>
</footer>