<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <style>
        body {
            padding-top: constant(safe-area-inset-top);
            padding-left: constant(safe-area-inset-left);
            padding-right: constant(safe-area-inset-right);
            padding-bottom: constant(safe-area-inset-bottom);
        }
    </style>
    <title>首页</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="map">
                <span class="curr_city">呼和浩特</span>
                <i class="spr icon_location"></i>
            </div> 
            <div class="search">
                <i class="spr icon_search"></i>
                <input type="text" placeholder="输入你要搜索的内容">
            </div>
            <div class="message">
                <i class="spr icon_message"></i>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="__STATIC__/index/image/banner1.png">
                </div>
                <div class="swiper-slide">
                    <img src="__STATIC__/index/image/banner1-2.png">
                </div>
                <div class="swiper-slide">
                    <img src="__STATIC__/index/image/banner1-3.png">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="classify_service">
            <div class="add_mycar">
                <a href="javascript:;">
                    <div class="txt-div">
                        <p>添加我的爱车</p>
                        <span>想要更多服务吗？快去添加爱车吧</span>
                    </div>
                    <i class="spr icon_add"></i>
                </a>
            </div>
            <ul>
                <li>
                    <a href="service_type">
                        <i class="spr order"></i>
                        <span>预约服务</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr parts"></i>
                        <span>配件商城</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr daily"></i>
                        <span>日用商城</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr agency"></i>
                        <span>代办业务</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr lease"></i>
                        <span>车辆租赁</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr mortgage"></i>
                        <span>汽车抵押</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr insurance"></i>
                        <span>车辆保险</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr designated_driving"></i>
                        <span>寻找代驾</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr used_car"></i>
                        <span>二手车</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr assess"></i>
                        <span>车辆评估</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="spr more"></i>
                        <span>更多服务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner">
            <img src="__STATIC__/index/image/banner2.jpg">
        </div>
        <!-- 热门推荐 -->
        <div class="hot_recommend">
            <p class="subtitle">热门推荐</p>
            <div class="recommend_goods">
                <div class="recommend_top">
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/00.png">
                    </a>
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/00.png">
                    </a>
                </div>
                <div class="recommend_bottom">
                    <div class="recommend_bottom_left">
                        <a href="javascript:;">
                            <img src="__STATIC__/index/image/01.png">
                        </a>
                    </div>
                    <div class="recommend_bottom_right">
                        <div class="recommend_bottom_right_one">
                            <a href="javascript:;">
                                <img src="__STATIC__/index/image/00.png">
                            </a>
                        </div>
                        <div class="recommend_bottom_right_two">
                            <div class="recommend_bottom_right_three">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/00.png">
                                </a>
                            </div>
                            <div class="recommend_bottom_right_four">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/00.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot_shop">
            <p class="subtitle">热门店铺</p>
            <ul class="first_ul">
                <li>
                    <div class="shop_info">
                        <ul>
                            <li class="spr shop_logo"></li>
                            <li class="shop_name">大众轮胎专卖店</li>
                            <li class="into_shop">
                                <a href="javascript:;">进店</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop_goods">
                        <ul>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="shop_info">
                        <ul>
                            <li class="spr shop_logo"></li>
                            <li class="shop_name">大众轮胎专卖店</li>
                            <li class="into_shop">
                                <a href="javascript:;">进店</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop_goods">
                        <ul>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="shop_info">
                        <ul>
                            <li class="spr shop_logo"></li>
                            <li class="shop_name">大众轮胎专卖店</li>
                            <li class="into_shop">
                                <a href="javascript:;">进店</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop_goods">
                        <ul>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                            <li>
                                <img src="__STATIC__/index/image/02.png">
                                <p class="goods_price">￥249</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- footer 样式分离到common.css -->
        <div class="footer padding-bottom">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home active">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="my_index">
                        <i class="spr icon_my"></i>
                        <span class="text_my">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 添加车 -->
    <div class="select-car" style="display:none;">
        <header class="add-mycar">
            <a href="javascript:;" class="spr add-back"></a>
            <h3 class="title-txt">添加我的爱车</h3>
        </header>
        <div class="cont">
            <div>
                <div class="car-search">
                    <i class="spr icon_search"></i>
                    <input type="text" name="search_input" class="search-input" placeholder="输入你要搜索的品牌">
                </div>
                <div class="hot-brand">
                    <div class="hot-brand-title">
                        热门品牌：
                    </div>
                    <ul class="hot-brand-ul">
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                        <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li>
                    </ul>
                </div>
                <div id="letter" class="letter"></div>
                <div class="sort_box">
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">标志</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">斯柯达</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">悍马</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">五菱宏光</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">宝马</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">众泰</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">丰田</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">日产</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">众泰</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">凯迪拉克</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">路虎</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">Jeep</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">特斯拉</div>
                    </div>
                    <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">奥迪</div>
                    </div>
                </div>
                <div class="initials">
                    <ul>
                        <li><img src="__STATIC__/index/image/icon2.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择车系 -->
    <div class="car-series" style="display:none;">
        <header class="series-header">
            <a href="javascript:;" class="spr series-back"></a>
            <h3 class="title-txt">选择车系</h3>
        </header>
        <div class="car-brand">奥迪汽车</div>
        <div class="series-list">
            <div class="series-txt">A6L</div>
            <div class="series-txt">A4L</div>
            <div class="series-txt">Q5</div>
            <div class="series-txt">A3</div>
        </div>
    </div>
    <!-- 选择车型 -->
    <div class="motorcycle-type" style="display:none;">
        <header class="type-header">
            <a href="javascript:;" class="spr type-back"></a>
            <h3 class="title-txt">选择车系</h3>
        </header>
        <div class="type-list">
            <div class="type-txt">SUV</div>
            <div class="type-txt">三厢轿车</div>
            <div class="type-txt">MPV</div>
            <div class="type-txt">皮卡</div>
        </div>
    </div>
    <!-- 选择年产 -->
    <div class="car-year" style="display:none;">
        <header class="year-header">
            <a href="javascript:;" class="spr year-back"></a>
            <h3 class="title-txt">选择年产</h3>
        </header>
        <div class="year-list">
            <div class="year-txt">2018年款</div>
            <div class="year-txt">2017年款</div>
            <div class="year-txt">2016年款</div>
            <div class="year-txt">2015年款</div>
        </div>
    </div>
    <!-- 定位城市 -->
    <div class="geclocation-pop" style="display:none;">
        <div class="container"></div>
        <header class="geclocation-title">
            <a href="javascript:;" class="spr gec-back"></a>
            <h3 class="title-txt">选择城市</h3>
        </header>
        <div class="gec-cont">
            <div>
                <div class="city-search">
                    <i class="spr icon_search"></i>
                    <input type="text" name="search_input" class="search-input" placeholder="输入城市名查询">
                </div>
                <div class="gec-curr-city">
                    <div class="gec-curr-title">定位城市</div>
                    <div class="gec-curr-box">
                        <i class="gec-curr-icon spr"></i>
                        <span class="gec-curr-txt"></span>
                    </div>
                </div>
                <div class="hot-city">
                    <div class="hot-city-title">热门城市</div>
                    <ul class="hot-city-ul">
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                    </ul>
                </div>
                <div id="gec-letter" class="gec-letter"></div>
                <div class="gec-sort-box">
                    <div class="gec-sort-list">
                        <div class="gec-city-name">遵义市</div>
                    </div>
                    <div class="gec-sort-list">
                        <div class="gec-city-name">广州市</div>
                    </div>
                    <div class="gec-sort-list">
                        <div class="gec-city-name">深圳市</div>
                    </div>
                    <div class="gec-sort-list">
                        <div class="gec-city-name">北京市</div>
                    </div>
                </div>
                <div class="gec-initials">
                    <ul>
                        <li><img src="__STATIC__/index/image/icon2.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/jquery.charfirst.pinyin.js"></script>
    <script src="__STATIC__/index/js/plugin/swiper-4.3.5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.10&key=210ef80cb0b8bcda1cb68f180bd5dab3"></script> 
    <script src="__STATIC__/index/js/index.js"></script>
    <!-- swiper初始化 -->
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal', // 垂直切换选项
            autoplay: true, //自动播放
            delay: 3000,
            // 禁止滑动添加类名swiper-no-swiping
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
            // 滑动后 切换也不停止
            autoplay: {
                disableOnInteraction: false
            }
        })
    </script>
</body>
</html>