<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/index/js/plugin/citypicker/picker.css">
    <script>
        // 默认广告
        if(!getCookie('pcd')){
            getAdvertisment('广东,深圳,福田区');
        }
         // 判断机型
        (function(){
            var u = navigator.userAgent;
            if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                callAndroid();
                // 接收安卓回调内容
                function getAndroid(e) {
                    // 定位成功
                    if(e.errorCode != 0){
                        // 首次定位
                        if(!getCookie('district')){
                            threeAdress = e.province+','+e.city+','+e.district;
                            setCookie('district', e.district, 3650);
                            setCookie('pcd', threeAdress, 3650);
                            document.getElementById('space-input').innerHTML = e.district;
                            getAdvertisment(threeAdress);
                        }
                    }else{
                        layer.open({
                            skin: 'msg',
                            content: '定位失败，请稍后尝试',
                            time: 1.2
                        })
                    }
                }
            }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                console.log('ios')
            }
        })()
    </script>
    <style>
        body {
            padding-top: constant(safe-area-inset-top);
            padding-left: constant(safe-area-inset-left);
            padding-right: constant(safe-area-inset-right);
            padding-bottom: constant(safe-area-inset-bottom);
        }
    </style>
    <title>首页</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="map">
                <span class="curr_city" id="space-input">定位中</span>
                <i class="spr icon_location"></i>
            </div> 
            <div class="search">
                <i class="spr icon_search"></i>
                <input type="text" placeholder="输入你要搜索的内容">
            </div>
            <div class="message">
                <a href="information_index" class="spr icon_message"></a>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/banner1.png">
                    </a>
                </div> -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="classify_service">
            <div class="add_mycar">
                <a href="javascript:;">
                    <div class="txt-div">
                        <p>添加我的爱车</p>
                        <span>想要更多服务吗？快去添加爱车吧</span>
                    </div>
                    <i class="spr icon_add"></i>
                </a>
            </div>
            <ul class="service-container">
                <li>
                    <a href="service_type">
                        <i class="spr order"></i>
                        <span>预约服务</span>
                    </a>
                </li>
                <li>
                    <a href="parts_index">
                        <i class="spr parts"></i>
                        <span>配件商城</span>
                    </a>
                </li>
                <li>
                    <a href="rescue_index">
                        <i class="spr daily"></i>
                        <span>紧急救援</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr agency"></i>
                        <span>代办业务</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr lease"></i>
                        <span>车辆租赁</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr mortgage"></i>
                        <span>汽车抵押</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr insurance"></i>
                        <span>车辆保险</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr designated_driving"></i>
                        <span>寻找代驾</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr used_car"></i>
                        <span>二手车</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr assess"></i>
                        <span>车辆评估</span>
                    </a>
                </li>
                <li>
                    <a href="about_index">
                        <i class="spr more"></i>
                        <span>更多服务</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner">
            <!-- <a href="javascript:;">
                <img src="__STATIC__/index/image/banner2.jpg">
            </a> -->
        </div>
        <!-- 热门推荐 -->
        <div class="hot_recommend">
            <p class="subtitle">热门推荐</p>
            <div class="recommend_goods">
                <!-- <div class="recommend_top">
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/00.png">
                    </a>
                    <a href="javascript:;">
                        <img src="__STATIC__/index/image/00.png">
                    </a>
                </div>
                <div class="recommend_bottom">
                    <div class="recommend_bottom_left">
                        <a href="javascript:;">
                            <img src="__STATIC__/index/image/01.png">
                        </a>
                    </div>
                    <div class="recommend_bottom_right">
                        <div class="recommend_bottom_right_one">
                            <a href="javascript:;">
                                <img src="__STATIC__/index/image/00.png">
                            </a>
                        </div>
                        <div class="recommend_bottom_right_two">
                            <div class="recommend_bottom_right_three">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/00.png">
                                </a>
                            </div>
                            <div class="recommend_bottom_right_four">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/00.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- 热门店铺 -->
        <div class="hot_shop">
            <p class="subtitle">热门店铺</p>
            <ul class="hot-ul">
                <!-- <li class="hot-item">
                    <div class="hot-headimg">
                        <img src="__STATIC__/index/image/15.jpg">
                    </div>
                    <div class="hotshop-info">
                        <p class="hot-name">大众汽车维修保养店</p>
                        <div class="star-time"> -->
                            <!-- star2=二星 以此类推 -->
                            <!-- <i class="spr star1"></i>
                            <span>营业时间：00:00-24:00</span>
                        </div>
                        <p class="txt-hid-two hotshop-detail">详细信息详细信息详细信息详细信息息详细信息详细信息详细信息详细信息详</p>
                    </div>
                </li> -->
            </ul>
        </div>
        <!-- footer 样式分离到common.css -->
        <div class="footer padding-bottom">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home active">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="javascript:;">
                        <i class="spr icon_my"></i>
                        <span class="text_my">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 添加车 -->
    <div class="select-car" style="display:none;">
        <header class="add-mycar">
            <a href="javascript:;" class="spr add-back"></a>
            <h3 class="title-txt">添加我的爱车</h3>
        </header>
        <div class="cont">
            <div>
                <div class="car-search">
                    <i class="spr icon_search"></i>
                    <input type="text" name="search_input" class="search-input" placeholder="输入你要搜索的品牌">
                </div>
                <div class="hot-brand">
                    <div class="hot-brand-title">
                        热门品牌：
                    </div>
                    <ul class="hot-brand-ul">
                        <!-- <li class="hot-brand-li">
                            <img src="__STATIC__/index/image/bmw.png">
                            <span>宝马</span>
                        </li> -->
                    </ul>
                </div>
                <div id="letter" class="letter"></div>
                <div class="sort_box">
                    <!-- <div class="sort_list">
                        <div class="num_logo">
                            <img src="__STATIC__/index/image/bmw.png">
                        </div>
                        <div class="num_name">标志</div>
                    </div> -->
                </div>
                <div class="initials">
                    <ul>
                        <li><img src="__STATIC__/index/image/icon2.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择车系 -->
    <div class="car-series" style="display:none;">
        <header class="series-header">
            <a href="javascript:;" class="spr series-back"></a>
            <h3 class="title-txt">选择车系</h3>
        </header>
        <div class="car-brand"></div>
        <div class="series-list">
            <!-- <div class="series-txt"></div> -->
        </div>
    </div>
    <!-- 选择排量 -->
    <div class="motorcycle-type" style="display:none;">
        <header class="type-header">
            <a href="javascript:;" class="spr type-back"></a>
            <h3 class="title-txt">选择排量</h3>
        </header>
        <div class="type-list">
            <!-- <div class="type-txt">SUV</div> -->
        </div>
    </div>
    <!-- 选择年产 -->
    <div class="car-year" style="display:none;">
        <header class="year-header">
            <a href="javascript:;" class="spr year-back"></a>
            <h3 class="title-txt">选择年产</h3>
        </header>
        <div class="year-list">
            <!-- <div class="year-txt">2018年款</div> -->
        </div>
    </div>
    <!-- 定位城市 -->
    <!-- <div class="geclocation-pop" style="display:none;">
        <div class="container"></div>
        <header class="geclocation-title">
            <a href="javascript:;" class="spr gec-back"></a>
            <h3 class="title-txt">选择城市</h3>
        </header>
        <div class="gec-cont">
            <div>
                <div class="city-search">
                    <i class="spr icon_search"></i>
                    <input type="text" name="gec-search-input" class="search-input" placeholder="输入城市名查询">
                </div>
                <div class="gec-curr-city">
                    <div class="gec-curr-title">定位城市</div>
                    <div class="gec-curr-box">
                        <i class="gec-curr-icon spr"></i>
                        <span class="gec-curr-txt"></span>
                    </div>
                </div>
                <div class="hot-city">
                    <div class="hot-city-title">热门城市</div>
                    <ul class="hot-city-ul">
                        <li class="hot-city-li">
                            <span>深圳市</span>
                        </li>
                    </ul>
                </div>
                <div id="gec-letter" class="gec-letter"></div>
                <div class="gec-sort-box">
                    <div class="gec-sort-list">
                        <div class="gec-city-name">遵义市</div>
                    </div>
                </div>
                <div class="gec-initials">
                    <ul>
                        <li><img src="__STATIC__/index/image/icon2.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/jquery.charfirst.pinyin.js"></script>
    <script src="__STATIC__/index/js/plugin/swiper-4.3.5.min.js"></script>
    <!-- <script src="https://webapi.amap.com/maps?v=1.4.10&key=210ef80cb0b8bcda1cb68f180bd5dab3"></script>  -->
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/plugin/citypicker/citypicker.js"></script>
    <script src="__STATIC__/index/js/plugin/citypicker/city.js"></script>
    <script src="__STATIC__/index/js/index.js"></script>
    <script>
        var citypicker = new CityPicker({
            inputId: 'space-input',
            data: city, // 符合格式的数组
            cancel: function () {
                console.log('取消城市选择');
            },
            initialOption: ['广东', '深圳', '福田区'],
            success: function(arr) {
                console.log(arr);
                var province = arr[0].value;
                var city = arr[1].value;
                var district = arr[2].value;
                setCookie('district', district, 3650);
                document.getElementById('space-input').innerHTML = district;
                getAdvertisment(province+','+city+','+district);
            }
        });

        // 获取广告
        function getAdvertisment(area){
            $.ajax({
                url: 'advertisement_index',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'area': area
                },
                success: function(res){
                    console.log('广告',res);
                    if(res.status == 1){
                        var topSwiperStr = '';
                        // 首页轮播图
                        $.each(res.data.home, function(idx, val){
                            if(idx < 5){
                                topSwiperStr += `<div class="swiper-slide">
                                                    <a href="`+val.url+`">
                                                        <img src="uploads/`+val.advert_picture+`">
                                                    </a>
                                                </div>`;
                            }
                        })
                        $('.swiper-wrapper').html('').html(topSwiperStr);
                        mySwiper();
                        // 首页固定广告
                        var indexFixStr = '';
                        indexFixStr += `<a href="`+res.data.fixed[0].url+`">
                                            <img src="uploads/`+res.data.fixed[0].advert_picture+`">
                                        </a>`
                        $('.banner').html('').html(indexFixStr);
                        // 热门推荐
                        var hot = res.data.hot;
                        var hotStr = `<div class="recommend_top">
                                        <a href="`+hot[0].url+`">
                                            <img src="uploads/`+hot[0].advert_picture+`">
                                        </a>
                                        <a href="`+hot[1].url+`">
                                            <img src="uploads/`+hot[1].advert_picture+`">
                                        </a>
                                    </div>
                                    <div class="recommend_bottom">
                                        <div class="recommend_bottom_left">
                                            <a href="`+hot[2].url+`">
                                                <img src="uploads/`+hot[2].advert_picture+`">
                                            </a>
                                        </div>
                                        <div class="recommend_bottom_right">
                                            <div class="recommend_bottom_right_one">
                                                <a href="`+hot[3].url+`">
                                                    <img src="uploads/`+hot[3].advert_picture+`">
                                                </a>
                                            </div>
                                            <div class="recommend_bottom_right_two">
                                                <div class="recommend_bottom_right_three">
                                                    <a href="`+hot[4].url+`">
                                                        <img src="uploads/`+hot[4].advert_picture+`">
                                                    </a>
                                                </div>
                                                <div class="recommend_bottom_right_four">
                                                    <a href="`+hot[5].url+`">
                                                        <img src="uploads/`+hot[5].advert_picture+`">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                        $('.recommend_goods').html('').html(hotStr);
                    }
                },
                error: function(){
                    console.log('error');
                }
            })
        }
        //设置cookie
        function setCookie(name, value, day) {
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires=' + date;
        };
        //获取cookie
        function getCookie(name) {
            var reg = RegExp(name + '=([^;]+)');
            var arr = document.cookie.match(reg);
            if (arr) {
                return arr[1];
            } else {
                return '';
            }
        };
        // 调用安卓方法
        function callAndroid() {
            Android.getLocation();
        }
        // callAndroid();
       

        // 接收安卓回调data
        // var threeAdress;
        // function getAndroid(e) {
        //     if(e.errorCode !== undefined){
        //         if(e.errorCode != 0){
        //             threeAdress = e.province+','+e.city+','+e.district;
        //             setCookie('district', e.district, 7);
        //             setCookie('pcd', threeAdress, 7);
        //             if(!getCookie('pcd')){
        //                 getAdvertisment(threeAdress);
        //             }
        //             if(!getCookie('district')){
        //                 $('.curr_city').text(e.district);
        //             }
        //             $('.geclocation-pop').hide();
        //             $('.wrapper').show();
        //         }else{
        //             layer.open({
        //                 skin: 'msg',
        //                 content: '定位失败，请稍后尝试',
        //                 time: 1.2
        //             })
        //         }
        //     }else{
        //         layer.open({
        //             type: 2,
        //             content: '定位中'
        //         })
        //     }
        // }
        // if (getCookie('district')) {
        //     $('.curr_city').text(getCookie('district'));
        // }
        // if (getCookie('pcd')) {
        //     getAdvertisment(threeAdress);
        // }else{
        //     getAdvertisment('广东,深圳,福田');
        // }
    </script>
</body>
</html>