{extend name="layout"} {block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}
	.layui-form  {
		width: 90%;
		margin: 20px auto;
	}
	.layui-form label {
		text-align: left;
	}

</style>

{/block}

<body>

	{block name="content"}
	<div class="open">

	</div>
	<form class="layui-form" action="">
	
		<div class="layui-form-item">
			<label class="layui-form-label"> 会员名称：</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$user_name}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">金额：</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$recharge_data.operation_amount}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">支付方式：</label>
			<div class="layui-input-block">
			 <select name="modules" lay-verify="required" lay-search="" >
				 {if $recharge_data.pay_type_content=="微信"}
          <option value="{$recharge_data.pay_type_content}">{$recharge_data.pay_type_content}</option>
          <option value="支付宝">支付宝</option>
				 {/if}
				 {if $recharge_data.pay_type_content=="支付宝"}
				 <option value="{$recharge_data.pay_type_content}">{$recharge_data.pay_type_content}</option>
				 <option value="微信">微信</option>
				 {/if}

        </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">类型：</label>
			<div class="layui-input-block">
				{if $recharge_data.operation_type==1}
			   <input type="radio" name="sex" value="{$recharge_data.operation_type}" title="充值" checked="" >
      			<input type="radio" name="sex" value="2" title="提现"></div>
				{/if}
			{if $recharge_data.operation_type==2}
			<input type="radio" name="sex" value="1" title="充值"  >
			<input type="radio" name="sex" value="{$recharge_data.operation_type}" title="提现" checked=""></div>
		{/if}
		</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">会员描述：</label>
			<div class="layui-input-block">
	<textarea rows="10" cols="50"  >{$recharge_data.recharge_describe}</textarea>
		</div>
		</div>
			<div class="layui-form-item">
				<label class="layui-form-label">到款状态：</label>
				<div class="layui-input-block">
<p>
	{$recharge_data.money_status|show_recharge_status}
</p>
			</div>
			</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
				
				<button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit" >保存</button>
			   
			</div>
		</div>

	</form>
	
	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;

			
		})
	</script>

	

	{/block}

</body>

</html>