{extend name="layout"}

{block name="css"}
<link rel="stylesheet" href="__STATIC__/admin/serve/serve_index.css">
<style>
    .mask1{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
    }
</style>
{/block}

{block name="content"}
<div style="position: relative;">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：
                <strong></strong> 条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="40"><input name="ids" type="checkbox"></th>
                        <th width="40">服务单号</th>
                        <th width="60">申请时间</th>
                        <th width="30">用户账号</th>
                        <th width="30">联系人</th>
                        <th width="80">处理时间</th>
                        <th width="50">状态</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <!-- <tr class="text-c">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>1111</td>
                        <td>
                            <a href="javascript:;">审核中</a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mask1"></div>
<!-- 审核中 -->
<div class="pop pop1" style="display:none;">
    <div class="pop_title">
        <p>审核中</p>
        <a href="javascript:hidePop(this.target);" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="pop_btn">
        <a href="javascript:;" class="jujue">拒绝</a>
        <a href="javascript:;" class="shtg">审核通过</a>
    </div>
</div>
<!-- 已拒绝 -->
<div class="pop pop2" style="display:none;">
    <div class="pop_title">
        <p>已拒绝</p>
        <a href="javascript:;" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
<!-- 审核通过 -->
<div class="pop pop3" style="display:none;">
    <div class="pop_title">
        <p>审核通过</p>
        <a href="javascript:;" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="pop_btn">
        <a href="javascript:;" class="ysh">已收货</a>
    </div>
</div>
<!-- 已收货 -->
<div class="pop pop4" style="display:none;">
    <div class="pop_title">
        <p>已收货</p>
        <a href="javascript:;" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="pop_btn">
        <a href="javascript:;" class="ycl">已处理</a>
    </div>
</div>
<!-- 已处理 -->
<div class="pop pop5" style="display:none;">
    <div class="pop_title">
        <p>已处理</p>
        <a href="javascript:;" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="pop_btn">
        <a href="javascript:;" class="ywc">已完成</a>
    </div>
</div>
<!-- 已完成 -->
<div class="pop pop6" style="display:none;">
    <div class="pop_title">
        <p>已完成</p>
        <a href="javascript:;" class="pop_close">×</a>
    </div>
    <div class="pop_cont">
        <div class="user_cont">
            <span>用户反馈：</span>
            <p>手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
                手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡手机卡
            </p>
        </div>
        <div class="remark_cont">
            <span>后台回复：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>

{/block}


{block name="bottom"}
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/common/strtotime.js"></script>

<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script>
    $('.pop a').click(function(){
        var status = $(this)[0].innerHTML;
        switch(status){
            case '拒绝':
                status = '6';
                break;
            case '审核通过':
                status = '2';
                break;
            case '已收货':
                status = '3';
                break;
            case '已处理':
                status = '4';
                break;
            case  '已完成':
                status = '5';
                break;
            case '×':
                status = '';
                break;
        }
        $(this).parents('.pop').hide();
        $('.mask1').hide();
        var reply = $(this).parents('.pop').find('textarea').val();
        $.ajax({
            url: '{:url("admin/Serve/status")}',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            data: {
                'reply': reply,
                'status': status,
                'id': status_id
            },
            success: function(data){
                // console.log(data)
                location.reload();
            },
            error: function(){
                console.log('错误');
            }
        })
    })
</script>
<script>
    function timetrans(date){
        var date = new Date(date*1000);//如果date为13位不需要乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
        return Y+M+D+h+m+s;
    }

    $.ajax({
        url: '{:url("admin/Serve/index")}',
        type: 'POST',
        dataType: 'JSON',
        async: false,
        success: function(data){
            console.log(data)
            if(data.status == 1){
                var str = '';
                var status ='';
                $.each(data.data, function(idx, val){
                    if(val.dispose_time !== null){
                        switch(val.status){
                            case '1':
                                status = '审核中';
                                break;
                            case '2':
                                status = '审核通过';
                                break;
                            case '3':
                                status = '已收货';
                                break;
                            case '4':
                                status = '已处理';
                                break;
                            case '5':
                                status = '已完成';
                                break;
                            case '6':
                                status = '已拒绝';
                                break;
                            default:
                                console.log('default');
                                break;
                        }
                        str += '<tr class="text-c">\
                                    <td><input type="checkbox"></td>\
                                    <td>'+val.serve_num+'</td>\
                                    <td>'+timetrans(val.create_time)+'</td>\
                                    <td>'+val.harvest_phone_num+'</td>\
                                    <td>'+val.harvester+'</td>\
                                    <td>'+val.dispose_time+'</td>\
                                    <td><a class="status_btn" id="'+val.id+'">'+status+'</a></td>\
                                </tr>'
                    }else{
                        switch(val.status){
                            case '1':
                                status = '审核中';
                                break;
                            case '2':
                                status = '审核通过';
                                break;
                            case '3':
                                status = '已收货';
                                break;
                            case '4':
                                status = '已处理';
                                break;
                            case '5':
                                status = '已完成';
                                break;
                            case '6':
                                status = '已拒绝';
                                break;
                            default:
                                console.log('default');
                                break;
                        }
                        str += '<tr class="text-c">\
                                    <td><input type="checkbox"></td>\
                                    <td>'+val.serve_num+'</td>\
                                    <td>'+timetrans(val.create_time)+'</td>\
                                    <td>'+val.harvest_phone_num+'</td>\
                                    <td>'+val.harvester+'</td>\
                                    <td></td>\
                                    <td><a class="status_btn" id="'+val.id+'">'+status+'</a></td>\
                                </tr>'
                        }
                })
                $('#tbody').append(str);
            }else if(data.status == 0){
                alert('数据更新失败');
            }
        },
        error: function(){
            console.log('错误');
        }
    })
    var status_id;
    $('.status_btn').click(function(){
        status_id = $(this)[0].id;
        var status = $(this)[0].innerHTML;
        var reply_h;

        $.ajax({
            url: '{:url("admin/Serve/reply")}',
            dataType: 'JSON',
            type: 'POST',
            async: false,
            data: {
                'id': status_id
            },
            success: function(data){
                console.log(data);
                reply_h = data.data.reply;
            },
            error: function(){
                console.log('错误')
            }
        })

        switch(status){
            case '审核中':
                $('.pop1').show();
                $('.mask1').show();
                break;
            case '已拒绝':
                $('.pop2').show().find('textarea').val(reply_h).attr('readonly', 'readonly');
                $('.mask1').show();
                break;
            case '审核通过':
                $('.pop3').show().find('textarea').val(reply_h).attr('readonly', 'readonly');
                $('.mask1').show();
                break;
            case '已收货':
                $('.pop4').show().find('textarea').val(reply_h).attr('readonly', 'readonly');
                $('.mask1').show();
                break;
            case '已处理':
                $('.pop5').show().find('textarea').val(reply_h).attr('readonly', 'readonly');
                $('.mask1').show();
                break;
            case '已完成':
                $('.pop6').show().find('textarea').val(reply_h).attr('readonly', 'readonly');
                $('.mask1').show();
                break;
        }
    })
</script>
{/block}