<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/classify/classify_index.css">
    <title>分类</title>
</head>
<body>
    <div class="wrapper">
        <div class="head_search">
            <i class="spr icon_search"></i>
            <input type="text" placeholder="输入你要搜索的品牌" class="search_input">
        </div>
        <!-- 分类内容 -->
        <div class="classify_box">
            <div class="classify_tab">
                <ul class="classify_ul">
                    <li class="active"><a href="#0">为你推荐</a></li>
                </ul>
            </div>
            <div class="classify_cont">
                <div class="wrap">
                    <ul class="cont_one_ul">
                        <!-- 为你推荐 -->
                        <li class="recommend clearfix" id="0">
                            <ul>
                                <li>
                                    <a href="classify_recommend">
                                        <img src="__STATIC__/index/image/03.png">
                                        <span>特惠配件</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="classify_recommend">
                                        <img src="__STATIC__/index/image/03.png">
                                        <span>特惠配件</span>
                                    </a>
                                </li>
                                <li class="mgr0">
                                    <a href="classify_recommend">
                                        <img src="__STATIC__/index/image/03.png">
                                        <span>特惠配件</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer 样式分离到common.css -->
        <div class="footer">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify active">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="my_index">
                        <i class="spr icon_my"></i>
                        <span class="text_my">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/classify_index.js"></script>
</body>
</html>