<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/classify/classify_index.css">
    <title>分类</title>
</head>
<body>
    <div class="wrapper">
        <div class="head_search">
            <i class="spr icon_search"></i>
            <input type="text" placeholder="输入你要搜索的品牌" class="search_input">
        </div>
        <!-- 分类内容 -->
        <div class="classify_box">
            <div class="classify_tab">
                <ul>
                    <li class="active"><a href="#0">为你推荐</a></li>
                    <li><a href="#1">轮胎品牌区</a></li>
                    <li><a href="#2">保养品牌区</a></li>
                    <li><a href="#3">车品品牌区</a></li>
                    <li><a href="#4">美容清洗</a></li>
                    <li><a href="#5">常规保养</a></li>
                    <li><a href="#6">常规配件</a></li>
                    <li><a href="#7">空调养护</a></li>
                    <li><a href="#8">刹车养护</a></li>
                    <li><a href="#9">发动机</a></li>
                    <li><a href="#10">座椅</a></li>
                    <li><a href="#11">车窗玻璃</a></li>
                </ul>
            </div>
            <div class="classify_cont">
                <ul class="cont_one_ul">
                    <!-- 为你推荐 -->
                    <li class="recommend clearfix" id="0">
                        <ul>
                            <li>
                                <a href="classify_recommend">
                                    <img src="__STATIC__/index/image/03.png">
                                    <span>特惠配件</span>
                                </a>
                            </li>
                            <li>
                                <a href="classify_recommend">
                                    <img src="__STATIC__/index/image/03.png">
                                    <span>特惠配件</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="classify_recommend">
                                    <img src="__STATIC__/index/image/03.png">
                                    <span>特惠配件</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 轮胎品牌区 -->
                    <li class="first_li tyre" id="1">
                        <p class="subtitle" id="1">轮胎品牌区</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span class="brand_name">米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span class="brand_name">普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/06.jpg">
                                    <span class="brand_name">风神轮胎</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/07.jpg">
                                    <span class="brand_name">轮畅</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/07.jpg">
                                    <span class="brand_name">轮畅</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/06.jpg">
                                    <span class="brand_name">风神轮胎</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 保养品牌区 -->
                    <li class="first_li maintain" id="2">
                        <p class="subtitle" id="2">保养品牌区</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 车品品牌区 -->
                    <li class="first_li maintain" id="3">
                        <p class="subtitle" id="3">车品品牌区</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 美容清洗 -->
                    <li class="first_li maintain" id="4">
                        <p class="subtitle" id="4">美容清洗</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 常规保养 -->
                    <li class="first_li maintain" id="5">
                        <p class="subtitle" id="5">常规保养</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 常规配件 -->
                    <li class="first_li maintain" id="6">
                        <p class="subtitle" id="6">常规配件</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 空调养护 -->
                    <li class="first_li maintain" id="7">
                        <p class="subtitle" id="7">空调养护</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 刹车养护 -->
                    <li class="first_li maintain" id="8">
                        <p class="subtitle" id="8">刹车养护</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 发动机 -->
                    <li class="first_li maintain" id="9">
                        <p class="subtitle" id="9">发动机</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 座椅 -->
                    <li class="first_li maintain" id="10">
                        <p class="subtitle" id="10">座椅</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 车窗玻璃 -->
                    <li class="first_li maintain" id="11">
                        <p class="subtitle" id="11">车窗玻璃</p>
                        <ul class="bgw">
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/04.jpg">
                                    <span>米其林</span>
                                </a>
                            </li>
                            <li class="mgr0">
                                <a href="javascript:;">
                                    <img src="__STATIC__/index/image/05.jpg">
                                    <span>普利司通</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- footer 样式分离到common.css -->
        <div class="footer">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify active">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="my_index">
                        <i class="spr icon_my"></i>
                        <span class="text_my">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script>
        $('.classify_tab li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            // var tab_idx = $(this).index();
            // // 分类内容展示对应index的li
            // $('.cont_one_ul>li').hide().eq(tab_idx).show();
        })
    </script>
</body>
</html>