<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/classify/goods_list.css">
    <title>商品列表</title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <a href="classify_index" class="spr back"></a>
            <input type="text" id="search" placeholder="输入你要搜索的商品">
            <i class="spr icon_search"></i>
            <!-- <a href="javascript:;" class="spr icon_share"></a> -->
        </div>
        <div class="filter_box">
            <button class="current">综合</button>
            <button>销量</button>
            <button>价格</button>
            <button class="district">区域</button>
        </div>
        <div class="district-container" style="display: none;">
            <!-- <div class="district-item">福田</div> -->
        </div>
        <ul class="list_cont clearfix">
            <!-- <li>
                <a href="goods_detail">
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
    <div id="map-container"></div>
    <script src="https://webapi.amap.com/maps?v=1.4.10&key=210ef80cb0b8bcda1cb68f180bd5dab3"></script> 
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/goods_list.js"></script>
    <script>
        // 获取用户所在城市行政区
        var map = new AMap.Map('map-container', {
            zoom: 12, //级别
        });
        AMap.plugin([
            'AMap.DistrictSearch',
            'AMap.Geolocation'
        ], function(){
            var districtSearch = new AMap.DistrictSearch({
                level: 'city',
                subdistrict: 1
            })
            var geolocation = new AMap.Geolocation({
                enableHighAccuracy: true
            });
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', function(res){
                console.log('complete', res);
                var city = res.addressComponent.city;
                // 获取当前城市 行政区
                districtSearch.search(city, function(status, result){
                    var str = '';
                    $.each(result.districtList[0].districtList, function(idx, val){
                        str += '<div class="district-item">'+val.name+'</div>';
                    })
                    $('.district-container').html(str);
                    $('.district-container').on('click', '.district-item', function(){
                        $('.district-container').hide();
                        var districtText = $(this).text();
                        (function(){
                            return $.ajax({
                                url: 'goods_list_area',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    "id": brandid,
                                    "area": districtText
                                }
                            })
                        })().then(function(res){
                            console.log(res);
                        })
                    })
                })
            })
            AMap.event.addListener(geolocation, 'error', function(res){
                console.log('error', res);
            })
        })
    </script>
</body>
</html>