<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/classify/goods_detail.css">
    <title>商品详情</title>
</head>
<body>
    <div class="wrapper" style="display:block;">
        <div class="head">
            <a href="javascript:;" class="spr back"></a>
            <a href="javascript:;" class="spr icon_share"></a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">
                    <img src="__STATIC__/index/image/12.png">
                </div>
                <div class="swiper-slide">
                    <img src="__STATIC__/index/image/11.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="__STATIC__/index/image/08.png">
                </div> -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="goods_cont">
            <p class="goods_name"></p>
            <p class="selling-point"></p>
            <div class="price_cont clearfix">
                <span class="sale"></span>
                <span class="through"></span>
                <span class="stock"></span>
            </div>
        </div>
        <div class="spec">
            <div class="quantity clearfix">
                购买数量
                <div class="calculator_num">
                    <a href="javascript:;" class="minus">-</a>
                    <input type="text" value="1" class="calculator_val" readonly>
                    <a href="javascript:;" class="increase">+</a>
                </div>
            </div>
            <div class="ser-type">
                选择服务
                <a href="javascript:;" class="spr icon-more"></a>
            </div>
            <div class="product-parameter">
                专用参数
                <a href="javascript:;" class="spr icon-more"></a>
            </div>
        </div>
        <!-- <div class="intro">
            <h3>商品介绍</h3>
            <p>近日，德国马牌ContiSportContact运动型高性能轮胎家族的新一代成员——ContiSportContactTM 5(CSC5)正式登陆中国的市场。
                秉承良好的家族基因，马牌CSC5轮胎在操控性和高速性能方面的表现依旧抢眼，而为超级跑车研发的“Black Chilli”等创新技术，
                更为车主带来更加良好的安全性和低油耗，打造“超跑不超支，极行也安心”的驾乘体验。该款全新面市的轮胎适用于中级、高级轿车和SUV车型。
                1 CSC5在市场领域，CSC5相继成为宝马、奔驰、奥迪等高端汽车厂商等旗下高性能车的原配车胎。与连续十年、年年创造销售奇迹的上一代家族产品CSC3相比，
                CSC5的性能优势再次全面升级。CSC5的滚动阻力降低了，大大降低了油耗和排放;在干、潮湿路面的刹车距离分别缩短了，发挥出更为出色的安全性能。
                此外，操控性能再攀高峰，当车辆速度接近极限状态时，轮胎也能提供清晰的路感，让急弯和极速成为享受。</p>
        </div> -->
        <div class="tab-box clearfix">
            <div class="switch-box">
                <div class="switch-detail switch-on">商品详情</div>
                <div class="switch-comment">评价</div>
            </div>
            <div class="detail-box">
                <div class="detail-img-box">
                    <!-- <img src="__STATIC__/index/image/d1.png"> -->
                </div>
                <!-- <div class="table-box">
                    <h3>规格参数</h3>
                    <table border="1">
                        <tr>
                            <th>轮胎品牌</th>
                            <td>德国马牌</td>
                        </tr>
                        <tr>
                            <th>轮胎规格</th>
                            <td>225/50R18</td>
                        </tr>
                        <tr>
                            <th>速度级别</th>
                            <td>W（最高270公里/小时）</td>
                        </tr>
                        <tr>
                            <th>载重指数</th>
                            <td>98（最大载重750kg）</td>
                        </tr>
                        <tr>
                            <th>轮胎类别</th>
                            <td>98（最大载重750kg）</td>
                        </tr>
                        <tr>
                            <th>花纹特点</th>
                            <td>运动型轿车胎</td>
                        </tr>
                    </table>
                </div> -->
            </div>
            <div class="comment_box">
                <h3 class="comment_title">评论（<span>2000</span>）</h3>
                <ul class="comment_ul">
                    <li class="comment_li">
                        <div class="comment_user_info">
                            <div class="comment_user_headimg">
                                <img src="__STATIC__/index/image/icon6.png">
                            </div>
                            <div class="comment_phone_time">
                                <div class="phone_time clearfix">
                                    <span class="phone_box">13691853045</span>
                                    <span class="time_box">2018-11-5</span>
                                </div>
                                <span class="spr star"></span>
                            </div>
                        </div>
                        <div class="comment_text_box">
                            <a href="javascript:;" class="comment_text_a">
                                <p class="comment_text_p">今天刚刚安装，第一次使用这个牌子的轮胎，效果非常理想，值得信赖，，速度很快，服务很好，轮胎质量也很好；很满意，发货很快快快</p>
                            </a>
                            <ul class="comment_img_ul">
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/08.png">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/10.png">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/my_bg2.jpg">
                                </li>
                            </ul>
                            <div class="reply_box">
                                <i class="triangle"></i>
                                <p class="reply_text">
                                    商家回复：十分感谢你的评价，谢谢，十分感谢你的评价，谢谢 十分
                                    感谢你的评价，谢谢 十分感谢你的评价，谢谢十分感谢你的评价。
                                </p>
                            </div>
                            <div class="bottom_time_box">
                                <p class="buy_time">购买时间: <span>2018-11-05</span></p>
                                <div>
                                    <a href="javascript:;" class="like"><i class="spr icon_like"></i><span class="like_num">11</span></a>
                                    <!-- <a href="javascript:;" class="discuss"><i class="spr icon_comment"></i><span class="comment_num">55</span></a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="comment_li">
                        <div class="comment_user_info">
                            <div class="comment_user_headimg">
                                <img src="__STATIC__/index/image/icon6.png">
                            </div>
                            <div class="comment_phone_time">
                                <div class="phone_time clearfix">
                                    <span class="phone_box">13691853045</span>
                                    <span class="time_box">2018-11-5</span>
                                </div>
                                <span class="spr star"></span>
                            </div>
                        </div>
                        <div class="comment_text_box">
                            <a href="javascript:;" class="comment_text_a">
                                <p class="comment_text_p">今天刚刚安装，第一次使用这个牌子的轮胎，效果非常理想，值得信赖，，速度很快，服务很好，轮胎质量也很好；很满意，发货很快快快</p>
                            </a>
                            <ul class="comment_img_ul">
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                            </ul>
                            <div class="reply_box">
                                <i class="triangle"></i>
                                <p class="reply_text">
                                    商家回复：十分感谢你的评价，谢谢，十分感谢你的评价，谢谢 十分
                                    感谢你的评价，谢谢 十分感谢你的评价，谢谢十分感谢你的评价。
                                </p>
                            </div>
                            <div class="bottom_time_box">
                                <p class="buy_time">购买时间: <span>2018-11-05</span></p>
                                <div>
                                    <a href="javascript:;" class="like"><i class="spr icon_like"></i><span class="like_num">11</span></a>
                                    <!-- <a href="javascript:;" class="discuss"><i class="spr icon_comment"></i><span class="comment_num">55</span></a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="comment_li">
                        <div class="comment_user_info">
                            <div class="comment_user_headimg">
                                <img src="__STATIC__/index/image/icon6.png">
                            </div>
                            <div class="comment_phone_time">
                                <div class="phone_time clearfix">
                                    <span class="phone_box">13691853045</span>
                                    <span class="time_box">2018-11-5</span>
                                </div>
                                <span class="spr star"></span>
                            </div>
                        </div>
                        <div class="comment_text_box">
                            <a href="javascript:;" class="comment_text_a">
                                <p class="comment_text_p">今天刚刚安装，第一次使用这个牌子的轮胎，效果非常理想，值得信赖，，速度很快，服务很好，轮胎质量也很好；很满意，发货很快快快</p>
                            </a>
                            <ul class="comment_img_ul">
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                                <li class="comment_img_li">
                                    <img src="__STATIC__/index/image/img1.jpg">
                                </li>
                            </ul>
                            <div class="reply_box">
                                <i class="triangle"></i>
                                <p class="reply_text">
                                    商家回复：十分感谢你的评价，谢谢，十分感谢你的评价，谢谢 十分
                                    感谢你的评价，谢谢 十分感谢你的评价，谢谢十分感谢你的评价。
                                </p>
                            </div>
                            <div class="bottom_time_box">
                                <p class="buy_time">购买时间: <span>2018-11-05</span></p>
                                <div>
                                    <a href="javascript:;" class="like"><i class="spr icon_like"></i><span class="like_num">11</span></a>
                                    <!-- <a href="javascript:;" class="discuss"><i class="spr icon_comment"></i><span class="comment_num">55</span></a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="more_comment_box">
                        <a href="javascript:showPop('.pop');">查看全部评论</a>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="shop-card">
            <div class="card-title">
                <img src="__STATIC__/index/image/13.png">
                <span>xxxxxxx汽车配件零售商</span>
                <a href="javascript:;">进店</a>
            </div>
            <div class="card-show">
                <div>
                    <img src="__STATIC__/index/image/02.png">
                    <p>￥198</p>
                </div>
                <div>
                    <img src="__STATIC__/index/image/02.png">
                    <p>￥198</p>
                </div>
                <div>
                    <img src="__STATIC__/index/image/02.png">
                    <p>￥198</p>
                </div>
            </div>
        </div>
        <div class="may-like">
            <div class="like_title">
                <p><i class="spr icon_like"></i>你可能还喜欢</p>
            </div>
            <ul class="like_cont_ul clearfix">
                <li>
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
                <li class="mgr0">
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footbar">
            <!--  collect-on 选中 -->
            <a href="javascript:;" class="collect">
                <i class="spr icon-star"></i>
                <span>收藏</span>
            </a>
            <a href="cart_index" class="cart">
                <i class="spr icon-cart"></i>
                <span>购物车</span>
            </a>
            <div class="trade">
                <a href="javascript:;" class="add-cart">加入购物车</a>
                <a href="javascript:;" class="buy" id="buy">立即购买</a>
            </div>
        </div>
        <!-- 放大图片 容器 -->
        <div class="show_img">
            <span class="img_num">1/4</span>
            <div class="img_box"></div>
        </div>
    </div>
    
    <!-- 全部评论弹窗 -->
    <div class="pop">
        <div class="pop_head">
            <a href="javascript:hidePop();" class="spr back"></a>
            <h3>全部评价</h3>
        </div>
        <ul class="comment_classify_box">
            <li class="all_comment active">
                <p>全部</p>
                <span>999+</span>
            </li>
            <li class="has_picture">
                <p>晒图</p>
                <span>999+</span>
            </li>
        </ul>
        <div class="comment_box">
            <ul class="comment_ul">
                <li class="comment_li">
                    <div class="comment_user_info">
                        <div class="comment_user_headimg">
                            <img src="__STATIC__/index/image/icon6.png">
                        </div>
                        <div class="comment_phone_time">
                            <div class="phone_time clearfix">
                                <span class="phone_box">13691853045</span>
                                <span class="time_box">2018-11-5</span>
                            </div>
                            <span class="spr star"></span>
                        </div>
                    </div>
                    <div class="comment_text_box">
                        <a href="javascript:;" class="comment_text_a">
                            <p class="comment_text_p">今天刚刚安装，第一次使用这个牌子的轮胎，效果非常理想，值得信赖，，速度很快，服务很好，轮胎质量也很好；很满意，发货很快快快</p>
                        </a>
                        <ul class="comment_img_ul">
                            <li class="comment_img_li">
                                <img src="__STATIC__/index/image/img1.jpg">
                            </li>
                            <li class="comment_img_li">
                                <img src="__STATIC__/index/image/img1.jpg">
                            </li>
                            <li class="comment_img_li">
                                <img src="__STATIC__/index/image/img1.jpg">
                            </li>
                            <li class="comment_img_li">
                                <img src="__STATIC__/index/image/img1.jpg">
                            </li>
                        </ul>
                        <div class="reply_box">
                            <i class="triangle"></i>
                            <p class="reply_text">
                                商家回复：十分感谢你的评价，谢谢，十分感谢你的评价，谢谢 十分
                                感谢你的评价，谢谢 十分感谢你的评价，谢谢十分感谢你的评价。
                            </p>
                        </div>
                        <div class="bottom_time_box">
                            <p class="buy_time">购买时间: <span>2018-11-05</span></p>
                            <div>
                                <a href="javascript:;" class="like"><i class="spr icon_like"></i><span class="like_num">11</span></a>
                                <!-- <a href="javascript:;" class="discuss"><i class="spr icon_comment"></i><span class="comment_num">55</span></a> -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 评论详情 -->
    <div class="comment-detail-pop" style="display:none;">
        <header class="detail-pop-header">
            <a href="javascript:" class="spr detail-back"></a>
            <h3>评价详情</h3>
        </header>
        <div class="detail_user_info">
            <div class="detail_user_headimg">
                <img src="__STATIC__/index/image/icon6.png">
            </div>
            <div class="detail_phone_time">
                <div class="phone_time clearfix">
                    <span class="phone_box">13691853045</span>
                    <span class="time_box">2018-11-5</span>
                </div>
                <span class="spr star"></span>
            </div>
        </div>
        <div class="detail_text_box">
            <a href="javascript:;" class="detail_text_a">
                <p class="detail_text_p">今天刚刚安装，第一次使用这个牌子的轮胎，效果非常理想，值得信赖，，速度很快，服务很好，轮胎质量也很好；很满意，发货很快快快</p>
            </a>
            <div class="detail-com-img">
                <img src="__STATIC__/index/image/d-img.png">
                <img src="__STATIC__/index/image/d-img.png">
                <img src="__STATIC__/index/image/d-img.png">
                <img src="__STATIC__/index/image/d-img.png">
                <img src="__STATIC__/index/image/d-img.png">
                <img src="__STATIC__/index/image/d-img.png">
            </div>
            <div class="reply_box">
                <i class="triangle"></i>
                <p class="reply_text">商家回复：十分感谢你的评价，谢谢，十分感谢你的评价，谢谢 十分感谢你的评价，   谢谢 十分感谢你的评价，谢谢十分感谢你的评价。
                </p>
            </div>
            <div class="comment-goods">
                <div class="comment-goods-img">
                    <img src="__STATIC__/index/image/12.png">
                </div>
                <div class="comment-goods-info">
                    <p class="comment-goods-name">德国马牌德国马牌德国马牌德国马牌德国马牌德国马牌德国马牌德国马牌德国马牌</p>
                    <p class="comment-goods-price">
                        <span class="comment-goods-sale">￥789</span>
                        <span class="comment-goods-through">￥987</span>
                    </p>
                </div>
            </div>
            <div class="bottom_time_box">
                <p class="buy_time">购买时间: <span>2018-11-05</span></p>
            </div>
        </div>
    </div>
    <!-- 选择服务 -->
    <div class="mask"></div>
    <div class="select-ser-pop">
        <div class="select-goods-wrap">
            <div class="select-goods-img">
                <img src="__STATIC__/index/image/11.jpg">
            </div>
            <div class="select-goods-info">
                <p class="select-goods-price">￥789</p>
                <p class="select-goods-stock">库存500件</p>
                <p class="select-goods-spec">选择规格</p>
            </div>
            <span class="close-select-pop">×</span>
        </div>
        <div class="spec-wrap">
            <div class="spec-box">
                <p>选择颜色</p>
                <div class="select-container">
                    <!-- <span class="select-item"></span> -->
                </div>
            </div>
            <div class="spec-box installation">
                <p>安装方式</p>
                <!-- <span>到店安装</span> -->
                <!-- <span>无需安装</span> -->
            </div>
            <!-- <div class="select-shop"style="display:none;">
                选择门店
                <a href="javascript:;" class="spr icon-select-shop"></a>
            </div> -->
            <div class="select-quantity clearfix">
                购买数量
                <div class="select-calculator_num">
                    <a href="javascript:;" class="select-minus">-</a>
                    <input type="text" value="1" class="select-calculator_val" readonly>
                    <a href="javascript:;" class="select-increase">+</a>
                </div>
            </div>
        </div>
        <div class="select-trade">
            <a href="javascript:;" class="select-add-cart">加入购物车</a>
            <a href="javascript:;" class="select-buy">立即购买</a>
        </div>
    </div>

    <!-- 产品参数 -->
    <div class="product-parameter-pop">
        <header class="title-txt">专用参数</header>
        <div class="parameters-box">
            <ul class="parameters-ul">
                <li class="parameters-li">
                    <span class="specification-name">品牌</span>
                    <div class="specification-val parameter-brand"></div>
                </li>
                <li class="parameters-li">
                    <span class="specification-name">系列</span>
                    <div class="specification-val parameter-series"></div>
                </li>
                <li class="parameters-li">
                    <span class="specification-name">年份</span>
                    <div class="specification-val parameter-year"></div>
                </li>
                <li class="parameters-li">
                    <span class="specification-name">排量</span>
                    <div class="specification-val parameter-displacement"></div>
                </li>
            </ul>
        </div>
        <div class="parameter-btn-box">
            <button class="parameter-btn">确定</button>
        </div>
    </div>

    <!-- 选择门店 start -->
    <div class="chose-shop-pop" style="display: none;">
        <header class="chose-header">
            <a href="javascript:;" class="spr chose-hid"></a>
            <h3>门店选择</h3>
        </header>
    </div>
    <!-- 选择门店 end -->

    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/plugin/swiper-4.3.5.min.js"></script>
    <script src="__STATIC__/index/js/goods_detail.js"></script>
</body>
</html>