<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_parts/order_parts_detail.css">
    <title>配件商-订单详情</title>
    <style>
        .order-detail-box{
            padding-bottom: .2rem;
        }
    </style>
</head>
<body>
    <div class="place-order-pop">
        <header class="place-order-header">
            <a href="sell_parts_order" class="spr place-order-back"></a>
            <h3 class="place-order-title">订单详情</h3>
        </header>
        <div class="order-detail-box">
            <div class="order-detail-bg">
                <div class="status"></div>
            </div>
            <div class="user-info-box">
                <div class="order-num">订单编号：<span></span></div>
                <div class="user-name-phone">
                    <span class="user-name">收货人：<span></span></span>
                    <span class="user-phone"></span>
                </div>
                <div class="user-address">
                    <span class="address-title">配送地址：</span>
                    <span class="address-txt txt-hid-two"></span>
                </div>
            </div>
            <div class="order-goods-info">
                <div class="order-shop-box">
                    <i class="spr icon-shop"></i>
                    <span class="order-shop-name"></span>
                </div>
                <!-- <div class="order-goods-detail">
                    <div class="order-goods-img">
                        <img src="__STATIC__/index/image/14.png">
                    </div>
                    <div class="order-info-box">
                        <p class="order-goods-p txt-hid-two">宝马轮胎宝马轮胎胎宝马胎宝马胎宝马轮胎</p>
                        <p class="order-selling-point txt-hid-two">宝马轮胎宝马轮胎胎宝马轮胎</p>
                        <div class="unit-price-quantity">
                            <p class="unit-price-p">￥0.01</p>
                            <p class="quantity-p">×1</p>
                        </div>
                    </div>
                </div> -->
                <div class="cal-price-box">
                    <div class="cal-total">
                        <span>商品总额</span>
                        <div class="total-box">￥<span></span></div>
                    </div>
                    <div class="discount-money">
                        <span>抵扣金额</span>
                        <div class="discount-box">￥<span></span></div>
                    </div>
                    <div class="leave-msg-container">
                        <span>买家留言</span>
                        <span class="leave-message"></span>
                    </div>
                </div>
                <div class="pay-amount">
                    <span>需付款</span>
                    <div class="pay-amount-span">￥<span></span></div>
                </div>
            </div>
            <div class="sundry">
                <p>订单信息</p>
                <p class="create-time">创建时间：<span></span></p>
                <p class="pay-time" style="display:none;">支付时间：<span></span></p>
                <!-- <div class="contact-seller">
                    <a href="javascript:;" class="spr icon-phone"></a>
                    联系卖家
                </div> -->
            </div>
        </div>
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        $.ajax({
            url: 'sell_parts_order_detail',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var val = res.data;
                    var statusTxt = '';
                    if(val.status === 1){
                        statusTxt = `待付款`;
                    }else if(val.status === 2 || val.status === 3 || val.status === 4 || val.status === 5){
                        statusTxt = `待收货`;
                    }else if(val.status === 6 || val.status === 7){
                        statusTxt = `待评价`;
                    }else if(val.status === 8){
                        statusTxt = `已完成`;
                    }else if(val.status === 9 || val.status === 10){
                        statusTxt = `已取消`;
                    }else if(val.status === 11){
                        statusTxt = `退货`;
                    }else if(val.status === 12){
                        statusTxt = '已退货';
                    }
                    // 状态值
                    $('.status').text(statusTxt);
                    // 订单编号
                    $('.order-num span').text(val.parts_order_number);
                    // 用户信息
                    $('.user-name span').text(val.harvester);
                    $('.user-phone').text(val.harvest_phone_num);
                    $('.address-txt').text(val.harvester_address);
                    // 店铺名
                    $('.order-shop-name').text(val.store_name);
                    var str = '';
                    $.each(val.info, function(idx, val){
                        str += `<div class="order-goods-detail">
                                    <div class="order-goods-img">
                                        <img src="uploads/`+val.goods_image+`">
                                    </div>
                                    <div class="order-info-box">
                                        <p class="order-goods-p txt-hid-two">`+val.parts_goods_name+`</p>
                                        <p class="order-selling-point txt-hid-two">`+val.goods_describe+`</p>
                                        <div class="unit-price-quantity">
                                            <p class="unit-price-p">￥`+val.goods_money+`</p>
                                            <p class="quantity-p">×`+val.order_quantity+`</p>
                                        </div>
                                    </div>
                                </div>`
                    })
                    $('.order-shop-box').after(str);
                    // 总额
                    $('.total-box span').text(val.all_goods_pays);
                    // 抵扣金额
                    $('.discount-box span').text(val.integral_deductible);
                    // 买家留言
                    $('.leave-message').text(val.buy_message);
                    // 实付款
                    $('.pay-amount-span span').text(val.all_order_real_pay);
                    // 创建时间
                    $('.create-time span').text(timetrans(val.create_time));
                    if(val.pay_time !== null){
                        $('.pay-time').show();
                        $('.pay-time span').text(timetrans(val.pay_time));
                    }
                }
            },
            error: function(){
                console.log('error');
            }
        })

        function timetrans(date){
            var date = new Date(date*1000);//如果date为13位不需要乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
            return Y+M+D+h+m+s;
        }
    </script>
</body>
</html>