<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/sell_my/sell_my_index.css">
    <title>服务商和配件商</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="head_icon">
                <a href="information_index" class="spr message"></a>
                <a href="setting" class="spr set"></a>
            </div>
            <div class="head-img-bg">
                <div class="img-box">
                    <img src="__STATIC__/index/image/12.png">
                </div>
            </div>
            <p class="shop-name">福田专业维修保养店</p>
            <div class="bill-box">
                <div class="monthly-bill">
                    <p class="bill-money">￥<span>9999</span></p>
                    <span class="bill-txt">本月账单</span>
                </div>
                <div class="last-bill">
                    <p class="bill-money">￥<span>9999</span></p>
                    <span class="bill-txt">上月账单</span>
                </div>
            </div>
            <button class="wallet-btn">钱包</button>
        </header>
        <div class="broadcast">
            <i class="spr-sell icon-broadcast"></i>
            <p class="broadcast-txt">您有<span>100</span>个新订单了，快去看看吧！</p>
        </div>
        <div class="main-cont">
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-order"></i>
                    <span class="item-txt">今日订单</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-out"></i>
                    <span class="item-txt">已发货</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-return"></i>
                    <span class="item-txt">已退货</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-service"></i>
                    <span class="item-txt">待服务</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-cancel"></i>
                    <span class="item-txt">已取消</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-complete"></i>
                    <span class="item-txt">已完成</span>
                </a>
            </div>
            <div class="function-item">
                <a href="sell_service_record">
                    <i class="spr-sell icon-monthly"></i>
                    <span class="item-txt">月销</span>
                </a>
            </div>
            <div class="function-item">
                <a href="javascript:;">
                    <i class="spr-sell icon-new"></i>
                    <span class="item-txt">新订单</span>
                </a>
            </div>
        </div>
        <!-- footer 样式分离到common.css -->
		<div class="footer">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="sell_my_index">
                        <i class="spr icon_my"></i>
                        <span class="text_my active">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        $('.monthly-bill').click(function(){
            location.href = 'sell_service_record';
        })
        $('.last-bill').click(function(){
            location.href = 'sell_service_record';
        })
        $('.wallet-btn').click(function(){
            location.href = 'sell_wallet';
        })
        $('.function-item').click(function(e){
            e.preventDefault();
            var index  = $(this).index() + 1;
            $.ajax({
                url: 'store_order_save',
                dataType: 'JSON',
                type: 'POST',
                data: {
                    'get_number': index
                },
                success: function(res){
                    console.log(res);
                },
                error: function(){
                    console.log('error');
                }
            })
        })
        $.ajax({
            url: 'sell_my_index',
            dataType: 'JSON',
            type: 'POST',
            success: function(res){
                console.log(res);
                if(res.status === 1){
                    var val = res.data;
                    // 店铺logo
                    $('.img-box img').prop('src', 'uploads/'+val.store_logo_images);
                    // 店铺名
                    $('.shop-name').text(val.store_name);
                }
            },
            error: function(){
                console.log('error');
            }
        })
    </script>
</body>
</html>