<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/order_service/order_service_detail.css">
    <title>服务商-商品详情</title>
    <style>
        .discount-amount-span{margin-right: 0 !important;}
        .user-info-box>div{margin-bottom: .1rem;}
        /* .service-item-amount .service-total-sum{margin-bottom: .4rem;} */
        .service-total-sum span{color: #333;font-size: .28rem;}
        .service-total-sum input{width: 1.2rem;outline: none;color: #333;}
        .service-total-sum div{color: #333;}
        .order-payment-btn{background-color: #504cfb; color: #fff; width: 1.8rem; height: .6rem; border-radius: .3rem; outline: none; border: 0;}
    </style>
</head>
<body>
    <div id="app">
        <div class="place-order-pop">
            <header class="place-order-header">
                <a href="sell_service_order" class="spr place-order-back"></a>
                <h3 class="place-order-title">订单详情</h3>
            </header>
            <div class="order-detail-box">
                <div class="order-detail-bg">
                    <div class="status"></div>
                </div>
                <div class="user-info-box">
                    <div class="order-num">订单编号：<span></span></div>
                    <div class="user-name-phone">
                        <span class="user-name">车主：<span></span></span>
                        <span class="user-phone"></span>
                    </div>
                    <div class="service-car">
                        <span class="address-title">到店车辆：<span></span></span>
                    </div>
                    <div class="car-info"></div>
                </div>
    
                <div class="order-shop">
                    <p>服务门店</p>
                    <p class="shop-address"></p>
                    <p class="service-time">到店时间：<span></span></p>
                </div>
                <div class="service-item-box">
                    <p class="service-item-title">服务项目</p>
                    <div class="service-item">
                        <span class="service-item-name">预约洗车</span>
                        <span class="service-item-price">￥<span></span></span>
                    </div>
                    <div class="service-item-amount">
                        <div class="service-total-sum">
                            <span>服务总价值</span>
                            <div class="entry-price">￥<input type="text" placeholder="输入价格" style="display:none;"><span></span></div>
                        </div>
                        <div class="discount-amount">
                            <span>积分抵扣</span>
                            <span class="discount-amount-span">-￥<span></span></span>
                        </div>
                        <div class="pay-amount">
                            <span>实付款</span>
                            <div>￥<span></span></div>
                        </div>
                    </div>
                </div>
                <div class="order-payment-box" style="display: none;">
                    <button class="order-payment-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        $.ajax({
            url: 'sell_service_order_detail',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var val = res.data;
                    var statusTxt = '';
                    if(val.status === 0 || val.status === 9 || val.status === 10){
                        statusTxt = '已关闭';
                    }else if(val.status === 1){
                        statusTxt = '待付款';
                    }else if(val.status === 2 || val.status === 3){
                        statusTxt = '待服务';
                    }else if(val.status === 4 || val.status === 5){
                        statusTxt = '待评价';
                    }else if(val.status === 6){
                        statusTxt = '已完成';
                    }else if(val.status === 7){
                        statusTxt = '待确认';
                    }
                    // 状态值
                    $('.status').text(statusTxt);
                    // 订单编号
                    $('.order-num span').text(val.service_order_number);
                    // 用户信息
                    $('.user-name span').text(val.car_owner_name);
                    $('.user-phone').text(val.car_owner_phone_number);
                    $('.address-title span').text(val.car_number);
                    $('.car-info').text(val.car_information);
                    // 店铺名字
                    $('.shop-address').text(val.service_reservations);
                    // 到店时间
                    $('.service-time span').text(val.got_to_time);
                    // 服务项目
                    $('.service-item-name').text(val.service_goods_name);
                    if(val.order_amount !== null){
                        $('.service-item-price span').text(val.order_amount);
                        $('.entry-price span').text(val.order_amount);
                    }else{
                        $('.service-item-price').text('面议');
                        $('.entry-price input').show();
                        $('.entry-price span').hide();
                        $('.order-payment-box').show();
                    }
                    // 积分抵扣金额
                    $('.discount-amount-span span').text(val.integral_deductible);
                    // 实付金额
                    $('.pay-amount div span').text(val.service_real_pay);
                    // order id
                    $('.order-payment-btn').data({id: val.id});
                }
            },
            error: function(){
                console.log('error');
            }
        })
        $('.order-payment-btn').click(function(){
            var price = $('.entry-price input').val()
            if(price !== ''){
                $.ajax({
                    url: 'sell_service_price_change',
                    type: 'post',
                    data: {
                        id: $(this).data('id'),
                        price: price
                    },
                    success: function(res){
                        console.log(res);
                    },
                    error: function(e){
                        console.log(e.status, e.statusText);
                    }
                })
            }else{
                layer.open({
                    skin: 'msg',
                    content: '请填写价格',
                    time: .7
                })
            }
        })
    </script>
</body>
</html>