<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/cart/cart_index.css">
    <title>购物车</title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <p>购物车</p>
            <span class="edit">编辑</span>
            <span class="done" style="display:none;">完成</span>
        </div>
        <div class="exist" id="exist" style="display:block;">
            <!-- <div class="goods_wrap">
                <div class="shop_name_wrap">
                    <i class="spr circle shop-circle"></i>
                    <a href="javascript:;">
                        <i class="spr icon_shop"></i>
                        <span class="shop_name">汽车配件旗舰店</span>
                        <i class="spr icon_more"></i>
                    </a>
                </div>
                <div class="goods_info_wrap">
                    <i class="spr circle goods-circle"></i>
                    <div class="goods_detail_info">
                        <div class="goods_img_wrap">
                            <a href="javascript:;">
                                <img src="__STATIC__/index/image/10.png">
                            </a>
                        </div>
                        <div class="goods_desc_right">
                            <p class="cart_goods_name">德国马牌 轮胎205/55R16 91V CC6（2条装）适配大众朗逸途安速</p>
                            <p class="cart_sub1">专用轮胎：205/55R16 91V</p>
                            <p class="cart_sub2">适用车型：奔驰进口-SLC 260 2.0T</p>
                            <div class="price_num_wrap">
                                <span class="cart_price">￥999</span>
                                <div class="calculator_num">
                                    <a href="javascript:;" class="minus">-</a>
                                    <input type="text" value="1" class="calculator_val" readonly>
                                    <a href="javascript:;" class="increase">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
            <!-- 结算 -->
            <div class="settle_div">
                <div class="all_select_box">
                    <i class="spr circle all-select"></i>全选
                </div>
                <div class="total_box">
                    商品总价：<span class="totalprice">￥<span>0</span></span>
                </div>
                <button class="settle_button">去结算</button>
                <button class="del-btn" style="display:none;">删除</button>
            </div>
        </div>

        <div class="unexist" style="display:none;">
            <div class="cart_null">
                <i class="icon_cert"></i>
                <a href="javascript:;">去首页</a>
            </div>
            <div class="like_title">
                <p><i class="spr icon_like"></i>你可能还喜欢</p>
            </div>
            <ul class="like_cont_ul clearfix">
                <li>
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
                <li class="mgr0">
                    <div class="img_div">
                        <img src="__STATIC__/index/image/02.png">
                    </div>
                    <div class="goods_name">
                        <p>德国马牌continentalUItraCon tactUC6SUV235/65R171231234546</p>
                    </div>
                    <div class="goods_price">
                        <span class="price">￥875</span>
                        <span class="pay_num">1500人购买</span>
                        <i class="spr icon_cart"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- footer 样式分离到common.css -->
        <div class="footer">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart active">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="javascript:;">
                        <i class="spr icon_my"></i>
                        <span class="text_my">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="__STATIC__/index/js//plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/cart_index.js"></script>
</body>
</html>