<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/wallet/wallet_recharge.css">
    <title>充值</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="wallet_index" class="spr icon-back"></a>
            <h3>充值</h3>
        </header>
        <div class="recharge-box">
            <p class="recharge-title">充值金额</p>
            <i class="icon-money">￥</i><input type="number">
        </div>
        <button class="recharge-next">下一步</button>
    </div>

    <div class="mask" style="display: none;"></div>
    <!-- 支付弹窗 -->
    <!-- <form name=alipayment action="{:url('index/Apppay/recharge_aliPay')}" method="post">
        <div class="alipay-pop">
            <header>
                <a href="javascript:;" class="close-alipay">×</a>
                <h3 class="alipay-title">确认付款</h3>
            </header>
            <div class="middle_box">
                <div class="price-box">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount" value="" readonly>
                </div>
                <ul class="content">
                    <li>
                        订单信息: <input id="WIDsubject" name="WIDsubject" value="充值" readonly>
                    </li>
                    <li>
                        订单编号: <input id="WIDout_trade_no" name="WIDout_trade_no" value="" readonly>
                    </li>
                    <li>
                        付款方式: <input id="WIDbody" name="WIDbody" value="支付宝" readonly><i class="spr icon-more"></i>
                    </li>
                </ul>
            </div>
            <button type="submit" class="alipay-submit">立即付款</button>
        </div>
    </form> -->

    <!-- 选择支付方式 -->
    <div class="chose-payment">
        <header>
            <a href="javascript:;" class="spr chose-payment-back"></a>
            <h3 class="chose-title">选择支付方式</h3>
        </header>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/wechat.png">
            </div>
            <p>微信支付</p>
            <a href="javascript:;" class="spr check-a icon-check"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/alipay.png">
            </div>
            <p>支付宝支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
        <div class="method-div">
            <div class="icon-div">
                <img src="__STATIC__/index/image/money2.png">
            </div>
            <p>余额支付</p>
            <a href="javascript:;" class="spr check-a"></a>
        </div>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        var cancelOrderNum = '';
        // 充值 （下一步按钮）
        $('.recharge-next').click(function(){
            var rechargeMoney = $('.recharge-box input').val();
            if(rechargeMoney !== '' && rechargeMoney > 0){
                (function(){
//                    下单获取订单号
                    return $.ajax({
                        url: 'wallet_recharge',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            'recharge_money': rechargeMoney
                        }
                    })
                })().then(function(res){
                    console.log(res);
                    cancelOrderNum = res.data;
//                    显示选择支付方式弹窗
                    $('.mask').show();
                    $('.chose-payment').animate({'bottom': '0'});
                    //         选择支付方式
                    $('.method-div').click(function(){
                        $(this).siblings().find('.check-a').removeClass('icon-check');
                        $(this).find('.check-a').addClass('icon-check');
                        backMethod();
                        var $index = $(this).index();
                        //发送给后台订单号，获取签名
                        switch($index){
                            case 1:

                                break;
                            case 2:
                                (function(){
                                    //用户选择支付宝支付，发送订单号给后台，获取签名
                                    return $.ajax({
                                        url: 'ios_api_recharge_alipay',
                                        type: 'POST',
                                        dataType: 'JSON',
                                        data: {
                                            'order_num': res.data
                                        }
                                    })
                                })().then(function(res){
                                    console.log(res);
                                    //发送签名给 Android 唤起支付宝
                                    Android.alipay(res.data);
                                })
                                break;
                            case 3:
                                break;
                        }
                    })
                })
            }else{
//                用户未填写充值金额
                layer.open({
                    style: 'bottom:100px;',
                    type: 0,//弹窗类型 0表示信息框，1表示页面层，2表示加载层
                    skin: 'msg',
                    content: '充值金额填写不正确',
                    time: 1.5
                })
            }
        })
        function alipayCallback(res){
//            Android回调方法， 支付成功状态码9000，失败状态码6001
            if(res !== undefined && res.resultStatus == '9000'){
                location.href = 'wallet_index';
            }else {
                $.ajax({
                    url: 'wallet_recharge_del',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'recharge_id': cancelOrderNum
                    }
                })
            }
        }
//         隐藏支付方式弹窗
         function backMethod(){
             $('.chose-payment').animate({'bottom': '-100%'});
             $('.mask').hide();
         }

//        取消选择支付方式
         $('.chose-payment-back').click(function(){
             $.ajax({
                 url: 'wallet_recharge_del',
                 type: 'POST',
                 dataType: 'JSON',
                 data: {
                     'recharge_id': cancelOrderNum
                 }
             })
             backMethod();
         })
    </script>
</body>
</html>