<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/store/store_verify.css">
    <title>身份验证</title>
</head>
<body>
    <div class="wrapper" id="app">
        <header class="header">
            <a href="store_league" class="spr icon-back"></a>
            <h3 class="header-title">身份验证</h3>
        </header>
        <div class="verify-box">
            <ul class="verify-ul">
                <li class="verfy-li">
                    <p class="verify-title-p">验证身份证</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li">
                    <p class="verify-title-p">验证营业执照</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li">
                    <p class="verify-title-p">验证实体店面</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li">
                    <p class="verify-title-p">验证真实地址</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
            </ul>
            <button class="submit-button"></button>
        </div>
        <!-- 验证身份证弹窗 -->
        <div class="id-card-pop">
            <header class="id-card-header">
                <a href="javascript:;" class="spr id-card-back"></a>
                <h3 class="header-title">验证身份证</h3>
            </header>
            <p class="id-card-tips">请上传您的二代身份证</p>
            <div class="id-card-emblem">
                <img src="__STATIC__/index/image/id2.png" id="emblem-img">
                <input type="file" id="emblem-input">
            </div>
            <div class="id-card-portrait">
                <img src="__STATIC__/index/image/id1.png" id="portrait-img">
                <input type="file" id="portrait-input">
            </div>
            <button class="id-card-button">确定</button>
        </div>
        <!-- 验证营业执照弹窗 -->
        <div class="business-license-pop">
            <header class="business-license-header">
                <a href="javascript:;" class="spr business-license-back"></a>
                <h3 class="header-title">验证营业执照与许可证</h3>
            </header>
            <p class="business-license-tips">请上传您的营业执照</p>
            <div class="business-license">
                <img src="__STATIC__/index/image/id3.png" id="business-license-img">
                <input type="file" id="business-license-input">
            </div>
            <p class="license-tips">请上传您的许可证</p>
            <div class="license">
                <img src="__STATIC__/index/image/id4.png" id="license-img">
                <input type="file" id="license-input">
            </div>
            <button class="business-license-button">确定</button>
        </div>
        <!-- 验证实体店面弹窗 -->
        <div class="store-front-pop">
            <header class="store-front-header">
                <a href="javascript:;" class="spr store-front-back"></a>
                <h3 class="header-title">验证实体店面</h3>
            </header>
            <p class="store-front-tips">请上传您的门脸图片</p>
            <div class="store-front-face">
                <img src="__STATIC__/index/image/id5.png" id="face-img">
                <input type="file" id="face-input">
            </div>
            <p class="store-inner-tip1">请上传您的店内图片</p>
            <p class="store-inner-tip2">(最多上传20张店内图片)</p>
            <div class="mul-img">
                <!-- <div class="store-inner-imgbox">
                    <i class="close">×</i>
                    <img src="__STATIC__/index/image/id6.png">
                </div> -->
            </div>
            <div class="store-front-inner">
                <img src="__STATIC__/index/image/id6.png">
                <input type="file" id="inner-input" multiple>
            </div>
            <button class="store-front-button">确定</button>
        </div>

        <!-- 验证真实地址 -->
        <div class="address-pop">
            <header class="map-header">
                <a href="javascript:;" class="spr icon-map-back"></a>
                <h3 class="header-title">验证真实地址</h3>
                <button class="confirm-address">确定</button>
            </header>
            <div id="container" class="map"></div>
            <div class="bottom-container">
                <div class="title">选址结果</div>
                <div class="c">地址：</div>
                <div id="address"></div>
                <div class="c">经纬度：</div>
                <div id="lnglat"></div>
            </div>
        </div>
    </div>


    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src='https://webapi.amap.com/maps?v=1.4.11&key=210ef80cb0b8bcda1cb68f180bd5dab3'></script>
    <!-- UI组件库 1.0 -->
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="__STATIC__/index/js/store_verify.js"></script>
</body>
</html>