<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/store/store_league.css">
    <!-- 三级城市 -->
    <link rel="stylesheet" href="__STATIC__/index/css/plugin/LArea.min.css">
    <title>我要加盟</title>
</head>
<body>
    <div v-cloak class="wrapper" id="app">
        <header class="header">
            <a href="my_index" class="spr icon-back"></a>
            <h3 class="header-title">加盟信息</h3>
        </header>
        <div class="info-list-box">
            <ul class="list-ul">
                <li class="list-li">
                    <p class="list-title-p">店铺名称</p>
                    <input type="text" placeholder="请输入店铺名称" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">负责人姓名</p>
                    <input type="text" placeholder="请输入负责人姓名" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">手机号</p>
                    <input type="text" placeholder="请输入手机号" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">座机号码</p>
                    <input type="text" placeholder="请输入座机号码" class="text-input">
                </li>
                <li class="list-li sex-li">
                    <p class="list-title-p">性别</p>
                    <div class="sex-box">
                        <input type="radio" name="sex" id="male" checked class="radio-input">
                        <label for="male" class="male-label">男</label>
                        <input type="radio" name="sex" id="female" class="radio-input">
                        <label for="female">女</label>
                    </div>
                </li>
                <li class="list-li">
                    <p class="list-title-p">店铺logo</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                    <img :src="imageUrl" class="logo-img">
                    <input type="file" class="file-input upload-input" @change="uploadImg">
                </li>
                <li class="list-li">
                    <p class="list-title-p">营业时间</p>
                    <input type="text" value="00:00 -- 24:00" readonly class="text-input">
                </li>
                <li class="list-li business-li">
                    <p class="list-title-p">经营范围</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="list-li">
                    <p class="list-title-p">店铺所在区域</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                    <input type="text" id="area-li" readonly class="text-input">
                    <input type="hidden" id="value1">
                </li>
                <li class="list-li">
                    <p class="list-title-p">店铺详细地址</p>
                    <input type="text" placeholder="请输入详细地址" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">店铺信息</p>
                    <input type="text" placeholder="请输入店铺信息" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">邮箱</p>
                    <input type="text" placeholder="请输入邮箱" class="text-input">
                </li>
                <li class="list-li">
                    <p class="list-title-p">绑定微信</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="list-li" @click="showBusinessPop">
                    <p class="list-title-p">我要加盟</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
            </ul>
            <button class="next-button">下一步</button>
        </div>
        <div class="mask" @click="hideBusinessPop" @touchmove.prevent v-show="businessPopFlag"></div>
        <!-- 经营范围弹窗 -->
        <div class="business-pop" :class="{popEaseIn: businessPopFlag}" @touchmove.prevent>
            <header class="business-header">
                <h3 class="business-title">选择经营范围</h3>
            </header>
            <p class="business-tips">(说明：该项为多选项可多选)</p>
            <div class="business-range-box">
                <ul class="business-range-ul">
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input1">
                        <label for="checkbox-input1">洗车</label>
                    </li>
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input2">
                        <label for="checkbox-input2">修车</label>
                    </li>
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input3">
                        <label for="checkbox-input3">保养</label>
                    </li>
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input4">
                        <label for="checkbox-input4">洗车</label>
                    </li>
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input5">
                        <label for="checkbox-input5">洗车</label>
                    </li>
                    <li class="business-range-li">
                        <input type="checkbox" class="checkbox-input" id="checkbox-input6">
                        <label for="checkbox-input6">洗车</label>
                    </li>
                </ul>
            </div>
            <div class="business-btn-box">
                <button class="business-btn business-btn-cancel" @click="hideBusinessPop">取消</button>
                <button class="business-btn business-btn-confirm" @click="hideBusinessPop">确定</button>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/plugin/vue.js"></script>
    <!-- <script src="__STATIC__/index/js/plugin/jquery.js"></script> -->
    <!-- 三级城市脚本 start -->
    <script src="__STATIC__/index/js/plugin/LAreaData1.js"></script>
    <script src="__STATIC__/index/js/plugin/LAreaData2.js"></script>
    <script src="__STATIC__/index/js/plugin/LArea.min.js"></script>
    <!-- 三级城市脚本 end -->
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/store_league.js"></script>
</body>
</html>