<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/store/store_verify.css">
    <title>身份验证</title>
</head>
<body>
    <div v-cloak class="wrapper" id="app">
        <header class="header">
            <a href="store_league" @click.prevent="turnBack" class="spr icon-back"></a>
            <h3 class="header-title">身份验证</h3>
        </header>
        <div class="verify-box">
            <ul class="verify-ul">
                <li class="verfy-li" @click="idCardPop">
                    <p class="verify-title-p">验证身份证</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li" @click="businessLicensePop">
                    <p class="verify-title-p">验证营业执照</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li" @click="storeFrontPop">
                    <p class="verify-title-p">验证实体店面</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
                <li class="verfy-li">
                    <p class="verify-title-p">验证真实地址</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                </li>
            </ul>
            <button class="submit-button" @click="submitData">提交申请</button>
        </div>
        <!-- 验证身份证弹窗 -->
        <div class="id-card-pop" :class="{idCardEaseIn: idCardPopFlag}">
            <header class="id-card-header">
                <a href="javascript:;" class="spr id-card-back" @click="idCardPop"></a>
                <h3 class="header-title">验证身份证</h3>
            </header>
            <p class="id-card-tips">请上传您的二代身份证</p>
            <div class="id-card-emblem">
                <img :src="backInfo === ''?images.emblem:`uploads/`+backInfo.store_identity_card">
                <input type="file" id="emblem-input" ref="avatarInput" @change="emblem($event)">
            </div>
            <div class="id-card-portrait">
                <img :src="backInfo === ''?images.portrait:`uploads/`+backInfo.store_reverse_images">
                <input type="file" id="portrait-input" ref="avatarInput2" @change="portrait($event)">
            </div>
            <button class="id-card-button" @click="idCardPop">确定</button>
        </div>
        <!-- 验证营业执照弹窗 -->
        <div class="business-license-pop" :class="{licenseEaseOut: licenseFlag}">
            <header class="business-license-header">
                <a href="javascript:;" class="spr business-license-back" @click="businessLicensePop"></a>
                <h3 class="header-title">验证营业执照与许可证</h3>
            </header>
            <p class="business-license-tips">请上传您的营业执照</p>
            <div class="business-license">
                <img :src="backInfo === ''?images.businessLicense:`uploads/`+backInfo.store_do_bussiness_positive_img">
                <input type="file" id="business-license-input" @change="businessLicenseFn($event)">
            </div>
            <p class="license-tips">请上传您的许可证</p>
            <div class="license">
                <img :src="backInfo === ''?images.license:`uploads/`+backInfo.store_do_bussiness_side_img">
                <input type="file" id="license-input" @change="licenseFn($event)">
            </div>
            <button class="business-license-button" @click="businessLicensePop">确定</button>
        </div>
        <!-- 验证实体店面弹窗 -->
        <div class="store-front-pop" :class="{storeFrontEaseOut: storeFrontFlag}">
            <header class="store-front-header">
                <a href="javascript:;" class="spr store-front-back" @click="storeFrontPop"></a>
                <h3 class="header-title">验证实体店面</h3>
            </header>
            <p class="store-front-tips">请上传您的门脸图片</p>
            <div class="store-front-face">
                <img :src="backInfo === ''?images.storeFront.faceImg:`uploads/`+backInfo.verifying_physical_storefront_one">
                <input type="file" id="face-input" @change="storeFrontFace($event)">
            </div>
            <p class="store-inner-tip1">请上传您的店内图片</p>
            <p class="store-inner-tip2">(最多上传20张店内图片)</p>
            <div>
                <div class="store-inner-imgbox" v-show="images.storeFront.hasInnerImg"
                v-for="innerImg in images.storeFront.innerImgs">
                    <i class="close">×</i>
                    <img :src="innerImg.src">
                </div>
            </div>
            <div class="store-front-inner">
                <img src="__STATIC__/index/image/id6.png">
                <input type="file" id="inner-input" @change="storeFrontInner" multiple>
            </div>
            <button class="store-front-button" @click="storeFrontPop">确定</button>
        </div>
    </div>


    <script src="__STATIC__/index/js/plugin/vue.js"></script>
    <script src="__STATIC__/index/js/plugin/vue.resource.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script src="__STATIC__/index/js/store_verify.js"></script>
</body>
</html>