<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/my_index.css">
    <title>我的</title>
</head>
<body>
    <div class="wrapper">
        <div class="user_box">
            <div class="head_icon">
                <a href="javascript:;" class="spr set"></a>
                <a href="javascript:;" class="spr message"></a>
            </div>
            <div class="user_info clearfix">
                <div class="user_headimg">
                    <img src="__STATIC__/index/image/icon6.png">
                </div>
                <div class="user_info_text">
                    <p class="user_name">叶问</p>
                    <p class="invitation_code">邀请码: <span>649874</span></p>
                    <p class="jf_hy_qb">
                        <span class="point">积分: <i>100000</i></span>
                        <span class="member_grade">会员: <i>SSS</i></span>
                        <span class="wallet br0">钱包: ￥<i>999999.00</i></span>
                    </p>
                </div>
            </div>
            <div class="sponsor">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <i class="spr icon_spread"></i>
                            <span>我要推广</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="spr icon_league"></i>
                            <span>我要加盟</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="spr icon_consume"></i>
                            <span>我的消费</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="order_div">
            <div class="my_order">
                <a href="javascript:;" class="my_order_a">
                    <span>我的订单</span>
                    <i class="spr icon_detail"></i>
                </a>
            </div>
            <div class="order_step">
                <div class="wait_pay">
                    <a href="javascript:;">
                        <i class="spr icon_wait_pay"></i>
                        <span class="order_step_text">待付款</span>
                    </a>
                </div>
                <div class="wait_deliver">
                    <a href="javascript:;">
                        <i class="spr icon_wait_deliver"></i>
                        <span class="order_step_text">待收货</span>
                    </a>
                </div>
                <div class="wait_evaluation">
                    <a href="javascript:;">
                        <i class="spr icon_wait_evaluation"></i>
                        <span class="order_step_text">待评价</span>
                    </a>
                </div>
                <div class="reject">
                    <a href="javascript:;">
                        <i class="spr icon_reject"></i>
                        <span class="order_step_text">退货</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="function_list">
            <ul>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_addr"></i>地址管理</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_collect"></i>我的收藏</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_rights"></i>会员权益</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_mycar"></i>我的爱车</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_about"></i>关于我们</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span><i class="spr icon_feedback"></i>意见反馈</span>
                        <i class="spr icon_detail"></i>
                    </a>
                </li>
            </ul>
        </div>
        

        <!-- footer 样式分离到common.css -->
		<div class="footer">
            <ul>
                <li class="home">
                    <a href="{:url('index/index/index')}">
                        <i class="spr icon_home"></i>
                        <span class="text_home">首页</span>
                    </a>
                </li>
                <li class="classify">
                    <a href="classify_index">
                        <i class="spr icon_classify"></i>
                        <span class="text_classify">分类</span>
                    </a>
                </li>
                <li class="cart">
                    <a href="cart_index">
                        <i class="spr icon_cart"></i>
                        <span class="text_cart">购物车</span>
                    </a>
                </li>
                <li class="my">
                    <a href="my_index">
                        <i class="spr icon_my"></i>
                        <span class="text_my active">我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>