<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/my_message.css">
    <title>个人信息</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="my_index" class="spr icon-back"></a>
            <h3>个人信息</h3>
        </header>
        <div class="personal-info">
            <ul class="info-ul">
                <li class="info-li">
                    <p class="list-title-p">头像</p>
                    <a href="javascript:;" class="spr icon-more"></a>
                    <img src="__STATIC__/index/image/avatar.png" class="user-img" id="user-img">
                    <input type="file" class="file-input upload-input" id="upload-input">
                </li>
                <li class="info-li">
                    <p class="list-title-p">真实姓名</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">手机号</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">昵称</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li sex-li">
                    <p class="list-title-p">性别</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">微信绑定</p>
                    <div class="cot">
                        <span>去绑定</span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">QQ绑定</p>
                    <div class="cot">
                        <span>去绑定</span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">我的积分</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
                <li class="info-li">
                    <p class="list-title-p">钱包</p>
                    <div class="cot">
                        <span></span>
                        <i class="spr icon-more"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mask" style="display: none;"></div>
    <!-- 性别弹窗 -->
    <div class="sex-pop">
        <button class="sex-pop-male">男</button>
        <button class="sex-pop-female">女</button>
        <button class="sex-pop-btn">取消</button>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        $.ajax({
            url: 'member_information_data',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    if(res.data.user_img !== null){
                        $('.user-img')[0].src = 'userimg/' + res.data.user_img;
                    }
                    $('.info-li:eq(1)').find('span').text(res.data.real_name);
                    $('.info-li:eq(2)').find('span').text(res.data.phone_num);
                    $('.info-li:eq(3)').find('span').text(res.data.user_name);
                    $('.info-li:eq(4)').find('span').text(res.data.sex);
                    $('.info-li:eq(7)').find('span').text(res.data.user_integral_wallet);
                    $('.info-li:eq(8)').find('span').text(res.data.user_wallet);
                }
            },
            error: function(){
                console.log('error');
            }
        })

        // 上传图片 https://blog.csdn.net/scrat_kong/article/details/79230329
        function uploadImg(input,img){
            var input = document.getElementById(input);
            var img = document.getElementById(img);
            var reader = new FileReader();//创建fileReader实例
            reader.readAsDataURL(input.files[0]);//发起异步请求
            reader.onload = function(){
                //读取完成后，数据保存在对象的result属性中
                img.src = this.result;
            }
        }
        $('.upload-input').change(function(){
            uploadImg('upload-input', 'user-img');
            var user_img = $(this)[0].files[0]
                real_name = '',
                user_name = '',
                sex = '';

            var formData = new FormData();
            formData.append('user_img', user_img);
            formData.append('real_name', real_name);
            formData.append('user_name', user_name);
            formData.append('sex', sex);

            $.ajax({
                url: 'member_information_update',
                type: 'POST',
                dataType: 'JSON',
                processData: false,
                contentType: false,
                data: formData,
                success: function(res){
                    console.log(res);
                    layer.open({
                        skin: 'msg',
                        content: '更新成功',
                        time: 1
                    })
                },
                error: function(){
                    console.log('error');
                }
            })
        })

        $('.info-ul .info-li').click(function(){
            var $index = $(this).index();
            switch($index){
                case 1:
                    location.href = 'true_name';break;
                case 2:
                    location.href = 'phone_edit';break;
                case 3:
                    location.href = 'my_nickname';break;
                case 5: 
                    Android.wxLogin();
                    break;
                case 6: 
                    Android.qqLogin();
                    break;
                case 7:
                    location.href = 'my_integral';break;
                case 8:
                    location.href = 'wallet_index';break;
            }
        })
        // 第三方 回调
        function loginCallback(openid, headurl, flag){
            alert(openid);
            alert(headurl);
            alert(flag);
            // if(openid != null){
            //     var flag = 
            //     (function(){
            //         return $.ajax({
            //             url: 'member_binding',
            //             type: 'POST',
            //             dataType: 'JSON',
            //             data: {
            //                 'open_id': openid,
            //                 'headurl': headurl,
            //                 'is_wechat': 1
            //             }
            //         })
            //     })().then(function(res){
            //         console.log(res);
            //         if(res.status == 1){
            //             location.href = 'user_bind_phone';
            //         }
            //     })
            // }
        }

        // 性别弹窗
        $('.sex-li').click(function(){
            $('.mask').show();
            $('.sex-pop').animate({'bottom': '0'});
        })
        $('.sex-pop-btn').click(function(){
            $('.mask').hide();
            $('.sex-pop').animate({'bottom': '-100%'});
        })
        // 男 女
        $('.sex-pop-male').add('.sex-pop-female').click(function(){
            var user_img = '',
                real_name = '',
                user_name = '';
                sex = $(this)[0].innerText;
                
            $.ajax({
                url: 'member_information_update',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'sex': sex,
                    'user_img': user_img,
                    'real_name': real_name,
                    'user_name': user_name
                },
                success: function(res){
                    console.log(res);
                    layer.open({
                        skin: 'msg',
                        content: '更新成功',
                        time: 1
                    })
                    $('.mask').hide();
                    $('.sex-pop').animate({'bottom': '-100%'});
                },
                error: function(){
                    console.log('error');
                }
            })
        })
    
    </script>
</body>
</html>