<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/setting.css">
    <title>设置</title>
</head>
<body>
    <div class="wrapper" style="display:block;">
        <header class="header">
            <a href="my_index" class="spr icon-back"></a>
            <h3>设置</h3>
        </header>
        <div class="list-box">
            <ul class="list-ul">
                <li class="list-li">
                    <span>通知设置</span>
                    <div class="switch-box">
                        <input type="checkbox" class="switch_checkbox" id="switch_checkbox">
                        <label for="switch_checkbox" class="switch_label">
                            <span class="switch_circle"></span>
                        </label>
                    </div>
                </li>
                <li class="list-li clearing-li">
                    <span>清除缓存</span>
                    <a href="javascript:;" class="spr icon-more clearing"></a>
                </li>
                <li class="list-li reset-password-li">
                    <span>修改登录密码</span>
                    <a href="javascript:;" class="spr icon-more reset-password"></a>
                </li>
                <li class="list-li reset-payment-li">
                    <span>修改支付密码</span>
                    <a href="javascript:;" class="spr icon-more reset-payment"></a>
                </li>
                <li class="list-li change-role-li">
                    <span>选择角色</span>
                    <a href="javascript:;" class="spr icon-more change-role"></a>
                </li>
            </ul>
        </div>
        <button class="exit">退出登录</button>
    </div> 
    <!-- 修改登录密码 -->
    <div class="reset-pwd-pop" style="display:none;">
        <header class="reset-pwd-header">
            <a href="javascript:;" class="spr reset-pwd-back"></a>
            <h3>修改登录密码</h3>
        </header>
        <div class="reset-pwd-box">
            <input type="text" placeholder="输入新的密码" class="reset-pwd-input">
            <input type="text" placeholder="确认新密码" class="repeat-pwd-input">
        </div>
        <button class="reset-pwd-btn">确认</button>
    </div>

    <!-- 修改支付密码 -->
    <div class="reset-payment-pop" style="display:none;">
        <header class="reset-payment-header">
            <a href="javascript:;" class="spr reset-payment-back"></a>
            <h3>修改支付密码</h3>
        </header>
        <div class="reset-payment-box">
            <input type="text" placeholder="输入新的密码" class="reset-payment-input">
            <input type="text" placeholder="确认新密码" class="repeat-payment-input">
        </div>
        <button class="reset-payment-btn">确认</button>
    </div>

    <!-- 选择角色 -->
    <div class="change-role-pop" style="display:none;">
        <header class="change-role-header">
            <a href="javascript:;" class="spr change-role-back"></a>
            <h3>选择角色</h3>
        </header>
        <div class="customer-box">
            <input type="radio" name="role" class="customer" id="customer">
            <label for="customer">车主</label>
        </div>
        <div class="supplier-box">
            <input type="radio" name="role" class="supplier" id="supplier">
            <label for="supplier">配件商</label>
        </div>
        <div class="facilitator-box">
            <input type="radio" name="role" class="facilitator" id="facilitator">
            <label for="facilitator">服务商</label>
        </div>
        <button class="change-role-btn">确定</button>
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <!-- 退出登录 -->
    <script>
        $('.exit').click(function(){
            $.ajax({
                url: 'logout',
                type: 'POST',
                dataType: 'JSON',
                success: function(data){
                    console.log(data);
                    location.href = 'login';
                },
                error: function(){
                    console.log('error');
                }
            })
        })
    </script>
    <!-- 清除缓存 -->
    <script>
        $('.clearing').click(function(){
            $.ajax({
                url:'www.haorooms.com',
                dataType:'json',
                async: false,
                beforeSend :function(xmlHttp){ 
                    xmlHttp.setRequestHeader("If-Modified-Since","0"); 
                    xmlHttp.setRequestHeader("Cache-Control","no-cache");
                },
                success:function(response){
                    //操作
                }
            });
        })
    </script>
    <!-- 修改登录密码 -->
    <script>
        // 显示修改登录密码 弹窗
        $('.reset-password-li').click(function(){
            $('.reset-pwd-pop').show();
            $('.wrapper').hide();
        })
        $('.reset-pwd-back').click(function(){
            $('.reset-pwd-pop').hide();
            $('.wrapper').show();
        })
        $('.reset-pwd-btn').click(function(){
            var reset = $('.reset-pwd-input').val();
            var repeat = $('.repeat-pwd-input').val()
            if(reset !== '' && repeat !== '' && reset === repeat){
                $.ajax({
                    url: 'update_password',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'password': repeat
                    },
                    success: function(res){
                        console.log(res);
                        if(res.status == 1){
                            layer.open({
                                skin: 'msg',
                                content: res.info,
                                time: 1
                            })
                            setTimeout(function(){
                                location.href = 'login';
                            }, 1100)
                        }
                    },
                    error: function(){
                        console.log('error');
                    }
                })
            }else if(reset !== repeat){
                layer.open({
                    skin: 'msg',
                    content: '前后密码不一致',
                    time: 1
                })
            }else{
                layer.open({
                    skin: 'msg',
                    content: '请填写完整',
                    time: 1
                })
            }
        })
    </script>
    <!-- 修改支付密码 -->
    <script>
        // 显示修改支付密码 弹窗
        $('.reset-payment-li').click(function(){
            $('.reset-payment-pop').show();
            $('.wrapper').hide();
        })
        $('.reset-payment-back').click(function(){
            $('.reset-payment-pop').hide();
            $('.wrapper').show();
        })
    </script>
    <!-- 选择角色 -->
    <script>
        // 显示修改支付密码 弹窗
        $('.change-role-li').click(function(){
            $('.change-role-pop').show();
            $('.wrapper').hide();
        })
        $('.change-role-back').click(function(){
            $('.change-role-pop').hide();
            $('.wrapper').show();
        })
    </script>
</body>
</html>