<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/setting.css">
    <title>设置</title>
</head>
<body>
    <div class="wrapper">
        
        <!-- <input type="checkbox" class="switch_checkbox" id="switch_checkbox">
        <label for="switch_checkbox" class="switch_label">
            <span class="switch_circle"></span>
        </label> -->
    </div> 
</body>
</html>