<div>
	<div class="layui-form-item">
		<label class="layui-form-label">规格名</label>
		<div class="layui-input-inline guige_name">
			<select class="universal_standard_name" name="goods_standard_name[]">
				<option value="0" selected="">请选择</option>
			</select>
		</div>
		<div class="layui-input-inline add-name" style="">
			<button type="button" class="sky-blue bgwhite">+添加规格名</button>
		</div>
		<div class="layui-input-inline noshow add-names" style="">
			<input type="text" name="" id="" value="" />
		</div>
		<div class="layui-input-inline noshow add-names" style="">
			<button type="button" class="operation-btus btu-delet">删除</button>
			<button type="button" class="operation-btus btu-cancel">取消</button>
			<button type="button" class="operation-btus btu-add guibtu-add">添加</button>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">规格值：</label>
		<div class="num-content">
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
			<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;">
				<input type="text" name="goods_standard_value[]" id="" value="" placeholder="" style="padding-left:10px;" />
			</div>
		</div>
	</div>
</div>
