{extend name="layout"} {block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }
    

    
    #page {
        width: 93%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }
    
    select {
        font-size: 15px;
    }
    
    button {
        width: 60px;
        height: 40px;
        border-radius: 3px;
    }
    /*弹窗*/
    
    .tanchuang {
        width: 100%;
        min-height: 800px;
        background: RGBA(0, 0, 0, 0.3);
        position: fixed;
        z-index: 9999;
    }
    
    .tanchuang-content {
        width: 400px;
        height: 300px;
        background: #fff;
        z-index: 10000;
        position: fixed;
        top: 25%;
        left: 25%;
    }
    
    .close {
        width: 30px;
        position: absolute;
        right: 0;
    }
    
    .clear {
        clear: both;
    }
    
    .title-a {
        background: RGB(247, 247, 247);
    }
    
    .content-title {
        padding-top: 10px;
        padding-left: 20px;
        float: left;
        width: 50%;
        height: 40px;
    }
    
    .noshow {
        display: none;
    }
    
    .dom form div {
        margin-bottom: 20px;
        ;
    }
    
    .buts button {
        width: 100px;
    }
    .tantan{
    	position: fixed;
    	background: #fff;
    	top: 25%;
    	left: 25%;
    	width: 200px;
    	height: 200px;
    }
    .doms{
    	width: 200px;
    	height: 200px;
    }
</style>

{/block}

<body>

	{block name="content"}
	
	<!--二维码放置-->
	<div class="tantan noshow">
		<div class="doms">
			<!--二维码-->
			<a alt="模式二扫码支付" href="{:url('admin/Goods/WeiAlpay')}" style="width:150px;height:150px;">微信扫码支付</a>
		</div>
	</div>
	<!--二维码放置-->
	<div class="tanchuang noshow">
		<div class="tanchuang-content ">
			<div class="title-a clear">
				<div class="content-title">消息</div>
				<div class="close"><img src="__STATIC__/admin/common/img/a7.png"></div>
			</div>
			<!-- 里面的内容 -->

			<div class="dom">
				<h2 align="center">提交订单</h2>
				<form name=alipayment action="{:url('admin/Goods/WeiAlpay')}" method="post" style="text-align: center;">
					<input type="hidden" name="WIDbody" id="good-id" value="" />
					<input type="hidden" name="" id="year" value="" />
					<div><span style="width: 100px; text-align: right;display: inline-block;">店铺名称：</span>
						<input type="text" name="WIDsubject" id="shop" value="xxxxxx旗舰店"  style="border: 0; background: #fff;" readonly />
					</div>
					<div><span style="width: 100px; text-align: right; display: inline-block;">商品总数：</span><input type="text" name="" id="num" value="20个"  style="border: 0; background: #fff;" readonly/></div>
					<div><span style="width: 100px; text-align: right; display: inline-block;">合计：</span><span style="color: red;">￥</span><input type="text" name="WIDtotal_amount" id="price" value="2000.00"  style="border: 0; color: red; background: #fff;" readonly /></div>
					<div class="buts">
						<button class="layui-btn layui-btn-primary layui-btn-radius close-btus" type="button">取消</button>
						 <button class="layui-btn layui-btn-normal layui-btn-radius go_pay" type="submit">确定</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>

	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
				<form class="layui-form" action="">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">输入搜索：</div>
						<div class="seach_input">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="商品名称/商品货号" class="layui-input">
						
						</div>
					</div>
						<div class="seach_list">
						<div class="seach_laber">店铺名称：</div>
						<div class="seach_input">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
						
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">商品付费</div>
						<div class="seach_input">
							<select name="interest" id="admin_status">
								<option value="1" selected="">已付费</option>
								<option value="2">未付费</option>
							</select>
						</div>
					</div>
					
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
		
		</blockquote>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Goods/add')}">添加商品</a>
		</div>

		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">	
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose" ></th>
						<th >商品编号</th>
						<th>店铺名称</th>
						<th>商品图片</th>
						<th>商品名称</th>
						<th>商品价格</th>
						{volist name="role_name" id="v"}
						{if $v.role_id == 2}
						<th>
							调整后价格
						</th>
						{/if}
						{/volist}
						<th>是否上架</th>
						<th>是否付费</th>
						<th>付费金额</th>
						<th>排序</th>
						<th>库存</th>
						<th>上架年限</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
				{volist name="goods" id="value"}
					<tr>
						{volist name="year" id="val"}
						{if $value.goods_year_id == $val.id}
						<td><input type="checkbox" data-text="{$val.year}" sname="" data-id="{$value.id}" lay-skin="primary" lay-filter="choose" data-title="{$val.money}" data-value="店铺还没有添加" data-action="{$value.putaway_status}"></td>
						{/if}
						{/volist}
						<td>
							{if !empty($value.goods_number)}
							{$value.goods_number}
							{else}
							无
							{/if}
						</td>
						{volist name="store" id="shop"}
						{if $value.store_id == $shop.store_id}
						<td  ><div  class="shop_name overflow">{$shop.store_name}</div></td>
						{/if}
						{/volist}
						<td style="width: 50px; height: 50px;"><img src="__UPLOADS__/{$value.goods_show_images}" /></td>
						<td ><div class="overflow" >
							{$value.goods_name}
						</div></td>
						<td>￥{$value.goods_new_money}</td>
						{volist name="role_name" id="v"}
						{if $v.role_id == 2}
						<td style="color: red;">
							{if $value.goods_adjusted_money == $value.goods_new_money}
							￥0
							{else}
							￥{$value.goods_adjusted_money}
							{/if}
						</td>
						{/if}
						{/volist}
						<td>
							{if $value.goods_status == 0}
							{volist name="year" id="val"}
							{if $value.goods_year_id == $val.id}
							<input type="checkbox" class="Status" name="show" value="{$value.goods_status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" data-id="{$value.id}" data-text="{$val.year}" data-action="{$value.putaway_status}" data-value="{$shop.store_name}" data-title="{$val.money}"  />
							{/if}
							{/volist}
							{else /}
							<input type="checkbox" class="Status" name="show" value="{$value.goods_status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" checked="" data-id="{$value.id}" data-action="{$value.putaway_status}" data-value="{$shop.store_name}" data-title="1" />
							{/if}
						</td>
						<td>
							{if $value.putaway_status == 1}
							是
							{else}
							否
							{/if}
						</td>
						<td>
							{if !empty($value.goods_year_id)}
							{volist name="year" id="val"}
							{if $value.goods_year_id == $val.id}
							{$val.money}元
							{/if}
							{/volist}
							{else}
							无
							{/if}
						</td>
						<td>{$value.sort_number}</td>
						<td>{$value.goods_repertory}</td>
						<td>
							{if !empty($value.goods_year_id)}
							{volist name="year" id="val"}
							{if $value.goods_year_id == $val.id}
							{$val.year}年
							{/if}
							{/volist}
							{else}
							无
							{/if}
						</td>
						<td style="width: 180px;">
							<a class="layui-btn layui-btn-mini edit" href="{:url('admin/Goods/look',['id'=>$value.id])}"> 查看详情</a>
							<a class="layui-btn layui-btn-mini edit" href="{:url('admin/Goods/edit',['id'=>$value.id])}">编辑</a>
							<a href="{:url('admin/Goods/del',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"> 删除</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
				<div id="page">
					<div class="opation" style="width: 200px; float: left;">
						<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
							<option check="" value="0">请选择</option>
							<option value="1">批量删除</option>
							<option value="2">批量上架</option>
							
						</select>
                </div>
                <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
                    <button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
						</button>
                </div>

                {$goods->render()}
            </div>
        </div>


    </div>

    </div>
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //是否上架展示
            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                var price=$(this).data("title");
			    var shop=$(".shop_name")[0].innerHTML;
			    var putaway_status=$(this).data("action");
				var years=$(this).data("text");
				// 年限转化函数	
				var myDate = new Date();
				var year = myDate.getFullYear()+years;
				var month = myDate.getMonth() + 1;
				var date = myDate.getDate();
				var present = year + '-' + month + '-' + date;
				// 当上架时
				if(status==1){
					$.ajax({
							type: "POST",
							url: "{:url('admin/Goods/role_name')}",
							data: {"goods_id":id},
							success: function(data){	
								var data=$.parseJSON( data ); 
								var role_id=data.data.admin[0].role_id;
								// 当角色为平台时
								if(role_id==2){
								   var ids=[];
									  ids.push(id);
									$.ajax({ 
												type: "POST",
												url: "{:url('admin/Goods/status')}",
												  data: {"id":ids,"status":status},
												success: function(data){
													console.log(data)
												},
												error:function (data) {
													console.log(data)
												}
											});
								}
								// 当角色为服务商时
								else if(role_id==5){
                                if(putaway_status==1){
                                	var ids=[];
									  ids.push(id);
                                		$.ajax({ 
												type: "POST",
												url: "{:url('admin/Goods/status')}",
												  data: {"id":ids,"status":status},
												success: function(data){
													console.log(data)
												},
												error:function (data) {
													console.log(data)
												}
											});
                                }
                                         else{
                                	layer.confirm('付费商品需付费后才能上架！', {
											  btn: ['确定付费','取消付费！'] //按钮
											}, function(){
											 layer.close(layer.index);
                                             $(".tanchuang").removeClass("noshow");
 											 $("#shop").val(shop);
											 $("#price").val(price);
											 $("#num").val("1");
											 $("#good-id").val(id);
											 $("#year").val(present);
											 
											});

                                	
                                }

                            }


                        },
                        error: function(data) {
                            console.log("错误")
                        }
                    });

                }
                // 当下架时
                else {
                	  var ids=[];
					   ids.push(id);
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Goods/status')}",
                        data: {
                            "id": ids,
                            "status": status
                        },
                        success: function(data) {
                            console.log(data)
                        },
                        error: function(data) {
                            console.log(data)
                        }
                    });
                }



            });
            //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            //点击操作确认按钮
            var data_id = [];
          
            var years = [];
            $("#opration_btu").click(function() {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                            ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function(index) {
                    	layer.close(index);
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "goods_batches",
                            data: {
                                "ids": data_id,
                            },
                            success: function(data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function(data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });


                } 
                else if (opration_val == 2) {
                	var j=0;
                    var nmdata_id = [];
                    var mdata_id = "";
                    var all_price = 0;
                    var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                    for (var i = 0; i < child.length; i++) {
                        data_id.push($(child[i])[0].dataset.id);
                        if ($(child[i])[0].dataset.action == 0) {
                        	j++;
                            mdata_id+="g"+$(child[i])[0].dataset.id;
                            all_price += parseFloat($(child[i])[0].dataset.title);
                        } else {
                            nmdata_id.push($(child[i])[0].dataset.id);
                        }
                        // 年限转化函数
                        var myDate = new Date();
                        var year = myDate.getFullYear() + parseInt($(child[i])[0].dataset.text);
                        var month = myDate.getMonth() + 1;
                        var date = myDate.getDate();
                        var present = year + '-' + month + '-' + date;
                        years.push(present);

                         var shop=$(".shop_name")[0].innerHTML;
                    }
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Goods/role_name')}",
                        data: {
                            "goods_id": data_id
                        },
                        success: function(data) {
                            var data = $.parseJSON(data);
                            var role_id = data.data.admin[0].role_id;
                            // 当角色为平台时
                            if (role_id == 2) {
                                $.ajax({
                                    type: "POST",
                                    url: "{:url('admin/Goods/status')}",
                                    data: {
                                        "id": data_id,
                                        "status": 1
                                    },
                                    success: function(data) {
                                        console.log(data);
                                    },
                                    error: function(data) {
                                        console.log(data);
                                    }
                                });
                            }
                            // 当角色为服务商时
                            else if (role_id == 5) {
                                if (mdata_id.length > 0) {
                                	if(j<=5){
	                                    layer.confirm('付费商品需付费后才能上架！', {
	                                        btn: ['确定付费', '取消付费！'] //按钮
	                                    }, function() {
	                                        layer.close(layer.index);
	                                        $(".tanchuang").removeClass("noshow");
	                                        $("#shop").val(shop);
	                                        $("#price").val(all_price);
	                                        $("#num").val(j);
	                                        $("#good-id").val(mdata_id);
	
	                                    });
                                	}
                                	else{
                                		   layer.confirm('最多批量上架5个商品！', {
	                                        btn: ['确定', '取消'] //按钮
	                                    }, function() {
	                                        layer.close(layer.index);
	                                    });
                                	}

                                }
                                if(nmdata_id.length > 0){
                                	   $.ajax({
                                        type: "POST",
                                        url: "{:url('admin/Goods/status')}",
                                        data: {
                                            "id": nmdata_id,
                                            "status": 1
                                        },
                                        success: function(data) {
                                            console.log(data);
                                        },
                                        error: function(data) {
                                            console.log(data);
                                        }
                                    });
                                }



                            }

                        },
                        error: function(data) {
                            console.log("错误")
                        }
                    });

                }



            });
            $(".close-btus").on('click', function() {
                $(".tanchuang").addClass("noshow");
            });
            $(".close").on('click', function() {
                $(".tanchuang").addClass("noshow");
            });
            
            //支付按钮点击之后
            $(".go_pay").click(function() {
//              $(".tanchuang").addClass("noshow");
                var  WIDbody=$("input[name='WIDbody']").val();
                var  WIDsubject=$("input[name='WIDsubject']").val();
                var  WIDtotal_amount=$("input[name='WIDtotal_amount']").val();
               window.location="goods_WeiAlpay?WIDsubject=" +encodeURI(WIDsubject)+"&WIDbody=" +WIDbody+"&WIDtotal_amount=" +WIDtotal_amount+"";

             
            });
           

        }) 
    </script>

    {/block}

</body>

</html>