{extend name="layout"} {block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css"/>
<style type="text/css">
	body {
		background: #fff;
	}
	
	.layui-form label {
		width: 18%;
		text-align: left;
	}
	
	.layui-form .layui-input-block input {
		width: 97%;
	}
	
	.layui-form-label span {
		color: red;
	}
	
	.layui-form {
		width: 80%;
		margin: 0 auto;
		padding-top: 40px;
	}
	
	.biaoji .layui-form-radioed span {
		color: #fff;
		background: red;
		width: 33px;
		text-align: center;
		height: 13px;
		line-height: 13px;
		font-size: 9px;
		border-radius: 6px;
	}
</style>
<style type="text/css">
	.tree {
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #fbfbfb;
		border: 1px solid #999;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
	}
	
	.tree ul {
		margin-left: 60px;
	}
	
	.tree li {
		list-style-type: none;
		margin: 0;
		padding: 10px 5px 0 5px;
		position: relative
	}
	
	.tree li::before,
	.tree li::after {
		content: '';
		left: -20px;
		position: absolute;
		right: auto
	}
	
	.tree li::before {
		border-left: 1px solid #999;
		bottom: 50px;
		height: 100%;
		top: 0;
		width: 1px
	}
	
	.tree li::after {
		border-top: 1px solid #999;
		height: 20px;
		top: 29px;
		width: 25px
	}
	
	.tree li span {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #999;
		border-radius: 5px;
		display: inline-block;
		padding: 3px 8px;
		text-decoration: none
	}
	
	.tree li.parent_li>span {
		cursor: pointer
	}
	
	.tree>ul>li::before,
	.tree>ul>li::after {
		border: 0
	}
	
	.tree li:last-child::before {
		height: 30px
	}
	
	.tree li.parent_li>span:hover,
	.tree li.parent_li>span:hover+ul li span {
		background: #eee;
		border: 1px solid #94a0b4;
		color: #000
	}
</style>

{/block}

<body>

	{block name="content"}
	<form class="layui-form" action="">
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品名称</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入账号" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>商品编号</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">分类</label>
			<div class="layui-input-block">
				<button class="layui-btn" type="button" id="select_class">选择分类</button>
			</div>
		</div>
		<div class="tree"  style="display: none;">
			<ul id="rootUL">

				<li data-name="ZKCH" class="parent_li"><span title="关闭"><i class="icon-th"></i> aaaaa</span>
					<ul>
						<li data-name="GZZKCH" class="parent_li"><span title="关闭"><i class="icon-minus-sign"></i> bbbbbbb</span>
							<ul>
								<li data-name="GZZKCHTQFH" style="display: list-item;"><span><i class=""></i> 广州中科慈航天河区分行</span></li>
							</ul>
						</li>
						<li data-name="BJZKCH" class="parent_li"><span title="关闭"><i class="icon-minus-sign"></i> 北京中科慈航</span>
							<ul>
								<li data-name="BJZKCHZCFH"><span><i class=""></i> 北京中科慈航中城区分行</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li data-name="ZKKJ" class="parent_li"><span title="关闭"><i class="icon-th"></i> 中科科技</span>
					<ul>
						<li data-name="GZZKKJ" class="parent_li"><span title="关闭"><i class="icon-minus-sign"></i> 广州中科科技</span>
							<ul>
								<li data-name="GZTHZKKJ"><span><i class=""></i> 广州天河中科科技</span></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>排序</label>
			<div class="layui-input-block">
				<input type="number" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>标记</label>
			<div class="layui-input-block">
				<input type="radio" name="yes" value="hot" title="hot" checked="" class="hot">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>商品原价</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>商品售价</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>库存</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>终端版本</label>
			<div class="layui-input-block">
				<input type="checkbox" name="like[write]" title="pc" checked="">
				<input type="checkbox" name="like[read]" title="APP苹果">
				<input type="checkbox" name="like[game]" title="APP安卓">
				<input type="checkbox" name="like[read]" title="公众号">
				<input type="checkbox" name="like[game]" title="小程序">
				<input type="checkbox" name="like[read]" title="H5">
			</div>
		</div>

		 <div class="layui-upload">
    	 <label class="layui-form-label">商品主图</label>
    	<div class="layui-input-block">
			 <div class="img-box full">
				<section class=" img-section">
					<div class="z_photo upimg-div clear" >
							 <section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
							 </section>
					 </div>
				 </section>
			</div>
			<aside class="mask works-mask">
				<div class="mask-content">
					<p class="del-p ">您确定要删除作品图片吗？</p>
					<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
				</div>
			</aside>
</div> 
</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>演示地址</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label"><span>*</span>商品详情</label>
			<div class="layui-input-block">
				<!--<textarea id="demo" style="display: none;"></textarea>-->
				<!--<textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>-->
				<div> <script id="editor" type="text/plain" style="width:800px;height:500px;"></script></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>状态</label>
			<div class="layui-input-block">
				<input type="radio" name="sex" value="暂不上架" title="暂不上架" checked="">
				<input type="radio" name="sex" value="立即上架" title="立即上架">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
				<button class="layui-btn">返回</button>
			</div>
		</div>
	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		$("#select_class").on("click", function() {   

				if($(".tree").css('display') === 'none'){
		                $(".tree").show(); 
				}
		         else{
		       	
					$(".tree").hide();
		         }
		});
		$(function() {
			$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', '关闭');
			$('.tree li.parent_li > span').on('click', function(e) {
				var children = $(this).parent('li.parent_li').find(' > ul > li');
				if(children.is(":visible")) {
					children.hide('fast');
					$(this).attr('title', '展开').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
				} else {
					children.show('fast');
					$(this).attr('title', '关闭').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
				}
				e.stopPropagation();
			});
		});
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
		

		})
	</script>
	<script type="text/javascript">
		layui.use('layedit', function(){
		  var layedit = layui.layedit;
		  layedit.build('demo'); //建立编辑器
		});
</script>
	</script>
	<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


//  function isFocus(e){
//      alert(UE.getEditor('editor').isFocus());
//      UE.dom.domUtils.preventDefault(e)
//  }
//  function setblur(e){
//      UE.getEditor('editor').blur();
//      UE.dom.domUtils.preventDefault(e)
//  }
//  function insertHtml() {
//      var value = prompt('插入html代码', '');
//      UE.getEditor('editor').execCommand('insertHtml', value)
//  }
//  function createEditor() {
//      enableBtn();
//      UE.getEditor('editor');
//  }
//  function getAllHtml() {
//      alert(UE.getEditor('editor').getAllHtml())
//  }
//  function getContent() {
//      var arr = [];
//      arr.push("使用editor.getContent()方法可以获得编辑器的内容");
//      arr.push("内容为：");
//      arr.push(UE.getEditor('editor').getContent());
//      alert(arr.join("\n"));
//  }
//  function getPlainTxt() {
//      var arr = [];
//      arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
//      arr.push("内容为：");
//      arr.push(UE.getEditor('editor').getPlainTxt());
//      alert(arr.join('\n'))
//  }
//  function setContent(isAppendTo) {
//      var arr = [];
//      arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
//      UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
//      alert(arr.join("\n"));
//  }
//  function setDisabled() {
//      UE.getEditor('editor').setDisabled('fullscreen');
//      disableBtn("enable");
//  }
//
//  function setEnabled() {
//      UE.getEditor('editor').setEnabled();
//      enableBtn();
//  }
//
//  function getText() {
//      //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
//      var range = UE.getEditor('editor').selection.getRange();
//      range.select();
//      var txt = UE.getEditor('editor').selection.getText();
//      alert(txt)
//  }
//
//  function getContentTxt() {
//      var arr = [];
//      arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
//      arr.push("编辑器的纯文本内容为：");
//      arr.push(UE.getEditor('editor').getContentTxt());
//      alert(arr.join("\n"));
//  }
//  function hasContent() {
//      var arr = [];
//      arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
//      arr.push("判断结果为：");
//      arr.push(UE.getEditor('editor').hasContents());
//      alert(arr.join("\n"));
//  }
//  function setFocus() {
//      UE.getEditor('editor').focus();
//  }
//  function deleteEditor() {
//      disableBtn();
//      UE.getEditor('editor').destroy();
//  }
//  function disableBtn(str) {
//      var div = document.getElementById('btns');
//      var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
//      for (var i = 0, btn; btn = btns[i++];) {
//          if (btn.id == str) {
//              UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
//          } else {
//              btn.setAttribute("disabled", "true");
//          }
//      }
//  }
//  function enableBtn() {
//      var div = document.getElementById('btns');
//      var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
//      for (var i = 0, btn; btn = btns[i++];) {
//          UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
//      }
//  }
//
//  function getLocalData () {
//      alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
//  }
//
//  function clearLocalData () {
//      UE.getEditor('editor').execCommand( "clearlocaldata" );
//      alert("已清空草稿箱")
//  }
</script>

	{/block}

</body>

</html>