{extend name="layout"}

{block name="css"}
<style type="text/css">
	.dept_select{min-width: 200px;}
	.shade, 
    .shade2, 
    .shade3, 
    .shade4,
    .shade5,
    .shade6{
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.55);
	}

	.shade div, 
    .shade2 div, 
    .shade3 div,
    .shade4 div,
    .shade5 div,
    .shade6 div{
		width: 300px;
		height: 200px;
		line-height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -150px;
		background: white;
		border-radius: 5px;
		text-align: center;
	}

	.a-upload {
		height: 20px;
		position: relative;
		cursor: pointer;
		color: #888;
		background: #fafafa;
		border: 1px solid #ddd;
		border-radius: 4px;
		overflow: hidden;
		display: inline-block;
		*display: inline;
		*zoom: 1;
        text-align: center;
	}

	.a-upload input {
		position: absolute;
		font-size: 100px;
		right: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		cursor: pointer
	}

	.a-upload:hover {
		color: #444;
		background: #eee;
		border-color: #ccc;
		text-decoration: none
	}
	.img_div, 
    .img_div2, 
    .img_div3,
    .img_div4,
    .img_div5,
    .img_div6{
        min-height: 50px; 
        min-width: 100px;
        margin-top: 10px;
    }
    .isImg,
    .isImg2,
    .isImg3,
    .isImg4,
    .isImg5,
    .isImg6{
        width: 50px; 
        height: 50px; 
        position: relative; 
        float: left; 
        margin-left: 10px;
    }
	.removeBtn{
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 11;
        font-size: 14px;
        color: #fff;
        border: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.55);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
	.shadeImg, 
    .shadeImg2, 
    .shadeImg3,
    .shadeImg4,
    .shadeImg5,
    .shadeImg6{
        position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 15;
		text-align: center;
		background: rgba(0, 0, 0, 0.55);
    }
	.showImg, 
    .showImg2, 
    .showImg3,
    .showImg4,
    .showImg5,
    .showImg6{
        width: 400px; 
        height: 500px; 
        margin-top: 140px;
    }
    .myiconfont{
        display: inline-block;
        width: 35px;
        height: 15px;
        line-height: 15px;
        color: #fff;
        background-color: red;
        padding: 0 2px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 9px;
        text-align: center;
        margin-right: 20px;
    }
</style>
{/block}
{block name="content"}
<div class="page-container">
	<form action="{:url('admin/Goods/save')}" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text goods_name" name="goods_name" value="" placeholder="请输入" id="" style="width: 400px">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>出厂日期+充电次数</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text goods_number" name="goods_number" placeholder="请输入" style="width: 400px">
                <p style=" font-size:10px;"><span style="color:red;">*</span>设定规则按照字母+数字编号</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类</label>
			<div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 200px">
                    <select id="goods-list" name="goods_type_id" class="select">
                        <!-- <option value="0">一级分类</option> -->
                    </select>
                </span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text sort_number" name="sort_number" value="0" placeholder="" id="" style="width: 200px">
                <p style=" font-size:10px;"><span style="color:red;">*</span>填写正整数，从大到小排序</p>
			</div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">标记</label>
			<div class="formControls col-xs-8 col-sm-9 sign_div">
                <input name="goods_sign[]" class="ziying" type="checkbox" checked value="自营"><span class="myiconfont">自营</span>
                <input name="goods_sign[]" class="cu" type="checkbox" value="促"><span class="myiconfont">促</span>
                <input name="goods_sign[]" class="HOT" type="checkbox" value="HOT"><span class="myiconfont">HOT</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品全新价</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_new_money" placeholder="请输入" class="input-text goods_new_money" style="width:200px">元
            </div>
        </div>
        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">商品售价</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="goods_bottom_money" placeholder="请输入" class="input-text goods_bottom_money" style="width:200px">元
                </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">库存</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="goods_num" value="1" placeholder="请输入" class="input-text" style="width: 200px">件
			</div>
		</div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">版本网络</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="goods_date" placeholder="请用逗号分隔开" class="input-text goods_date" style="width: 200px">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品主图</label>
			<div class="formControls col-xs-8 col-sm-9">
				<a href="javascript:;" class="a-upload" style="width:20%;">
					<input type="file" name="goods_images[]" id="myFile" multiple="multiple"/><span>点击文件上传</span>
				</a>
				<div class="img_div"></div>

				<div class="shade" onclick="javascript:closeShade()">
					<div>
						<span class="text_span"></span>
					</div>
				</div>
				<div class="shadeImg" onclick="javascript:closeShadeImg()">
					<div>
						<img class="showImg" src=""/>
					</div>
				</div>
			</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">赠送配件说明</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="goods_parts" placeholder="不超过20字" class="input-text goods_parts" style="width: 400px">
            </div>
            <div class="double_img">
                <label class="form-label col-xs-4 col-sm-2">配件小图</label>
                <div class="formControls col-xs-8 col-sm-9" style="margin-top: 5px">
                    <a href="javascript:;" class="a-upload" style="width:20%;">
                        <input type="file" name="goods_parts_img" id="myFile2"/><span>上传配件说明小图</span>
                    </a>
                    <div class="img_div2"></div>
    
                    <div class="shade2" onclick="javascript:closeShade()">
                        <div>
                            <span class="text_span2"></span>
                        </div>
                    </div>
                    <div class="shadeImg2" onclick="javascript:closeShadeImg()">
                        <div>
                            <img class="showImg2" src=""/>
                        </div>
                    </div>
                </div>
                <label class="form-label col-xs-4 col-sm-2">配件大图</label>
                <div class="formControls col-xs-8 col-sm-9" style="margin-top: 5px;">
                    <a href="javascript:;" class="a-upload" style="width:20%;">
                        <input type="file" name="goods_parts_big_img" id="myFile3"/><span>上传配件说明大图</span>
                    </a>
                    <div class="img_div3"></div>
    
                    <div class="shade3" onclick="javascript:closeShade()">
                        <div>
                            <span class="text_span3"></span>
                        </div>
                    </div>
                    <div class="shadeImg3" onclick="javascript:closeShadeImg()">
                        <div>
                            <img class="showImg3" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">规格图(高65px，宽度不限)</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="formControls col-xs-8 col-sm-9">
                    <a href="javascript:;" class="a-upload" style="width:30%;">
                        <input type="file" name="goods_spec_img" id="myFile4" /><span>上传规格图</span>
                    </a>
                    <div class="img_div4"></div>
    
                    <div class="shade4" onclick="javascript:closeShade()">
                        <div>
                            <span class="text_span4"></span>
                        </div>
                    </div>
                    <div class="shadeImg4" onclick="javascript:closeShadeImg()">
                        <div>
                            <img class="showImg4" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">质检报告</label>
            <div class="formControls col-xs-8 col-sm-9">
                IMEI号&nbsp;&nbsp;<input type="text" name="goods_imei" class="input-text imei_num" style="width: 300px">
            </div>
                <label class="form-label col-xs-4 col-sm-2">质检图片</label>
            <div class="formControls col-xs-8 col-sm-9" style="margin-top: 5px">
                <a href="javascript:;" class="a-upload" style="width:20%;">
                    <input type="file" name="goods_quality_img[]" id="myFile5" multiple="multiple"/><span>上传质检图片</span>
                </a>
                <div class="img_div5"></div>

                <div class="shade5" onclick="javascript:closeShade()">
                    <div>
                        <span class="text_span5"></span>
                    </div>
                </div>
                <div class="shadeImg5" onclick="javascript:closeShadeImg()">
                    <div>
                        <img class="showImg5" src=""/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">商品展示缩略图</label>
            <div class="formControls col-xs-8 col-sm-9" style="margin-top: 5px">
                <a href="javascript:;" class="a-upload" style="width:20%;">
                    <input type="file" name="goods_show_images" id="myFile6"/><span>上传缩略图</span>
                </a>
                <div class="img_div6"></div>

                <div class="shade6" onclick="javascript:closeShade()">
                    <div>
                        <span class="text_span6"></span>
                    </div>
                </div>
                <div class="shadeImg6" onclick="javascript:closeShadeImg()">
                    <div>
                        <img class="showImg6" src=""/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">状态</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input name="goods_status" type="radio" value="0"><span>暂不上架</span>
                <input name="goods_status" checked type="radio" value="1"><span>立即上架</span>
            </div>
        </div>

		<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
		<button onClick="" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
		<button onclick="window.close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
		</div>
	</div>
	</form>
</div>
{/block}
{block name="bottom"}
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<!-- 提交限制，必须填所有内容才能提交 -->
<script>
    $('.btn-primary').click(function(){
        if($('.goods_name').val() == ''){
            alert('商品名称不能为空');
        }else if($('.goods_new_money').val() == ''){
            alert('商品全新价不能为空');
        }else if($('.goods_bottom_money').val() == ''){
            alert('商品售价不能为空');
        }else if($('.goods_date').val() == ''){
            alert('网络和出厂日期不能为空');
        }else if($('.goods_parts').val() == ''){
            alert('赠送配件说明不能为空');
        }else if($('.img_div').find('.isImg').length == 0){
            alert('需要上传商品主图');
        }else if($('.img_div2').find('.isImg2').length == 0){
            alert('需要上传配件小图');
        }else if($('.img_div3').find('.isImg3').length == 0){
            alert('需要上传配件大图');
        }else if($('.img_div4').find('.isImg4').length == 0){
            alert('需要上传规格图');
        }else if($('.img_div5').find('.isImg5').length == 0){
            alert('需要上传质检图片');
        }else if($('.img_div6').find('.isImg6').length == 0){
            alert('需要上传商品展示缩略图');
        }else{
            $(this).attr('type', 'submit');
        }
    })
</script>
<script>
    (function(){
        //  分类栏目，请求地址获取数据，插入select
        $.ajax({
            url:"{:url('admin/Category/ajax_add')}",
            type:"POST",
            async:false,
            timeout:5000,
            dataType:"json",
            success:function (data) {
                var len = data.data.length;
                for(var i = 0; i < len; i++){
                    $('#goods-list').append('<option value="'+ data.data[i].id+'">'+ data.data[i].name+'</option>')
                }
            },
            error:function () {
                console.log("错误");
            }
        })
    }())
</script>
<script type="text/javascript">
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile").change(function() {
            var img_div = $(".img_div");
            var filepath = $("input[name='goods_images[]']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade").fadeIn(500);
                    $(".text_span").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    img_html = "<div class='isImg'>\
                                    <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                    <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                                </div>";
                    img_div.append(img_html);
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade").fadeIn(5000);
                    $(".text_span").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });

    // 上传小图
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile2").change(function() {
            var img_div = $(".img_div2");
            var filepath = $("input[name='goods_parts_img']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade2").fadeIn(500);
                    $(".text_span2").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div2").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    if($('.isImg2').length == 1){
                        alert('最多上传一张图片')
                    }else{
                        img_html = "<div class='isImg2'>\
                                    <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                    <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                                </div>";
                        img_div.append(img_html);
                    }
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade2").fadeIn(5000);
                    $(".text_span2").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div2").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });
    
    // 上传大图
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile3").change(function() {
            var img_div = $(".img_div3");
            var filepath = $("input[name='goods_parts_big_img']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade3").fadeIn(500);
                    $(".text_span3").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div3").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    if($('.isImg3').length == 1){
                        alert('最多上传一张图片')
                    }else{
                        img_html = "<div class='isImg3'>\
                                    <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                    <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                                </div>";
                        img_div.append(img_html);
                    }
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade3").fadeIn(5000);
                    $(".text_span3").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div3").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });
    
    // 规格图片
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile4").change(function() {
            var img_div = $(".img_div4");
            var filepath = $("input[name='goods_spec_img']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade4").fadeIn(500);
                    $(".text_span4").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div4").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    if($('.isImg4').length == 1){
                        alert('最多上传一张图片')
                    }else{
                        img_html = "<div class='isImg4'>\
                                    <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                    <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                                </div>";
                        img_div.append(img_html);
                    }
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade4").fadeIn(5000);
                    $(".text_span4").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div4").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });

    // 质检图片
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile5").change(function() {
            var img_div = $(".img_div5");
            var filepath = $("input[name='goods_quality_img[]']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade5").fadeIn(500);
                    $(".text_span5").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div5").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    img_html = "<div class='isImg5'>\
                                <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                            </div>";
                    img_div.append(img_html);
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade5").fadeIn(5000);
                    $(".text_span5").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div5").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });

    // 缩略图
    $(function() {
        var objUrl;
        var img_html;
        $("#myFile6").change(function() {
            var img_div = $(".img_div6");
            var filepath = $("input[name='goods_show_images']").val();
            for(var i = 0; i < this.files.length; i++) {
                objUrl = getObjectURL(this.files[i]);
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                /*
                    描述：鉴定每个图片上传尾椎限制
                    * */
                if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                    $(".shade6").fadeIn(600);
                    $(".text_span6").text("图片限于bmp,png,gif,jpeg,jpg格式");
                    this.value = "";
                    $(".img_div6").html("");
                    return false;
                } else {
                    /*
                        若规则全部通过则在此提交url到后台数据库
                        * */
                    if($('.isImg6').length == 1){
                        alert('最多上传一张图片')
                    }else{
                        img_html = "<div class='isImg6'>\
                                    <img src='" + objUrl + "' onclick='javascript:;' style='height: 100%; width: 100%;' />\
                                    <button class='removeBtn' onclick='javascript:removeImg(this)'>x</button>\
                                </div>";
                        img_div.append(img_html);
                    }
                }
            }
            /*
                描述：鉴定每个图片大小总和
                * */
            var file_size = 0;
            var all_size = 0;
            for(j = 0; j < this.files.length; j++) {
                file_size = this.files[j].size;
                all_size = all_size + this.files[j].size;
                var size = all_size / 1024;
                if(size > 5000) {
                    $(".shade6").fadeIn(5000);
                    $(".text_span6").text("上传的图片大小不能超过1000k！");
                    this.value = "";
                    $(".img_div6").html("");
                    return false;
                }
            }
            return true;
        });
        /*
            描述：鉴定每个浏览器上传图片url 目前没有合并到Ie
            * */
        function getObjectURL(file) {
            var url = null;
            if(window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if(window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if(window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            //console.log(url);
            return url;
        }
    });

    /*
        描述：上传图片附带删除 再次地方可以加上一个ajax进行提交到后台进行删除
        * */
    function removeImg(r){
        $(r).parent().remove();
    }
</script>
<script>
    /*关闭弹出框口*/
    function layer_close(){
        window.opener=null;
        window.open('','_self');
        window.close();
    }
</script>
{/block}
