<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>确认订单</title>

    <link rel="stylesheet" href="__STATIC__/index/css/m-common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/cart2main.css">
    <script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>

</head>
<body id="view">
<div id="mask-layer">
    <section class="cart-page main">
        <div class="cart-group">
                <div class="cart-group-item form-href delivery-lite-info"  onclick="javascript:location.href='{:url("index/Member/address")}'">
            {if !empty($member_information)&&!empty($position)}
                <h1>
                    <span>收货人: {$member_information['harvester']}</span>
                    <span>{$member_information['harvester_phone_num']}</span>
                </h1>
                <div>
                    <div><i></i></div>
                    <p>{$position}</p>
                </div>
            {/if}

            {if empty($member_information) || empty($position)}

            <h1>
                <span>收货人: 福尔发</span>
                <span>188****9193</span>
            </h1>
            <div>
                <div><i></i></div>
                <p>北京市北京市东城区全境北京市海淀区西三环北路43号中航广场1层</p>
            </div>
            {/if}

        </div>

        {if !empty($data)}
        <div class="cart-group">
            <div class="form-href details">
                <img class="goods_img_url" onerror="this.src='__STATIC__/index/images/ShoppingArea/Common/blankbg.gif'" src="__STATIC__/index/image/sp1.jpg">
                <div>
                    <p class="goods_name">{$data.goods_name}</p>
                    <i class="order_num">1</i>
                    <div>
                        <span class="price">
                            <b>￥</b>
                            <b class="unit_price">{$data.goods_bottom_money}</b>
                        </span>
                    </div>

                    <div class="goods-service">
                        <span class="goods-service-item">
                            <i class="goods-icon icon-tui"></i>
                            <span class="goods-service-word goods-service-word-tui">7天无理由退货</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item payment">
                <label>支付方式</label>
                <div class="form-href">
                    <p>支付宝</p>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item coupon">
                {if empty($discounts)}
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">无可用</span>
                </div>
                {else /}
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">{$discounts.discounts_name}</span>
                </div>
                {/if}
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item">
                <ul class="detail">
                    <li class="detail-item">
                        <label>商品总额</label>
                        <div>
                            <span class="price">
                                <b>￥{$data.goods_bottom_money}</b>
                            </span>
                        </div>
                    </li>
                    <li class="detail-item">
                        <label>运费</label>
                        <i id="showfareDetail"></i>
                        <div>
                            <span class="price">
                                <b>+￥</b>
                                <b class="express_fee">{$data.express_fee}</b>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="cart-footer">
            <a class="sn-btn sn-btn-assertive" id="bt_order">提交订单</a>
            <div>
                <p>
                    实付金额:
                    <span class="price">
                        <b>￥</b>
                        <b class="all_pay">{$data.all_money}</b>
                    </span>
                </p>
            </div>
            <!--<a class="sn-btn sn-btn-dark" style="display: none;">提交订单</a>-->
        </footer>
        {/if}

        {if !empty($list)}
            {volist name="list" id ="vo"}
        <div class="cart-group">
            <div class="form-href details">
                <img class="goods_img_url" onerror="this.src='__UPLOADS__/{$vo.goods_images}'" src="__UPLOADS__/{$vo.goods_images}">
                <div>
                    <p class="goods_name">{$vo.goods_name}</p>
                    <i class="order_num">{$vo.goods_unit}</i>
                    <div>
                        <span class="price">
                            <b>￥</b>
                            <b class="unit_price">{$vo.money}</b>
                        </span>
                    </div>

                    <div class="goods-service">
                        <span class="goods-service-item">
                            <i class="goods-icon icon-tui"></i>
                            <span class="goods-service-word goods-service-word-tui">7天无理由退货</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
            {/volist}
        <div class="cart-group">
            <div class="cart-group-item payment">
                <label>支付方式</label>
                <div class="form-href">
                    <p>支付宝</p>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item coupon">
                {if empty($discounts)}
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">无可用</span>
                </div>
                {else /}
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">{$discounts.discounts_name}</span>
                </div>
                {/if}
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item">
                <ul class="detail">
                    <li class="detail-item">
                        <label>商品总额</label>
                        <div>
                            <span class="price">
                                <b>￥{$all_money}</b>
                            </span>
                        </div>
                    </li>
                    <li class="detail-item">
                        <label>运费</label>
                        <i id="showfareDetail"></i>
                        <div>
                            <span class="price">
                                <b>+￥</b>
                                <b class="express_fee">0</b>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="cart-footer">
            <a class="sn-btn sn-btn-assertive" id="bt_order">提交订单</a>
            <div>
                <p>
                    实付金额:
                    <span class="price">
                        <b>￥</b>
                        <b class="all_pay">{$all_money}</b>
                    </span>
                </p>
            </div>
            <!--<a class="sn-btn sn-btn-dark" style="display: none;">提交订单</a>-->
        </footer>
        {/if}
    </section>
</div>
<div class="mask"></div>
<!-- 支付弹窗 -->
<form name=alipayment action='{:url("index/Alipay/aliPay")}' method=post target="_blank">
    <div id="body" class="fadeIn">
        <div class="head">
            <div class="head_close">×</div>
            <div class="head_title">确认付款</div>
        </div>
        <div class="middle_box">
            <div class="price_p">
                <span>￥</span>
                <input id="WIDtotal_amount" name="WIDtotal_amount">
            </div>
            <ul class="content">
                <li>
                    商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no">
                </li>
                <li>
                    订单名称: <input id="WIDsubject" name="WIDsubject">
                </li>
                <li>
                    商品描述: <input id="WIDbody" name="WIDbody">
                </li>
            </ul>
        </div>
        <button class="new-btn-login" type="submit" style="text-align:center;">立即付款</button>
    </div>
</form>

<script>
    $("#bt_order").click(function () {
        var goods_name = [],
            order_num = [],
            unit_price = [];
        var length = $('.details').length;
        for(var i = 0; i < length; i++){
            goods_name.push($('.goods_name')[i].innerHTML);
            order_num.push($('.order_num')[i].innerHTML);
            unit_price.push($('.unit_price')[i].innerHTML);
        }
        var all_pay =$('.all_pay').html();
        var express_fee =$(".express_fee").html();

        $.ajax({
            url: "{:url('index/Order/bt_order')}",
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                'goods_name':goods_name,
                'order_num':order_num,
                'all_pay':all_pay,
                'express_fee':express_fee,
                'unit_price': unit_price
            },
            success: function(data){
                if(data.code==0){
                    alert(data.msg);
                }else {
                    console.log(data);
                    $("#WIDout_trade_no").val(data.data.order_information_number);
                    $("#WIDbody").val(data.data.goods_name);
                    $("#WIDsubject").val(data.data.goods_name);
                    $("#WIDtotal_amount").val(data.data.pay_money);
                    $('.fadeIn').animate({'bottom':'0'});
                    $('.mask').css('display','block');
                }
            },
            error: function(data){
                console.log('失败');
            }
        })
    });
    $('.head_close').click(function(){
        $('.fadeIn').animate({'bottom':'-100%'});
        $('.mask').css('display','none');
       var order_informartion_number = $("#WIDout_trade_no").val();
        $.ajax({
            url: "{:url('index/Order/save_order_information_number')}",
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                'order_informartion_number':order_informartion_number,
            },
            success: function(data){
                console.log(data);
                window.location.href ="{:url('index/Order/details')}";
            },
            error: function(data){
                console.log('失败');
            }
        })

    })

    
</script>
</body>
</html>
