<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>物流信息</title>
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
</head>
<body>
    <div class="header_box">
        <div class="bar bar-header">
            <a class="back" href="order_take_deliver.html">
                <i class="aui-iconfont aui-icon-left"></i>
            </a>
            <div id="title" class="h1 title">物流信息</div>
        </div>
    </div>
    <div class="logistic_num_box">
        <span class="logistic_name">顺丰</span>
        <span class="logistic_num">99999999999</span>
    </div>
    <div class="logistic_box">
        <ul>
            <!-- <li>
                <span>2018.08.21</span>
                <i>&nbsp;—&nbsp;</i>
                <span>收货收货收货已收收货收货收货已收货收货收货收货已收货货</span>
            </li> -->
        </ul>
    </div>

<script src="__STATIC__/index/js/jquery.js"></script>
<script>
    (function () {
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/interface_information")}',
            data:{
            },
            dataType: 'json',
            success: function(data){
                console.log(data);
                // 判断物流
                if(data.message == 'ok'){
                    switch(data.com){
                        case 'yuantong':
                            $('.logistic_name')[0].innerHTML = '圆通';break;
                        case 'zhongtong':
                            $('.logistic_name')[0].innerHTML = '中通';break;
                        case 'shentong':
                            $('.logistic_name')[0].innerHTML = '申通';break;
                        case 'EMS':
                            $('.logistic_name')[0].innerHTML = 'EMS';break;
                        case 'shunfeng':
                            $('.logistic_name')[0].innerHTML = '顺丰';break;

                    }
                    // 物流单号
                    $('.logistic_num')[0].innerHTML = data.nu;
                    var len =  data.data.length;
                    var data = data.data;
                    for(var i = 0; i < len; i++){
                        $('.logistic_box ul').append('<li>\
                                                        <span style="font-size:12px;">'+data[i].time+'</span>\
                                                        <i>&nbsp;—&nbsp;</i>\
                                                        <span style="font-size:12px;">'+data[i].context+'</span>\
                                                    </li>')
                    }
                }else{
                    $('.logistic_num_box').css('display','none');
                    $('.logistic_box ul').append('<li><p style="font-size:16px;">'+data.message+'</p></li>')
                }
            },
            error:function(data) {
                console.log("失败");
            },
        });
    })()
</script>
</body>
</html>