<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的订单</title>
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/cart2main.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="list_box">
    <a href="{:url('index/Order/myorder')}" class="active">全部</a>
    <a href="{:url('index/Order/wait_pay')}">待付款</a>
    <a href="{:url('index/Order/wait_deliver')}">待发货</a>
    <a href="{:url('index/Order/take_deliver')}">待收货</a>
    <a href="{:url('index/Order/evaluate')}" >待评价</a>
</div>
{if !empty($data)}
<div class="order_box">
    <ul class="order_ul">
        {volist name="data" id="vo"}
        <!--已完成-->
        {if condition="($vo['status'] eq 7 )OR($vo['status'] eq 10 )"}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div class="all_cost">共<span>{$vo.order_num}</span>件商品 合计:￥<span>{$vo.pay_money}</span>(含运费:￥<span>{$vo.send_money}</span> )</div>
                    </div>
                </div>
            </a>
        </li>
        {/if}

        <!--待付款-->
        {if condition="($vo['status'] eq 1)"}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="payment_{$vo.id}" class="payment public_btn mg_left5">付款</a>
            <a href="javascript:;" id="cancel_order_{$vo.id}" class="cancel_order public_btn">取消订单</a>
        </li>
        {/if}

        <!--待发货-->
        {if condition="($vo['status'] eq 2)"}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
        </li>
        {/if}
        <!--待收货-->
        {if condition="($vo['status'] eq 3)OR($vo['status'] eq 4)"/}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="confirm_deliver_{$vo.id}" class="public_btn mg_left5 confirm_deliver">确认收货</a>
            <a href="javascript:;" id="check_logistic_{$vo.id}" class=" public_btn check_logistic" >查看物流</a>
        </li>
        {/if}
        <!--待评价-->
        {if condition="($vo['status'] eq 5)OR ($vo['status'] eq 6)"/}
        <li class="order_li clearfix">
            <a id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="wait_evaluate_{$vo.id}" class="public_btn mg_left5 wait_evaluate">评价商品</a>
        </li>
        {/if}
        <!--待退款-->
        {if condition="($vo['status'] eq 8 )"}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div class="all_cost">共<span>{$vo.order_num}</span>件商品 合计:￥<span>{$vo.pay_money}</span>(含运费:￥<span>{$vo.send_money}</span> )</div>
                    </div>
                </div>
            </a>
        </li>
        {/if}
        <!--订单已取消-->
        {if condition="($vo['status'] eq 9 )OR($vo['status'] eq 11 )OR($vo['status'] eq 0 )"}
        <li class="order_li clearfix">
            <a  id="details_order_{$vo.id}_{$vo.status}" class="details_order">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:120px; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div class="all_cost">共<span>{$vo.order_num}</span>件商品 合计:￥<span>{$vo.pay_money}</span>(含运费:￥<span>{$vo.send_money}</span> )</div>
                    </div>
                </div>
            </a>
        </li>
        {/if}

        {/volist}
    </ul>
</div>
{/if}
    <!-- 弹窗遮罩 -->
    <div class="mask" style="position:absolute;"></div>
    <!-- 支付弹窗 -->
    <form name=alipayment action='{:url("index/Alipay/aliPay")}' method=post target="_blank">
        <div id="body" class="fadeIn">
            <div class="head">
                <div class="head_close">×</div>
                <div class="head_title">确认付款</div>
            </div>
            <div class="middle_box">
                <div class="price_p">
                    <span>￥</span>
                    <input id="WIDtotal_amount" name="WIDtotal_amount">
                </div>
                <ul class="content">
                    <li>
                        商户订单号: <input id="WIDout_trade_no" name="WIDout_trade_no">
                    </li>
                    <li>
                        订单名称: <input id="WIDsubject" name="WIDsubject">
                    </li>
                    <li>
                        商品描述: <input id="WIDbody" name="WIDbody">
                    </li>
                </ul>
            </div>
            <button class="new-btn-login" type="submit" style="text-align:center;">立即付款</button>
        </div>
    </form>

<script src="__STATIC__/index/js/jquery.js"></script>
<script>

    // (function(){
    //     var status_len = $('.status_p').length;
    //     var status_p = $('.status_p');
    //     for(var i = 0; i < status_len; i++){
    //         if(status_p[i].innerHTML == '1'){
    //             status_p[i].innerHTML == ''
    //         }
    //     }
    // })()
</script>
<script>
    (function(){
        var status_len = $('.status_p').length;
        var status_p = $('.status_p');
        for(var i = 0; i < status_len; i++){
            if(status_p[i].innerHTML == '1'){
                status_p[i].innerHTML = '等待买家付款';
            }
            if(status_p[i].innerHTML == '2'){
                status_p[i].innerHTML = '等待卖家发货';
            }
            if(status_p[i].innerHTML == '3'){
                status_p[i].innerHTML = '卖家已发货';
            }
            if(status_p[i].innerHTML == '4'){
                status_p[i].innerHTML = '卖家已发货';
            }
            if(status_p[i].innerHTML == '5'){
                status_p[i].innerHTML = '交易成功';
            }
            if(status_p[i].innerHTML == '6'){
                status_p[i].innerHTML = '交易成功';
            }
            if(status_p[i].innerHTML == '7'){
                status_p[i].innerHTML = '已完成';
            }
            if(status_p[i].innerHTML == '8'){
                status_p[i].innerHTML = '待退款';
            }
            if(status_p[i].innerHTML == '9'){
                status_p[i].innerHTML = "订单已取消";
            }
            if(status_p[i].innerHTML == '10'){
                status_p[i].innerHTML = '已完成';
            }
            if(status_p[i].innerHTML == '11'){
                status_p[i].innerHTML = '订单已取消';
            }
            if(status_p[i].innerHTML == '0'){
                status_p[i].innerHTML = '订单已取消';
            }
        }
    })()
</script>
<!--订单详情-->
<script>
    $(".details_order").click(function () {
        var order_id = $(this)[0].id.split('_')[2];
        var status = $(this)[0].id.split('_')[3];
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/ajax_id")}',
            data:{
                'order_id':order_id
            },
            dataType: 'json',
            success: function(data){
                    console.log(data);
                window.location.href ="order_details";
            },
            error:function(data) {
                    console.log("失败");
            },
        });
    });
</script>

<!--确认收货-->
<script>
    $(".confirm_deliver").click(function () {
        var order_id = $(this)[0].id.split('_')[2];
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/collect_goods")}',
            data:{
                'order_id':order_id
            },
            dataType: 'json',
            success: function(data){
//                    console.log(data);
                alert(data.msg);
//                window.location.href ="{:url('index/Order/take_deliver')}"
                location.reload();
            },
            error:function(data) {
//                    console.log(data);
                alert(data.msg);
            },
        });
    });
</script>
<!--取消订单-->
<script>
    $(".cancel_order").click(function () {
        var order_id = $(this)[0].id.split('_')[2];
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/cancel_order")}',
            data:{
                'order_id':order_id
            },
            dataType: 'json',
            success: function(data){
                alert(data.msg);
                location.reload();
            },
            error:function(data) {
                alert(data.msg);
            },
        });
    });
</script>

<!--查看物流-->
<script>
    $(".check_logistic").click(function () {
        var order_id = $(this)[0].id.split('_')[2];
        alert(order_id);
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/logistics_information")}',
            data:{
                'order_id':order_id
            },
            dataType: 'json',
            success: function(data){
                console.log(data);
                window.location.href="{:url('index/Order/logistics_information')}"
            },
            error:function(data) {
                console.log("失败");
            },
        });
    });
</script>
<!--待评价-->
<script>
    $(".wait_evaluate").click(function () {
        var order_id = $(this)[0].id.split('_')[2];
        // alert(order_id);
        $.ajax({
            type:'POST',
            url:'{:url("index/Share/evaluation_get_order_id")}',
            data:{
                'order_id':order_id
            },
            dataType: 'json',
            success: function(data){
                console.log(data);
                window.location.href ="{:url('index/Share/evaluation')}";
            },
            error:function(data) {
                console.log("失败");
            },
        });
    });
</script>
<!-- 付款 -->
<script>

    $('.payment').click(function(){
            var id = $(this)[0].id.split('_')[1];
            $.ajax({
                url: "{:url('index/Order/read_order_to_pay')}",
                type: 'POST',
                async: false,
                dataType: 'json',
                data: {
                    'id':id
                },
                success: function(data){
                    console.log(data);
                    $("#WIDout_trade_no").val(data.data.order_information_number);
                    $("#WIDbody").val(data.data.goods_name);
                    $("#WIDsubject").val(data.data.goods_name);
                    $("#WIDtotal_amount").val(data.data.pay_money);
                    $('.fadeIn').animate({'bottom':'0'});
                    $('.mask').css('display','block');
                },
                error: function(data){
                    console.log('失败');
                }
            })
        })
    // 取消付款 关闭按钮
    $('.head_close').click(function(){
        $('.fadeIn').animate({'bottom':'-100%'});
        $('.mask').css('display','none');
    })
</script>
</body>
</html>