<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>手袋购物网</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/aui.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/refund.css">
</head>
<body>
<header class="aui-bar aui-bar-nav" id="aui-header">
    <a class="aui-btn aui-pull-left" tapmode="" onclick="javascript:history.back(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">退款/售后</div>
</header>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:5rem">
                        <img src="__STATIC__/index/image/demo/pa1.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">[为你推荐]kaman抽屉式化妆品收纳盒大号创意护肤桌面收纳盒塑料口红置物架</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥39.00</span></div>
                        <span class="refund_text"><i>退</i> 退货退款 退款成功</span>
                    </div>
                </div>
            </a>
            <a href="javascript:alert('查看详情');" class="check_detail">查看详情</a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>