html, body{
    background-color: #f4f4f4;
}
.wrapper{
    position: relative;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: .88rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.header .icon-back{
    position: absolute;
    left: .2rem;
    top: 50%;
    width: .25rem;
    height: .43rem;
    margin-top: -.22rem;
    background-position: -.5rem -.5rem;
}
.header h3{
    font-size: .34rem;
    color: #333;
    font-weight: normal;
}
.header h3.active{
    color: #504cfb;
}
.tabs{
    margin-top: .88rem;
    height: .84rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    margin-bottom: .24rem;
}
.tabs .tab{
    border: 0;
    font-size: .3rem;
    color: #3c3d3f;
    background-color: #fff;
    height: .82rem;
    outline: none;
}
.tabs .tab.tab-on{
    position: relative;
    color: #504cfb;
}
.tabs .tab.tab-on::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    border: 1px solid #504cfb;
    width: 85%;
}
.shops-goods-wrap{
    padding: 0 .3rem;
    background-color: transparent;
}
.single-shop-box{
    background-color: #fff;
    border-radius: .1rem;
    padding: .24rem .28rem;
    margin-bottom: .3rem;
}
.shop-name-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-name-box .icon-shop{
    display: inline-block;
    width: .3rem;
    height: .29rem;
    background-position: -5.6rem -1rem;
    vertical-align: text-bottom;
}
.shop-name-box .name-txt-span{
    font-size: .28rem;
    color: #505050;
}
.shop-name-box .status-txt-p{
    font-size: .28rem;
    color: #504cfb;
}
.single-goods-box{
    position: relative;
    padding: .36rem 0;
    display: flex;
}
.single-goods-box-border::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eee;
    width: 100%;
}
.single-goods-box .shop-img-box{
    width: 2.2rem;
    height: 2.4rem;
    overflow: hidden;
    margin-right: .2rem;
}
.single-goods-box .shop-img-box img{
    width: 100%;
    height: 100%;
}
.single-goods-box .order-info-box{
    flex: 1;
    line-height: normal;
    padding: 0 0 .2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-goods-box .order-info-box .goods-name-p{
    font-size: .28rem;
    color: #525252;
}
.single-goods-box .order-info-box .goods-selling-point{
    font-size: .24rem;
    color: #999;
    margin-bottom: .4rem;
}
.single-goods-box .order-info-box .unit-price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-goods-box .order-info-box .unit-price-p{
    font-size: .34rem;
    color: #f00;
}
.single-goods-box .order-info-box .quantity-p{
    font-size: .24rem;
    color: #999;
}
.total-button-box .total-p{
    text-align: right;
    font-size: .24rem;
    color: #666;
    margin-bottom: .1rem;
}
.total-button-box .button-box{
    text-align: right;
}
.total-button-box .button-box button{
    width: 1.72rem;
    height: .58rem;
    border: 1px solid #999999;
    color: #999;
    text-align: center;
    border-radius: .29rem;
    background-color: #fff;
    outline: none;
}
.total-button-box .button-box .to-payment-btn,
.total-button-box .button-box .conf-receipt-btn{
    border-color: #504cfb;
    color: #504cfb;
}