<script src="__STATIC__/admin/common/js/jquery.js"></script>
<!--<script src="__STATIC__/admin/common/js/vue.js"></script>-->
<!--<script src="__STATIC__/admin/common/js/bootstrap.js"></script>-->
<!--<script src="__STATIC__/admin/common/js/bootstrap-table.min.js"></script>-->
<!--<script src="__STATIC__/admin/common/layui/lay/modules/laydate.js"></script>-->
<script src="__STATIC__/admin/common/layui/layui.js"></script>
<!--<script src="__STATIC__/admin/common/js/bootstrap.js"></script>-->
<!--<script src="__STATIC__/admin/common/layui/lay/modules/laydate.js"></script>-->
<script src="__STATIC__/admin/index/js/index.js"></script>
<script type="text/javascript " src="__STATIC__/admin/common/upfile/js/imgUp.js"></script>
<!-- <script type="text/javascript " src="__STATIC__/admin/common/upfile/js/imgPlugin.js"></script> -->
<script type="text/javascript " src="__STATIC__/admin/common/js/datepicker.all.min.js"></script>
<script type="text/javascript " src="__STATIC__/admin/common/js/moment.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/common/utf8-php/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/common/utf8-php/ueditor.all.js"></script>