{extend name="layout"}
{block name="css"}

<!--自定义内容-->
<style>
    .wrapper label{
        display: inline-block;
        width: 200px !important;
        text-align: right;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .wrapper form label span{
        display: inline-block;
        text-align: center;
    }
    .wrapper form input.submit{
        margin: 20px 0 0 110px;
        width: 200px;
        height: 30px;
        border: 0;
        background-color:rgb(0, 158, 250);
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    .wrapper form input.submit:hover{
        background-color:rgb(27, 169, 252);
    }
    input{
        border: 1px solid #ccc;
        padding: 3px;
    }
</style>

{/block}


{block name="content"}
<div class="wrapper">
    <form action="{:url('admin/Discount/updata')}" method="post" enctype="multipart/form-data">
        {volist name="discounts" id="value"}
        <label class="form-label col-xs-4 col-sm-3" id=""><span>优惠券名称</span></label>
        <input type="text" name="discounts_name" value="{$value.discounts_name}" style="margin-bottom: 20px;"><br/>
        <label class="form-label col-xs-4 col-sm-3">APP下载地址</label>
        <input type="text" name="address" value="{$value.address}" style="margin-bottom: 20px;"><br/>
        <label><span>有效日期</span></label>
        <select name="over_time">
            <option value="day">1日</option>
            <option value="week">1周</option>
            <option value="month">1月</option>
            <option value="year">1年</option>
        </select>
        <br/>
        <label class=""><span>优惠金额</span></label>
        <input type="text" name="discounts_money" style="margin-bottom: 20px;" value="{$value.discounts_money}">
        <br/>
        <label class=""><span>优惠券有效图片</span></label>
        <input type="file" name="discounts_valid_images" style="margin-bottom: 20px;">
        <br/>
        <label class=""><span>优惠券失效图片图片</span></label>
        <input type="file" name="discounts_failure_images" style="margin-bottom: 20px;">
        <br/>
        <label class=""><span>领取限制</span></label>
        <input type="text" name="restriction" style="margin-bottom: 20px;" value="{$value.restriction}">
        <br/>
        <label class=""><span>商品最低售价使用金额</span></label>
        <input type="text" name="bottom_money" style="margin-bottom: 20px;" value="{$value.bottom_money}">
        <br/>
        <label><span>优惠券状态</span></label>
        <select name="status">
            <option value="1">未使用</option>
            <option value="2">已使用</option>
            <option value="3">已失效</option>
        </select>
        <br/>
        <input type="hidden" name="id" value="{$value.id}">
        <input type="submit" class="submit" value="提交">
        {/volist}
    </form>
</div>

{/block}


{block name="bottom"}

{/block}