{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
	label{
		text-align: left !important;
	}
	.layui-form-item{
		width: 30%;
	 float: left;
    margin-bottom: 0;
    margin-top: 0;
	}
</style>

{/block}
<body>

{block name="content"}
<div class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
	<form class="layui-form" action="">
		<div class="layui-form-item">
		<label class="layui-form-label">状态</label>
		<div class="layui-input-inline">
			<select name="interest" id="admin_status">
				<option value="1" selected="">启用</option>
				<option value="2">禁用</option>
			</select>
		</div>
	</div>
		<div class="layui-inline">
			<a class="layui-btn search_btn">搜索</a>
		</div>
		</form>
			
	</blockquote>
	<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Discount/add')}"  style="margin-top: 14px;">添加</a>
		</div>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="9%">
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col>
		    </colgroup>
		    <thead>
				<tr>
					<th style="text-align:left;">优惠券种类</th>
					<th>图片</th>
					<th>发放数量</th>
					<th>状态</th>

					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="news_content">
			{volist name="discounts" id="value"}
		    	<tr>
					<td align="left">{$value.discounts_name}</td>
					<td><img src="__UPLOADS__/{$value.discounts_valid_images}"></td>
					<td>{$value.discounts_number}</td>
					<td>{$value.status}</td>
					<td>
						<a class="layui-btn layui-btn-mini edit" data-id="2" href="{:url('admin/Discount/edit',['id'=>$value.id])}"><i class="iconfont icon-edit"></i> 编辑</a>
						<a href="{:url('admin/Discount/del',['id'=>$value.id])}" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="2"><i class="layui-icon"></i> 删除</a>
					</td>
				</tr>
			{/volist}
		    </tbody>
		</table>
	</div>
	<div id="page"></div>

		
	</div>
		

</script>

{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script type="text/javascript">
		layui.config({
	base : "js/"
}).use(['form','layer','jquery','laypage', 'laydate'],function(){
	var form = layui.form(),
	laydate = layui.laydate,
		layer = parent.layer === undefined ? layui.layer : parent.layer,
		 laypage = layui.laypage,
		 layedit = layui.layedit,
		 $ = layui.jquery;

  
	//是否展示
    var vals=$("input").data("id");  
	form.on('switch(isShow)', function(data){
        var vals=data.value;
		var id=$(this).data("id");
		var status = $(".Status").value;

       $.ajax({
               type: "POST",
               url: "{:url('admin/admin/status')}",
               data: {"id":id,"status":vals},
               success: function(data){
               	console.log("成功")
			  },
		      error:function (data) {
				  console.log("错误")
              }
            });
            
         
	})


})

	</script>
{/block}

</body>
</html>
