{extend name="layout"} {block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    
    .layui-form {
        width: 90%;
        margin: 20px auto;
    }
    
    .layui-form label {
        width: 17%;
        text-align: left;
    }
    
    body {
        background: #fff;
    }
    
    .layui-form {
        width: 90%;
        margin: 20px auto;
    }
    
    .layui-form label {
        text-align: left;
    }
    	/* 数据库展现图片样式 */
	
	.img {
		position: relative;
		display: inline-block;
		width: 100px;
	}
	
	.imgcontent {
		margin: 10px;
	}
	
	.img>i {
		display: inline-block;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
	}
</style>

{/block}

<body>

    {/block} {block name="content"}
    <div class="open">
    </div>
    {if !empty($plat)} {volist name ="plat" id="value"} {if $value.department != "platform_business"}
    <form class="layui-form" action="{:url('admin/platform_advertisement/platform_business_updata')}" method="post" enctype="multipart/form-data">
        <div class="layui-form-item " style="display:none">
            <label class="layui-form-label"><span>*</span>id</label>
            <div class="layui-input-block">
                <input type="text" name="id" value="{$value.id}"> </input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"> 广告名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$value.name}" lay-verify="title" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告位置：</label>
            <div class="layui-input-block">
                <input type="text" name="location" value="{$value.location}" lay-verify="title" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间：</label>
            <div class="layui-input-block">
                <input type="text" name="start_time" value="{$value.start_time | date=" Y-m-d ",###}" lay-verify="title" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间：</label>
            <div class="layui-input-block">
                <input type="text" name="end_time" value="{$value.end_time | date=" Y-m-d ",###}" lay-verify="title" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告链接：</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{$value.url}" lay-verify="title" class="layui-input" disabled="disabled">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">上传广告图片</label>
            <div class="layui-input-block">
				<div class="imgcontent">
					<span class="img">
						<img src="__UPLOADS__/{$value.advert_picture}" width="100%" disabled="disabled">
						<i class="remove-img" data-id="{$value.id}" data-value="1"><img src="__STATIC__/admin/common/img/a7.png"></i>
					</span>
				</div>
			</div>
            <div class="layui-input-block">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="goods_show_images" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1"  disabled="disabled" />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
				<p style="color:#999999 ; ">建议尺寸：750*750像素</p>
			</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">或图片网址:</label>
            <div class="layui-input-block">
                <input type="text" name="picture_url" value="{$value.picture_url}" lay-verify="title" class="layui-input" disabled="disabled">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">当前可操作：</label>
            <div class="layui-input-block">
                {if $value.status == 1}
                <input type="radio" name="status" value="1" title="同意" checked="">
                <input type="radio" name="status" value="4" title="拒绝"> {else}
                <input type="radio" name="status" value="1" title="同意">
                <input type="radio" name="status" value="4" title="拒绝" checked="">{/if}
            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作员备注：</label>
            <div class="layui-input-block">
                <textarea name="remarks"  rows="10" cols="60">{$value.remarks}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>

                <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">保存</button>

            </div>
        </div>
    </form>
    {else}
    <form class="layui-form" action="{:url('admin/platform_advertisement/platform_business_updata')}" method="post" enctype="multipart/form-data">
        <div class="layui-form-item " style="display:none">
            <label class="layui-form-label"><span>*</span>id</label>
            <div class="layui-input-block">
                <input type="text" name="id" value="{$value.id}"> </input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"> 广告名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$value.name}" lay-verify="title" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
                <label class="layui-form-label">广告位置：</label>
                <div class="layui-input-block">
                    <select name="pid" id="admin_role" class="role_list">
                           
                                {foreach name="goods_liste" item="vl" key="abc"}
                                {if $value.postid == $vl.id}
                                <option value="{$vl.id}" selected="" class="aaa_{$abc}">{$vl.name}</option>
                                {else}
                                <option value="{$vl.id}" class="aaa_{$abc}">{$vl.name}</option>
                                {/if}
                                {/foreach}
                            </select><br/>
                    </select>
                    <!--  <input type="text" name="location" value="{$value.location}" lay-verify="title" class="layui-input">-->
                </div>
            </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间：</label>
            <div class="layui-input-block">
                <!-- <input type="text" name="start_time" value="{$value.start_time | date=" Y-m-d ",###}" lay-verify="title" class="layui-input"> -->
                <input name="start_time" type="text" class="text datetimepicker" readonly="readonly" id="beginsTime"  value="{$value.start_time | date=" Y-m-d ",###}" style="width: 316px;height: 38px;padding-left: 10px; font-size: 13px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间：</label>
            <div class="layui-input-block">
                <!-- <input type="text" name="end_time" value="{$value.end_time | date=" Y-m-d ",###}" lay-verify="title" class="layui-input"> -->
                <input name="end_time" type="text" class="text datetimepicker" readonly="readonly" id="endsTime"  value="{$value.end_time | date=" Y-m-d ",###}" style="width: 316px;height: 38px;padding-left: 10px; font-size: 13px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告链接：</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{$value.url}" lay-verify="title" class="layui-input">

            </div>
        </div>
        {if !empty($value.advert_picture)}
        <div class="layui-form-item">
            <label class="layui-form-label">上传广告图片</label>
            <div class="layui-input-block">
				<div class="imgcontent">
					<span class="img">
						<img src="__UPLOADS__/{$value.advert_picture}" width="100%">
						<i class="remove-img" data-id="{$value.id}" data-value="1"><img src="__STATIC__/admin/common/img/a7.png"></i>
					</span>
				</div>
            </div>
            <div class="layui-input-block">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="advert_picture" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1" />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
				<p style="color:#999999 ; ">建议尺寸：750*750像素</p>
            </div>
            {else}
            <div class="layui-input-block">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="advert_picture" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1" />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
				<p style="color:#999999 ; ">建议尺寸：750*750像素</p>
            </div>
            {/if}
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">或图片网址:</label>
            <div class="layui-input-block">
                <input type="text" name="picture_url" value="{$value.picture_url}" lay-verify="title" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">当前可操作：</label>
            <div class="layui-input-block">
                {if $value.status == 1}
                <input type="radio" name="status" value="1" title="同意" checked="">
                <input type="radio" name="status" value="4" title="拒绝"> {else}
                <input type="radio" name="status" value="1" title="同意">
                <input type="radio" name="status" value="4" title="拒绝" checked="">{/if}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作员备注：</label>
            <div class="layui-input-block">
                <textarea name="remarks"  rows="10" cols="60">{$value.remarks}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>

                <button class="layui-btn" lay-submit="" lay-filter="demo1" type="submit">保存</button>

            </div>
        </div>
    </form>
    {/if} {/volist} {/if} {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
     $('#endsTime').datetimepicker({
            onGenerate: function(ct) {
                $(this).find('.xdsoft_date')
                    .removeClass('xdsoft_disabled');
            },
            minDate: '-1970/01/2',
            maxDate: '+1970/01/2',
            timepicker: false
        });
        $('#beginsTime').datetimepicker({
            onGenerate: function(ct) {
                $(this).find('.xdsoft_date')
                    .removeClass('xdsoft_disabled');
            },
            minDate: '-1970/01/2',
            maxDate: '+1970/01/2',
            timepicker: false
        });

        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
                for(var i=0;i<$("#admin_role option").length;i++){
			     var Cts = $("option")[i].innerHTML;
//			     
			     if(Cts.indexOf("&nbsp;")==0)
				{
					
				
				}
				else{
					if($("option")[i].className!="aaa"){
						$("."+$("option")[i].className).attr('disabled','disabled');
					}
				
//					console.log("."+$("option")[i].className)
				   
				}
			  }
			  form.render();
                	// 图片删除
		$(".remove-img").click(function() {
			var remove = $(this).parent();
			var id = $(this).data("id");
			var value = $(this).data("value");
			//			console.log(value)
			//			console.log(id);
			if(value == 1) {
				$.ajax({
					type: "POST",
					url: "{:url('admin/platform_advertisement/platform_picture_del')}",
					data: {
						"id": id
					},
					dataType: "json",
					success: function(data) {
						remove.remove();
					},
					error: function(data) {
						console.log("错误");
					}
				});
			} else {
				$.ajax({
					type: "POST",
					url: "{:url('admin/platform_advertisement/platform_picture_del')}",
					data: {
						"id": id
					},
					dataType: "json",
					success: function(data) {
						remove.remove();
					},
					error: function(data) {
						console.log("错误");
					}
				});
			}
			// 		
		});


        })
    </script>

    {/block}

</body>

</html>