{extend name="layout"}

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
	.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
	.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
	.pagination .active{background-color: #dd1a20;color: #fff;}
	.pagination .disabled{color:#aaa;}
	.dept_select{min-width: 200px;}
	.shade {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.55);
	}

	.shade div {
		width: 300px;
		height: 200px;
		line-height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -150px;
		background: white;
		border-radius: 5px;
		text-align: center;
	}

	.a-upload {
		padding: 4px 10px;
		height: 20px;
		line-height: 20px;
		position: relative;
		cursor: pointer;
		color: #888;
		background: #fafafa;
		border: 1px solid #ddd;
		border-radius: 4px;
		overflow: hidden;
		display: inline-block;
		*display: inline;
		*zoom: 1
	}

	.a-upload input {
		position: absolute;
		font-size: 100px;
		right: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		cursor: pointer
	}

	.a-upload:hover {
		color: #444;
		background: #eee;
		border-color: #ccc;
		text-decoration: none
	}
	.img_div{min-height: 100px; min-width: 100px;}
	.isImg{width: 120px; height: 120px; position: relative; float: left; margin-left: 10px;}
	.removeBtn{position: absolute; top: 0; right: 0; z-index: 11; border: 0px; border-radius: 50px; background: red; width: 22px; height: 22px; color: white;}
	.shadeImg{position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 15;
		text-align: center;
		background: rgba(0, 0, 0, 0.55);}
	.showImg{width: 400px; height: 500px; margin-top: 140px;}

</style>

{/block}

<body>

	{block name="content"}
	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger bataadtwo" href="{:url('admin/Menu/add')}">添加</a>
			</div>

		</blockquote>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="5%">
					<col width="9%">
					<col width="9%">
					<col width="9%">
					<col width="15%">
				</colgroup>
				<thead>
					<tr>
						<th >ID</th>
						<th>菜单名称</th>
						<th>URL</th>
						<th>上级ID</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content"></tbody>
				{volist name="menu_lists" id="value"}
				<tr>
					<td align="left">{$value.id}</td>
					<td>{$value.name}</td>
					<td>{$value.url}</td>
					<td>{$value.pid}</td>
					<td>
						<a href="{:url('admin/menu/edit',['id'=>$value.id])}" class="layui-btn layui-btn-mini account_edit"><i class="iconfont icon-edit"></i> 编辑</a>
						<a href="{:url('admin/menu/del',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
					</td>
				</tr>
				{/volist}
			</table>
			{$page}
		</div>
		<div id="page"></div>

		{/block}

		<!--_footer 作为公共模版分离出去-->
		{include file="template/_footer" /}
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		{block name="bottom"}
		<script>
            (function(){
                $.ajax({
                    type:"POST",
                    url:"{:url('admin/menu/index')}",
                    data:{},
                    async:false,
                    timeout:5000,
                    dataType:"json",
                    success:function (data) {
                        console.log(data)
                    },
                    error:function () {
                        console.log("错误");
                    }
                })
            })()
		</script>
		<!--自定义内容-->
		{/block}

</body>

</html>