<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test javascript</title>
        <script type="text/javascript">
            function callBack(a) {
                alert(a);
            }
            function callBackone(a) {
                alert(a);
            }
        </script>
    </head>
    <body>
        <div>
            <button onclick="ttf.nslog('JS与0000***OC交互', 'callBack)">点击我然后看xcode的log</button>
             <button onclick="ttf.nslog('JS与hahahahah', 'callBackone')">点击我然后看xcode的log</button>
        </div>
    </body>
</html>
