<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的优惠券</title>
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/discount.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="list_box">
    <a href="javascript:;" class="not_used_a active">未使用</a>
    <a href="javascript:;" class="used_a">已使用</a>
    <a href="javascript:;" class="expired_a">已失效</a>
</div>
<div class="tab">
    <!-- 没有优惠券的时候解除隐藏 -->
    {if empty($discounts) || $discounts.0.status != 1}
    <div class="no_discount" style="display: block;">
        <div class="no_discount_img">
            <img src="__STATIC__/index/images/u141.png">
        </div>
        <p class="no_discount_text">当前没有优惠券可用</p>
        <a href="discounts_index" class="invitation_a">邀请好友可免费领券>></a>
    </div>
    {/if}
    
    <!-- 未使用 没有优惠券时隐藏-->
    <div class="not_used" style="display: block;">
        <div class="discount_img">
            {if !empty($discounts)}
            {volist name="discounts" id="value"}
                {if $value.status == 1}
                <ul>
                    <li>
                        <img src="__UPLOADS__/{$value.discounts_valid_images}">
                        <p class="money_p">￥
                            <span class="amount_of_money">{$value.discounts_money}</span>
                        </p>
                        <p class="time_p">有效期:
                            <span class="term_of_validity">{$value.over_time|date='Y-m-d H:i:s',###}</span>
                        </p>
                    </li>
                </ul>
                {/if}
            {/volist}
            {/if}
        </div>
    </div>

    <!-- 已使用 -->
    <div class="used" style="display: block;">
        <div class="used_discount">
        {if !empty($discounts)}
        {volist name="discounts" id="data"}
            {if $data.status == 2}
            <ul>
                <li>
                    <img src="__UPLOADS__/{$data.discounts_valid_images}">
                    <p class="money_p">￥
                        <span class="amount_of_money">{$data.discounts_money}</span>
                    </p>
                    <p class="time_p">有效期:
                        <span class="term_of_validity">{$data.over_time|date='Y-m-d H:i:s',###}</span>
                    </p>
                </li>
            </ul>
            {/if}
        {/volist}
        {/if}
        </div>
    </div>

    <!-- 已过期 -->
    <div class="expired" style="display: none;">
        <div class="expired_discount">
            {if !empty($discounts)}
            {volist name="discounts" id="val"}
                {if $val.status == 3}
                <ul>
                    <li>
                        <img src="__UPLOADS__/{$val.discounts_failure_images}">
                        <p class="expired_money_p">￥
                            <span class="amount_of_money">{$val.discounts_money}</span>
                        </p>
                        <p class="expired_p">有效期:
                            <span class="term_of_validity">{$val.over_time|date='Y-m-d H:i:s',###}</span>
                        </p>
                    </li>
                </ul>
                {/if}
            {/volist}
            {/if}
        </div>
    </div>
</div>

<script src="__STATIC__/index/js/jquery.js"></script>
<script>
    function tab(obj, pop){
        $(obj).addClass('active').siblings().removeClass('active');
        console.log(pop);
        $(pop).css('display','block').siblings('div').css('display','none');
    }
    $('.not_used_a').click(function(){
        tab($(this),$('.tab .not_used'));
    })
    $('.used_a').click(function(){
        tab($(this),$('.tab .used'));
    })
    $('.expired_a').click(function(){
        tab($(this),$('.tab .expired'));
    })

</script>
</body>
</html>