{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}
	/*弹窗*/

    .tanchuang {
        width: 100%;
        min-height: 800px;
        background: RGBA(0, 0, 0, 0.3);
        position: fixed;
        z-index: 9999;
    }

    .tanchuang-content {
        width: 400px;
        height: 300px;
        background: #fff;
        z-index: 10000;
        position: fixed;
        top: 25%;
        left: 25%;
    }

    .close {
        width: 30px;
    }

    .clear {
        clear: both;
    }

    .title-a {
        background: RGB(247, 247, 247);
    }

    .content-title {
        padding-top: 10px;
        padding-left: 20px;
        float: left;
        width: 50%;
        height: 40px;
    }

    .noshow {
        display: none;
    }

    .dom form div {
          margin-top: 16px;
         margin-bottom: 9px;
    }

    .buts button {
        width: 100px;
    }
	.static{
			width: 86px;
		    height: 28px;
		    line-height: 28px;
		    margin: 10px auto;
		    color: #fff;
		    border-radius: 10px;
	}
	.static_pending{
		background: red;
	}
	.static_processed{
		background: #0099FF;
	}
	.static_refuse_treatment{
		background: #999999;
	}
	.dom_static{
		display: flex;
		width: 100%;
        align-items: center;
        justify-content: center;
	}

</style>

{/block}

<body>

	{block name="content"}
   <div class="tanchuang noshow">
		<div class="tanchuang-content ">
			<div class="title-a clear">
				<div class="content-title">消息</div>
				<div class="close"><img src="__STATIC__/admin/common/img/a7.png"></div>
			</div>
			<!-- 里面的内容 -->

			<div class="dom">
				<form name="alipayment" action="{:url('admin/Operation/urgency_updata')}" method="post" style="text-align: center; margin-top: 20px;" class="layui-form">
					<div class="dom_static">
						  <span style="width: 100px; text-align: right;display: inline-block;">处理状态：</span>
						  <input type="radio" name="status" value="1" title="已处理" checked="" class="hot">
                          <input type="radio" name="status" value="2" title="拒绝处理" class="">
					</div>
					<div style="display: flex; align-items: center;justify-content: center;">
						<span style="width: 100px; text-align: left; display: inline-block; margin-left: 11px;">处理备注：</span>
						<textarea name="user_dispose" class="UserDispose" rows="4" cols="20"></textarea>
					</div>
					<div class="buts">
						 <input type="hidden" name="id" value="" class="admin_status" data-id="">
						 <button class="layui-btn layui-btn-primary layui-btn-radius close-btus" type="button">取消</button>
						 <button class="layui-btn layui-btn-normal layui-btn-radius" type="submit">确定</button>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="{:url('admin/Category/search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">用户账号</div>
						<div class="seach_input">
							<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">联系方式</div>
						<div class="seach_input">
						<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
		</blockquote>

		<div class="layui-form news_list">
			<table class="layui-table">

				<thead>
					<tr>
						<th>序号</th>
						<th>用户账号</th>
						<th>用户昵称</th>
						<th>事故地理位置</th>
						<th>联系方式</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
				{volist name="rescue" id="value"}
					<tr>
						<td>{$value.id}</td>
						<td>{$value.account}</td>
						<td>{$value.user_name == null ? "无" : $value.user_name}</td>
						<td>{$value.user_address}</td>
						<td>{$value.user_phone}</td>
						<td>
								{if $value.status == 0}
							<div class="static static_pending" data-id="{$value.id}" style="background:  red">
								
								待处理
							</div>
								{/if}
								{if $value.status == 1}
								<div class="static static_pending" data-id="{$value.id}" style="background: #84D945">
									
										已处理
								</div>
								{/if}
								{if $value.status == 2}
								<div class="static static_pending" data-id="{$value.id}" style="background: #999">
									
										已拒绝
								</div>
								
								{/if}
						    </div>
						</td>
						<td>
							<a href="{:url('admin/Operation/urgency_del',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
			<div id="page">
				{$rescue->render()}
			</div>

		</div>

	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
		});
		   $(".static").on('click', function() {
                $(".tanchuang").removeClass("noshow");
                var id = $(this).data("id");
			    $(".admin_status").val(id);
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Operation/urgency_select')}",
                    data: {"id":id},
					dataType:"JSON",
					success:function (data) {
						console.log(data);
						if(data.status == 1){
							$(".UserDispose").html(data.data[0].user_dispose);
						}
                    }
				})

            });
		   $(".close-btus").on('click', function() {
                $(".tanchuang").addClass("noshow");
            });
            $(".close").on('click', function() {
                $(".tanchuang").addClass("noshow");
            });
            $(".btu-sumit").click(function() {
                $(".tanchuang").addClass("noshow");
            });
	</script>

	{/block}

</body>

</html>