{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}
	.img-box{
		margin-top: 0 !important;
		padding-left: 0 !important;
	}
		   /* 数据库展现图片样式 */
    
		   .img {
        position: relative;
        display: inline-block;
        width: 100px;
    }
     .imgcontent{
    	margin: 10px;
    }
   
    
    .img>i {
        display: inline-block;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }


</style>

{/block}

<body>
	{block name="content"}


	<form class="layui-form layui-form-lists" action="{:url('admin/Car/save')}" method="post" enctype="multipart/form-data">
		<div class="form-item">
			<label class="form-label">品牌名称</label>
			<div class="form-input">
				<select name="brand" class="role_list">
					{volist name="brand_name" id="value"}
					<option value="{$value.brand}">{$value.brand}</option>
					{/volist}
				</select><br/>
			</div>
		</div>

		<div class="form-item">
			<label class="form-label">品牌LOGO</label>
			<div class="form-input">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="brand_images" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple data-id="1" />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
				<div class="tips">
					请上传图片，做为品牌LOGO
				</div>
			</div>
        </div>
		<div class="form-item">
			<label class="form-label">热门推荐</label>
			<div class="form-input">
				<input type="radio" name="status" value="1" title="是" checked="">
				<input type="radio" name="status" value="0" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}


	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			   form.render();
		});
	</script>

	{/block}

</body>

</html>