{include file="template/_meta" /} {block name="css"}
<style type="text/css">
    body {
        background: #fff;
    }
    
    input {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    div {
        text-align: center;
        margin-top: 10px;
    }
    
    .text {
        top: 2px;
        width: 487px;
        margin: 20px auto;
        position: relative;
    }
    
    .layui-icon {
        position: absolute;
        right: 0;
        top: -9px;
    }
</style>

{/block} {block name="content"}
<h4 style="padding: 10px;">积分抵扣设置：</h4>
<div class="content">
    {if !empty($integral_data)} {volist name="integral_data" id="vo"}
    <div style="" class="text">消费满<input type="text" name="" id="" value="{$vo.consumption_full}" disabled="disabled" />元可使用<input type="text" name="" id="" value="{$vo.integral_can_be_used}" disabled="disabled" />积分，<input type="text" name="" id="" value="{$vo.integral_full}"
            disabled="disabled" />积分抵<input type="text" name="" id="" value="{$vo.deductible_money}" disabled="disabled" />元 <i class="layui-icon remove_img " data-id="{$vo.setting_id}">&#x1007;</i></div>
    {/volist} {/if}
</div>
<form action="{:url('admin/Install/integral_setting_add')}" method="post">

    <div class="addcontents">
    </div>
    <div class="bts" style="text-align: center;margin-top: 20px;">
        <button type="button" class="add-bts" style="background: #FFF; width: 100px; color: #0099FF; border:solid 1px #0099FF;border-radius:4px ;">+添加</button>
    </div>
    <div style="margin-top: 30px; text-align: center;">
        <button type="button" class="layui-btn  layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
        <button class="layui-btn" type="button" id="submits" style="margin-left: 190px;">保存</button>
    </div>
</form>

{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->



<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script type="text/javascript">
    layui.config({
        base: "js/"
    }).use(['form', 'layer', 'jquery', 'laypage'], function() {
        var form = layui.form(),
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            laypage = layui.laypage,
            $ = layui.jquery;
        $(".add-bts").click(function() {
            var dhtml = "";
            dhtml +=
                '<div style="" class="text">消费满<input type="text" name="consumption_full[]" id="" value="" />元可使用<input type="text" name="integral_can_be_used[]" id="" value="" />积分，<input type="text" name="integral_full[]" id="" value="" />积分抵<input type="text" name="deductible_money" id="" value="" />元 <i class="layui-icon remove-img">&#x1007;</i></div>';

            $(".addcontents").append(dhtml);
        });
        //	点击动态添加出来的删除图片触发
        $(".addcontents").on('click', '.remove-img', function() {
            // console.log(this)
            var remove = $(this).parent();
            remove.remove();
        });
        var num = 0;
        $("#submits").click(function() {
                for (var i = 0; i < $(".addcontents input").length; i++) {
                    if ($(".addcontents input")[i].value == "") {
                        layer.confirm('填写框不能为空', {
                            btn: ['确认', '取消'] //按钮
                        }, function(index) {
                            num = 0;
                            layer.close(index)

                        });
                    } else {
                        num++;
                    }
                }
                if (num == $(".addcontents input").length) {
                    $(this).attr("type", "submit")
                }

            })
            //	点击渲染出来的删除图片触发
        $(".remove_img").click(function() {
            var id = $(this).data("id");
            var remove = $(this).parent();
            layer.confirm('你确认要删除吗？', {
                btn: ['确认', '取消'] //按钮
            }, function(index) {
                layer.close(index);

                remove.remove();
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Install/integral_setting_del')}",
                    data: {
                        "id": id
                    },
                    async: false,
                    success: function(data) {
                        //删除公共之后需要隐藏
                        console.log(data)
                    },
                    error: function(data) {
                        console.log("失败")
                    }
                });
            });
        });

    });
</script>
{/block}