{extend name="layout"}

{block name="content"}
<div class="page-container">
	<!-- <div class="text-c"> 日期范围：
		<input type="date" id="datemin" class="input-text Wdate" style="width:140px;">
		-
		<input type="date" id="datemax" class="input-text Wdate" style="width:140px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="search_key" name="">
		<button type="submit" class="btn btn-success radius" id="search_bt" name="">
			<i class="Hui-iconfont">&#xe665;</i> 搜用户
		</button>
	</div> -->
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="" class="btn btn-danger radius btn_del">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>
			<a href="javascript:;" onclick="member_add('添加用户','user_add.html','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加用户
			</a>
		</span>
		<span class="r">共有数据：<strong id="count_number">0</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">用户名</th>
				<!--<th width="100">密码</th>-->
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="">地址</th>
				<th width="130">加入时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
			</thead>
			<tbody class="tbody">
			<!-- <tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>1</td>
				<td>
					<u style="cursor:pointer" class="text-primary" onclick="member_show('张三','user_show.html','10001','360','400')">张三</u>
				</td>
				<td>123456</td>
				<td>男</td>
				<td>13000000000</td>
				<td>admin@mail.com</td>
				<td class="text-l">北京市 海淀区</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status">
					<span class="label label-success radius">已启用</span>
				</td>
				<td class="td-manage">
                    <a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用">
                        <i class="Hui-iconfont">&#xe631;</i>
                    </a>
                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','user_edit.html','4','','510')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
			</tr> -->
			</tbody>
		</table>
	</div>
</div>
{/block}


{block name="bottom"}
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!-- /_footer 作为公共模版分离出去 -->

<!-- 请在下方写此页面业务相关的脚本 -->
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
    $.ajax({
        type: 'POST',
        url: "{:url('admin/user/show')}",
        dataType: 'json',
        data: {
            'id': id
        },
        success: function(data){
            console.log('成功');
        },
        error:function(data) {
            console.log(data.msg);
        },
    });
    layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	var idNum = (obj.id).split('_'); 
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('admin/user/status')}",
			dataType: 'json',
			data: {
				'id': idNum[1]
			},
			success: function(data){
			    alert(data.msg);
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});

//                window.location.reload();
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

	/*用户-启用*/
    function member_start(obj,id){
        var idNum = (obj.id).split('_');
        layer.confirm('确认要启用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('admin/user/statu')}",
                dataType: 'json',
                data: {
                    'id': idNum[1]
                },
                success: function(data){
                    alert(data.msg);
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!',{icon: 6,time:1000});
//                window.location.reload();

			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
	$.ajax({
		url: "{:url('admin/user/edit')}",
		type: 'POST',
		dataType: 'json',
		async: false,
		data: {
			'id': id
		},
		success: function(data){
			console.log(data)
		},
		error: function(data){
			console.log('失败');
		}
	})
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*用户-删除*/
function member_del(obj,id){
	var idNum = (obj.id).split('_');
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('admin/user/del')}",
			dataType: 'json',
			data: {
				'id': idNum[1],
			},
			success: function(data){
			    alert(data.msg);
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
/*用户批量删除*/
$('.btn_del').click(function(){
	// 被选中的input
	var input_checked = $('.mytr input:checked');
	var len_checked = input_checked.length;
	// 存放被选中input的id
	var id_checked = [];
	for(var i = 0; i < len_checked; i++){
		// 拆分被选中input中的id
		id_checked.push(input_checked[i].id.split('_')[1]);
		$(input_checked[i]).parents('tr').remove();
	}
	$.ajax({
		type: 'POST',
		url: "{:url('admin/user/dels')}",
		dataType: 'json',
		async: false,
		data: {
			'id': id_checked
		},
		success: function(data){
			console.log(data);
			alert(data.msg);
		},
		error: function(){
			console.log('错误')
		}
	})
})
/*搜用户*/
$('#search_bt').click(function(){
	var datemin = $('#datemin')[0].value; 
	var datemax = $('#datemax')[0].value;
	var search_key = $('#search_key').val();
	$.ajax({
		url: "{:url('admin/user/search')}",
		type: "POST",
		dataType: 'json',
		async: false,
		data: {
			"datemin": datemin+' '+'00:00:00',
			"datemax": datemax+' '+'23:59:59',
			"search_key": search_key
		},
		success: function(data){
			// 存放data
			var data_arr = [];
			var data_len = data.data.length;
			// 存放页面显示的data
			var page_arr = [];
			var page_len = $('.sorting_1').length;
			var page = $('.sorting_1');
			console.log(page)
			for(var i = 0; i < data_len; i++){
				data_arr[data.data[i].id] = true;//将 data.data[i].id 中的元素值作为data_arr 中的键，值为true
			}
			for(var j = 0; j < page_len; j++){
				if(!data_arr[page[j].innerHTML]){
					page_arr.push(page[j].innerHTML);// 过滤两个数组中相同的元素
				}
			}
			for(var z = 0; z < page_arr.length; z++){
				for(var i = 0; i < page_len; i++){
					if(page[i].innerHTML == page_arr[z]){
						page[i].parentNode.style.display = 'none';
					}
				}
			}
			$('#count_number').html(page_len - page_arr.length);
			$('.dataTables_info').css('display','none');
		},
		error: function(){
			console.log('错误')
		}
	})
})
</script> 

<script>
    function timetrans(date){
        var date = new Date(date*1000);//如果date为13位不需要乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
        return Y+M+D+h+m+s;
    }

    (function(){
        //  分类栏目，请求地址获取数据，插入select
        $.ajax({
                url:"{:url('admin/user/index')}",
                type:"POST",
                async:false,
                timeout:5000,
                dataType:"json",
                success: (data) => {
                console.log(data);
        		var len = data.data.length;
        		$('#count_number').html(len);
        		for(var i = 0; i < len; i++){
            var time_create =timetrans(data.data[i].create_time);
            $('.tbody').append('<tr class="text-c mytr">\
												<td><input type="checkbox" id="input_'+data.data[i].id+'"></td>\
												<td>'+ data.data[i].id +'</td>\
												<td>\
													<u style="cursor:pointer" class="text-primary" onclick="member_show('+ "'"+data.data[i].user_name +"'"+','+"'"+'user_show.html'+"'"+','+data.data[i].id+','+'360'+','+'400'+')">'+ data.data[i].user_name+'</u>\
												</td>\
												<td>'+ data.data[i].sex+'</td>\
												<td>'+ data.data[i].phone_num+'</td>\
												<td>'+ data.data[i].email+'</td>\
												<td class="text-l">'+ data.data[i].city+'</td>\
												<td>'+ time_create+'</td>\
												<td class="td-status">\
													<span class="label label-success radius" id="mystatus'+data.data[i].id+'">'+data.data[i].status +'</span>\
												</td>\
												<td class="td-manage">\
													<a style="text-decoration:none" id="stopbtn_'+data.data[i].id+'" onClick="'+'member_stop(this,'+'10001'+')'+'" href="javascript:;">\
														<i class="Hui-iconfont">&#xe631;</i>\
													</a>\
													<a title="编辑" href="javascript:;" id="editbtn_'+data.data[i].id+'" onclick="member_edit('+"'"+'编辑'+"'"+','+"'"+'user_edit.html'+"'"+','+data.data[i].id+','+"'"+''+"'"+','+'510'+')" class="ml-5" style="text-decoration:none">\
														<i class="Hui-iconfont">&#xe6df;</i>\
													</a>\
													<a title="删除" href="javascript:;" id="delbtn_'+data.data[i].id+'" onclick="member_del(this,'+'1'+')" class="ml-5" style="text-decoration:none">\
														<i class="Hui-iconfont">&#xe6e2;</i>\
													</a>\
												</td>\
											</tr>')
            // 获取当前i值所代表的span
            if(data.data[i].status == 1){
                $('#mystatus'+data.data[i].id).html('已启用');
            }
            if(data.data[i].status == 0){
                $('#mystatus'+data.data[i].id).html('已停用').attr('class', 'label label-defaunt radius');
                $('#stopbtn_'+data.data[i].id).children(i).attr('class','Hui-iconfont').html('&#xe6e1;');
                $('#stopbtn_'+data.data[i].id).attr('title','启用');
                $('#stopbtn_'+data.data[i].id).attr('onClick','member_start(this,10001)')
            }

        }

   	 },
        error:function () {
            console.log("错误");
        }
    })
    }())
</script>

{/block}