<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>这是城市测试页面</div>
<div id="province"></div>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/city/jquery.provincesCity.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/city/provincesData.js"></script>
<script>
    $(function(){
        $("#province").ProvinceCity()});
</script>
</body>
</html>