{extend name="layout"}

{block name="content"}
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text username" value="" placeholder="" id="username" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" class="male" type="radio" id="sex-1">
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" class="female" id="sex-2" name="sex">
					<label for="sex-2">女</label>
				</div>
				<div class="radio-box">
					<input type="radio" class="unknow" id="sex-3" name="sex">
					<label for="sex-3">保密</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text mobile" value="" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text email" placeholder="@" name="email" id="email">
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">附件：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple name="file-2" class="input-file">
				</span> </div>
		</div> -->
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3">所在城市：</label>-->
			<!--&lt;!&ndash; <div class="formControls col-xs-8 col-sm-9"> -->
				<!--<span class="select-box">-->
					<!--<select class="select" size="1" name="city">-->
						<!--<option value="">请选择城市</option>-->
						<!--<option value="1">北京</option>-->
						<!--<option value="2">上海</option>-->
						<!--<option value="3">广州</option>-->
					<!--</select>-->
				<!--</span> -->
			<!--</div> &ndash;&gt;-->
		<!---->
		<!--</div>-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所在城市：</label>
			<!-- <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select class="select" size="1" name="city">
						<option value="" selected>请选择城市</option>
						<option value="1" >北京</option>
						<option value="2">上海</option>
						<option value="3">广州</option>
					</select>
				</span>
			</div> -->
			<!--<div id="province"></div>-->
			<select name="province" id="province" onchange="loadRegion('province',2,'city','{:url("admin/user/getRegion")}');">
			<option value="0" selected>省份/直辖市</option>
			{volist name="province" id="vo"}
			<option value="{$vo.id}">{$vo.name}</option>
			{/volist}
			</select>

			<select name="city" id="city"  onchange="loadRegion('city',3,'town','{:url("admin/user/getRegion")}');">
			<option value="0">市/县</option>
			</select>

			<select name="town" id="town"  >
				<option value="0">镇/区</option>
			</select>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="beizhu" cols="" rows="" class="textarea notes"  placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius btn_submit" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{/block}


{block name="bottom"}
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<!-- 三级城市控件 -->
<script type="text/javascript" src="__STATIC__/admin/lib/city/jquery.provincesCity.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/city/provincesData.js"></script>
<script>
    $(function(){
        $("#province").ProvinceCity()});


</script>



<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
			sex:{
				required:true,
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},
			uploadfile:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
    $.ajax({
        url: "{:url('admin/user/edits')}",
        type: 'POST',
        dataType: 'json',
        success: function(data){
            console.log('1111');
			console.log(data);
            console.log('1111');
			// 设置名字
			$('.username').val(data.data.user_name);
			// 设置性别
			var sexdata = data.data.sex;
			if(sexdata == '男'){
				$('.male').parent().attr('class','iradio-blue checked');
			}else if(sexdata == '女'){
				$('.female').parent().attr('class', 'iradio-blue checked');
			}else if(sexdata == '保密'){
				$('.unknow').parent().attr('class', 'iradio-blue checked')
			}
			// 设置手机号
			$('.mobile').val(data.data.phone_num);
			// 设置邮箱
			$('.email').val(data.data.email);
			// 设置城市
            $('#province option:selected').val(data.data.province_id);
            $('#city option:selected').val(data.data.city_id);
            $('#town option:selected').val(data.data.town_id);
			var oCity = data.data.city.split(',');
            $('#province option:selected').html(oCity[0]);
            $('#city option:selected').html(oCity[1]);
            $('#town option:selected').html(oCity[2]);
			// 备注
			$('.notes').val(data.data.remark);
			
        },
        error: function(){
            console.log('失败');
        }
	});
	$('.btn_submit').click(function(){

		var username = $('.username').val();
		var sex = $('.radio-box').children('div.checked').siblings()[0].innerHTML;
		var mobile = $('.mobile').val();
		var email = $('.email').val();


        var province_id = $('#province option:selected').val();
        var city_id = $('#city option:selected').val();
        var town_id = $('#town option:selected').val();
        var province_name = $('#province option:selected').html();
        var city_name = $('#city option:selected').html();
        var town_name = $('#town option:selected').html();
        var city =province_name+','+city_name+','+town_name;
		var remark = $('.notes').val();
		// alert(remark)
//		 alert(sex)
		$.ajax({
			url: "{:url('admin/user/update')}",
			type: 'POST',
			async: false,
			dataType: 'json',
			data: {
				"user_name": username,
				"sex": sex,
				"phone_num": mobile,
				"email": email,
                "province_id":province_id,
                'city_id':city_id,
                'town_id':town_id,
				"city": city,
				"remark": remark
			},
			success: function(data){
				alert(data.msg);
			},
			error: function(data){
				console.log('失败');
			}
		})
	})
});

</script>
<script>
    function loadRegion(sel,type_id,selName,url){
        jQuery("#"+selName+" option").each(function(){
            jQuery(this).remove();
        });
        jQuery("<option value=0>请选择</option>").appendTo(jQuery("#"+selName));
        if(jQuery("#"+sel).val()==0){
            return;
        }
//        console.log(jQuery("#"+sel).val());
        jQuery.getJSON(url,{pid:jQuery("#"+sel).val(),type:type_id},
            function(data){
                if(data){
                    jQuery.each(data,function(idx,item){
                        jQuery("<option value="+item.id+">"+item.name+"</option>").appendTo(jQuery("#"+selName));
                    });

                }else{
                    jQuery("<option value='0'>请选择</option>").appendTo(jQuery("#"+selName));
                }
            }
        );
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}