<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/my/login.css">
    <title>登录</title>
</head>

<body>
    <!-- 注册 -->
    <div class="register-pop">
        <div class="reg-head">
            <!-- <a href="javascript:;" class="spr reg-back"></a> -->
            <h3>注册</h3>
            <!-- <a href="javascript:;" class="login">登录</a> -->
        </div>
        <div class="logo-wrap">
            <img src="__STATIC__/index/image/icon8.png">
        </div>
        <div class="reg-inputbox">
            <input type="text" placeholder="输入手机号码" class="reg-phone-num">
            <div class="identifying-code">
                <input type="text" class="reg-message-code" placeholder="短信验证码">
                <button class="reg-send-code">发送验证码</button>
            </div>
            <input type="password" placeholder="输入密码" class="reg-psw">
            <input type="text" placeholder="邀请码" class="reg-invite-code" readonly>
        </div>
        <div class="agree">
            <input type="checkbox" id="agree-input">
            <label for="agree-input" class="agree-label">我已阅读并同意《<span>用户服务协议</span>》</label>
        </div>
        <button class="reg-confirm" disabled>确定</button>
        <!-- <div class="third-part">
            <h3 class="third-txt">第三方登录</h3>
            <a href="javascript:;" class="spr wechat"></a>
            <a href="javascript:;" class="spr QQ"></a>
        </div> -->
    </div>
    
    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <script>
        // 注册发送验证码
        $('.reg-send-code').click(function(){
            var phone = $('.reg-phone-num').val();
            var reg = /^1[34578]\d{9}$/;
            var _self = this;
            if(phone!== '' && phone.match(reg)){
                $.ajax({
                    url: 'sendMobileCode',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'mobile': phone
                    },
                    success: function(data){
                        console.log(data);
                        if(data.status == 0){
                            layer.open({
                                skin: 'msg',
                                content: data.info,
                                time: 1
                            })
                        }else{
                            layer.open({
                                skin: 'msg',
                                content: data.info,
                                time: 1
                            })
                            buttonCountdown($(_self), 1000 * 60 * 1, "ss");
                        }
                    },
                    error: function(){
                        console.log('error');
                    }
                })
            }else{
                layer.open({
                    skin: 'msg',
                    content: '号码格式不正确',
                    time: 1
                })
            }
        })

        $('#agree-input').change(function(){
            if($(this)[0].checked){
                if($('.reg-message-code').val() !== ''){
                    $('.reg-confirm').attr('disabled', false);
                }
            }
        })
        $('.reg-message-code').blur(function(){
            if($(this).val() !== ''){
                if($('#agree-input')[0].checked){
                    $('.reg-confirm').attr('disabled', false);
                }
            }
        })
        var url = location.search;
        if(url.indexOf('?') !== -1){
            var registerCode = url.substr(1).split('&')[0].split('=')[1];
            $('.reg-invite-code').val(registerCode);
        }

        // 注册确定按钮
        $('.reg-confirm').click(function(){
            var mobile = $('.reg-phone-num').val(),
                mobile_code = $('.reg-message-code').val(),
                password = $('.reg-psw').val();
                confirm_password = $('.reg-psw').val();
                invitation = $('.reg-invite-code').val();

            $.ajax({
                url: 'doRegByPhone',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'mobile': mobile,
                    'mobile_code': mobile_code,
                    'password': password,
                    'confirm_password': confirm_password,
                    'invitation': invitation
                },
                success: function(data){
                    console.log(data);
                    if(data.status == 0){
                        layer.open({
                            skin: 'msg',
                            content: data.info,
                            time: .8
                        })
                    }else{
                        layer.open({
                            skin: 'msg',
                            content: '注册成功',
                            time: .8
                        })
                        // 判断机型
                        setTimeout(function(){
                            var u = navigator.userAgent;
                            if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){
                                // android
                                location.href = 'https://www.pgyer.com/khdu';
                            }else if(u.indexOf('iPhone') > -1 || u.indexOf('ios') > -1){
                                //ios
                                layer.open({
                                    skin: 'msg',
                                    content: 'IOS版本敬请期待！',
                                    time: 1
                                })
                            }
                        }, 1000)
                    }
                },
                error: function(){
                    console.log('error');
                }
            })
        })

        // 验证码倒计时
        function buttonCountdown($el, msNum, timeFormat) {
            var text = $el.data("text") || $el.text(),
                timer = 0;
            $el.prop("disabled", true).addClass("disabled")
                .on("bc.clear", function () {
                    clearTime();
                });
            (function countdown() {
                var time = showTime(msNum)[timeFormat];
                $el.text(time + '后失效');
                if (msNum <= 0) {
                    msNum = 0;
                    clearTime();
                } else {
                    msNum -= 1000;
                    timer = setTimeout(arguments.callee, 1000);
                }
            })();
            function clearTime() {
                clearTimeout(timer);
                $el.prop("disabled", false).removeClass("disabled").text(text);
            }
            function showTime(ms) {
                var d = Math.floor(ms / 1000 / 60 / 60 / 24),
                    h = Math.floor(ms / 1000 / 60 / 60 % 24),
                    m = Math.floor(ms / 1000 / 60 % 60),
                    s = Math.floor(ms / 1000 % 60),
                    ss = Math.floor(ms / 1000);
                return {
                    d: d + "天",
                    h: h + "小时",
                    m: m + "分",
                    ss: ss + "秒",
                    "d:h:m:s": d + "天" + h + "小时" + m + "分" + s + "秒",
                    "h:m:s": h + "小时" + m + "分" + s + "秒",
                    "m:s": m + "分" + s + "秒"
                };
            }
            return this;
        }
    </script>
</body>
</html>