{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	#page {
		width: 100%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}


	.noshow {
		display: none;
	}
	/* 弹窗 */

.content_repay{
	display: flex;
	
}
    .tanchuang {
        width: 100%;
        min-height: 1100px;
        background: RGBA(0, 0, 0, 0.3);
        position: fixed;
        z-index: 9999;
    }
    .select-operation select{
        width: 144px;
        height: 30px;
    }

	.tanchuang-content {
		width: 800px;
		height: 463px;
		background: #fff;
		z-index: 10000;
		position: fixed;
		top: 20%;
		left: 20%;
	}

	.close {
		width: 30px;
	}

	.clear {
		clear: both;
	}

	.title-a {
		background: RGB(247, 247, 247);
	}

	.content-title {
		padding-top: 10px;
		padding-left: 20px;
		float: left;
		width: 50%;
		height: 40px;
	}

	.noshow {
		display: none;
	}
	/* 弹窗内容样式 */

	.list-a ul li {
		float: left;
		margin-left: 26px;
		font-size: 12px;
	}

	.dom>ul {
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 50px;
	}

	.dom>ul>li {
		float: left;
		width: 100px;
		text-align: center;
		font-size: 16px;
		border: solid 1px RGB(242, 242, 242);
		height: 40px;
		line-height: 40px;
	}

	.list {
		padding-top: 20px;
		margin-left: 30px;
		border-top: RGB(242, 242, 242) solid 1px;
	}

	.cancel {
		border-bottom: solid 1px RGB(242, 242, 242);
		margin-left: 26px;
		padding-bottom: 24px;
		margin-top: 18px;
		font-size: 12px;
	}

	.reply {
		margin: 15px;
	}
.repay_time{
	margin-right: 30px;
}
	.reply-content {
		margin-top: 11px;
		min-height: 175px;
		max-height: 175px;
		overflow-y: scroll;
	}

	.opation>div {
		float: left;
		margin-left: 26px;
		margin-top: 10px;
	}

	.btu-sumit {
		position: absolute;
		bottom: 25px;
		right: 0;
		/* float: right; */
		color: #fff;
		background: #0099FF;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		margin-right: 24px;
	}

	.active {
		background: #F2F2F2;
	}
	/* 物流线 */
	/* flow start */

	.flowSwrap {
		position: relative;
		margin: 0 auto;
		width: 720px;
		/*background-color: rgba(0,0,0,.3);*/
	}

	.flowCell {
		margin-left: 218px;
		margin-top: 46px;
		overflow: hidden;
	}

	.cell-left {
		width: 190px;
		padding-right: 28px;
		text-align: right;
		display: table-cell;
		vertical-align: middle;
		/*background-color: goldenrod;*/
	}

	.cell-right {
		padding-left: 28px;
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		/*background-color:green;*/
	}

	.cell-center {
		height: 60px;
		width: 20px;
		display: table-cell;
		vertical-align: middle;
		/*background-color: azure;*/
	}

	.cell-left .t1 {
		font-size: 10px;
	}

	.cell-left .t2 {
		font-size: 10px;
	}

	.cell-right .t1_start {
		font-size: 10px;
	}

	.cell-right .t1 {
		font-size: 10px;
	}

	.cell-right .t2 {
		font-size: 10px;
	}

	.flow-line {
		position: absolute;
		width: 2px;
		background-color: #F2F2F2;
		top: -27px;
		left: 210px;
		z-index: -1;
	}

	.firstImg {
		height: 20px;
		width: 20px;
	}

	tbody button {
		width: 100px;
		height: 30px;
		color: #fff;
		border-radius: 10px;
	}
	.parment{
		margin-left: 26px;
	}
	.img_content{
		display: flex;
		flex-wrap: wrap;
	}
	.img_content div{
		width: 50px;
		height: 50px;
	}
	.select-operation input{
            height: 30px;
	}
	#startImg{
		background: #009DD9;
		height: 20px;
		border-radius: 50%;
	}
	/*  flow  end */

	.pagination {
		float: right;
	}
</style>

{/block}

<body>

    {block name="content"}
  	<!-- 弹窗 -->
	  <div class="tanchuang noshow news_search">
        <div class="tanchuang-content ">
            <div class="title-a clear">
                <div class="content-title">消息</div>
                <div class="close"><img src="__STATIC__/admin/common/img/a7.png"></div>
            </div>
            <!-- 里面的内容 -->
            <!-- <button type="button" class="btu-sumit" data-id="">确定</button> -->
            <div class="dom  layui-form">
                
                <ul class="clear card">
                    <li class="active" data-id="list-a">订单处理</li>
                    <li data-id="list-b">物流跟踪</li>
                </ul>

                <div class="list-a list">
                    <input type="button"   id="reflash"  style=" display: none;"/>
                    <ul class="clear">
                        <li>
                            <span>订单状态：</span>
                            <span id="order_status">无</span>
                        </li>
                        <li>
                            <span>支付方式：</span>
                            <span id="payment">无</span>
                        </li>
                        <li>
                            <span>商品金额：</span>
                            <span id="goods">无</span>
                        </li>
                        <li>
                            <span>积分抵扣：</span>
                            <span id="points_deduction">无</span>
                        </li>
                        <li>
                            <span>实付金额：</span>
                            <span id="real_pay">无</span>
                        </li>
                    </ul>
                    <!-- <div class="parment" >
                            <span  >申请原因:</span>
                            <span  id="reason">申请原因:</span>
                        </div>
                    <div class="cancel" >
                        <span >问题描述:</span>
                        <span  id="description">申请原因:</span>
                        <div class="img_content">
                            <div >
                                <img src="11" alt="">
                            </div>
                        </div>

                    </div> -->

                    <div class="reply">
                        <span>官方回复</span>
                        <span><input type="text" name="" value="" placeholder="请输入处理备注" style="width: 400px; height: 30px;" id="note_tip" /></span>
                        <div class="reply-content">
                            
                        </div>
					</div>
			
                    <div class="opation">
                        <div class="select-operation seach_list">
                            <span>选择状态</span>
							<select id="static_select">
								<option value="" selecte="" >请选择</option>
								<option value="4">待收货</option>
							</select>
                        </div>
                    
                        <div class="select-operation">
                            <span>退款金额</span>
                            <input type="text" name="" id="refund_amount" value="" />
                        </div>

                    </div>
                </div>
                <div class="list-b list noshow">
                    <div class="flowSwrap">
                        <!--流程线-->
                        <div class="flow-line" style="left: 226.5px; height:306px;"></div>
                        <!--流程区域 start-->
                        <div class="flowCell_content">
                        <div class="flowCell">
                            
                        </div>
                        <!--流程区域 end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
        		<form class="layui-form" action="{:url('admin/Order/platform_order_parts_search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">订单编号：</div>
						<div class="seach_input">
						<input type="text" name="parts_order_number" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">

						</div>
					</div>
						<div class="seach_list">
						<div class="seach_laber">商品名称：</div>
						<div class="seach_input">
						  <input type="text" name="goods_name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">

						</div>
					</div>
						<div class="seach_list">
						<div class="seach_laber">用户账号：</div>
						<div class="seach_input">
						 <input type="text" name="phone_num" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">

						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">订单状态:</div>
						<div class="seach_input">
							<select name="order_status" id="admin_status">
								<option value="" selected="">全部</option>
								<option value="3">待发货</option>
								<option value="1">待付款</option>
								<option value="4">已发货</option>
								<option value="5">待收货</option>
								<option value="0">已关闭</option>
							</select>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
							<span class="time"><input type="text" class="text datetimepicker layui-input" readonly="readonly" id="beginTime" value=""   name="date_min">
							</span>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time"><input type="text" class=" text datetimepicker layui-input" readonly="readonly" id="endTime" value=""  name="date_max" ></span>

						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
	
          
        </blockquote>

        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                        <th>订单编号</th>
                        <th>店铺名称</th>
                        <th>商品图片</th>
                        <th>商品名称</th>
                        <th>订单数量</th>
                        <th>订单金额</th>
                        <th>用户账号</th>
                        <th>联系方式</th>
                        <th>下单时间</th>
                        <th>配送地址</th>
                        <th>订单状态</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {if !empty($order_parts_data)} {volist name="order_parts_data" id ="vo"}
                    <tr>
                        <td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$vo.id}"></td>
                        <td>{$vo.parts_order_number}</td>
                        <td>{$vo.store_name}</td>
                        {if !empty($vo.goods_image)}
                        <td style="width: 40px; height: 40px;"><img src="__UPLOADS__/{$vo.goods_image}" /></td>
                        {else}
                        <td style="width: 40px; height: 40px;">无</td>
                        {/if}
                        <td>{$vo.parts_goods_name}</td>
                        <td>{$vo.order_quantity}</td>
                        <td>{$vo.order_amount}</td>
                        <td>{$vo.phone_num}</td>
                        <td>{$vo.user_phone_number}</td>
                        <td>{$vo.order_create_time|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.harvester_address}</td>
                        <td data-id="{$vo.id}">
                            {$vo.status|show_order_status}
                        </td>
                    </tr>
                    {/volist} {/if}
                </tbody>
            </table>
            <div id="page">
                <div class="opations " style="width: 200px; float: left; ">
                    <select name=" " style="color: #C1A5A5; border-color: #E4E4E4;height: 30px; ">
						<option check=" " value="0 ">请选择</option>
						<option value="1 ">批量删除</option>
					</select>
                </div>
                <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px; ">
                    <button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px; ">确定
					</button>
                </div>
                {if !empty($order_parts_data)} {$order_parts_data->render()} {/if}
            </div>
        </div>

    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#opration_btu").click(function() {
                var opration_val = $(".opations select option:selected").val();
                console.log(opration_val);
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                            ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function() {
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Order/platform_order_parts_dels')}",
                            data: {
                                "id": data_id,
                            },
                            success: function(data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function(data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

        })
    </script>
    <script type="text/javascript">
        //时间
        if ($(".datetimepickers").length > 0) {
            $('.datetimepickers').datetimepicker({
                timepicker: false,
                scrollMonth: false
            })
        }

        if ($(".datetimepickers2").length > 0) {
            var datenow = new Date();
            datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
            $('.datetimepickers2').datetimepicker({
                timepicker: false,
                maxDate: datenow,
                scrollMonth: false
            })
        }
        if ($(".datetimepicker").length > 0) {
            var datenow = new Date();
            datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
            var date = $("#beginTime").val();
            var date1 = $("#endTime").val();
            //时间控件
            $('#beginTime').datetimepicker({
                timepicker: false,
                maxDate: datenow,
                scrollMonth: false,
                onClose: function(ct, $i) {
                    $('#endTime').datetimepicker({
                        minDate: $('#beginTime').val(),
                        maxDate: datenow,
                    });
                }
            });

            $('#endTime').datetimepicker({
                timepicker: false,
                maxDate: datenow,
                scrollMonth: false,
                onClose: function(ct, $i) {
                    $('#beginTime').datetimepicker({
                        maxDate: $('#endTime').val(),
                    });
                }
            });
        }
        //清空时间
        $(".handle_main span .cleartime").click(function() {
                $(this).prev("input").val("")
            })
            //时间插件封装
        function datetimepicker(beginTime, endTime) {
            var datenow = new Date();
            datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
            var date = $(beginTime).val();
            var date1 = $(endTime).val();
            //时间控件
            $(beginTime).datetimepicker({
                timepicker: false,
                maxDate: datenow,
                scrollMonth: false,
                onClose: function(ct, $i) {
                    $(endTime).datetimepicker({
                        minDate: $(beginTime).val(),
                        maxDate: datenow,
                    });
                }
            });

            $(endTime).datetimepicker({
                timepicker: false,
                maxDate: datenow,
                scrollMonth: false,
                onClose: function(ct, $i) {
                    $(beginTime).datetimepicker({
                        maxDate: $(endTime).val(),
                    });
                }
            });
        }
    </script>
	<script type="text/javascript">
		function getMyDate(str){  
					var oDate = new Date(str),  
					oYear = oDate.getFullYear(),  
					oMonth = oDate.getMonth()+1,  
					oDay = oDate.getDate(),  
					oHour = oDate.getHours(),  
					oMin = oDate.getMinutes(),  
					oSen = oDate.getSeconds(),  
					oTime = oYear +'-'+ getzf(oMonth) +'-'+ getzf(oDay) +' '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//最后拼接时间  
					return oTime;  
				}; 
				function getzf(num){  
				  if(parseInt(num) < 10){  
					  num = '0'+num;  
				  }  
				  return num;  
			  }
			$(".state").on('click', function() {
				var id = $(this).parent("td").data(id).id;
			$(".btu-sumit").data('id', id);
			$.ajax({
				type: "POST",
				url: "{:url('admin/Order/order_processing')}",
				async: false,
				data: {
					"id": id,
				},
				success: function(data) {
					$(".tanchuang").removeClass("noshow");
					data = eval("(" + data + ")");
					console.log(data)
					// var order_create_time=timestampToTime(data.data[0].service[0].order_create_time);
					if(data.data[0].status==0){
						$("#order_status").html('已关闭');
					}
					else if(data.data[0].status==1){
						$("#order_status").html('待支付');
					}
					else if(data.data[0].status==2){
						$("#order_status").html('已付款');
					}
					if(data.data[0].status==3){
						$("#order_status").html('待发货');
					}
					else if(data.data[0].status==4){
						$("#order_status").html('已发货');
					}
					else if(data.data[0].status==5){
						$("#order_status").html('待收货');
					}
					if(data.data[0].status==6){
						$("#order_status").html('已收货');
					}
					else if(data.data[0].status==7){
						$("#order_status").html('待评价');
					}
					else if(data.data[0].status==8){
						$("#order_status").html('已完成');
					}
					
					else if(data.data[0].status==9){
						$("#order_status").html('未付款取消订单');
					}
					if(data.data[0].status==10){
						$("#order_status").html('已付款取消订单');
					}
					else if(data.data[0].status==11){
						$("#order_status").html('退货');
					}
					else if(data.data[0].status==12){
						$("#order_status").html('已退货');
					}
					else if(data.data[0].status==13){
						$("#order_status").html('退货中');
					}
					
				if(data.data[0].pay_type_content!=null){
					$("#payment").html(data.data[0].pay_type_content);
				}
				else{
					$("#payment").html("无");
				}
				if(data.data[0].order_amount!=null){
					$("#goods").html(data.data[0].order_amount);
				}
				else{
					$("#goods").html("面议");
				}
				
				if(data.data[0].integral_deductible!=null){
					$("#points_deduction").html(data.data[0].integral_deductible);
				}
				else{
					$("#points_deduction").html("面议");
				}
				if(data.data[0].order_real_pay!=null){
					$("#real_pay").html(data.data[0].order_real_pay);
				}
				else{
					$("#real_pay").html("面议");
				}
				
					$(".reply-content").html('');
					$(".flowCell_content").html('');
				// if(data.data.delivery_status!=null){
				// 	for(var i=0;i<data.data[0].service_message.length;i++){
				// 		var create_time= getMyDate(data.data[0].service_message[i].create_time*1000);
				// 		var dhtml='';
				// 		dhtml+='<div class="content_repay">';
				// 		dhtml+='<div class="repay_time">'+create_time+'</div>';
				// 		dhtml+='<div >'+data.data[0].service_message[i].service_dispose+'</div>';
				// 		dhtml+='</div>';
				// 		$(".reply-content").append(dhtml)
				// 	} 
				// }
				if(data.data[0].delivery_status!=null){
					for(var j=0; j<parseInt(data.data[0].delivery_status.status);j++){
					
					var dhtmls='';
						   dhtmls+='<div class="flowCell">';
							dhtmls+='<div class="cell-center  fc-grey">';
							dhtmls+='<div id="startImg"></div>';
							dhtmls+='</div>';
							dhtmls+='<div class="cell-right  fc-grey">';
							if(j==0){
								dhtmls+='<p class="t1">快递小哥已接单</p>';
							}
							else if(j==1){
								dhtmls+='<p class="t1">快递小哥已取货</p>';
							}
							else {
								dhtmls+='<p class="t1">已完成</p>';
							}
							
							dhtmls+='<p class="t2">小哥电话：'+data.data[0].delivery_name_phone.number+'</p>';
							dhtmls+='</div>';
							dhtmls+='</div>';
							$(".flowCell_content").append(dhtmls);
				}
				  
				}
				 else{
					var dhtmls='';
						   dhtmls+='<div class="flowCell">';
							dhtmls+='<div class="cell-center  fc-grey">';
							dhtmls+='<div id="startImg"></div>';
							dhtmls+='</div>';
							dhtmls+='<div class="cell-right  fc-grey">';
							dhtmls+='<p class="t1">暂未接单</p>';
							dhtmls+='</div>';
							dhtmls+='</div>';
							$(".flowCell_content").append(dhtmls);
				}
					
				},
				error: function(data) {
					console.log(data);
				}
			});
		
		});
		
		$(".close").on('click', function() {
			$(".tanchuang").addClass("noshow");
		});
		
		// 弹窗选项卡切换
		$(".card").on('click', 'li', function() {
			$(this).addClass("active");
			$(this).siblings().removeClass("active");
			var dait_id = $(this).data("id");
			$("." + dait_id).removeClass("noshow");
			$("." + dait_id).siblings("div").addClass("noshow");
		
		});
		// 点击弹窗确认按钮
		$(".btu-sumit").on('click', function() {
			$(".tanchuang").addClass("noshow");
				var id = $(this).data("id");
				var note_tip = $("#note_tip").val();
				var static_select = $("#static_select  option:selected").val();
				console.log(static_select);
				$.ajax({
					type: "POST",
					url: "{:url('admin/Order/order_update_status')}",
					async: false,
					data: {
						"id": id,
						"sell_message": note_tip,
						"status": static_select,
						"pay_type_content": "",
						"refund_amount": "",
					},
					success: function(data) {
						// console.log(data)
					},
					error: function(data) {
						console.log("失败");
					}
				});
				
		
				});
		
		</script>
    {/block}

</body>

</html>