{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	#page {
		width: 100%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}


	.noshow {
		display: none;
	}
	/* 弹窗 */
	
    
    .tanchuang {
        width: 100%;
        min-height: 1100px;
        background: RGBA(0, 0, 0, 0.3);
        position: fixed;
        z-index: 9999;
    }
    .select-operation select{
        width: 100px;
        height: 30px;
    }
	
	.tanchuang-content {
		width: 800px;
		height: 500px;
		background: #fff;
		z-index: 10000;
		position: fixed;
		top: 20%;
		left: 20%;
	}
	
	.close {
		width: 30px;
	}
	
	.clear {
		clear: both;
	}
	
	.title-a {
		background: RGB(247, 247, 247);
	}
	
	.content-title {
		padding-top: 10px;
		padding-left: 20px;
		float: left;
		width: 50%;
		height: 40px;
	}
	
	.noshow {
		display: none;
	}
	/* 弹窗内容样式 */
	
	.list-a ul li {
		float: left;
		margin-left: 26px;
		font-size: 12px;
	}
	
	.dom>ul {
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 50px;
	}
	
	.dom>ul>li {
		float: left;
		width: 100px;
		text-align: center;
		font-size: 16px;
		border: solid 1px RGB(242, 242, 242);
		height: 40px;
		line-height: 40px;
	}
	
	.list {
		padding-top: 20px;
		margin-left: 50px;
		border-top: RGB(242, 242, 242) solid 1px;
	}
	
	.cancel {
		border-bottom: solid 1px RGB(242, 242, 242);
		margin-left: 26px;
		padding-bottom: 24px;
		margin-top: 18px;
		font-size: 12px;
	}
	
	.reply {
		margin: 15px;
	}
	
	.reply-content {
		margin-top: 11px;
		min-height: 175px;
		max-height: 175px;
		overflow-y: scroll;
	}
	
	.opation>div {
		float: left;
		margin-left: 26px;
		margin-top: 10px;
	}
	
	.btu-sumit {
		position: absolute;
		bottom: 25px;
		right: 0;
		/* float: right; */
		color: #fff;
		background: #0099FF;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		margin-right: 24px;
	}
	
	.active {
		background: #F2F2F2;
	}
	/* 物流线 */
	/* flow start */
	
	.flowSwrap {
		position: relative;
		margin: 0 auto;
		width: 720px;
		/*background-color: rgba(0,0,0,.3);*/
	}
	
	.flowCell {
		overflow: hidden;
	}
	
	.cell-left {
		width: 190px;
		padding-right: 28px;
		text-align: right;
		display: table-cell;
		vertical-align: middle;
		/*background-color: goldenrod;*/
	}
	
	.cell-right {
		padding-left: 28px;
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		/*background-color:green;*/
	}
	
	.cell-center {
		height: 60px;
		width: 20px;
		display: table-cell;
		vertical-align: middle;
		/*background-color: azure;*/
	}
	
	.cell-left .t1 {
		font-size: 10px;
	}
	
	.cell-left .t2 {
		font-size: 10px;
	}
	
	.cell-right .t1_start {
		font-size: 10px;
	}
	
	.cell-right .t1 {
		font-size: 10px;
	}
	
	.cell-right .t2 {
		font-size: 10px;
	}
	
	.flow-line {
		position: absolute;
		width: 3px;
		background-color: #aaaaaa;
		top: 10px;
		left: 210px;
		z-index: -1;
	}
	
	.firstImg {
		height: 20px;
		width: 20px;
	}
	
	tbody button {
		width: 100px;
		height: 30px;
		color: #fff;
		border-radius: 10px;
	}
	/*  flow  end */
	
	.pagination {
		float: right;
	}
</style>
{/block}

<body>

	{block name="content"}
	<!-- 弹窗 -->
	<div class="tanchuang noshow">
			<div class="tanchuang-content ">
				<div class="title-a clear">
					<div class="content-title">消息</div>
					<div class="close"><img src="__STATIC__/admin/common/img/a7.png"></div>
				</div>
				<!-- 里面的内容 -->
				<button type="button" class="btu-sumit" data-id="">确定</button>
				<div class="dom">
					<ul class="clear card">
						<li class="active" data-id="list-a">订单处理</li>
						<li data-id="list-b">物流跟踪</li>
					</ul>
	
					<div class="list-a list">
						<ul class="clear">
							<li>
								<span>订单状态：</span>
								<span v-if="status==0">已关闭</span>
								<span v-else-if="status==1">待支付</span>
								<span v-else-if="status==2">已付款</span>
								<span v-else-if="status==3">待发货</span>
								<span v-else-if="status==4">已发货</span>
								<span v-else-if="status==5">待收货</span>
								<span v-else-if="status==6">已收货</span>
								<span v-else-if="status==7">待评价</span>
								<span v-else-if="status==8">已完成</span>
								<span v-else-if="status==9">未付款取消订单</span>
								<span v-else-if="status==10">已付款取消订单</span>
								<span v-else-if="status==11">退货</span>
								<span v-else>无</span>
							</li>
							<li>
								<span>支付方式：</span>
								<span v-if="payment!=null">{{payment}}</span>
								<span v-else>无</span>
							</li>
							<li>
								<span>商品金额：</span>
								<span v-if="amount!=null">{{amount}}</span>
								<span v-else>无</span>
							</li>
							<li>
								<span>积分抵扣：</span>
								<span  v-if="points_Deduction!=null">{{points_Deduction}}</span>
								<span v-else>无</span>
							</li>
							<li>
								<span>实付金额：</span>
								<span  v-if="real_Pay!=null"> {{real_Pay}}</span>
								<span v-else>无</span>
							</li>
						</ul>
						<div class="cancel" >
							<span  v-if="cancel_order_description!=null">取消原因:</span>
							<span  v-if="cancel_order_description!=null">{{cancel_order_description}}</span>
						</div>
						<div class="reply">
							<span>官方回复</span>
							<span><input type="text" name="" value="" placeholder="请输入处理备注" style="width: 400px; height: 30px;" id="note_tip" /></span>
							<div class="reply-content">
								<span v-if="buy_message!=null">{{order_create_time}}</span>
								<span v-if="buy_message!=null"> {{buy_message}}</span>
							</div>
						</div>
						<div class="opation clear">
							<div class="select-operation">
								<span>选择状态</span>
								<select id="static_select">
									<option value="">请选择</option>
									<option value="3">待付款</option>
									<option value="1">待付款</option>
									<option value="4">已发货</option>
									<option value="5">待收货</option>
									<option value="0">已关闭</option>
								</select>
							</div>
							<div class="select-operation">
								<span>退款方式</span>
								<select>
									<option value="">请选择</option>
									<option value="">已关闭</option>
								</select>
							</div>
							<div class="select-operation">
								<span>退款金额</span>
								<input type="text" name="" id="" value="" />
							</div>
	
						</div>
					</div>
					<div class="list-b list noshow">
						<div class="flowSwrap">
							<!--流程线-->
							<div class="flow-line" style="left: 226.5px; height:340px;"></div>
							<!--流程区域 start-->
							<div class="flowCell">
								<div class="cell-left fc-orange">
									<p class="t1">20:00</p>
									<p class="t2">2018-01-01</p>
								</div>
								<div class="cell-center  fc-orange">
									<img id="startImg" src="__STATIC__/admin/common/img/f1.png">
								</div>
								<div class="cell-right  fc-orange">
									<p class="t1_start">订单已竣工</p>
								</div>
							</div>
							<div class="flowCell">
								<div class="cell-left  fc-grey">
									<p class="t1">20:00</p>
									<p class="t2">2018-01-01</p>
								</div>
								<div class="cell-center  fc-grey">
									<img src="__STATIC__/admin/common/img/f2.png">
								</div>
								<div class="cell-right  fc-grey">
									<p class="t1">施工小哥已接单，请等待</p>
									<p class="t2">小哥电话：18612123233</p>
								</div>
							</div>
							<div class="flowCell">
								<div class="cell-left  fc-grey">
									<p class="t1">20:00</p>
									<p class="t2">2018-01-01</p>
								</div>
								<div class="cell-center  fc-grey">
									<img src="__STATIC__/admin/common/img/f2.png">
								</div>
								<div class="cell-right  fc-grey">
									<p class="t1">施工小哥已接单，请等待</p>
									<p class="t2">小哥电话：18612123233</p>
								</div>
							</div>
							<div class="flowCell">
								<div class="cell-left fc-grey">
									<p class="t1">20:00</p>
									<p class="t2">2018-01-01</p>
								</div>
								<div class="cell-center  fc-grey">
									<img id="endImg" src="__STATIC__/admin/common/img/f2.png">
								</div>
								<div class="cell-right  fc-grey">
									<p class="t1">订单已提交</p>
								</div>
							</div>
							<!--流程区域 end-->
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
				<form class="layui-form" action="{:url('admin/Category/search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">输入搜索：</div>
						<div class="seach_input">
							<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="服务单号" class="layui-input">

						</div>
					</div>
						<div class="seach_list">
						<div class="seach_laber">收货人：</div>
						<div class="seach_input">
							<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">

						</div>
					</div>

					<div class="seach_list">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
							<span class="time"><input type="text" class="text datetimepicker layui-input" readonly="readonly" id="beginTime" value=""   name="date_min">
							</span>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time"><input type="text" class=" text datetimepicker layui-input" readonly="readonly" id="endTime" value=""  name="date_min" ></span>

						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>

		</blockquote>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">

					<col>
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
						<th>订单编号</th>
						<th>申请时间</th>
						<th>用户账号</th>
						<th>退款金额</th>
						<th>联系人</th>
						<th>申请原因</th>
						<th>联系电话</th>
						<th>处理时间</th>
						<th>订单状态</th>
					</tr>
				</thead>
				<tbody class="news_content">
				{volist name="service" id="value"}
					<tr>
						<td><input type="checkbox" sname="" value="{$value.id}" lay-skin="primary" lay-filter="choose"></td>
						<td>{$value.order.parts_order_number}</td>
						<td>{$value.create_time|date='Y-m-d H:i',###}</td>
						<td>{$value.order.user_account_name == null ? "无" : $value.order.user_account_name}</td>
						<td>{$value.order_money}</td>
						<td>{$value.order.harvester}</td>
						<td>{$value.service_reason}</td>
						<td>{$value.order.harvest_phone_num}</td>
						<td>
							{if $value.dispose_time != null}
							{$value.dispose_time|date='Y-m-d H:i',###}
							{else}
							无
							{/if}
						</td>
						<td>
							<button type="button" class="state for-the-payment" data-id="{$value.id}">
								{if $value.status == 0}
								待处理
								{/if}
								{if $value.status == 1}
								已处理
								{/if}
								{if $value.status == 2}
								已拒绝
								{/if}
							</button>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
			<div id="page">
				<div class="opations " style="width: 200px; float: left; ">
					<select name=" " style="color: #C1A5A5; border-color: #E4E4E4;height: 30px; ">
						<option check=" " value="0 ">请选择</option>
						<option value="1 ">批量删除</option>
					</select>
				</div>
				<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px; ">
					<button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px; ">确定
					</button>
				</div>
			</div>
		</div>

	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//点击操作确认按钮
			var data_id = [];
			$("#opration_btu").click(function() {
				var opration_val = $(".opations select option:selected").val();
				console.log(opration_val);
				if(opration_val == 0) {
					layer.alert('请选择操作', {
						skin: 'layui-layer-molv' //样式类名
							,
						closeBtn: 0
					});
				} else if(opration_val == 1) {
					layer.confirm('你确认要删除吗？', {
						btn: ['确认', '取消'] //按钮
					}, function() {
						var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
						for(var i = 0; i < child.length; i++) {
							data_id.push($(child[i])[0].dataset.id);
						}
						$.ajax({
							type: "POST",
							url: "{:url('aaaa')}",
							data: {
								"id": data_id,
							},
							success: function(data) {
								console.log("成功");
								console.log(data);
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
										,
									closeBtn: 0
								});
								location.reload();
								data_id.splice(0, data_id.length);
							},
							error: function(data) {
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
										,
									closeBtn: 0
								});
								console.log(data);
								console.log("错误");
								data_id.splice(0, data_id.length);
							}
						});
					});

				}

			});

			//全选
			form.on('checkbox(allChoose)', function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});

			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if(childChecked.length == child.length) {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})

		})
	</script>
	<script type="text/javascript">
		//时间
		if($(".datetimepickers").length > 0) {
			$('.datetimepickers').datetimepicker({
				timepicker: false,
				scrollMonth: false
			})
		}

		if($(".datetimepickers2").length > 0) {
			var datenow = new Date();
			datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
			$('.datetimepickers2').datetimepicker({
				timepicker: false,
				maxDate: datenow,
				scrollMonth: false
			})
		}
		if($(".datetimepicker").length > 0) {
			var datenow = new Date();
			datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
			var date = $("#beginTime").val();
			var date1 = $("#endTime").val();
			//时间控件
			$('#beginTime').datetimepicker({
				timepicker: false,
				maxDate: datenow,
				scrollMonth: false,
				onClose: function(ct, $i) {
					$('#endTime').datetimepicker({
						minDate: $('#beginTime').val(),
						maxDate: datenow,
					});
				}
			});

			$('#endTime').datetimepicker({
				timepicker: false,
				maxDate: datenow,
				scrollMonth: false,
				onClose: function(ct, $i) {
					$('#beginTime').datetimepicker({
						maxDate: $('#endTime').val(),
					});
				}
			});
		}
		//清空时间
		$(".handle_main span .cleartime").click(function() {
			$(this).prev("input").val("")
		})
		//时间插件封装
		function datetimepicker(beginTime, endTime) {
			var datenow = new Date();
			datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
			var date = $(beginTime).val();
			var date1 = $(endTime).val();
			//时间控件
			$(beginTime).datetimepicker({
				timepicker: false,
				maxDate: datenow,
				scrollMonth: false,
				onClose: function(ct, $i) {
					$(endTime).datetimepicker({
						minDate: $(beginTime).val(),
						maxDate: datenow,
					});
				}
			});

			$(endTime).datetimepicker({
				timepicker: false,
				maxDate: datenow,
				scrollMonth: false,
				onClose: function(ct, $i) {
					$(beginTime).datetimepicker({
						maxDate: $(endTime).val(),
					});
				}
			});
		}
	</script>
<script type="text/javascript">
	$(".state").on('click', function() {
	var id = $(this).data("id");
	$.ajax({
		type: "POST",
		url: "{:url('admin/Order/platform_after_sale_selest')}",
		async: false,
		data: {
			"id": id,
		},
		success: function(data) {
			$(".tanchuang").removeClass("noshow");
			data = eval("(" + data + ")");
			console.log(data);
			var order_create_time=timestampToTime(data.data.order_create_time);
			new Vue({
				el: '.list-a',
				data: {
					status: data.data.status,
					payment: data.data.pay_type_content,
					amount: data.data.goods_money,
					points_Deduction: data.data.integral_deductible,
					real_Pay: data.data.order_real_pay,
					cancel_order_description:data.data.cancel_order_description,
					order_create_time:order_create_time,
					buy_message:data.data.buy_message,
				}
			})

		},
		error: function(data) {
			console.log(data);
		}
	});

});

$(".close").on('click', function() {
	$(".tanchuang").addClass("noshow");
});
// 弹窗选项卡切换
$(".card").on('click', 'li', function() {
	$(this).addClass("active");
	$(this).siblings().removeClass("active");
	var dait_id = $(this).data("id");
	$("." + dait_id).removeClass("noshow");
	$("." + dait_id).siblings("div").addClass("noshow");

});

</script>
	{/block}

</body>

</html>