<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>售后服务协议</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            font-family: '微软雅黑';
        }
        .wrapper{
            padding: 15px;
        }
        .wrapper h2{
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin: 15px 0;
        }
        .wrapper h3{
            font-size: 16px;
            margin: 10px 0;
            font-weight: 600;
        }
        .wrapper p{
            text-indent: 28px;
            font-size: 13px;
            line-height: 24px;
        }
        .wrapper p.qy{
            color: #000;
        }
        .wrapper table{
            width: 100%;
            border-collapse: collapse;
        }
        .wrapper th,
        tr,
        td{
            border: 1px solid #ccc;
            text-align: center;
            line-height: 30px;
        }
        .wrapper ul{
            list-style: none;
        }
        .wrapper ul li{
            line-height: 24px;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <h2 class="title">嘎嘎靓（APP）软件许可及服务协议</h2>
        <h3>【首部及导言】</h3>
        <p class="qy">欢迎您使用嘎嘎靓（APP）软件及服务！
            为使用嘎嘎靓（APP）软件（以下简称“本APP”）及服务，您应当阅读并遵守嘎嘎靓（APP）软件许可及服务协议》（以下简称“本协议”），以及《嘎嘎靓售后服务协议》。
            请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。
            <p>除非您已阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、获取APP帐号、登录等行为即视为您已阅读并同意上述协议的约束。</p>
            <p>如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。</p>
            <p>本协议为您与本APP管理者之间所订立的契约，具有合同的法律效力，请您仔细阅读。</p>
        </p>
        <h3>一、本协议内容、生效、变更</h3>
        <p>本协议内容包括协议正文及所有本APP已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。如您对协议有任何疑问，应向本APP咨询。您在同意所有协议条款并完成注册程序，才能成为本站的正式用户，您点击“我以阅读并同意本APP用户协议和法律协议”按钮后，本协议即生效，对双方产生约束力。</p>
        <p>只要您使用本APP平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得本APP对您问询的解答等理由，主张本协议无效，或要求撤销本协议。您确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。 您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用本APP平台服务。本APP有权根据需要不定期地制订、修改本协议及/或各类规则，并在本APP平台公示，不再另行单独通知用户。变更后的协议和规则一经在网站公布，立即生效。如您不同意相关变更，应当立即停止使用本APP平台服务。您继续使用本APP平台服务的，即表明您接受修订后的协议和规则。</p>
        <h3>二、 注册</h3>
        <p>注册资格用户须具有法定的相应权利能力和行为能力的自然人、法人或其他组织，能够独立承担法律责任。您完成注册程序或其他本APP平台同意的方式实际使用本平台服务时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。</p>
        <h3>注册资料</h3>
        <p>2.1 用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且本APP保留终止用户使用本平台各项服务的权利。</p>
        <p>2.2 用户在本站进行浏览等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。</p>
        <h3>账户</h3>
        <p>3.1 您注册成功后，即成为本APP平台的会员，将持有本APP平台唯一编号的账户信息，您可以根据本站规定改变您的密码。</p>
        <p>3.2 您设置的姓名为真实姓名，不得侵犯或涉嫌侵犯他人合法权益。否则，本APP有权终止向您提供服务，注销您的账户。账户注销后，相应的会员名将开放给任意用户注册登记使用。</p>
        <p>3.3 您应谨慎合理的保存、使用您的会员名和密码，应对通过您的会员名和密码实施的行为负责。除非有法律规定或司法裁定，且征得本APP的同意，否则，会员名和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。</p>
        <p>3.4 用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
        <p>3.5 如果发现任何非法使用等可能危及您的账户安全的情形时，您应当立即以有效方式通知本APP要求暂停相关服务，并向公安机关报案。您理解本APP对您的请求采取行动需要合理时间，本APP对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
        <h3>用户信息的合理使用</h3>
        <p>4.1您同意本APP平台拥有通过邮件、短信电话等形式，向在本站注册用户发送信息等告知信息的权利。</p>
        <p>4.2您了解并同意，本APP有权应国家司法、行政等主管部门的要求，向其提供您在本APP平台填写的注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则本APP亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。</p>
        <p>4.3用户同意本APP有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
        <h3>免责条款</h3>
        <p>5.1 本平台仅购买、回收对接，发生一切纠纷问题皆与本平台无关，请通过仲裁部门维护各自权益。</p>
        <h2>嘎嘎靓售后服务政策</h2>
        <h3>一、保修对象</h3>
        <p>手机、平板、笔记本电脑、苹果智能手表</p>
        <h3>二、7天无理由退换货</h3>
        <p>买家通过官方线上购物平台购买的产品，自签收的次日凌晨时起（7 天期间自买家签收商品后的次日零时开始起算，满 168 小时为 7 天，买家签收商品时间以物流签收时间为准，以寄出时间为截至日期），可享受提供了7天无理由退换货服务。</p>
        <h3>注意事项：</h3>
        <p>1、对于苹果商品系统一旦升级不能降级，系统升级后不享受退货，但是可以享受换货和保修服务（质量问题导致的和安卓机型除外）；</p>
        <p>2、嘎嘎靓出售的全新未激活商品在激活后原则上不享受七天包退换，如七天内可退换货需承担折旧费（质量问题除外）；</p>
        <p>3、如收到机器外观成色与描述不符，需要在6小时内联系客服进行反馈，如超出时间需买家承担责任；</p>
        <p>4、同一个用户（或同一个订单）最多可享受三次无理由退换货的服务（质量问题导致的不计算），如超过三次无理由退换货，需承担退款手续费；</p>
        <p>5、7天内商品换货支持随意更换嘎嘎靓平台所出售的机器，价格均为多退少补；</p>
        <p>6、换货后的订单7天会重新计算，以再次签收时间开始计算。</p>
        <p>7、嘎嘎靓对以下机型不做区分（包括但不限于：iPhone官换机、协议机、官翻机或安卓定制版等），但承诺销售机型均为原装正品机器，杜绝第三方翻新产品。</p>
        <h3>不予办理7天无理由退换货的情况说明：</h3>
        <p>1、任何非嘎嘎靓所出售的商品（退回机器序列号或者串码与出售商品不符）；</p>
        <p>2、包裹签收后超出24小时后反馈机器外观成色不符；</p>
        <p>3、未经授权的维修、碰撞、人为进水进液、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记；</p>
        <p>4、缺陷是由非法或不正确安装软件造成的，包括但不限于用户自行刷机、更改ROOT、越狱等；</p>
        <p>5、寄回的机器与设备绑定的账号和密码未退出；</p>
        <p>6、超过了7天无理由退换货时效；</p>
        <p>7、以物流损坏、漏发或错发商品为原因的退换货，买家已签收，并且无法提供物流公司开具的相关凭据。</p>
        <h3>三、一年的保修服务</h3>
        <p>自商品购买日起，若产品的主机出现非人为损坏的性能故障，可享受免费保修服务。</p>
        <table>
            <th>
                <tr>
                    <th>部件名称</th>
                    <th>保修期限</th>
                    <th>服务方式</th>
                </tr>
            </th>
            <tbody>
                <tr>
                    <td>服务方式</td>
                    <td>1年免费保修	</td>
                    <td>用户送修/寄修</td>
                </tr>
                <tr>
                    <td>苹果智能手表</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h3>1、保修说明</h3>
        <p>自购机之日开始计算保修时间，订单付款成功后可在嘎嘎靓APP个人页面电子保修卡查询剩余保修日期，保修以APP个人页面的保修卡为准，若产品的主机出现非人为损坏的性能故障，可享受免费保修服务，人为因素引起的故障则需用户付费维修。</p>
        <h3>2、不予免费保修的情况说明：</h3>
        <ul>
            <li>1) 超过保修期限;</li>
            <li>2) 产品进水进液或腐蚀;</li>
            <li>3) 产品因外力损坏，如摔裂，磕碰，变形等;</li>
            <li>4) 机器防拆标贴被破坏或被撕掉;</li>
            <li>5) 机器私拆维修，未经授权的第三方维修，改装;</li>
            <li>6) 不可抗拒外力（如水灾、火灾、地震、雷击等强烈震动或挤压）等因素造成的物理损坏及故障，如摔坏或压坏、显示屏破裂、变形等情况;</li>
            <li>7) 由于自行刷机导致的基带损坏，参数丢失，强制刷机降级，升级测试版导致硬件损坏，自行越狱等情况不能享受退换货服务和保修服务。</li>
        </ul>
        <h3>3、维修质量保证</h3>
        <ul>
            <li>1) 针对付费更换后的部件可提供60天的质保服务;</li>
            <li>2) iPhone类电池上架前会保证电池效率80%以上，若在购机后60天内机器的电池效率低于80%会免费更换同原厂品质的电池;</li>
            <li>3) 在保修期内的机器寄回维修出现无法修复的情况时，嘎嘎靓会根据机器目前的成色为您更换同型号同容量的机器，由于二手的唯一性与不确定性，在无法更换原版本时将以其他版本替代，我们会尽可能接近原商品，但不受网络制式、颜色等限制。</li>
        </ul>
        <h3>4、退换货时效和维修时效说明</h3>
        <ul>
            <li>1) 退货处理周期：自您退回的完整商品及相关物件成功入库之日算起，一般情况下3-5个工作日（不包括银行到账周期）。</li>
            <li>2) 换货处理周期：自您退回的完整商品及相关物件成功入库之日算起，一般情况下2-3个工作日内为您寄出换货商品。维修处理周期：自你退回的商品成功入库之日起，一般正常情况是3-5个工作日左右，具体时间要机器故障现象为准。</li>
            <li>3) 如遇国家法定节假日、与退换货政策存在出入、买家个人原因或者有其他需要协商的问题，则可能会增加协商和处理的时间。</li>
        </ul>
        <h3>四、关于退换货的流程</h3>
        <h3>退换货说明</h3>
        <p>当商品出现故障时，可以直接联系嘎嘎靓APP首页右上角的人工客服帮忙解答或致电嘎嘎靓服务热线：0755-36617718，如客服无法通过线上解决的，可以在订单点击申请售后，客服审核后邮寄到我们公司，收到商品进行检测后，符合换货的将有客服人员致电通知您换货；符合退货条件的，将提交财务退款，资金会原路返回，大概2-3个工作日左右会到账（具体到账时效视当前处理进度而定）</p>
        <p>温馨提示：为了避免您的数据损坏和隐私泄露，请您在退换或者送修机器前，先将自己储存的所有信息和数据（如：电话号码、短信、图片等）自行备份后删除。机器的ID账号和锁屏密码需要退出关闭，物流建议寄顺丰或者EMS（中国邮政），不保价寄回（如您担心商品在物流途中损坏或遗失，可以选择保价服务，但我司暂不承担其保价费用），如有疑问可随时咨询嘎嘎靓APP在线客服。</p>
        <h3>寄回注意事项</h3>
        <h3>五、关于物流费用的说明</h3>
        <ul>
            <li>1) 7天内机器寄回买家先垫付运费，检测后如因质量问题退换货的运费由嘎嘎靓承担，可联系客服登记退还运费；</li>
            <li>2) 非质量问题退换，需买家承担寄回运费；</li>
            <li>3) 一年质保期内，机器出现非人为质量问题，邮费谁寄谁付，但若在一个月内，机器维修完毕后再次出现质量问题，无需承担运费；</li>
            <li>4) 关于运费险赔付运费，省内统一13元，省外统一18元。如因商品超重或者买家保价所超出的费用由买家承担。关于平板/笔记本/无人机等超重所赔付的运费可咨询下客服了解下报销标准。</li>
        </ul>
        <h3>六、关于配件及赠品的服务政策说明</h3>
        <ul>
            <li>1）嘎嘎靓平台所赠送的配件不参与质保服务；</li>
            <li>2）嘎嘎靓平台所出售的配件不支持7天内无理由退换服务，仅支持7天内质量问题的退换服务，若拆包后因个人问题退换概不受理，并且不参与质保服务；</li>
            <li>3）包裹签收24小时内检查好配件是否正常完好，如有问题，请及  时联系客服处理，如超过24小时反馈漏发或损坏需购买家自行承担责任；</li>
            <li>4）发生退货申请，所赠送的配件需全套寄返，如无寄返均需扣除相关费用，同时，随机购买的原装配件如拆使用，均不做退货处理；</li>
            <li>5）优惠券不支持配件购买，如发生购机产生退换服务，优惠券均不做退还；</li>
            <li>6）因贴膜服务为贴膜师手工服务，如在7天内产生退换货贴膜服务不作退款。</li>
        </ul>
        <h3>七、特别说明</h3>
        <p>本服务政策由嘎嘎靓科技有限公司提供，我们随时根据国家政策变化，调整有利于用户的服务政策。</p>
    </div>

<script src="__STATIC__/index/js/jquery.js"></script>
</body>
</html>