<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>秒杀</title>
    <link rel="icon" type="image/x-icon" href="__STATIC__/index/favicon.ico">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/aui.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/seckill.css">
    <style>
        .icon span{
            width: 28px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            background: #f34347;
            font-size: 11px;
            color: #fff;
            border-radius: 2px;
            font-weight: 100;
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            margin-top: 2px;
        }
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav" id="aui-header">
    <a class="aui-btn aui-pull-left" tapmode="" onclick="javascript:history.back(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">秒杀列表</div>
</header>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-media-list">
        <div class="banner_img"></div>
        <div class="time_box">
            <span class="time_text">距离活动结束</span>&nbsp;
            <span class="day">0天</span>
            <span class="hour">0</span> :
            <span class="minutes">0</span> :
            <span class="second">0</span>
        </div>
        <!-- <li class="aui-list-item">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:6rem">
                        <img src="__STATIC__/index/image/demo/pa1.jpg" data-src="http://www.auicss.com/demo/image/1.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">[为你推荐]kaman抽屉式化妆品收纳盒大号创意护肤桌面收纳盒塑料口红置物架</div>
                        </div>
                        <div class="icon">
                            <span>促</span>
                        </div>
                        <div><span class="aui-margin-l-5">￥39.00</span></div>
                    </div>
                </div>
            </a>
        </li> -->
    </ul>
</div>
</body>
<script type="text/javascript" src="__STATIC__/index/js/index/aui-lazyload.js" ></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.cookie.js"></script>
<script type="text/javascript">
    new auiLazyload({
        errorImage:'../image/error-img.png'
    });
</script>
<script>
    // 倒计时函数
    function count_down(obj){
        // if()
        // 获取当前时间
        var curr_time = new Date().getTime();
        // 时间差
        var to_start = obj - curr_time;
        // 剩余多少天，小时，分钟，秒
        var Day = parseInt(to_start/1000/3600/24) < 10 ? '0'+parseInt(to_start/1000/3600/24) : parseInt(to_start/1000/3600/24);
        var Hour = parseInt(to_start/1000/3600%24) < 10 ? '0'+parseInt(to_start/1000/3600%24) : parseInt(to_start/1000/3600%24);
        var Minutes = parseInt(to_start/1000/60%60) < 10 ? '0'+parseInt(to_start/1000/60%60) : parseInt(to_start/1000/60%60);
        var Second = parseInt(to_start/1000%60) < 10 ? '0'+parseInt(to_start/1000%60):  parseInt(to_start/1000%60);
        if(Day == 00 && Hour == 00 && Minutes == 00 && Second == 00){
            location.reload();
        }
        // 渲染到页面上
        $('.hour')[0].innerHTML = Hour;
        $('.minutes')[0].innerHTML = Minutes;
        $('.second')[0].innerHTML = Second;
        // 如果天数不为0，显示标签
        if(Day != 0){
            $($('.day')[0]).css('display','inline-block');

            $('.day')[0].innerHTML = Day + '天';
        }
    }
    
    $.ajax({
        url: '{:url("index/Seckill/show")}',
        type: 'POST',
        dataType: 'json',
        async: false,
        success: function(data){
            console.log(data);
            var str = '';
            $.each(data.data.goods, function(index, val){
                var signStr = '';
                if(val.goods_sign != ''){
                     var signLen = val.goods_sign.split(',').length;
                     var signArr = val.goods_sign.split(',');
                     for(var i = 0; i < signLen; i++){
                         signStr += '<span>'+signArr[i]+'</span>'
                     }
                }
                str += '<li class="aui-list-item">\
                            <a href="{:url("index/Goods/detail")}">\
                                <div class="aui-media-list-item-inner">\
                                    <div class="aui-list-item-media" style="width:6rem">\
                                        <img src="__UPLOADS__/'+val.goods_show_images+'" id="img_'+val.id+'">\
                                    </div>\
                                    <div class="aui-list-item-inner">\
                                        <div class="aui-list-item-text">\
                                            <div class="aui-list-item-title">'+val.goods_name+'</div>\
                                        </div>\
                                        <div class="icon">'+signStr+'</div>\
                                        <div><span class="aui-margin-l-5">￥'+val.goods_bottom_money+'</span></div>\
                                        <p>'+val.goods_date+'</p>\
                                    </div>\
                                </div>\
                            </a>\
                        </li>'
            })
            $('.aui-media-list').append(str);
            // 发送id 商品列表
            $('.aui-list-item a').click(function(){
                var list_img_id = $(this).children().find('img')[0].id.split('_')[1];
                $.ajax({
                    url: '{:url("index/Goods/goods_id")}',
                    type: 'POST',
                    dataType: 'JSON',
                    async: false,
                    data:{
                        "goods_id": list_img_id
                    },
                    success: function(data){
                        console.log(data);
                    },
                    error: function(){
                        console.log('错误');
                    }

                })
            })
            // 倒计时
            setInterval(function(){
                count_down(data.data.time*1000);
            },1000)
            // 倒计时上面的图片
            $('.banner_img').append('<img src="__UPLOADS__/'+data.data.images[0].images+'">');
        },
        error: function(){
            console.log('错误')
        }
    })
</script>
</html>