<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 屏幕适配 -->
    <script src="__STATIC__/index/js/adaptation.js"></script>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <!-- 三级城市 -->
    <link rel="stylesheet" href="__STATIC__/index/js/plugin/threecity/css/scs.min.css">
    <title>添加收货地址</title>
    <style>
        html, body, .wrapper{background-color: #fff;}
        .header{position: relative;width: 100%;height: .88rem;background-color: #fff; border-bottom: 1px solid #eee;}
        .header h3{width: 100%;height: 100%;text-align: center;line-height: .88rem;font-size: .36rem;color: #333;font-weight: normal;}
        .header .icon-back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;margin-top: -.22rem;background-position: -.5rem -.5rem;}
        .save-btn,.updata-btn{position: absolute; right: .3rem; top: 50%; transform: translateY(-50%); background-color: #fff; border: 0; outline: none; font-size: .34rem; color: #333;}
        .myul li{padding: 0 .3rem; border-bottom: 1px solid #eee; height: 1rem; display: flex; align-items: center; position: relative;justify-content: space-between;}
        .p-title{font-size: .3rem; color: #333;width: 2rem;}
        .icon-more{position: absolute;top: 50%;right: .3rem;width: .26rem;height: .38rem;background-position: -7.25rem -1.75rem;transform: translateY(-50%);}
        .text-input{flex: 1;height: .83rem;box-sizing: border-box;outline: none;font-size: .3rem;}
        .switch_checkbox {display: none;}
        .switch_label {margin-top: 5px;background-color: rgb(222, 222, 222);display: inline-block;position: relative;height: 20px;width: 40px;border-radius: 15px;}
        /* ~选择器 选择前面的input checkbox被选中状态下的 span标签*/
        .switch_checkbox:checked~.switch_label .switch_circle {left: 20px;}
        .switch_circle {position: absolute;height: 20px;width: 20px;border-radius: 50%;border: 1px solid #eee;background-color: #fff;left: 0;top: -1px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
        /* ~选择器 选择前面的input checkbox被选中状态下的 label标签*/
        .switch_checkbox:checked~.switch_label {background: rgb(0, 153, 255);}

    </style>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="member_address" class="spr icon-back"></a>
            <h3>添加收货地址</h3>
            <button class="save-btn">保存</button>
            <button class="updata-btn" style="display: none;">修改</button>
        </header>
        <ul class="myul">
            <li>
                <p class="p-title">收货人姓名</p>
                <input type="text" class="text-input name" placeholder="请输入">
            </li>
            <li>
                <p class="p-title">手机号码</p>
                <input type="text" class="text-input phone" placeholder="请输入">
            </li>
            <li>
                <p class="p-title">所在地区</p>
                <a href="javascript:;" class="spr icon-more"></a>
                <input type="text" id="area-li" readonly class="text-input" placeholder="请选择">
            </li>
            <li>
                <p class="p-title">详细地址</p>
                <input type="text" class="text-input detail-addr" placeholder="请输入">
            </li>
            <li>
                <p class="p-title">设为默认</p>
                <div class="switch-box">
                    <input type="checkbox" class="switch_checkbox" id="switch_checkbox">
                    <label for="switch_checkbox" class="switch_label">
                        <span class="switch_circle"></span>
                    </label>
                </div>
            </li>
        </ul>        
    </div>

    <script src="__STATIC__/index/js/plugin/jquery.js"></script>
    <script src="__STATIC__/index/js/plugin/layer.js"></script>
    <!-- 三级城市脚本 start -->
    <script src="__STATIC__/index/js/plugin/threecity/js/jquery.scs.min.js"></script>
    <script src="__STATIC__/index/js/plugin/threecity/js/CNAddrArr.min.js"></script>
    <!-- 三级城市脚本 end -->
    <script>
        $(function() {
            function getAddrsArrayById(id) {
                var results = [];
                if (addr_arr[id] != undefined)
                    addr_arr[id].forEach(function(subArr) {
                        results.push({
                            key: subArr[0],
                            val: subArr[1]
                        });
                    });
                else {
                    return;
                }
                return results;
            }        
            function getStartIndexByKeyFromStartArr(startArr, key) {
                var result = 0;
                if (startArr != undefined)
                    startArr.forEach(function(obj, index) {
                        if (obj.key == key) {
                            result = index;
                            return false;
                        }
                    });
                return result;
            }
            //bind the click event for 'input' element
            $("#area-li").click(function() {
                var PROVINCES = [],
                    startCities = [],
                    startDists = [];
                //Province data，shall never change.
                addr_arr[0].forEach(function(prov) {
                    PROVINCES.push({
                        key: prov[0],
                        val: prov[1]
                    });
                });
                //init other data.
                var $input = $(this),
                    dataKey = $input.attr("data-key"),
                    provKey = 1, //default province 北京
                    cityKey = 36, //default city 北京
                    distKey = 37, //default district 北京东城区
                    distStartIndex = 0, //default 0
                    cityStartIndex = 0, //default 0
                    provStartIndex = 0; //default 0

                if (dataKey != "" && dataKey != undefined) {
                    var sArr = dataKey.split("-");
                    if (sArr.length == 3) {
                        provKey = sArr[0];
                        cityKey = sArr[1];
                        distKey = sArr[2];

                    } else if (sArr.length == 2) { //such as 台湾，香港 and the like.
                        provKey = sArr[0];
                        cityKey = sArr[1];
                    }
                    startCities = getAddrsArrayById(provKey);
                    startDists = getAddrsArrayById(cityKey);
                    provStartIndex = getStartIndexByKeyFromStartArr(PROVINCES, provKey);
                    cityStartIndex = getStartIndexByKeyFromStartArr(startCities, cityKey);
                    distStartIndex = getStartIndexByKeyFromStartArr(startDists, distKey);
                }
                var navArr = [{
                    title: "省",
                    id: "scs_items_prov"
                }, {
                    title: "市",
                    id: "scs_items_city"
                }, {
                    title: "区",
                    id: "scs_items_dist"
                }];
                SCS.init({
                    navArr: navArr,
                    onOk: function(selectedKey, selectedValue) {
                        $input.val(selectedValue.split(' ').join(',')).attr("data-key", selectedKey);
                    }
                });
                var distScroller = new SCS.scrollCascadeSelect({
                    el: "#" + navArr[2].id,
                    dataArr: startDists,
                    startIndex: distStartIndex
                });
                var cityScroller = new SCS.scrollCascadeSelect({
                    el: "#" + navArr[1].id,
                    dataArr: startCities,
                    startIndex: cityStartIndex,
                    onChange: function(selectedItem, selectedIndex) {
                        distScroller.render(getAddrsArrayById(selectedItem.key), 0); //re-render distScroller when cityScroller change
                    }
                });
                var provScroller = new SCS.scrollCascadeSelect({
                    el: "#" + navArr[0].id,
                    dataArr: PROVINCES,
                    startIndex: provStartIndex,
                    onChange: function(selectedItem, selectedIndex) { //re-render both cityScroller and distScroller when provScroller change
                        cityScroller.render(getAddrsArrayById(selectedItem.key), 0);
                        distScroller.render(getAddrsArrayById(cityScroller.getSelectedItem().key), 0);
                    }
                });
            });
        });

        var url = location.search;
        var id, preId, gid;
        if(url.indexOf('?') != -1){
            id = url.substr(1).split('&')[0].split('=')[1];
            preId = url.substr(1).split('&')[1].split('=')[1];
            if(url.substr(1).split('&').length > 2){
                gid = url.substr(1).split('&')[2].split('=')[1];
            }
            console.log(id,preId, gid);
        }

        // 新建保存
        $('.save-btn').click(function(){
            var harvester,
                harvester_phone_num,
                address_name,
                harvester_real_address,
                status;
            if($('.name').val() !== '' && $('.phone').val() !== '' && $('.area-li').val() !== ''
                && $('.detail-addr').val() !== ''){
                harvester = $('.name').val();
                harvester_phone_num = $('.phone').val();
                address_name = $('#area-li').val();
                harvester_real_address = $('.detail-addr').val();
                if($('#switch_checkbox')[0].checked){
                    status = 1;
                }else{
                    status = -1;
                }
                $.ajax({
                    url: 'member_address_adds',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'harvester': harvester,
                        'harvester_phone_num': harvester_phone_num,
                        'address_name': address_name,
                        'harvester_real_address': harvester_real_address,
                        'status': status,
                    },
                    success: function(res){
                        console.log(res);
                        if(res.status == '1'){
                            layer.open({
                                skin: 'msg',
                                content: res.info,
                                time: 1
                            })
                            // 获取url地址id
                            var url = location.search;
                            var id, preId, gid;
                            if(url.indexOf('?') != -1){
                                id = url.substr(1).split('&')[0].split('=')[1];
                                preId = url.substr(1).split('&')[1].split('=')[1];
                                if(url.substr(1).split('&').length > 2){
                                    gid = url.substr(1).split('&')[2].split('=')[1];
                                    location.href = 'ios_api_order_parts_firm_order?id='+id+'&preid='+preId;
                                }else{
                                    location.href = 'goods_detail?id='+id+'&preid='+preId;
                                }
                            }else{
                                location.href = 'member_address';
                            }
                        }
                    },
                    error: function(){
                        console.log('error');
                    }
                })
            }else{
                layer.open({
                    content: '信息填写不完整',
                    skin: 'msg',
                    time: 1
                });
            }
        })

        // 编辑保存
        $.ajax({
            url: 'member_address_edit_information',
            type: 'POST',
            dataType: 'JSON',
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var data = res.data;
                    $('.save-btn').hide();
                    $('.updata-btn').show();
                    $('.name').val(data.harvester);
                    $('.phone').val(data.harvester_phone_num);
                    $('#area-li').val(data.address_name);
                    $('.detail-addr').val(data.harvester_real_address);
                    $('.updata-btn').attr('id', 'updata-'+data.id+'')
                    if(data.status === 1){
                        $('.switch_checkbox').attr('checked', 'checked');
                    }
                }
            },
            error: function(){
                console.log('error');
            }
        })

        // 编辑更新按钮
        $('.updata-btn').click(function(){
            var harvester,
                harvester_phone_num,
                address_name,
                harvester_real_address,
                status,
                id = $(this)[0].id.split('-')[1];
            if($('.name').val() !== '' && $('.phone').val() !== '' && $('.area-li').val() !== ''
                && $('.detail-addr').val() !== ''){
                harvester = $('.name').val();
                harvester_phone_num = $('.phone').val();
                address_name = $('#area-li').val();
                harvester_real_address = $('.detail-addr').val();
                if($('#switch_checkbox')[0].checked){
                    status = 1;
                }else{
                    status = -1;
                }
                $.ajax({
                    url: 'member_address_edit',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        'harvester': harvester,
                        'harvester_phone_num': harvester_phone_num,
                        'address_name': address_name,
                        'harvester_real_address': harvester_real_address,
                        'status': status,
                        'id': id
                    },
                    success: function(res){
                        console.log(res);
                        if(res.status == 1){
                            layer.open({
                                content: res.info,
                                skin: 'msg',
                                time: 1
                            });
                            setTimeout(function(){
                                location.href = 'member_address';
                            },1100);
                        }
                    },
                    error: function(){
                        console.log('error');
                    }
                })
            }else{
                layer.open({
                    content: '信息填写不完整',
                    skin: 'msg',
                    time: 1
                });
            }
        })
    </script>
</body>
</html>