<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/aui.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/aui-flex.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui-slide.css">
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <style type="text/css">
        .user-info {
            background-color: #ffffff;
            padding: 10px 0;
        }
        img.avatar {
            display: block;
            margin: 0 auto;
            width: 20%;
        }
        .aui-list .aui-list-header {
            background-color: #ffffff;
            line-height: 1.2rem;
        }
        .login_out{
            display: block;
            width: 90%;
            margin: 20px auto 0;
            background-color: #f34347;
            border: none;
            font-size: 16px;
            color: #fff;
            text-align: center;
            height: 35px;
            border-radius: 4px;
            line-height: 35px;
        }
    </style>
</head>
<body>
    <section class="aui-content user-info aui-text-center aui-margin-b-15">
            <input class="files" name="evaluation_images" id="myFile" type="file" hidden multiple="multiple">
            <a href="javascript:;" class="visible_box"><img src="__STATIC__/index/image/toux.png" class="avatar aui-img-round"></a>

        <a href="{:url('index/member/member_edit')}">
            <h2 class="aui-margin-t-15" style="color:#000;"><span class="member_name">小明</span> <small><i class="aui-iconfont aui-icon-cert aui-text-danger"></i></small></h2>
        </a>
    </section>

    <section class="aui-content aui-grid aui-margin-b-15">
        <div class="order_icon_box">
            <div class="top_box">
                <span>我的订单</span>
                <a href="order_myorder">查看更多订单 ></a>
            </div>
            <div class="bottom_box">
                <div class="payment">
                    <a href="{:url('index/Order/wait_pay')}">
                        <img src="__STATIC__/index/image/icon/img9.png" width="24" height="24">
                        <p>待付款</p>
                    </a>
                </div>
                <div class="deliver">
                    <a href="{:url('index/Order/wait_deliver')}">
                        <img src="__STATIC__/index/image/icon/img10.png" width="24" height="24">
                        <p>待发货</p>
                    </a>
                </div>
                <div class="take_deliver">
                    <a href="{:url('index/Order/take_deliver')}">
                        <img src="__STATIC__/index/image/icon/img11.png" width="24" height="24">
                        <p>待收货</p>
                    </a>
                </div>
                <div class="evalute">
                    <a href="{:url('index/Order/evaluate')}">
                        <img src="__STATIC__/index/image/icon/img12.png" width="24" height="24">
                        <p>待评价</p>
                    </a>
                </div>
                <div class="refund">
                    <a href="repair_index">
                        <img src="__STATIC__/index/image/icon/img13.png" width="24" height="24">
                        <p>售后维修</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="aui-content">
        <ul class="aui-list aui-list-in aui-margin-b-15">
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-location aui-text-info"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <a href="{:url('index/Member/myadd')}" style="width: 100%;">
                        <div class="aui-list-item-title" >管理收货地址</div>
                    </a>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-like aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <a href="{:url('index/Collection/index')}" style="width: 100%;">
                        <div class="aui-list-item-title">我的收藏</div>
                    </a>
                </div>
            </li>
            <li class="aui-list-item" >
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-cert aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <a href="{:url('index/Discounts/discounts_my')}" style="width: 100%;">
                        <div class="aui-list-item-title">优惠券</div>
                    </a>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-comment aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <a href="{:url('index/self_service/index')}" style="width: 100%;">
                        <div class="aui-list-item-title">自助服务</div>
                    </a>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-calendar aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <a href="javascript:;" class="electronices" style="width: 100%;">
                        <div class="aui-list-item-title">电子保修卡</div>
                    </a>
                </div>
            </li>
        </ul>
    </section>
    <a href="{:url('index/Login/logout')}" class="login_out">退出登录</a>

    <div style="height:48px"></div>
    <div id="demo" style="display:none"></div>

    <footer class="aui-bar aui-bar-tab aui-bar-tab-cl aui-border-t" id="footer">
        <a href="{:url('index/index/index')}" class="aui-bar-tab-item " tapmode>
            <i class="aui-iconfont aui-icon-home home"></i>
            <div class="aui-bar-tab-label home">首页</div>
        </a>
        <a class="aui-bar-tab-item" tapmode href="class_index">
            <i class="aui-iconfont aui-icon-menu"></i>
            <div class="aui-bar-tab-label">分类</div>
        </a>
		<a class="aui-bar-tab-item" tapmode href="{:url('index/Share/share_index')}">
			<i class="aui-iconfont aui-icon-camera"></i>
			<div class="aui-bar-tab-label">晒单</div>
		</a>
        <a class="aui-bar-tab-item" tapmode href="{:url('index/Shopping/index')}">
            <i class="aui-iconfont aui-icon-cart"></i>
            <div class="aui-bar-tab-label">购物车</div>
        </a>
        <a class="aui-bar-tab-item aui-active" tapmode href="{:url('index/Member/index')}">
            <i class="aui-iconfont aui-icon-my thered"></i>
            <div class="aui-bar-tab-label thered">我的</div>
        </a>

    </footer>

</body>
<script type="text/javascript" src="__STATIC__/index/js/index/api.js" ></script>
<script type="text/javascript" src="__STATIC__/index/js/index/aui-tab.js" ></script>
<script type="text/javascript" src="__STATIC__/index/js/index/aui-slide.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>
<script src="__STATIC__/index/layui/layui.js"></script>
<script type="text/javascript">
    // 换头像
//    (function () {
//        console.log( $('.files'));
//    })()
//     $('.visible_box').click(function(){
//        $('.files').click();
//        var file_information =$('.files').val();
//        $.ajax({
//            url: '{:url("index/Member/user_add_img")}',
//            type: 'POST',
//            dataType: 'JSON',
//            async: false,
//            data: {
//
//            },
//            success: function(data){
//                console.log(data);
//            },
//            error: function(){
//                console.log('错误')
//            }
//        })
//    })

//        $('.visible_box').click(function(){
//            $('.files').click();
//        })


    var slide = new auiSlide({
        container:document.getElementById("aui-slide"),
        // "width":300,
        "height":185,
        "speed":300,
        "autoPlay":5000, //自动播放时间
        "pageShow":true,
        "loop":true,
        "pageStyle":'dot',
        'dotPosition':'center'
    })

    function currentFun(index) {
        console.log(index);
    }
    var slide2 = new auiSlide({
        container:document.getElementById("aui-slide2"),
        // "width":300,
        "height":220,
        "speed":300,
        "autoPlay":0, //自动播放
        "pageShow":true,
        "loop":true,
        "pageStyle":'dot',
        'dotPosition':'center'
    })
    var slide3 = new auiSlide({
        container:document.getElementById("aui-slide3"),
        // "width":300,
        "height":240,
        "speed":500,
        "autoPlay": 3000, //自动播放
        "loop":true,
        "pageShow":true,
        "pageStyle":'line',
        'dotPosition':'center'
    })
</script>
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        element:document.getElementById("footer")
    },function(ret){
        console.log(ret);
        if(ret){
            document.getElementById("demo").textContent = ret.index;
        }
    });
</script>

<!--获取的用户的信息-->
<script>
    (function () {
        $.ajax({
            type: 'POST',
            url: "{:url('index/member/get_user_information')}",
            dataType: 'json',
            data: {
            },
            success: function (data) {
//                console.log(data);
                $('.member_name')[0].innerText = data.data.user_name;
            },
            error: function (data) {
                console.log('错误');
            },
        });
    })()
</script>
<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        $('.electronices').click(function(){
            $.ajax({
                type:"POST",
                url:"{:url('index/self_service/electronics')}",
                async:false,
                timeout:5000,
                dataType:"json",
                success:function (data) {
                    console.log(data)
                    if(data.status ==1){
                        location.href = "electronices_show";
                    }
                    if(data.status == 0){
                        layer.msg('请购买了在查看!',{icon:0,time:1000});
                    }
                },
                error:function () {
                    console.log("错误");
                }
            })
        });
    });

</script>


</html>