<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的收货地址</title>
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/myadd.css">
</head>
<body>
    <div class="wrap">
    {if !empty($member_information)}
        <div class="left">
            <div class="name_phone">
                <span class="name_box">{$member_information['harvester']}</span>
                <span>{$member_information['harvester_phone_num']}</span>
            </div>
            {if !empty($position)}
            <div class="addr_box">
                {$position}
            </div>
            {/if}

        </div>
    {/if}
        {if empty($member_information)}
        <div class="left">
            <div class="name_phone">
                <span class="name_box">XXX</span>
                <span>136****4451</span>
            </div>
            <div class="addr_box">
                XX省 XX市 XX区 XXX街道 XXXXXXXX
            </div>
        </div>
        {/if}

        <div class="right">
            <a href="{:url('index/Member/address')}">编辑</a>
        </div>
    </div>


<!--我的收货地址-->
    <script>
    </script>


</body>
</html>