/* 移动端常用reset.css (无文字版本) */
/* reset */
html,body,div,p,ul,li,dl,dt,dd,em,i,span,a,img,input,h1,h2,h3,h4,h5 {margin:0;padding:0}
a,img,input {border:none;}
body{font: 14px/1.75  -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a {text-decoration:none;}
ul,li{list-style: none}
a, img {-webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
.clearfix::after{content: ''; display: block; clear: both;}
.spr{background: url(../image/spr.png) no-repeat;background-size: 8rem 6rem;}
.bgw{background-color: #fff;}
.mgr0{margin-right: 0 !important;}

.footer{
    position: fixed;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: .98rem;
    background-color: #fff;
    border-top: 1px solid #eee;
}
.footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: .22rem;
}
.footer .active{
    color: #504cfb;
}
.footer .icon_home{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: 0 -2.3rem;
}
.footer .icon_classify{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: -.5rem -2.3rem;
}
.footer .icon_cart{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: -1.05rem -2.3rem;
}
.footer .icon_my{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: -1.5rem -2.3rem;
}
