
.html{
    font-size: 20px;
}
@media(max-width:320px){
    .html{
        font-size: 10px;
    }
}
.invitation{
    position: relative;
}
.code_box{
    position: absolute;
    top: 105px;
    left: 50%;
    width: 233px;
    margin-left: -100px;
}
.code_box .invitation_code_text{
    font-size: 1.75em;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    color: #000;
}
.code_box .invitation_code{
    font-size: 50px;
    color: #000;
    font-weight: 700;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #000;
}
.code_box .money{
    font-size: 3em;
    color: #ffff00;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 75px;
    text-shadow: 1px 1px 1px #000;
}
.rule_box{
    margin-bottom: 40px;
}
.rule_box .title_img{
    text-align: center;
    margin-top: 20px;
}
.rule_box ul li{
    color: #ff742e;
    padding-left: 10px;
    font-size: 14px;
}
.rule_box .link_input input{
    display: inline-block;
    width: 70%;
    border: 1px solid #ccc;
    height: 30px;
}
.rule_box .link_input .copy_link{
    display: inline-block;
    font-size: 12px;
    color: #000;
    text-align: center;
    border-radius: 0;
}
