/* 状态值样式start */
.td-status a{
    color: #fff;
}
.all_btn{
    display: inline-block;
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
}
.myrefuse{
    background-color: #e6e6e6;
    color: #444444;
}
.mysuccess{
    background-color: #5eb95e;
    color: #ffffff;
}
.pending_delivery{
    background-color: #dd514c;
    color: #ffffff;
}
.pending_payment{
    background-color: #f37b1d;
    color: #ffffff;
}
/* 状态值样式end */

/* 弹窗通用start */
.pop{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 200px;
    background-color: #f8f8f8;
    color: #000;
    box-shadow: 0 5px 15px rgba(33,33,33,.5);
}
.pop .title{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}
.pop .myconfirm, .pop .mycancel{
    width: 50%;
    height: 45px;
    cursor: pointer;
    color: #0e90d2;
    background-color: #f8f8f8;
}
.pop .myconfirm{
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 1px solid #dedede;
}
.pop .mycancel{
    position: absolute;
    right: 0;
    bottom: 0;
}
.pop .myconfirm:hover, .pop .mycancel:hover{
    background-color: #f0f0f0;
}
/* 弹窗通用end */
.pop1 .express, .pop1 .express_num, .pop6 .express, .pop6 .express_num{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.express span, .express_num span{
    margin-right: 20px;
}
.express_num input{
    width: 150px;
    height: 30px;
    padding: 5px 0 5px 8px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
}
/* 待支付 */
.pop2{
    height: 250px;
}
.pop2 .order_info{
    width: 70%;
    margin: 0 auto;
    overflow-y: scroll;
    height:120px;
}
.pop2 .order_info p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
}
/* 待收货 */
.pop3{
    height: 150px;
}
.pop3 .tips p{
    font-size: 14px;
    width: 100%;
    text-align: center;
}
/* 待评价 */
.pop4 .content textarea{
    height: 250px;
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 16px;
}
/* 待退款 */
.pop5{
    height: 150px;
}
.pop5 .tips p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}