.alipay-pop{position: fixed;left: 0;right: 0;bottom: -100%;background-color: #fff;width: 100%;height: 60vh;z-index: 9;}
.alipay-pop header{position: relative;width: 100%;height: .88rem;border-bottom: 1px solid #eee;box-sizing: border-box;background-color: #fff;margin-bottom: .5rem;}
.alipay-pop header .close-alipay{position: absolute;top: 50%;left: .2rem;font-size: .6rem;color: #333;transform: translateY(-50%);}
.alipay-pop header .alipay-title{width: 100%;height: .88rem;line-height: .88rem;text-align: center;}
.alipay-pop .price-box{display: flex;align-items: center;justify-content: center;height: .88rem;}
.alipay-pop .price-box span{font-size: .6rem;flex-basis: 45%;text-align: right;}
.alipay-pop .price-box input{width: 50%;font-size: .6rem;}
.alipay-pop .middle_box .content{width: 100%;}
.alipay-pop .content li{position: relative; width: 100%;border-bottom: 1px solid #e6e6e6;padding: 0 .2rem;height: 44px;line-height: 44px;font-size: 14px;color: #666;display: flex;justify-content: space-between;box-sizing: border-box;}
.alipay-pop .content li input{float: right;color: #333;height: 100%;border: 0;text-align: right;width: 4.5rem; outline: none;}
.alipay-pop .alipay-submit{position: absolute;bottom: 20px;left: 50%;transform: translateX(-50%);width: 90%;height: 40px;font-size: 14px;color: #fff;background-color: #2e8ffd;border-radius: 5px;border: 1px solid #2e8ffd; outline: none;}
.widway{margin-right: .4rem;}
.icon-more{position: absolute;right: .3rem;top: 50%;transform: translateY(-50%);width: .16rem;height: .28rem;background-position: -7.3rem -1.8rem;}

.mask{display: none;position: fixed;top: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, .6);width: 100%;height: 100vh;z-index: 8;}

.chose-payment{position: fixed;left: 0;right: 0;bottom: -100%;background-color: #fff;width: 100%;height: 60vh;z-index: 9; transition: all .3s;}
.chose-payment header{position: relative;width: 100%;height: .88rem;border-bottom: 1px solid #eee;box-sizing: border-box;background-color: #fff;}
.chose-payment .chose-payment-back{position: absolute;left: .2rem;top: 50%;width: .25rem;height: .43rem;margin-top: -.22rem;background-position: -.5rem -.5rem;}
.chose-payment header .chose-title{width: 100%;height: .88rem;line-height: .88rem;text-align: center;font-weight: normal;}
.method-div{position: relative;width: 100%;height: 1.25rem;display: flex;align-items: center;}
.icon-div{width: .64rem;height: .64rem;margin: 0 .35rem;}
.icon-div img{width: 100%;height: 100%;}
.method-div p{font-size: .36rem;color: #333;border-bottom: 1px solid #eee;flex: 1;height: 100%;line-height: 1.35rem;}
.add-bank-card{position: relative;width: 100%;height: 1.25rem;display: flex;align-items: center;}
.add-txt-box{border-bottom: 1px solid #eee;flex: 1;height: 100%;line-height: normal;display: flex;flex-direction: column;justify-content: center;}
.add-txt-box .add-txt1{font-size: .32rem;}
.add-txt-box .add-txt2{font-size: .24rem;color: #999;}
.chose-payment .icon-check{position: absolute;top: 50%;right: .2rem;width: .38rem;height: .38rem;background-position: -2.05rem -1.25rem;transform: translateY(-50%);}

/* 取消订单原因 */
.cancel-order-pop{position: fixed;bottom: -100%;left: 0;right: 0;width: 100%;height: 50vh;background-color: #fff;z-index: 9;}
.cancel-order-header{position: relative;width: 100%;height: .8rem;text-align: center;line-height: .8rem;font-size: .34rem;color: #666;font-weight: normal;border-bottom: 1px solid #eee;}
.cancel-order-header .close-cancel-order{position: absolute;top: 50%;right: .3rem;transform: translateY(-50%);width: .4rem;height: .39rem;background-position: .05rem -1.15rem;}
.cancel-order-pop .reason-title{font-size: .3rem;color: #333;margin: .3rem 0 .3rem .5rem;}
.reason-list{margin-left: .5rem;margin-bottom: .3rem;}
.reason-list .reason-li{margin: .1rem 0;font-size: .28rem;color: #333;}
.reason-list .reason-li .icon-reason{display: inline-block;width: .38rem;height: .38rem;background-position: -2.05rem -.85rem;vertical-align: middle;margin-right: .2rem;}
.reason-list .reason-selected i{background-position: -2.05rem -1.25rem !important;}
.select-reason-btn{position: absolute;bottom: .4rem;left: 50%;transform: translate(-50%);width: 90%;height: .7rem;border: 0;outline: none;background-color: #504cfb;color: #fff;border-radius: .1rem;}

/* 余额支付密码弹窗 */
.balance-psd-pop{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: .5rem; background-color: #fff; z-index: 999; border-radius: .15rem;}
.balance-psd-pop .close-balance-pwd{position: absolute; right: .1rem; top: .1rem; width: .4rem; height: .4rem; background-position: .05rem -1.15rem;}
.balance-psd-pop .balance-psd-title{text-align: center; font-size: .35rem;}
.balance-psd-pop .input-container{display: flex;}
.balance-psd-pop .confirm-psd{width: 100%; margin-top: .2rem; border: 0; background-color: #eee; border-radius: .1rem; height: .8rem; outline: none; color: #333;}
.clearfix:after {clear: both;}
.clearfix:before,.clearfix:after {content: " ";display: table;}
.alieditContainer {position: relative;}
.sixDigitPassword {position: absolute;left: 0;top: 0;width: 100%;height: .68rem;color: transparent; caret-color: transparent; text-shadow: 0 0 0 #fff; font-size: .24rem;-webkit-box-sizing: content-box;box-sizing: content-box;-webkit-user-select: initial;outline: 'none';z-index: 999;opacity: 0;filter: alpha(opacity=0);}
.sixDigitPassword-box {cursor: text;background: #fff;outline: none;position: relative;padding: .16rem 0;height: .3rem;border: 1px solid #cccccc;border-radius: 2px;}		
.sixDigitPassword-box i {float: left;display: block;padding: 4px 0;height: .14rem;border-left: 1px solid #cccccc;}		
.sixDigitPassword-box .active {background: url(../image/password-blink.gif) no-repeat center center;}
.sixDigitPassword-box b {display: block;margin: 0 auto;width: .14rem;height: .14rem;overflow: hidden;visibility: hidden;background: url(../image/passeord-dot.png) no-repeat;}
.sixDigitPassword-box span {position: absolute;display: block;left: 0px;top: 0px;height: .6rem;border: 1px solid #f2cb80;border-radius: 2px;visibility: hidden;-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 .16rem rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 .16rem rgba(82, 168, 236, 0.6);}
.ui-securitycore .ui-form-item .ui-form-explain {margin-top: .16rem;}		
.i-block {display: inline-block;}		
.six-password {position: relative;height: .68rem; width: 3.7rem;overflow: hidden;vertical-align: middle;}